<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% today = Time.now.to_s.first(10) %>
<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>

<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded Manager Dashboard " + "\n"; end %>

<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

  <h3><b>Manager Dashboard</b></h3>

<table>
  <tr>
    <td>
      <div class="dropdown">
        <button class="dropbtn">ADD</button>
        <div class="dropdown-content">
	  <a href="/clients/new">Client</a>
    	  <a href="/employers/new">Employer</a>
          <a href="/employees/new">Coach</a>
          <a href="/features/new">Features</a>
    <!--  <a href="/authorizations/new">Voucher</a>
          <a href="/assignments/new">Assignment</a>
          <a href="/clientemployers/new">ClientEmployer</a> -->
        </div>
    </div>
  </td>
  <td>
      <div class="dropdown">
      <button class="dropbtn">Views</button>
      <div class="dropdown-content">
      <a href="/clients">Client</a>
      <a href="/authorizations">Voucher</a>
      <a href="/interventions">Interventions</a>
      <a href="/employers">Employer</a>
      <a href="/assignments">Assignment</a>
      <a href="/clientemployers">ClientEmployer</a>
      <a href="/employees">Job Coaches</a>
      <a href="/punches">Punches</a>
      </div>
</div></td>
<td>
<div class="dropdown">
  <button class="dropbtn">Reports</button>
  <div class="dropdown-content">
    <a href="/timesheets/index">Timesheets</a>
    <a href="/openvoucher/index">Open Vouchers</a>
    <a href="/unpaid/index">Unpaid Vouchers</a>
    <a href="/unassigned/index">Unassigned Clients</a>
    <a href="/monthlybilled/index">Monthly Billed</a>
    <a href="/calendar/report">Calendar PDF</a>
    <a href="/counselor/index">Counselors</a>
    <!-- <a href="/payments/index">Payments</a> -->
  </div>
  </div>
</td>
  <%# if current_user.email == "dbadmin@cea-nj.org" %>
    <td>
    <div class="dropdown">
  <button class="dropbtn">DBadmin</button>
  <div class="dropdown-content">
    <a href="/clients/deleted">Deleted_Clients</a>
    <a href="/authorizations/deleted">Deleted Authorizations</a>
    <a href="/interventions/deleted">Deleted Interventions</a>
    <a href="/employers/deleted">Deleted Employer</a>
    <a href="/assignments/deleted">Deleted Assignments</a>
    <a href="/clientemployers/deleted">Deleted ClientEmployer</a>
    <a href="/employees/deleted">Deleted JobCoach</a>
    <a href="/punches/deleted">Deleted Punch</a>
    <a href="/csv/index">CSV Import/Export</a>
    <a href="/admin">Admin</a>
    <a href="/users/index">User Accounts</a>
  </div>
    </div>
    </td>
<td>
  <div class="dropdown">
    <button class="dropbtn">Logs</button>
    <div class="dropdown-content">
      <a href="/activityreports">Activty Reports</a>
      <a href="/otfs">OTF</a>


    </div>
  </div>
</td>
  <td>
      <a href="/features"><button type="button" class="btn btn-danger">Features</button></a>
    </td>

  <%# end %>	
	</tr>
</table>

<!--<a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Coachs Dash</button></a> -->
<a href="/ltfa/index"><button type="button" class="btn btn-primary">LTFA</button></a>
<a href="/pp/index"><button type="button" class="btn btn-primary">IJC / PP</button></a>
<a href="/restab/index"><button type="button" class="btn btn-primary">Re-Stab / Repl</button></a>
<a href="/ddd/index"><button type="button" class="btn btn-primary">DDD</button></a>
<br>
<a href="/cbwe/index"><button type="button" class="btn btn-primary">CBWE / TWE</button></a>
<a href="/preets/index"><button type="button" class="btn btn-primary">Pre-Ets / School Eval</button></a>
<a href="/ee/index"><button type="button" class="btn btn-primary">Extended</button></a>
<br><br>
<tbody>
<h5> <%= qc_year %>-<%= qc_month %></h5>
<table>
<% @active_employees = @employees.where(end_date: [nil, ''], userType: ["JobCoach","Manager"]).to_a %>
<% @active_employees.each do |employee|  %>
  <!-- This prints the employees names -->
  <tr><td colspan="1"><%#= employee.employee %>
		  <button type="button" class="btn btn-warning btn=lg"><%= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>
	  </td>
	  
	  <% if qc_month == "01" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jan2021", employee: "#{employee.id}" %></button> </td>
             <% elsif qc_month == "02" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "feb", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "03" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "mar", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "04" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "apr", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "05" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "may", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "06" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jun", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "07" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jul", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "08" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "aug", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "09" %> 
 	    <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "sep", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "10" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "oct", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "11" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "nov", employee: "#{employee.id}" %></button> </td>
          <% elsif qc_month == "12"  %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "dec", employee: "#{employee.id}" %></button> </td>
          <% end %>
          <td></td>
          <td></td>

          <!--
	  <td> 
 <div class="dropdown">
  <button class="dropbtn">DDD</button>
	  <div class="dropdown-content">
	<button type="button" class="btn btn-light"><%= link_to "DDD-Q2", controller: "calendar", action: "ddd_q2", employee: "#{employee.id}" %></button>
            <button type="button" class="btn btn-light"><%= link_to "DDD-Q3", controller: "calendar", action: "ddd_q3", employee: "#{employee.id}" %></button>
            <button type="button" class="btn btn-light"><%= link_to "DDD-Q4", controller: "calendar", action: "ddd_q3", employee: "#{employee.id}" %></button>
  </div>
</div>
</td>    
          -->
  <!--
  Calculate hours per month
  ####################################################################################################################
  -->
  <% Rails.cache.write('inter_employee,id', @inter = @interventions.where(employeeID: employee.id).to_a) %>
  <% Rails.cache.read('inter_employee_id') %>  
 
  <% tot = 0 %>
  <% @inter.each do |inter| %>
      <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
      <% year = inter.dateOfIntervention.to_s.first(4) %>

      <% if ((month == qc_month) && (year == qc_year)) %>
      <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
      <% tot = hrs + tot %>
      <% end %>
  <% end %>
  <td> <a title="Hours is a sum of billable hours enter in "notes" this month."><i style="font-size:18px" class="fa">&#xf059;<font size=6>Hours : <%= tot %></font></i></a></td>

<!-- Total hours use today -->
<!--
########################################################################################################################
-->

  </tr><tr>
  <!-- This prints the Client Names for matching job coach employee -->
  <% @assigned = @assignments.where(Employee: employee.id, DateUnassigned: [nil, ()]).to_a  %>
  <% @assigned.each do |assigned| %>
     <!-- This prints the client name-->
	   <% @cname = @clients.where(id: assigned.ClientID, ClientServiceStopDate: [nil,'']).order(:clientLastName).to_a  %>
	   <% @cname.each do |client| %>
		   <% fullname = client.clientLastName.to_s + ", " + client.clientFirstName.to_s %>
		   <td> <button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button> </td>
			   <td><a title="Participant ID field value."notes" this month."><i style="font-size:18px" class="fa">&#xf059; <button type="button" class="btn btn-info btn-sm">  <%= client.participantID %></i></a> </button>
		   </td>     
        <td><b><%= client.clientCity %></b></td>
	<td><button type="button" class="btn btn-light btn-sm"><a href=mailto:<%= client.clientEmail %>><%= client.clientEmail %></a></button></td>
	      <td><button type="button" class="btn btn-light btn-sm"><a href=tel:<%= client.clientMobilePhone %>><%= client.clientMobilePhone %></a></button></td>
	      <td>
		     <button type="button" class="btn btn-light btn-sm">
		     <%= link_to "Unassign", controller: "assignments", action: "edit", id: assigned.id %></button>
              </td>
     <% end %>
    </tr><tr>
<!-- Print only voucher numbers that might the client name and have an empty invoicedate -->

<% @vouchers = @authorizations.where(clientID: assigned.ClientID, voucherInvoiceDate: [nil, '']).where.not( serviceType: 3).to_a  %>

    <% if qc_month == "01" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateJan: [nil, '']).to_a %>
    <% elsif qc_month == "02" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateFeb: [nil, '']).to_a %>
    <% elsif qc_month == "03" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateMar: [nil, '']).to_a %>
    <% elsif qc_month == "04" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateApr: [nil, '']).to_a %>
    <% elsif qc_month == "05" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateMay: [nil, '']).to_a %>
    <% elsif qc_month == "06" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateJun: [nil, '']).to_a %>
    <% elsif qc_month == "07" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateJul: [nil, '']).to_a %>
    <% elsif qc_month == "08" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateAug: [nil, '']).to_a %>
    <% elsif qc_month == "09" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateSep: [nil, '']).to_a %>
    <% elsif qc_month == "10" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateOct: [nil, '']).to_a %>
    <% elsif qc_month == "11" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType: "3", clientID: assigned.ClientID, invoiceDateNov: [nil, '']).to_a %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType: "3", clientID: assigned.ClientID, invoiceDateOct: [nil, '']).to_a %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType: "3", clientID: assigned.ClientID, invoiceDateSep: [nil, '']).to_a %>
    <% elsif qc_month == "12" %>
      <% @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateDec: [nil, '']).to_a %>
      <%# @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateNov: [nil, '']).to_a %>
      <%# @vouchers = @vouchers + @authorizations.where(serviceType:3, clientID: assigned.ClientID, invoiceDateOct: [nil, '']).to_a %>
    <% end %>  
    <% @vouchers.uniq.each do |voucher| %>
      <% if voucher.serviceType != "3" %>
         
         <td></td>
         <td><button type="button" class="btn btn-light btn-sm"><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td>
         <td>Authorized : <b><%= voucher.hoursAuthorized %></b></td>
         <% tot = 0 %>
         <% current_Month_Hours = 0 %>

         <% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
         <% @inter.each do |inter| %>
            <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
            <% tot = hrs + tot %>
            <% @auth = @authorizations.where(id: inter.workAuthorizationID ).to_a %>
            <% @auth.each do |auth| %>
               <%#= auth.serviceType %>
               <% if auth.serviceType == "3" %>
                  <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
                     <% current_Month_Hours = hrs + current_Month_Hours %>
                  <% end %>
               <% end %>
            <% end %>
          <% end %>

          <td>
          <% if voucher.serviceType == "3" %>
             <% if voucher.hoursAuthorized.to_i - current_Month_Hours <= 2.5 %>
                Hours Remaining : <font color="red"><b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b></font>
             <% else %>
                Hours Remaining : <b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b>
             <% end %>
          <% else %>
             <% if voucher.hoursAuthorized.to_i - tot <= 2.5 %>
                <b><font color="red"><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% else %>
                <b><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% end %>
          <% end %> 
          </td>

          <% if voucher.serviceType == "3" %>
            <td>Supported : <b><%= current_Month_Hours %></b></td>
          <% else %>
            <td>Supported : <b><%= tot %></b></td>
          <% end %>
          </tr>
          <tr>


       <% elsif voucher.voucherNumber.first(2) == "FA" && voucher.voucherInvoiceDate.present? %>

       <% elsif voucher.voucherNumber.first(2) == "FA" && voucher.voucherInvoiceDate.nil? %>
                   <td></td>
         <td><button type="button" class="btn btn-light btn-sm"><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td>
         <td>Authorized : <b><%= voucher.hoursAuthorized %></b></td>
         <% tot = 0 %>
         <% current_Month_Hours = 0 %>

         <% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
         <% @inter.each do |inter| %>
            <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
            <% tot = hrs + tot %>
            <% @auth = @authorizations.where(id: inter.workAuthorizationID ).to_a %>
            <% @auth.each do |auth| %>
               <%#= auth.serviceType %>
               <% if auth.serviceType == "3" %>
                  <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
                     <% current_Month_Hours = hrs + current_Month_Hours %>
                  <% end %>
               <% end %>
            <% end %>
          <% end %>

          <td>
          <% if voucher.serviceType == "3"  && voucher.voucherNumber.first(2) != "FA" %>
             <% if voucher.hoursAuthorized.to_i - current_Month_Hours <= 2.5 %>
                Hours Remaining : <font color="red"><b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b></font>
             <% else %>
                Hours Remaining : <b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b>
             <% end %>
          <% else %>
             <% if voucher.hoursAuthorized.to_i - tot <= 2.5 %>
                <b><font color="red"><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% else %>
                <b><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% end %>
          <% end %>
          </td>

          <% if voucher.serviceType == "3" && voucher.voucherNumber.first(2) != "FA" %>
            <td><b>Supported : <%= current_Month_Hours %></b></td>
          <% else %>
            <td><b>Supported : <%= tot %></b></td>
          <% end %>
          </tr>
          <tr>

       <% else %>
                  <td></td>
         <td><button type="button" class="btn btn-light btn-sm"><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td>
         <td>Authorized : <b><%= voucher.hoursAuthorized %></b></td>
         <% tot = 0 %>
         <% current_Month_Hours = 0 %>

         <% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
         <% @inter.each do |inter| %>
            <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
            <% tot = hrs + tot %>
            <% @auth = @authorizations.where(id: inter.workAuthorizationID ).to_a %>
            <% @auth.each do |auth| %>
               <%#= auth.serviceType %>
               <% if auth.serviceType == "3" %>
                  <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
                     <% current_Month_Hours = hrs + current_Month_Hours %>
                  <% end %>
               <% end %>
            <% end %>
          <% end %>

          <td>
          <% if voucher.serviceType == "3" %>
             <% if voucher.hoursAuthorized.to_i - current_Month_Hours <= 2.5 %>
                Hours Remaining : <font color="red"><b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b></font>
             <% else %>
                Hours Remaining : <b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b>
             <% end %>
          <% else %>
             <% if voucher.hoursAuthorized.to_i - tot <= 2.5 %>
                <b><font color="red"><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% else %>
                <b><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% end %>
          <% end %>
          </td>

          <% if voucher.serviceType == "3" %>
             <td>Supported : <b><%= current_Month_Hours %></b></td>
          <% else %>
            <td>Supported : <b><%= tot %></b></td>
          <% end %>
          </tr>
          <tr>



       <% end %>
    <% end %>

   </tr>





    <% end %>
  <% end %>
  </table>
</tbody>
<br>
</body>
</html>
