<%= form_with(model: hourlyrate, local: true) do |form| %>
  <% if hourlyrate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hourlyrate.errors.count, "error") %> prohibited this hourlyrate from being saved:</h2>

      <ul>
        <% hourlyrate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client %>
    <%#= form.text_field :client %>
          <%= form.select :client, options_from_collection_for_select(@clients.where(id: @clientid).order(:clientLastName), "id",:fullname_with_id, @clientid )%>

  </div>

  <div class="field">
    <%= form.label :hourlyrate %>
    <%= form.text_field :hourlyrate %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.date_select :startdate %>
  </div>

  <div class="field">
    <%= form.label :enddate %>
    <%= form.date_select :enddate, {:include_blank => true, :default => nil}  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
