<p id="notice"><%= notice %></p>

<h1>Hourlyrates</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Hourlyrate</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hourlyrates.each do |hourlyrate| %>
      <tr>
        <td><%= hourlyrate.client %></td>
        <td><%= hourlyrate.hourlyrate %></td>
        <td><%= hourlyrate.startdate %></td>
        <td><%= hourlyrate.enddate %></td>
        <td><%= link_to 'Show', hourlyrate %></td>
        <td><%= link_to 'Edit', edit_hourlyrate_path(hourlyrate) %></td>
        <td><%= link_to 'Destroy', hourlyrate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hourlyrate', new_hourlyrate_path %>
