<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @hourlyrate.client %>
</p>

<p>
  <strong>Hourlyrate:</strong>
  <%= @hourlyrate.hourlyrate %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @hourlyrate.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @hourlyrate.enddate %>
</p>

<%= link_to 'Edit', edit_hourlyrate_path(@hourlyrate) %> |
<a href="/ee/index"><button type="button" class="btn btn-primary">Extended</button></a>

<%#= link_to 'Back', hourlyrates_path %>
