<%= form_with(model: votltfa, local: true) do |form| %>
  <% if votltfa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(votltfa.errors.count, "error") %> prohibited this votltfa from being saved:</h2>

      <ul>
        <% votltfa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    The above named individual received LTFA and services ended or are scheduled to end:
    <br>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    DVRS Supported Employment LTFA Provider:
    <%= form.text_field :provider, :value => "Center for Educational Advancement", :readonly => true %>
  </div>

  <div class="field">
Consumer Name: *Participant ID
<%= form.label :client %>
  <%= form.select :ClientID, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id, @clientid )%>

    <%#= form.text_field :client %>
  </div>

  <div class="field">
Service was billable to the following LTFA account/rate (check as applicable):
<% @options={
             '1' => 'Regular',
             '2' => 'ASL'
          } %>

     <%= form.collection_select :rate, @options, :first, :last, class: "form-control" %>
<%#= form.label :rate %>
    <%#= form.text_field :rate %>
  </div>

  <div class="field">
Please check the applicable reason for termination.
<% @options={
             '1' => 'Graduating LTFA',
             '2' => 'Transferred to DDD LTFA',
             '3' => 'Transferred to another LTFA Provider',
             '4' => 'Referred back to field office (complete referral form) *',
             '5' => 'Terminated from job',
             '6' => 'self-terminated from job',
             '7' => 'Moved',
             '8' => 'Lost to contact / uncooperative',
             '9' => 'Refuses Services',
             '10' => 'Medical',
             '11' => 'Deceased',
             '12' => 'other'
          } %>
     <%= form.collection_select :reason, @options, :first, :last, class: "form-control" %>

    <%#= form.text_field :reason %>
  </div>

  <div class="field">
Please sign to verify above:
    <%= form.label :empsig %>
    <%= form.text_field :empsig %>
  </div>

  <div class="field">
Provider Staff:
    <%= form.label :providerstaff %>
    <%= form.text_field :providerstaff %>
  </div>

  <div class="field">
Print Name:
    <%= form.label :empname %>
    <%= form.text_field :empname %>
  </div>
  1) Provider submits this form with monthly billing.
  <br>
2) Provider Kkeeps copy.
  <br>
* 3) When referring back to the local DVRS office, the provider submits this form, a completed referral,
  <br>
and 3-6 months' service logs.
  <br>
R-2/20
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
