<p id="notice"><%= notice %></p>

<h1>Votltfas</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Provider</th>
      <th>Client</th>
      <th>Rate</th>
      <th>Reason</th>
      <th>Empsig</th>
      <th>Providerstaff</th>
      <th>Empname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votltfas.each do |votltfa| %>
      <tr>
        <td><%= votltfa.date %></td>
        <td><%= votltfa.provider %></td>
        <td><%= votltfa.client %></td>
        <td><%= votltfa.rate %></td>
        <td><%= votltfa.reason %></td>
        <td><%= votltfa.empsig %></td>
        <td><%= votltfa.providerstaff %></td>
        <td><%= votltfa.empname %></td>
        <td><%= link_to 'Show', votltfa %></td>
        <td><%= link_to 'Edit', edit_votltfa_path(votltfa) %></td>
        <td><%= link_to 'Destroy', votltfa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Votltfa', new_votltfa_path %>
