<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @votltfa.date %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @votltfa.provider %>
</p>

<p>
  <strong>Client:</strong>
  <%= @votltfa.client %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @votltfa.rate %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @votltfa.reason %>
</p>

<p>
  <strong>Empsig:</strong>
  <%= @votltfa.empsig %>
</p>

<p>
  <strong>Providerstaff:</strong>
  <%= @votltfa.providerstaff %>
</p>

<p>
  <strong>Empname:</strong>
  <%= @votltfa.empname %>
</p>

<%= link_to 'Edit', edit_votltfa_path(@votltfa) %> |
<%= link_to 'Back', votltfas_path %>
