<h1>CSV Import & Export</h1>

<%# @qcomm_users = @users.all %>
<%# @qcomm_users.each do |qcomm_user|%>
  <%#= qcomm_user.id %>
  <%#= qcomm_user.email %>
  <%#= qcomm_user.password %>
<%# end %>


    <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a><br><br> 
<table>
  <tr>
    <td>
    </td>
  <td>
    <a href="/clients.csv"><button class="btn btn-warning">Clients Export</button></a>

<br><br><a href="/authorizations.csv"><button type="button" class="btn btn-warning">Voucher Export</button></a>
<br><br><a href="/interventions.csv"><button type="button" class="btn btn-warning">Notes Export</button></a>
<br><br><a href="/activityreports.csv"><button type="button" class="btn btn-warning">Activity Reports Export</button></a>
<br>
<br><br><a href="/employees.csv"><button type="button" class="btn btn-warning">Employees Export</button></a>
<br><br><a href="/assignments.csv"><button type="button" class="btn btn-warning">Assignments Export</button></a>
<br><br><a href="/employers.csv"><button type="button" class="btn btn-warning">Employers Export</button></a>
<br>
<br><br><a href="/clientemployers.csv"><button type="button" class="btn btn-warning">Clients Employment History Export</button></a>
<br><br><a href="/punches.csv"><button type="button" class="btn btn-warning">Punches Export</button></a>
<!-- <br><br><a href="/users.csv"><button type="button" class="btn btn-warning">Devise Export</button></a> -->
  </td>
  </tr>
</table>
