<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " creating activityreport " + @activityreport.id.to_s + "\n"; end %>

<%= form_with(model: activityreport, local: true) do |form| %>
  <% if activityreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activityreport.errors.count, "error") %> prohibited this activityreport from being saved:</h2>

      <ul>
        <% activityreport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <div class="field">
    <%= form.label :clientid %>
    <%= form.text_field :clientid, :value => @clientid, :readonly => true %>
    <%#= form.text_field :clientid %>
  </div>

  <div class="field">
    <%= form.label :authid %>
    <%= form.text_field :authid, :value => @authid, :readonly => true  %>
    <%#= form.text_field :authid %>
  </div>

  <div class="field">
    <%= form.label :voucher_num %>
    <%= form.text_field :voucher_num, :value => @voucherid, readonly: true %>
    <%#= form.text_field :voucher_num %>
  </div>

  <h3>  DVRS SE/TLJC ACTIVITY REPORT </h3>
  Hover over Field Labels that are prefilled to see a description of how they are generated.<br> This feature won't work on phones.

  <% @client = @clients.where(id: @clientid).to_a %>
  <% @client.each do |client| %>

      <div class="field">
        <a TITLE="The Name field is pulled from the voucher's ClientID and then the Client First and Last Name. If you change the Client on the Voucher you must edit the voucher and recreate the report.">
        <i style="font-size:18px" class="fa">&#xf059;</i>
        </A> Name :
        <%= form.text_field :name, :value => client.clientFirstName + " " + client.clientLastName, :readonly => true %>

        <%#= form.label :name %>
        <%#= form.text_field :name %>
      </div>
  <% end %>
  <div class="field">
    <%= form.label :"Date Report Completed:" %>
    <%= form.date_select :date, :readonly => true %>
    <%#= form.label :date %>
    <%#= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :reporting_period %>
    <% dates = @inter_dates.first(12).last(10).to_s + " - " + @inter_dates.last(12).first(10).to_s %>
    <%= form.text_area :reporting_period, :cols => 25, :value => dates, readonly: true %>

    <%#= form.text_field :reporting_period %>
  </div>

  <div class="field">
    <a TITLE="The Invoice# is pulled from the Vouchers Number field">
      <i style="font-size:18px" class="fa">&#xf059;</i>
    </a> DVRS Invoiced# :
    <%= form.text_field :invoice, :value => @voucherid, readonly: true %>
    <%#= form.label :invoice %>
    <%#= form.text_field :invoice %>
  </div>

  <% @inter = @interventions.where(workAuthorizationID: @authid).to_a %>
  <% total = 0 %>
  <% tot = 0 %>

  <% @inter.each do |inter| %>

    <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
    <% tot = hrs + tot %>
  <% end %>
  <% tot %>
  <div class="field">
    <a title="These hours are calculated by searching for interventions associated with this authorization and totaled.">
    <i style="font-size:18px" class="fa">&#xf059;</i>
    </a> Hours Provided:
    <%= form.text_field :hours_provided, :value => tot, :readonly => true  %>
    <%#= form.label :hours_provided %>
    <%#= form.text_field :hours_provided %>
  </div>

  <div class="field">
    <%= form.label :"DVRS Counselor/DVRS Office:" %>
    <%= form.text_field :dvrs_office %>
  </div>

  <div class="field">
    <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
    <i style="font-size:18px" class="fa">&#xf059;</i>
    </a>Job Goal : <br>
    <%= form.text_area :job_goal, :cols => 50, :value => @job_goal, :readonly => true %>

    <%#= form.label :job_goal %>
    <%#= form.text_field :job_goal %>
  </div>

  <div class="field">
    <%= form.label :completed_by %>
    <%= form.text_field :completed_by, :value => current_user.email, :readonly => true %>
    <%#= form.text_field :completed_by %>
  </div>

1. What current areas or issues need to be addressed in order to make a successful job match (pre-placement),<br>
complete job training(including time-limited job coaching or supported employment intensive job coaching)<br>
and Achieve job stabilization for long term follow-along?
  <div class="field">
    <%= form.text_area :areas, :cols => 75, :rows => 5 %>
    <%#= form.label :areas %>
    <%#= form.text_field :areas %>
  </div>

  2. What activities/interventions/strategies/accommodations need to be done to address the above areas/issues?
  <div class="field">
    <%= form.text_area :activities, :cols => 75, :rows => 5 %>
    <%#= form.label :activities %>
    <%#= form.text_field :activities %>
  </div>

  3. If Suitable Employment has not been obtained (pre-placement), is this person still an appropriate <br>
  candidate for competitive employment with or without supports at this time? If not, explain why.
  <div class="field">
    <%#= form.label :pp %>
    <%#= form.text_field :pp %>
    <%= form.text_area :pp,:cols => 75, :rows => 5 %>
  </div>

  4. Other Comments Relating to employability issues.
  <div class="field">
    <%#= form.label :comments %>
    <%#= form.text_field :comments %>
    <%= form.text_area :comments,:cols => 75, :rows => 5 %>
  </div>

  5. Service Team Meeting requested:
  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service %>
  </div>

  6: Number of Hours requested :
  <div class="field">
    <%= form.label :requested_hours %>
    <%= form.text_field :requested_hours %>
  </div>

  7. Type of Hours requested:
  <div class="field">
    <%= form.label :hours_wanted %>
    <%= form.text_field :hours_wanted %>
  </div>


<% if @clientemployer.where(clientID: @clientid, endDate: [nil, ()]).empty? %>
  8. Employment Information (if applicable):

  <div class="field">
    <%= form.label :"Employer's Name: " %>
    <%= form.text_field :emp_name, :cols => 75 %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, :cols => 75 %>
  </div>

  <div class="field">
    <%= form.label :emp_address %>
    <%= form.text_field :emp_address, :cols => 75%>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :"Employment Start Date" %>
    <%= form.text_field :emp_start %>
  </div>

  <div class="field">
    <%= form.label :work_schedule %>
    <%= form.text_field :work_schedule %>
  </div>

  <div class="field">
    <%= form.label :"Supervisor's Name :" %>
    <%= form.text_field :emp_sup %>
  </div>

  <div class="field">
    <%= form.label :"Wages per unit time" %>
    <%= form.text_field :wages %>
  </div>

  <div class="field">
    <%= form.label :medical %>
    <%= form.text_field :medical %>
  </div>

  <div class="field">
    <%= form.label :date_medical_start %>
    <%= form.text_field :date_medical_start %>
  </div>

  <div class="field">
    <%= form.label :med_provided %><br>
    <%= form.text_area :med_provided, :cols => 35 %>
  </div>

  <div class="field">
    <%= form.label :"Attach Log for Placement Activities when requesting additional pre-placement hours or when completing a pre-placement invoice with no additional hours requested." %>    <%= form.text_field :option1 %>
  </div>

  <div class="field">
    <%= form.label :"Attach Log for Placement Activities and Upper Section of Service Plan when requesting initial intensive hours." %>
    <%= form.text_field :option2 %>
  </div>

  <div class="field">
    <%= form.label :"Attach Service Plan (fully completed) when requesting additional intensive hours, when entering follow-along status or when completing intensive hours with no additional hours requested." %>
    <%= form.text_field :option3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% else %>

      <td colspan="2">
        8. Employment Information ( check ClientEmployers Table ):
        <br>
        <% @history = @clientemployer.where(clientID: @clientid, endDate: [nil, ()]).to_a %>
        <% @history.each do |history| %>
           <% @jobs = @employer.where(id: history.clientEmployerID).to_a %>
           <% @jobs.each do |job| %>
              <div class="field">
              <a title="Employers Names is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table recreated this."><i style="font-size:18px" class="fa">&#xf059;</i></a>Employer's Name :
              <%#= form.label :"Employer's Name: " %>
              <%= form.text_field :emp_name, :value => job.employerName, :readonly => true %>
              <%#= form.text_field :job.employerName %>
            </div>

              <td>
          <div class="field">
          <a title="Job Title is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table recreated this."><i style="font-size:18px" class="fa">&#xf059;</i></a>Job Title :
                  <%= form.text_field :job_title, :value => history.JobTitle, :readonly => true %>
                  <%#= form.text_field :history.title %>
                </div>
            </td>

              <td colspan="2">
            <div class="field">
            <a title="Employer Address is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table recreated this."><i style="font-size:18px" class="fa">&#xf059;</i></a>Employer's Address :

                    <%#= form.label :emp_address %>
                    <%= form.text_field :emp_address, :value => job.employerAddress1, :readonly => true %>
                  </div>
            </td>
            <td>
            <div class="field">
                   <a title="Telephone is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table recreated this."><i style="font-size:18px" class="fa">&#xf059;</i></a>Telephone :

                    <%#= form.label :telephone %>
                    <%= form.text_field :telephone, :value => job.employerWorkPhone, :readonly => true %>
                  </div>
              </td>

        <tr>
                <td>
              <div class="field">
                      <a title="Job Title is pulled by searching for EmployerAssignment where ClientID matches and EndDate is nil. Please correct information in that table recreated this."><i style="font-size:18px" class="fa">&#xf059;</i></a>
                      Employment Start Date :

                      <%#= form.label :"Employment Start Date" %>
                      <%= form.text_field :emp_start, :value => history.startDate,	:readonly => true %>
                    </div>
              </td>

              <td colspan="2">
                    <div class="field">
                      <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
                      <i style="font-size:18px" class="fa">&#xf059;</i>
                      </a><%= form.label :work_schedule %>
                      <%= form.text_field :work_schedule, :value => history.WorkSchedule, :readonly => true	 %>
                    </div>
                </td>

                <tr>
                  <td colspan="2">
                      <div class="field">
                        <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
                        <i style="font-size:18px" class="fa">&#xf059;</i>
                        </a><%= form.label :"Supervisor's Name :" %>
                        <%= form.text_field :emp_sup, :value => history.SupervisorName, :readonly => true	 %>
                      </div>
                  </td>

                  <td>
                    <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
                    <i style="font-size:18px" class="fa">&#xf059;</i>
                    </a>Total hours worked per week: <%= form.text_field :test, :value => history.hoursPerMonth, :readonly => true %>

                 </td>

                 <tr>
                   <td>
                       <div class="field">
                         <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
                         <i style="font-size:18px" class="fa">&#xf059;</i>
                         </a><%= form.label :"Wages per unit time" %>
                         <%= form.text_field :wages, :value => history.Wage, :readonly => true %>
                       </div>

                   </td>
                   <td>
                       <div class="field">
                         <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
                         <i style="font-size:18px" class="fa">&#xf059;</i>
                         </a><%= form.label :medical %>
                         <%= form.text_field :medical, :value => history.GetMedical, :readonly => true %>
                       </div>
                   </td>


                   <td>
                       <div class="field">
                         <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
                         <i style="font-size:18px" class="fa">&#xf059;</i>
                         </a><%= form.label :date_medical_start %>
                         <%= form.text_field :date_medical_start, :value => history.DateMedicalStart, :readonly => true  %>
                       </div>
                     </td>
                 </tr>
                 <tr>
                     <td  colspan="3">
                       <div class="field">
                         <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
                         <i style="font-size:18px" class="fa">&#xf059;</i>
                         </a><%= form.label :med_provided %>
                         <%= form.text_area :med_provided, :cols => 75 %>
                       </div>
                     </td>
                 </tr>


           <% end %>

        <% end %>



      <tr>
        <br>
        <h4>Put a "." in the option you wish to select.</h4>
      <td  colspan="2">
        <div class="field">
          <%= form.label :"Attach Log for Placement Activities when requesting additional pre-placement hours or when completing a pre-placement invoice with no additional hours requested." %><br>
          <%= form.text_field :option1 %>
        </div>
      </td>
            </tr>
            <tr>
      <td  colspan="2">
        <div class="field">
          <%= form.label :"Attach Log for Placement Activities and Upper Section of Service Plan when requesting initial intensive hours." %><br>
          <%= form.text_field :option2 %>
        </div>
      </td>
            </tr>
            <tr>
      <td  colspan="2">
        <div class="field">
          <%= form.label :"Attach Service Plan (fully completed) when requesting additional intensive hours, when entering follow-along status or when completing intensive hours with no additional hours requested." %><br>
          <%= form.text_field :option3 %>
        </div>




      </td>
      </tr>
      <tr>
      <td>
        <div class="actions">
          <%= form.submit %>
        </div>

<% end %>
<% end %>
