<p id="notice"><%= notice %></p>

<h1>Activityreports</h1>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<br>
<%= @activityreports.all.count %>
<%= form_tag import_activityreports_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>
<table>
  <thead>
     <tr>
      <th>ActReportID</th>
      <th>Clientid</th>
      <th>Authid</th>
      <th>Voucher num</th>
      <th>Name</th>
      <th>Date</th>
      <th>Reporting period</th>
      <th>Invoice</th>
      <th>Hours provided</th>
      <th>Dvrs office</th>
      <th>Job goal</th>
      <th>Completed by</th>
      <th>Areas</th>
      <th>Activities</th>
      <th>Pp</th>
      <th>Comments</th>
      <th>Service</th>
      <th>Requested hours</th>
      <th>Hours wanted</th>
      <th>Emp name</th>
      <th>Job title</th>
      <th>Emp address</th>
      <th>Telephone</th>
      <th>Emp start</th>
      <th>Work schedule</th>
      <th>Emp sup</th>
      <th>Wages</th>
      <th>Medical</th>
      <th>Date medical start</th>
      <th>Med provided</th>
      <th>Option1</th>
      <th>Option2</th>
      <th>Option3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activityreports.each do |activityreport| %>
     <tr>
        <td><%= activityreport.id %></td>
        <td><%= activityreport.clientid %></td>
        <td><%= activityreport.authid %></td>
        <td><%= activityreport.voucher_num %></td>
        <td><%= activityreport.name %></td>
        <td><%= activityreport.date %></td>
        <td><%= activityreport.reporting_period %></td>
        <td><%= activityreport.invoice %></td>
        <td><%= activityreport.hours_provided %></td>
        <td><%= activityreport.dvrs_office %></td>
        <td><%= activityreport.job_goal %></td>
        <td><%= activityreport.completed_by %></td>
        <td><%= activityreport.areas %></td>
        <td><%= activityreport.activities %></td>
        <td><%= activityreport.pp %></td>
        <td><%= activityreport.comments %></td>
        <td><%= activityreport.service %></td>
        <td><%= activityreport.requested_hours %></td>
        <td><%= activityreport.hours_wanted %></td>
        <td><%= activityreport.emp_name %></td>
        <td><%= activityreport.job_title %></td>
        <td><%= activityreport.emp_address %></td>
        <td><%= activityreport.telephone %></td>
        <td><%= activityreport.emp_start %></td>
        <td><%= activityreport.work_schedule %></td>
        <td><%= activityreport.emp_sup %></td>
        <td><%= activityreport.wages %></td>
        <td><%= activityreport.medical %></td>
        <td><%= activityreport.date_medical_start %></td>
        <td><%= activityreport.med_provided %></td>
        <td><%= activityreport.option1 %></td>
        <td><%= activityreport.option2 %></td>
        <td><%= activityreport.option3 %></td>
        <td><%= link_to 'Show', activityreport %></td>
        <td><%= link_to 'Edit', edit_activityreport_path(activityreport) %></td>
        <td><%= link_to 'Destroy', activityreport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activityreport', new_activityreport_path %>
