<style>
  .page-break { display:block; clear:both; page-break-after:always; }
</style>

<!--

  MISSING
hours per week
Authorization.id

-->


<center>
<h1>  DVRS SE/TLJC ACTIVITY REPORT </h1>
<h3>  Center for Educational Advancement (908) 782-1480 </h3>
<br><br>

<font size=14>
<table width="1000">
  <tr>
    <td colspan="2">
        <p>
          <strong>Consumer Name: </strong>
          <%= @activityreport.name %>
        </p>
    </td>
    <td>
        <p>
          <strong>Date Report Completed:</strong>
          <%= @activityreport.date %>
        </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
        <p>
          <strong>Reporting Period:</strong>
          <%= @activityreport.reporting_period %>
        </p>
    </td>
    <td>
        <p>
          <strong>Invoice:</strong>
          <%= @activityreport.invoice %>
        </p>
	</td>
	</tr>
	<tr>
    <td colspan="2">
        <p>
          <strong>Total Hours Billed on Invoice:</strong>
          <%= @activityreport.hours_provided %>
        </p>
	</td>
	<td>
        <p>
          <strong>Total Hours/Units of Service used to date:</strong>
          <%= @activityreport.hours_provided %>
        </p>
        </td>
    </tr>

    <tr>
      <td colspan="3">
        <p>
          <strong>DVRS Counselor / Office:</strong>
          <%= @activityreport.dvrs_office %>
        </p>
</td>
</tr>
<tr>
  <td colspan="2">
        <p>
          <strong>Completed by:</strong>
          <%= @activityreport.completed_by %>
        </p>
	</td>
	<td>
        <p>
          <strong>Job Goal / Job Title:</strong>
          <%= @activityreport.job_goal %>
        </p>
</td>

</tr>

<tr>
    <td colspan="3">
      <br><br>

          <strong>  1. What current areasissues need to be addressed in order to make a successful job match (pre-placement), complete job training(including time-limited job coaching or supported employment intensive job coaching) and Achieve job stabilization for long term follow-along?</strong>
	  <br><br>
	  <%= @activityreport.areas %>
	  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </td>
  </tr>

  <tr>
    <td colspan="3">
        <p>
          <strong>  2. What activities/interventions/strategies/accommodations need to be done to address the above areas/issues</strong>
	  <br><br>
	  <%= @activityreport.activities %>
          <%#= text_area :activities, :value => @activityreport.activities, :cols => 75, :rows => 5 %>

	  <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </p>
      </td>
  </tr>

  <tr>
        <td colspan="3">
        <p>
          <strong>3. If Suitable Employment has not been obtained (pre-placement), is this person still an appropriate candidate for competitive employment with or without supports at this time? If not, explain why.</strong>
	  <br><br>
	  <%= @activityreport.pp %>
<br><br><br><br><br><br><br><br><br><br><br><br>
        </p>
      </td>
  </tr>

<tr>
      <td colspan="3">
      <strong>4. Other Comments Relating to employability issues.</strong>
      <br><br>
          <%= @activityreport.comments %>
<br><br><br><br><br><br><br><br><br><br><br>
      </td>
      </tr>

      <tr>
      <td colspan="3">
        <p>
	<strong>5. Service Team Meeting requested:</strong>
          <%= @activityreport.service %>

        </p>
      </td>
    </tr>
<tr>
      <td colspan="3">

      <p><br>
          <strong>6. Number of Hours requested (if any):</strong>
          <%= @activityreport.requested_hours %>

        </p>
    </td>
  </tr>

    <tr>
      <td colspan="3">

      <p><br>
          <strong>7. Type of Hours requested (if any):</strong>
          <%= @activityreport.hours_wanted %>
          <br><br>

        </p>
    </td>
  </tr>
</font>
<font size="12">
  <tr>
      <td colspan="3">
        <p>
	<h4>8. Employment Information (if applicable):</h4>
	<td>
	</tr>
	<tr>
	<td colspan="2">
          <strong>Employer's Name : </strong>
          <%= @activityreport.emp_name %>
        </p>
    </td>
    <td>
        <p>
          <strong>Job Title:</strong>
          <%= @activityreport.job_title %>
        </p>
      </td>
  </tr>
  <tr>
      <td colspan="2">
        <p>
          <strong>Employer Address:</strong>
          <%= @activityreport.emp_address %>
        </p>
  </td>
    <td>
        <p>
          <strong>Telephone:</strong>
          <%= @activityreport.telephone %>
        </p>
      </td>
  </tr>
  <tr>
      <td>
        <p>
          <strong>Employee start:</strong>
          <%= @activityreport.emp_start %>
        </p>
  </td>
  <td colspan="2">
        <p>
          <strong>Work schedule:</strong>
          <%= @activityreport.work_schedule %>
        </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
        <p>
          <strong>Name of Consumers Supervisor:</strong>
          <%= @activityreport.emp_sup %>
        </p>
        </td>
        <td>
          <strong>Total hours worked per week:</strong> <%#= form.text_field :test, :value => employerassignment.hoursPerMonth %>
</td>
</tr>
<tr>
    <td>
        <p>
          <strong>Wages:</strong>
          <%= @activityreport.wages %>
        </p>

            </td>
            <td>
        <p>
          <strong>Medical:</strong>
          <%= @activityreport.medical %>
        </p>
      </td>


      <td>
        <p>
          <strong>Date medical start:</strong>
          <%= @activityreport.date_medical_start %>
        </p>
        </td>
              </tr>
              <tr>
        <td  colspan="3">
        <p>
	<strong>If medical benefits provided list type and start date :</strong>
          <%= @activityreport.med_provided %>
        </p>
      </td>
      </tr>
      </table>
      <br>
      <table width="800">
            <tr>
      <td  colspan="3">
        <p>
          <% if @activityreport.option1.empty? %>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <strong>Attach Log for Placement Activities when requesting additional pre-placement hours or when completing a pre-placement invoice with no additional hours requested.</strong>
          <% else %>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked>
            <strong>Attach Log for Placement Activities when requesting additional pre-placement hours or when completing a pre-placement invoice with no additional hours requested.</strong>
          <% end %>
          <%#= @activityreport.option1 %>
        </p>
      </td>
            </tr>
            <tr>
      <td  colspan="3">
        <p>
          <% if @activityreport.option2.empty? %>
             <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
             <strong>Attach Log for Placement Activities and Upper Section of Service Plan when requesting initial intensive hours.</strong>
          <% else %>
              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked>
              <strong>Attach Log for Placement Activities and Upper Section of Service Plan when requesting initial intensive hours.</strong>
          <% end %>
             <%#= @activityreport.option2 %>
        </p>
      </td>
            </tr>
            <tr>
      <td  colspan="3">
        <p>
          <% if @activityreport.option3.empty? %>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <strong>Attach Service Plan (fully completed) when requesting additional intensive hours, when entering follow-along status or when completing intensive hours with no additional hours requested.</strong>
          <% else %>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked>
            <strong>Attach Service Plan (fully completed) when requesting additional intensive hours, when entering follow-along status or when completing intensive hours with no additional hours requested.</strong>
          <% end %>
            <%#= @activityreport.option3 %>
        </p>

        <%= link_to 'Edit', edit_activityreport_path(@activityreport) %> |
        <%= link_to 'Back', activityreports_path %>
      </td>
      </tr>
      </table>
