<p id="notice"><%= notice %></p>

<p>
  <strong>Clientid:</strong>
  <%= @activityreport.clientid %>
</p>

<p>
  <strong>Authid:</strong>
  <%= @activityreport.authid %>
</p>

<p>
  <strong>Voucher num:</strong>
  <%= @activityreport.voucher_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activityreport.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @activityreport.date %>
</p>

<p>
  <strong>Reporting period:</strong>
  <%= @activityreport.reporting_period %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @activityreport.invoice %>
</p>

<p>
  <strong>Hours provided:</strong>
  <%= @activityreport.hours_provided %>
</p>

<p>
  <strong>Dvrs office:</strong>
  <%= @activityreport.dvrs_office %>
</p>

<p>
  <strong>Job goal:</strong>
  <%= @activityreport.job_goal %>
</p>

<p>
  <strong>Completed by:</strong>
  <%= @activityreport.completed_by %>
</p>

<p>
  <strong>Areas:</strong>
  <%= @activityreport.areas %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @activityreport.activities %>
</p>

<p>
  <strong>Pp:</strong>
  <%= @activityreport.pp %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @activityreport.comments %>
</p>

<p>
  <strong>Service:</strong>
  <%= @activityreport.service %>
</p>

<p>
  <strong>Requested hours:</strong>
  <%= @activityreport.requested_hours %>
</p>

<p>
  <strong>Hours wanted:</strong>
  <%= @activityreport.hours_wanted %>
</p>

<p>
  <strong>Emp name:</strong>
  <%= @activityreport.emp_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @activityreport.job_title %>
</p>

<p>
  <strong>Emp address:</strong>
  <%= @activityreport.emp_address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @activityreport.telephone %>
</p>

<p>
  <strong>Emp start:</strong>
  <%= @activityreport.emp_start %>
</p>

<p>
  <strong>Work schedule:</strong>
  <%= @activityreport.work_schedule %>
</p>

<p>
  <strong>Emp sup:</strong>
  <%= @activityreport.emp_sup %>
</p>

<p>
  <strong>Wages:</strong>
  <%= @activityreport.wages %>
</p>

<p>
  <strong>Medical:</strong>
  <%= @activityreport.medical %>
</p>

<p>
  <strong>Date medical start:</strong>
  <%= @activityreport.date_medical_start %>
</p>

<p>
  <strong>Med provided:</strong>
  <%= @activityreport.med_provided %>
</p>

<p>
  <strong>Option1:</strong>
  <%= @activityreport.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @activityreport.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @activityreport.option3 %>
</p>

<%= link_to 'Edit', edit_activityreport_path(@activityreport) %> |
<%= link_to 'Back', activityreports_path %>
