<h1>Intensive & Pre-Placement</h1>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<br> <br>


<table>
   <tr>
       <td valign="top">
       <table>
	   <h4> Intensive </h4>
            Total Clients Currently Served : <%= @authorizations.where(serviceType: "1", voucherInvoiceDate: [nil, '']).select(:clientID).uniq.count %>
            <br>  <br>

            <% Rails.cache.write('ijc_auth', @ijc_auth = @authorizations.where(serviceType: "1", voucherInvoiceDate: [nil, '']).to_a) %>
            <% Rails.cache.read('ijc_auth') %>
            <%# @ijc_auth = @authorizations.where(serviceType: "1", voucherInvoiceDate: [nil, '']).to_a  %>
	    <% @ijc_auth.each do |auth|  %>
               <% @ijc_clients =  @clients.where(id: auth.clientID).order(clientLastName: :DESC) %>
               <% @hours = @interventions.where(workAuthorizationID: auth.id) %>

               <!-- Calculate hours per voucher -->
               <% tot = 0 %>
               <% @hours.each do |hour| %>
                  <% hrs = (hour.endTime.to_time - hour.startTime.to_time) / 3600 %>
                  <% tot = hrs + tot %>
               <% end %>
              <% @ijc_clients.each do |client| %>
                 <% fullname =  client.clientLastName + ", " +  client.clientFirstName %>
                 <tr>
	         <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
	         <td><button type="button" class="btn btn-light btn-sm"><%= link_to auth.voucherNumber, controller: "authorizations", action: "show", id: auth.id %></button></td>
                 <td><b><%= auth.voucherOrAuthorizationDate %></b></td>
                 <% if ( auth.hoursRemaining.to_f - tot ) <= 0 %>
                   <td>Remaining : <font color="green"><b><%= auth.hoursAuthorized.to_f - tot %></b></td>
                 <% else %>
                   <td>Remaining : <font color="red"><b><%= auth.hoursAuthorized.to_f - tot %></b></td>
                 <% end %>
                 <td> Used : <b><%= tot %></b></td>
              <% end %>
              </tr>
            <%end%>
       </table>

<td valign=top> 
<table>
                             <tr>
                               <h4> Pre-Placement </h4>
 <!-- get current active people -->
		Total Clients Currently Served : <%= @authorizations.where(serviceType: "2", voucherInvoiceDate: [nil, '']).uniq.pluck(:clientID).count %>
	<% @current = @authorizations.where(serviceType: "2", voucherInvoiceDate: [nil, '']).uniq %>
	  <% @current.each do |current| %>
		  <% @names = @clients.where(id: current.clientID).select(:clientFirstName, :clientLastName).to_a %>
		  <% @names.each do |name|%>
			  <%#= name.clientLastName %> <%#= name.clientFirstName%>
	   	<% end %>
		<%#= current.clientID%>
		<%#= current.id %>
	 <% end %>
           <br>  <br>
<% Rails.cache.write('ddd_auth', @ddd_auth = @authorizations.where(serviceType: "2", voucherInvoiceDate: [nil, '']).to_a) %>
  <% Rails.cache.read('ddd_auth') %>
<%# @ddd_auth = @authorizations.where(serviceType: "2", voucherInvoiceDate: [nil, '']).to_a  %>
<% @ddd_auth.each do |auth|  %>
   <td valign="top"><% @ddd_clients =  @clients.where(id: auth.clientID).to_a %><td>
   <% @hours = @interventions.where(workAuthorizationID: auth.id) %>

   <% tot = 0 %>
   <% @hours.each do |hour| %>
     <% hrs = (hour.endTime.to_time - hour.startTime.to_time) / 3600 %>
     <% tot = hrs + tot %>
   <% end %>

   <% @ddd_clients.uniq.sort_by{|e| e[:clientLastName]}.each  do |client| %>

      <% fullname =  client.clientLastName + "," +  client.clientFirstName %>
      <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
      <td><button type="button" class="btn btn-light btn-sm"><%= link_to auth.voucherNumber, controller: "authorizations", action: "show", id: auth.id %></button></td>
      <td>Auth : <b><%= auth.voucherOrAuthorizationDate %></b></td>
      <% if ( auth.hoursRemaining.to_f - tot ) <= 0 %>
        <td>Remaining : <font color="green"><b><%= auth.hoursAuthorized.to_f - tot %></b></td>
      <% else %>
        <td>Remaining : <font color="red"><b><%= auth.hoursAuthorized.to_f - tot %></b></td>
      <% end %>

      <td> Used : <b><%= tot %></b></td>

   <% end %>
		 </tr><tr>
<%end%>
				   </tr></table>
	   </td>
   </table>

