<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<style>

.signature_pad {
  width: 700px;
  height: 400px;
  margin: 0 auto;
}

.signature_pad_body canvas {
        width: 100%;
        height: 100%;
        border: dotted #444;
        background: #CCCCCC;
}

</style>






<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


 <a href="/manager/index">
           <button type="button" class="btn btn-primary">
                   Manager Dashboard
           </button></a>

           <br>
           <br>

  <div class="field">
    <%= form.label :employee %>
    <%= form.text_field :employee %>
  </div>

 <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
 </div>

  <div class="field">
    User Type  <%= form.select :userType, ['JobCoach', 'Manager', 'Admin', 'DBadmin', 'DataEntry', 'Finance']%>
    User Type  <%= form.select :userType, ['Job Coach', 'Manager', 'Admin', 'DBadmin', 'Data Entry', 'Finance']%>
 </div>
 
  <div class="field">
    Extended Authorized  <%= form.select :ee, ['No', 'Yes']%>
  </div>

 <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>



  <div class="field">
    <%= form.label :Notes %>
    <%= form.text_field :notes %>
  </div>

    <%= form.label :signature %>
    <%= form.text_field :signature %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



