<style>
mark {
  background-color: light-blue;
  color: black;
}
</style>



<h1>Calendar#index</h1>
<p>Find me in app/views/calendar/index.html.erb</p>

<%
hash52 = {}
hash52["week1"] = ["12-30", "12-31", "1-01", "1-02", "1-03", "1-04", "1-05"]
hash52["week2"] = ["1-06","1-07","1-08","1-09","1-10","1-11","1-12"]
hash52["week3"] = ["1-13","1-14","1-15","1-16","1-17","1-18","1-19"]
hash52["week4"] = ["1-20","1-21","1-22","1-23","1-24","1-25","1-26"]
hash52["week5"] = ["1-27","1-28","1-29","1-30","1-31","2-01","2-02"]
hash52["week6"] = ["2-03","2-04","2-05","2-06","2-07","2-08","2-09"]
hash52["week7"] = ["2-10","2-11","2-12","2-13","2-14","2-15","2-16"]
hash52["week8"] = ["2-17","2-18","2-19","2-20","2-21","2-22","2-23"]
hash52["week9"] = ["2-24","2-25","2-26","2-27","2-28","2-29","3-01"]
hash52["week10"] = ["3-02","3-03","3-04","3-05","3-06","3-07","3-08"]
hash52["week11"] = ["3-09","3-10","3-11","3-12","3-13","3-14","3-15"]
hash52["week12"] = ["3-16","3-17","3-18","3-19","3-20","3-21","3-22"]
hash52["week13"] = ["3-23","3-24","3-25","3-26","3-27","3-28","3-29"]
hash52["week14"] = ["3-30","3-31","4-01","4-02","4-03","4-04","4-05"]
hash52["week15"] = ["4-06","4-07","4-08","4-9","4-10","4-11","4-12"]
hash52["week16"] = ["4-13","4-14","4-15","4-16","04-17","4-18","4-19"]
hash52["week17"] = ["4-20","4-21","4-22","4-23","4-24","4-25","4-26"]
hash52["week18"]= ["4-27","4-28","4-29","4-30","5-01","5-02","5-03"]
hash52["week19"]= ["5-04","5-05","5-06","5-07","5-09","5-10","5-11"]
hash52["week20"]= ["5-12","5-13","5-14","5-15","5-16","5-17","5-18"]
hash52["week21"]= ["5-19","5-20","5-21","5-22","5-23","5-24","5-25"]
hash52["week22"]= ["5-26","5-27","5-28","5-29","5-30","5-31","6-01"]
hash52["week23"]= ["6-02","6-03","6-04","6-05","6-06","6-07","6-08"]
hash52["week24"]= ["6-09","6-10","6-11","6-12","6-13","6-14","6-15"]
hash52["week25"]= ["6-16","6-17","6-18","6-19","6-20","6-21","6-22"]
hash52["week26"]= ["6-23","6-24","6-25","6-26","6-27","6-28","6-29"]
hash52["week27"]= ["6-30","6-31","7-01","7-02","7-03","7-04","7-05"]
hash52["week28"]= ["7-06","7-07","7-08","7-09","7-10","7-11","7-12"]
hash52["week29"]= ["7-13","6-14","7-15","7-16","7-17","7-18","7-19"]
hash52["week30"]= ["7-20","7-21","7-22","7-23","7-24","7-25","7-26"]
hash52["week31"]= ["7-27","7-28","7-29","7-30","7-31","8-01","8-02"]
hash52["week32"]= ["8-03","8-04","8-05","8-06","8-07","8-08","8-09"]
hash52["week33"]= ["8-10","8-11","8-12","8-13","8-14","8-15","8-16"]
hash52["week34"]= ["8-17","8-18","8-19","8-20","8-21","8-22","8-22"]
hash52["week35"]= ["8-23","8-24","8-25","8-26","8-27","8-28","8-29"]


month = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30", "31"]

hours = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"]

%>


<br>
<%= today_week = Time.now.to_s.first(10).last(4) %>
<%  @punches.all.to_a %>
<% found = 0 %>
<br>

<table border="1">



<% hash52.each do |key, hash| %>
        <tr>

    <% day = 1 %>
    <% if key == "week1" %>
            <tr><td colspan="7" align="center">  <h3>Janurary</h3></td></tr>
    <% elsif key == "week6" %>
            <tr><td colspan="7" align="center"> <h3>Feburary</h3></td></tr>
    <% elsif key == "week10" %>
            <tr><td colspan="7" align="center"> <h3>March</h3></td></tr>
    <% elsif key == "week14" %>
            <tr><td colspan="7" align="center"> <h3>April</h3></td></tr>
    <% elsif key == "week18" %>
            <tr><td colspan="7" align="center"> <h3>May</h3></td></tr>
    <% elsif key == "week23" %>
            <tr><td colspan="7" align="center"> <h3>June</h3></td></tr>
    <% elsif key == "week27" %>
            <tr><td colspan="7" align="center"> <h3>July</h3></td></tr>
    <% elsif key == "week32" %>
          <tr><td colspan="7" align="center"> <h3>August</h3></td></tr>
    <% elsif key == "week36" %>
          <tr><td colspan="7" align="center"> <h3>September</h3></td></tr>

    <% end %>
    <% hash.each do |v| %>

      <td width="150" height="150" valign="top">
              <b>
         <% if day == 1 %>
           Sunday
   <% elsif day == 2 %>
           Monday
   <% elsif day  == 3 %>
           Tuesday 
   <% elsif day  == 4 %>
           Wednesday 
   <% elsif day  == 5 %>
           Thursday
   <% elsif day  == 6 %>
           Friday
         <% elsif day  == 7 %>
           Saturday
         <% end %>
              </b>
      <% day = day + 1 %>

      <br><font size="6"        color=#808080>
        <% if  v == Time.now.to_s.first(10).last(5) %>
          <font size="6" color="black"><b><%= v.last(2) %>
        <% else %>
          <font size="6"        color=#808080><%= v.last(2) %>
        <% end %>
        <font size="2">
          <%#= link_to "+ Event", new_punch_path(day: "29", month: "4" ) %>

           <% hours.each do |hour| %>

	           <br>
           <% if hour.to_i.even? %>
                 <mark>
                   <%= hour %>
                      <% @punches.each do |punch| %>
                        <%#= punch.intime.to_s.last(12).first(5) %>
                        <% if punch.date.to_s.last(5).first(2).last(2) == v.first(2) && punch.date.to_s.last(2) == v.last(2) %>
                           <%#= punch.employee %>
                           <%#= punch.intime.to_s.last(11).first(5) %>
                                <% if punch.intime.to_s.last(12).first(5).first(2) == hour %>
                                  <%= punch.employee %>
                                  <%= punch.intime.to_s.last(12).first(5) %>
                                  <%= (punch.outtime - punch.intime) / 3600 %>
                                  <%#= punch.client %>
                                <% end %> <!-- -->
                                <% end %>
                        <% end %> <!-- punches -->
                       </mark>
          <% else%>

          <%= hour %>
             <% @punches.each do |punch| %>
               <%#= punch.intime.to_s.last(12).first(5) %>
               <% if punch.date.to_s.last(5).first(2).last(2) == v.first(2) && punch.date.to_s.last(2) == v.last(2) %>
                  <%#= punch.employee %>
                  <%#= punch.intime.to_s.last(11).first(5) %>
                       <% if punch.intime.to_s.last(12).first(5).first(2) == hour %>
                         <%= punch.employee %>
                         <%= punch.intime.to_s.last(12).first(5) %>
                         <%= (punch.outtime - punch.intime) / 3600 %>

                         <%#= punch.client %>
                       <% end %> <!-- -->
                       <% end %>
               <% end %> <!-- punches -->

               <% end %>



        <% end %> <!-- hour -->
    <% end %>
    <br>
<% end %>
                                                                                                                                                                                                                                                            168,9         Bot


