<p id="notice"><%= notice %></p>

<h1>deleted Employees</h1>
<h3> Import</h3> 
<%= form_tag import_employees_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>
<br>

<table>
  <thead>
    <tr>
  <!--    <th>id</th> 
      <th>Employee</th>
      <th>State date</th>
      <th>End date</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
	      <!--      <td><%= employee.id %></td> -->
	<td align="center">
	      <button type="button" class="btn btn-light btn-sm"><%= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>
	
		<%#= employee.employee %>
	
	
	</td>
        <td><%= employee.state_date %></td>
        <td><%= employee.end_date %></td>
        <td><%#= link_to 'Show', employee %></td>
        <td><%#= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%#= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
