<p id="notice"><%= notice %></p>

<h1>Staff</h1>
<br>
<%= @employees.all.count %>
<h3> Import</h3> 
<%= form_tag import_employees_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
 <% end %>

<br>
<%#= link_to 'New Employee', new_employee_path %>
<a href="/manager/index">
           <button type="button" class="btn btn-primary">
                   Manager Dashboard
           </button></a>

<table>
  <tbody>
    <% @employees.where(end_date: [nil,'']).each do |employee| %>
      <tr>
	<td><%= employee.id %></td>
	<td align="center">
	 <button type="button" class="btn btn-light btn-sm"><%= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>
	<%#= employee.employee %>
	
	</td>
	<td><%= employee.email %> </td>
        <td><%= employee.userType %> </td>
        <td>EE: <%= employee.ee %> </td>
        <td><%= employee.start_date %></td>
        <td><%= employee.end_date %></td>
        <td><%#= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">Former Employees<span class="caret"></span></button>
		<ul class="dropdown-menu scrollable-menu  " role="menu">
    <%# @employees.where.not(end_date: [nil,'']).each do |employee| %>
    <% @employees.where.not(end_date: [nil,'']).each do |employee| %>
	    <!--<button type="button" class="btn btn-light btn-sm">-->
		    <%= link_to employee.employee, controller: "employees", action: "show", id: employee.id %>
	 <!--   </button>-->
        <%= employee.employee %>


    <% end %>


                </ul>
            </div>
        </div>
    </div>
</div>

<br>
<table>
<tbody>
    <% @employees.each do |employee| %>
      <tr>
              <!--      <td><%= employee.id %></td> -->
        <td align="center">
         <button type="button" class="btn btn-light btn-sm"><%= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>
        <%#= employee.employee %>


        </td>
        
	<td><%= employee.id %></td>
        <td><%= employee.email %> </td>
        <td><%= employee.userType %> </td>
        <td><%= employee.start_date %></td>
        <td><%= employee.end_date %></td>
        <td><%#= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<!--
  <%#  Employee.only_deleted.each do |employee| %>
      <tr>
           <%#= employee.id %></td>
        <td align="center">
         <button type="button" class="btn btn-light btn-sm"><%#= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>
        <%#= employee.employee %>


        </td>
        <td><%#= employee.email %> </td>
        <td><%#= employee.userType %> </td>
        <td><%#= employee.state_date %></td>
        <td><%#= employee.end_date %></td>
        <td><%#= link_to 'Show', employee %></td>
        <td><%#= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%#= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>
-->
