<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

<% today = Time.now.to_s.first(10) %>
<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>

<% open('log.txt', 'a') do |f|; f << Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded Employees Custom " + @employee.id.to_s + "\n"; end %>

<h3><b><%= @employee.employee %> Home</b></h3>
<h4><%= qc_year %>-<%= qc_month%></h4>
  <% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
   <% if active.userType == "DBadmin" %>
	   <%#= "#{@employee.impressionist_count} views." %>
    <% end %>
   <% if active.userType == "DBadmin" %>
      <img src="<%= active.signature %>" width=40% height=40% />
    <% end %>
<% end %>


<br>
<a href="/clients"><button type="button" class="btn btn-primary">Clients</button></a>

  <% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
   <% if active.ee == "Yes" %>
       <a href="/ee/index"><button type="button" class="btn btn-primary">Extended</button></a>
     <% end %>
   <% end %>     

<!-- <a href="/bugs"><button type="button" class="btn btn-warning">Bugs</button></a> -->
<button type="button" class="btn btn-light"><%= link_to "TimeClock", controller: "punches", action: "new" %></button>
	 <% if qc_month == "01" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jan2021", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "02" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "feb", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "03" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "mar", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "04" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "apr", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "05" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "may", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "06" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jun", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "07" %>
	    <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jul", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "08" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "aug", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "09" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "sep", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "10" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "oct", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "11" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "nov", employee: "#{@employee.id}" %></button> </td>
          <% elsif qc_month == "12"  %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "dec", employee: "#{@employee.id}" %></button> </td>
          <% end %>

<a href="/"><button type="button" class="btn btn-danger">Sign out</button></a>
<br>
<a href="https://www.youtube.com/watch?v=Z6fXS3pCB74&list=PLPjQuESqmmPsDO0PDQq9_de8z-wfQNfOT&index=1" target="_blank" ><img src="https://static.thenounproject.com/png/36460-200.png" width="30" height="30"></a></img> - Instructional


<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
</style>
<table>
	<tr>
		<td>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">Interventions submission history
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <!-- This is where the vouchers are shown.  -->
        <table>
		<td>Notes entered to QComm under this Employee ID :
			<% if File.file?("log/employees/" + @employee.id.to_s + ".html") %>	
			<%# else %>	
				<%= File.read("log/employees/" + @employee.id.to_s + ".html") %>
			<% else %>
					This file has not been created, please contact admin about log/employees for submission history
			<% end %>
		
		</td>
        </table>
      </ul>
    </div>
  </div>
</nav>
		</td>
		<td>
<% @not_assigned = (@clients.where(ClientServiceStopDate: [nil, ""]).order(:clientLastName)) - ( @assignments.where(Employee: @employee.id, DateUnassigned: [nil, ""])) %>

<%= form_tag(new_assignment_path,  method: :get) do %>
  <%= select_tag "ClientID", options_from_collection_for_select(@not_assigned, "id", "fullname")%>
  <% select_tag "employeeid", raw("<option>@employee.id</option>") %>

  <%#= select_tag "employeeid", "employeeid[#{@employee.id}]" %>
  <%#= submit_tag 'Assign' %>
  <%= submit_tag 'Assign', :name => "employeeid[#{@employee.id}]" %>
  <% end %>
		</td>
	</tr>
</table>

<tbody><br>
<table>
  <!--
  Calculate hours per month
  ####################################################################################################################
  -->
  <% Rails.cache.write('inter_@employee,id', @inter = @interventions.where(employeeID: @employee.id).to_a) %>
  <% Rails.cache.read('inter_@employee_id') %>   

  <%# @inter = @interventions.where(employeeID: @employee.id).to_a %>
  <%# total = 0 %>
  <% tot = 0 %>
  <% @sorted_assigned = [] %>
  <% @inter.each do |inter| %>
      <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
      <% year = inter.dateOfIntervention.to_s.first(4) %>

      <% if ((month == qc_month) && (year == qc_year)) %>
      <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
      <% tot = hrs + tot %>
      <% end %>
  <% end %>

  <td><h5>Clients :   <%= @assignments.where(Employee: @employee.id, DateUnassigned: [nil, '']).to_a.uniq.count  %></h5></td>
  <td><h5>Hours : <%= tot %></h5></td>
<!-- Total hours use today -->

<!--
########################################################################################################################
-->


  </tr><tr>
  <!-- This prints the Client Names for matching job coach employee -->
  <% @assigned = @assignments.where(Employee: @employee.id, DateUnassigned: [nil, '']).to_a  %>
  <% @pre_sort = []  %>
  <% x = 0 %>
  <% @assigned.each do |assigned| %>
     <%  x = x + 1 %>
     <% @pre_sort[x] = (@clients.where(id: assigned.ClientID).select(:clientLastName, :id, :clientFirstName).to_a)  %>	  
     <%# @sorted = {@clients.where(id: assigned.ClientID).select(:id) => (@clients.where(id: assigned.ClientID).select(:clientLastName) } %>
     <%#= @sorted  %>

  <% end %>	  

  <% @assigned.each do |assigned| %>
  <% #@sorted_assigned.each do |assigned| %>	  
      <%# @sorted_assigned.each do |client| %>

     <!-- This prints the client name-->
          <% @cname = @clients.where(id: assigned.ClientID, ClientServiceStopDate: [nil,'']).order(:clientLastName).to_a  %>

           <% @cname.each do |client| %>
              <% fullname = client.clientLastName.to_s + ", " + client.clientFirstName.to_s %>
	      <td> <button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button> 
                <!--   <button type="button" class="btn btn-danger btn-sm"><%= client.participantID %></button> -->
	      </td>

	      <td><b><%= client.clientCity %></b></td>
              <td><b><a href=mailto:<%= client.clientEmail %>><%= client.clientEmail %></a></b></td>
              <td><b><a href=tel:<%= client.clientMobilePhone %>><%= client.clientMobilePhone %></a></b></td>
	      <td><button type="button" class="btn btn-light btn-sm">
	    <%= link_to "Unassign", controller: "assignments", action: "edit", id: assigned.id %></button>
	      </td>

     <% end %>
    </tr><tr>
<!-- Print only voucher numbers that might the client name and have an empty invoicedate -->
    <% @vouchers = @authorizations.where(clientID: assigned.ClientID, voucherInvoiceDate: [nil, '']).to_a  %>
    <% @vouchers.each do |voucher| %>
      <td></td>

      <!-- Fix for LTFA to stop displaying past years -->
      <%#= voucher.serviceType == "3" %>
      <%#= voucher.voucherNumber != "LTFA-2020" %>
      <% if voucher.serviceType == "3" && voucher.voucherNumber != "LTFA-2020" %>

      <% else %>  
        <td>  
        <%#= voucher.voucherNumber %> 
      <%#= voucher.voucherNumber == "LTFA-2020" %>

        <button type="button" class="btn btn-light btn-sm"><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td>
         <td>Authorized : <b><%= voucher.hoursAuthorized %></b></td>
        <% tot = 0 %>
        <% current_Month_Hours = 0 %>

        <% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
        <% @inter.each do |inter| %>
           <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
           <% tot = hrs + tot %>
           <% @auth = @authorizations.where(id: inter.workAuthorizationID ).to_a %>
           <% @auth.each do |auth| %>
              <% if auth.serviceType == "3" %>
                 <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
                    <% current_Month_Hours = hrs + current_Month_Hours %>
                 <% end %>
              <% end %>
           <% end %>
        <% end %>

        <td>
          <% if voucher.serviceType == "3" %>
             <% if voucher.hoursAuthorized.to_i - current_Month_Hours <= 2.5 %>
                Hours Remaining : <font color="red"><b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b></font>
             <% else %>
                Hours Remaining : <b><%= voucher.hoursAuthorized.to_i - current_Month_Hours %></b>
             <% end %>
          <% else %>
             <% if voucher.hoursAuthorized.to_i - tot <= 2.5 %>
                <b><font color="red"><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% else %>
                <b><%= voucher.hoursAuthorized.to_i - tot %></b>
             <% end %>
          <% end %>
          </td>

          <% if voucher.serviceType == "3" %>
            <td>Supported : <b><%= current_Month_Hours %></b></td>
          <% else %>
            <td>Supported : <b><%= tot %></b></td>
          <% end %>
         </tr>
     <% end %>
     <tr>
    <% end %>

    <% end %>
    </tr>
  <%# end %>
  </table>
</tbody>
<br>
</body>
</html>


<%#= form_tag(clients_path(:ClientID),  method: :get) do %>
  <%#= select_tag "ClientID", options_from_collection_for_select(@not_assigned, "id", "fullname")%>
  <%#= submit_tag 'search' %>
  <%# end %>

  <br><br>

