<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>

             <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a><br><br>
     <% end %>
 <% end %>


 <!-- <a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a><br><br> -->
 <% @activeUser = @employees.where(email: current_user.email) %>
 <% @activeUser.each do |active| %>
   <button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: "#{active.id}" %></button><br><br>
 <% end %>
 
		   
		   <div class="field">
  <%= form.label :Client %>
  <%= form.select :ClientID, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id, @clientid )%>

  <%#= select_tag :@clientid, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id, @clientid )%>
    <%#= form.text_field :ClientID %>
    <%#= @clientid %>
  <!--  <#% fullname = clientLastName.to_s + clientFirstName.to_s %> -->
    <%#= form.collection_select(:id, Client.all, :id, :clientLastName, include_blank: '' ) %>

  </div>

  <div class="field">
<% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>

    <%= form.label :Employee %>
      <%= form.select :Employee, options_from_collection_for_select(@employees.where(end_date: nil).order(:employee), "id",:employee_with_id, @employeeid.to_s.first(4).last(2) )%>
     <% else %>
    <%= form.label :Employee %>
    <%= form.text_field :Employee, :value => active.id %>       
    <%= active.employee %>
  <% end %> 
<% end %>
      <%#= form.select :Employee, options_from_collection_for_select(@employees.all.order(:employee), "id",:employee_with_id, @employeeid.to_s.first(4).last(2) )%>
    <%#= form.text_field :Employee %>
    <%#= @employeeid %>
    <%#= @employeeid.to_s.first(4).last(2) %>
    <%#= form.collection_select(:Employee, Employee.all, :id, :employee, include_blank: '' ) %>

  </div>

  <div class="field">
      <%= form.label :DateAssigned %>
      <%#= form.date_field :DateAssigned, {:include_blank => true, :default => nil} %>

      <%= form.date_field :DateAssigned, {:include_blank => true, :default => nil} %>
  </div>

  <div class="field">
    <%= form.label :DateUnassigned %>
    <%= form.date_field :DateUnassigned, {:include_blank => true, :default => nil} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
