<p id="notice"><%= notice %></p>

<h1>Assignments</h1>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<br>
  <%= @assignments.all.count %>

<h3> Import</h3>
<%= form_tag import_assignments_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>
   <%= link_to 'New Assignment', new_assignment_path %>

<br>
<table>
  <thead>
    <tr>
      <th>Clientid</th>
      <th>Employee</th>
      <th>Dateassigned</th>
      <th>Dateunassigned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.ClientID %></td>
        <td><%= assignment.Employee %></td>
        <td><%= assignment.DateAssigned %></td>
        <td><%= assignment.DateUnassigned %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

