<p id="notice"><%= notice %></p>

<p>
  <strong>Clientid:</strong>
  <%= @assignment.ClientID %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assignment.Employee %>
</p>

<p>
  <strong>Dateassigned:</strong>
  <%= @assignment.DateAssigned %>
</p>

<p>
  <strong>Dateunassigned:</strong>
  <%= @assignment.DateUnassigned %>
</p>

<%#= link_to 'Edit', edit_assignment_path(@assignment) %> 
<%#= link_to 'Back', assignments_path %>


                     <% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>

             <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a><br><br>
     <% end %>
 <% end %>


 <!-- <a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a><br><br> -->
 <% @activeUser = @employees.where(email: current_user.email) %>
 <% @activeUser.each do |active| %>
   <button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: "#{active.id}" %></button><br><br>
 <% end %>
