
 
You have successfully signed up to for a Scheduled Intervention
 
To login to the site, just follow this link: <%= @url %>.
<%= @user %>
<p>
<strong>Date:</strong>
  <%= @punch.date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @punch.employee %>
</p>

<p>
  <strong>Intime:</strong>
  <%= @punch.intime %>
</p>

<p>
  <strong>Outtime:</strong>
  <%= @punch.outtime %>
</p>

<p>
  <strong>Service:</strong>
  <%= @punch.service %>
</p>

<p>
  <strong>Description:</strong>
  <%= @punch.description %>
</p>

<p>
  <strong>Client</strong>
  <%= @punch.client %>
</p>
 
Thanks for joining and have a great day!

