
 
You have successfully signed up to for a Scheduled Intervention
 
To login to the site, just follow this link: <%= @url %>.
Date:
  <%= @punch.date %>

Employee:
  <%= @punch.employee %>

Intime:
  <%= @punch.intime %>

Outtime:
  <%= @punch.outtime %>

Service:
  <%= @punch.service %>

Description:
  <%= @punch.description %>

Client
  <%= @punch.client %>
 

