<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      
      <p>
         You have successfully signed up to example.com,your username is: 
      </p>
      
      <p>
         To login to the site, just follow this link: 
      </p>
      
      <p>Thanks for joining and have a great day!</p>
      
   </body>
</html>
