<%= form_with(model: punch, local: true) do |form| %>
  <% if punch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(punch.errors.count, "error") %> prohibited this punch from being saved:</h2>

      <ul>
        <% punch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <h4> Non-billable Hours </h4>
  <!--Please select your employee name-->
      <div class="field">
	      <%= form.label :employee %>
     <% @activeUser = @employees.where(email: current_user.email) %>
     <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>
	 <%= form.collection_select(:employee, Employee.where(end_date: [nil]).order(:employee), :id, :employee, include_blank: '') %>
 	<% else %>	
	 <% @activeUser = @employees.where(email: current_user.email) %>
	  <% @activeUser.each do |active| %>
     		<%= form.text_field :employee, :value => active.id, :readonly => true  %>
          <%# :employeeID %>
  	<% end %>
<% end %>
<% end %>
      </div>

  <div class="field">
    <%#= form.label :employee %>
    <%#= form.text_field :employee %>
  </div>

 <div class="field">
    <%= form.label :date %>
    <%#= form.date_select :date %>
    <%#= form.date_field :date, {:include_blank => true, :default => nil} %>
	<%= form.date_field :date %>
	<%#= form.date_field :date, {:value => Time.now.strftime('%Y-%m-%d')}  %>
  </div>


  <div class="field">
    <%= form.label :"In Time" %>
    <%= form.time_select :intime,{minute_step: 15, :ampm => true}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :outtime %>
    <%= form.time_select :outtime, {minute_step: 15, :ampm => true},  include_blank: true %>
  </div>

  <div class="field">
   Service  <%= form.select :service, ['Notes', 'Training', 'Meeting', 'Travel', 'Scheduled Intervention','Other']%>

    <%#= form.label :service %>
    <%#= form.text_field :service %>
  </div><br>
<h6>
  For notes, please include client names<br>
  For meetings, please include who called the meeting the topics discussed<br>
  For training, describe subjects / topics ... 
</h6>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    Client
      <%= form.collection_select :client, @clients.order(:clientLastName),:id,:fullname, include_blank: true %>

  <%# @not_assigned = (@clients.where(ClientServiceStopDate: [nil, ""]).order(:clientLastName)) %>

<%# form_tag(new_assignment_path,  method: :get) do %>
  <%#= select_tag "id", options_from_collection_for_select(@not_assigned, "id", "fullname")%>
  <%#= select_tag "employeeid", raw("<option>@employee.id</option>") %>
  <%#= submit_tag 'Assign', :name => "employeeid[#{@employee.id}]" %>

  
  <%# end %>
  </div>
  <br><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
