<p id="notice"><%= notice %></p>

<h1>Deleted Punches</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>Date</th>
      <th>Employee</th>
      <th>Intime</th>
      <th>Outtime</th>
      <th>Service</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @punches.each do |punch| %>
      <tr>
        <td><%= punch.created_at %></td>
        <td><%= punch.date %></td>
        <td><%= punch.employee %></td>
        <td><%= punch.intime %></td>
        <td><%= punch.outtime %></td>
        <td><%= punch.service %></td>
        <td><%= punch.description %></td>
        <td><%= link_to 'Show', punch %></td>
        <td><%= link_to 'Edit', edit_punch_path(punch) %></td>
        <td><%= link_to 'Destroy', punch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Punch', new_punch_path %>
