<h1>New Punch</h1>

<%= render 'form', punch: @punch %>
<% @activeUser = Employee.where(email: current_user.email) %>
        <% @activeUser.each do |employee| %>
               <button type="button" class="btn btn-light"><%= link_to "Back to Calendar", controller: "calendar", action: "oct", employee: "#{employee.id}" %></button>
        <% end %>
<%#= link_to 'Back', punches_path %>
