<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @punch.date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @punch.employee %>
</p>

<p>
  <strong>Intime:</strong>
  <%= @punch.intime %>
</p>

<p>
  <strong>Outtime:</strong>
  <%= @punch.outtime %>
</p>

<p>
  <strong>Service:</strong>
  <%= @punch.service %>
</p>

<p>
  <strong>Description:</strong>
  <%= @punch.description %>
</p>

<p>
  <strong>Client</strong>
  <%= @punch.client %>
</p>

<%= link_to 'Edit', edit_punch_path(@punch) %> 
<%#= link_to 'Destroy', @punch, method: :delete, data: { confirm: 'Are you sure?' } %> 
<%#= link_to 'Back', punches_path %>
<% today = Time.now.to_s.first(10) %>

<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>
<% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>
       <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
           <!-- <button type="button" class="btn btn-warning"><%#= link_to 'Edit Voucher', edit_authorization_path(@authorization, voucherInvoiceDate_exist: "#{@authorization.voucherInvoiceDate}" ) %> </button> -->

     <% else %>

         <% if qc_month == "01" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jan", employee: "#{active.id}" %></button> </td>
             <% elsif qc_month == "02" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "feb", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "03" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "mar", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "04" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "apr", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "05" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "may", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "06" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jun", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "07" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jul", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "08" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "aug", employee: "#{active.id}" %></button> </td>

          <% elsif qc_month == "09" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "sep", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "10" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "oct", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "11" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "nov", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "12"  %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "dec", employee: "#{active.id}" %></button> </td>
          <% end %>

          <!--  <a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a> -->
<button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: active.id %></button>

     <% end %>
  <% end %>

