<h1>Openvoucher</h1>

<table>
<!-- Removed Service Types  3 -->
<% clients_tot = 0 %>
<% @clients.where(ClientServiceStopDate: [nil, '']).order(clientLastName: :asc).each do |client| %>

<tr>
  <% fullname = client.clientLastName.to_s + " " + client.clientFirstName.to_s %>
  <td valign="top"><b><%= fullname %></b> <% link_to fullname, controller: "clients", action: "show", id: client.id %></td>
  <td>
  <% @assigned = @assignments.where(ClientID: client.id, DateUnassigned: [nil, '']).to_a %>
  <% @assigned.each do |assigned| %>
       <% @emp = @employees.where(id: assigned.Employee, end_date: [nil, '']).to_a %>
       <% @emp.each do |emp| %>
          <% emp.employee %><br>
       <% end %>
    <% end %>
    </tr>
    <tr>
      <td></td><td>
    <% @client_open = @authorizations.where( voucherInvoiceDate: [nil, ''], clientID: client.id ).to_a %>
    <% @client_open.each do |client_open| %>
        <% @inter = @interventions.where(workAuthorizationID: client_open.id).to_a %>
        <% total = 0 %>
        <% tot = 0 %>
        <% @inter_dates = [] %>
        <% @inter.each do |inter| %>

          <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
          <% tot = hrs + tot %>
          <% @inter_dates << inter.dateOfIntervention %>

        <% end %>

	<b><%= client_open.voucherNumber %></b>
	<% link_to client_open.voucherNumber, controller: "authorizations", action: "show", id: client_open.id %>

        <br>
       
     
	<% @inter_dates.last %>
          <td>
            <% if client_open.hoursAuthorized.to_f - tot <= 2.5 %>
               <font color="red"><%= client_open.hoursAuthorized.to_f - tot%></font>
            <% else %>
               <%= client_open.hoursAuthorized.to_f - tot%>

            <% end %>
        </td><td>
        <%# client_open.voucherNumber %>
    <% end %>
    </tr>
<% end %>
</table>


