<h1>Completed#index</h1>

<a href="/timesheets/index"><button type="button" class="btn btn-danger">Timesheets</button></a>
<a href="/monthly/index"><button type="button" class="btn btn-danger">Monthly</button></a>
<a href="/payments"><button type="button" class="btn btn-danger">Payments</button></a>
<a href="/counselor/index"><button type="button" class="btn btn-danger">Counselors</button></a>
<a href="/completed/index"><button type="button" class="btn btn-danger">Unpaid</button></a>
<a href="/counselors"><button type="button" class="btn btn-danger">Unassigned Clients</button></a>


<br><br>
<a href="/clients/new"><button type="button" class="btn btn-primary">Add Client</button></a>
<a href="/authorizations/new"><button type="button" class="btn btn-primary">Add Voucher</button></a>
<a href="/assignments"><button type="button" class="btn btn-primary">Assignments</button></a>
<a href="/employees/new"><button type="button" class="btn btn-primary">New Job Coach</button></a>
<a href="/bugs"><button type="button" class="btn btn-warning">Bugs</button></a>

<br><br>
<a href="/coach/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a>
<a href="/ltfa/index"><button type="button" class="btn btn-primary">LTFA</button></a>
<a href="/pp/index"><button type="button" class="btn btn-primary">IJC / PP</button></a>
<a href="/ddd/index"><button type="button" class="btn btn-primary">DDD</button></a>
<a href="/cbwe/index"><button type="button" class="btn btn-primary">CBWE / TWE</button></a>
<br><br>


voucherInvoiceDate is NOT NIL, voucherPaymentReceivedDate NIL
<br>
<% tot = 0 %>
<% tot_amount = 0 %>
<% @unpayed = @authorizations.where.not(voucherInvoiceDate: [nil, '']).where(voucherPaymentReceivedDate: [nil]).to_a %>
<% @unpayed.each do |unpayed| %>
  <% hrs = unpayed.totalHoursSupported.to_i %>
  <% tot = hrs + tot.to_i %>
  <% amount = unpayed.voucherAmountInvoiced.to_d %>
  <% tot_amount = amount + tot_amount %>
<% end %>
Total Hours <%= tot %> | Total Amount $<%= tot_amount %>
<br><br>



<table>
  <% tot = 0 %>
  <th>Voucher #</th>
  <th>ClientID</th>
  <th>Invoice Date</th>
  <th>Amount Invoiced</th>

<% @unpayed = @authorizations.where.not(voucherInvoiceDate: [nil], serviceType: 3).where(voucherPaymentReceivedDate: [nil, '']).order(voucherInvoiceDate: :asc).to_a %>
<% @unpayed.each do |unpayed| %>
  <tr>
  <%#= unpayed.id %>
  <td><button type="button" class="btn btn-light btn-sm"><%= link_to unpayed.voucherNumber, controller: "authorizations", action: "show", id: unpayed.id %></button><% unpayed.voucherNumber %></td>
  <% @current_client = @clients.where(id: unpayed.clientID).to_a %>
  <% @current_client.each do |current_client| %>
	  <td>  <%= current_client.clientFirstName %>  <%= current_client.clientLastName %></td>
  <% end %>

  <%#= unpayed.clientID %>

  <%#= unpayed.voucherOrAuthorizationDate %>
  <td><%= unpayed.voucherInvoiceDate.to_date %></td>
  <%#= unpayed.voucherInvoiceDate.to_date.last(4).first(2) %>

  <% unpayed.totalHoursSupported %>
  <td align="right">$<%= unpayed.voucherAmountInvoiced %></td>


  </tr>

<% end %>
</table>
