<style>
body {
	font-family: Tahoma;
       padding:30px;

}

header {
        text-align: center;
}

#calendar {
        width: 100%;    
}

#calendar a {
        color: #8e352e;
        text-decoration: none;
}

#calendar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
}

#calendar li {
        display: block;
        float: left;
        width:14.342%;
        padding: 5px;
        box-sizing:border-box;
        border: 1px solid #ccc;
        margin-right: -1px;
        margin-bottom: -1px;
}

#calendar ul.weekdays {
        height: 40px;
        background: #8e352e;
}

#calendar ul.weekdays li {
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        border: none !important;
        padding: 10px 6px;
        color: #fff;
        font-size: 13px;
}

#calendar .days li {
        height: 180px;
}

#calendar ul.weekdays li {
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        border: none !important;
        padding: 10px 6px;
        color: #fff;
        font-size: 13px;
}

#calendar .days li {
        height: 180px;
}

#calendar .days li:hover {
        background: #d3d3d3;
}

#calendar .date {
        text-align: center;
        margin-bottom: 5px;
        padding: 4px;
        background: #333;
        color: #fff;
        width: 20px;
        border-radius: 50%;
        float: right;
}

#calendar .event {
        clear: both;
        display: block;
        font-size: 13px;
        border-radius: 4px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 14px;
        background: #e4f2f2;
        border: 1px solid #b5dbdc;
        color: #009aaf;
        text-decoration: none;
}
#calendar .unbillable {
        clear: both;
        display: block;
        font-size: 13px;
        border-radius: 4px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 14px;
        background: Gold;
        border: 1px solid #b5dbdc;
        color: #009aaf;
        text-decoration: none;
}

#calendar .event-desc {
        color: #666;
        margin: 3px 0 7px 0;
        text-decoration: none;  
}

#calendar .other-month {
        background: #f5f5f5;
        color: #666;
}

/* ============================
                                Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

        #calendar .weekdays, #calendar .other-month {
                display: none;
        }

        #calendar li {
                height: auto !important;
                border: 1px solid #ededed;
                width: 100%;
                padding: 10px;
                margin-bottom: -1px;
        }

        #calendar .date {
                float: none;
        }
}



</style>

<button type="button" class="btn btn-light"><%= link_to "Prev", controller: "calendar", action: "jul", employee: "#{@jc_number}" %></button>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<button type="button" class="btn btn-light"><%= link_to "Prev", controller: "calendar", action: "sep", employee: "#{@jc_number}" %></button>


<br>
<%#= @jc_number %>
<% @jc = @employees.where(id: @jc_number.to_i ).to_a %>
<% @jc.each do |jc| %>
        <h4><%= jc.employee %></h4>
<% end %>
<%
hash52 = {}
hash52["week14"] = ["03-29","03-30","03-31","04-01","04-02","04-03","04-04"]
hash52["week15"] = ["04-05","04-06","04-07","04-08","04-09","04-10","04-11"]
hash52["week16"] = ["04-12","04-13","04-14","04-15","04-16","04-17","04-18"]
hash52["week17"] = ["04-19","04-20","04-21","04-22","04-23","04-24","04-25"]
hash52["week18"] = ["04-26","04-27","04-28","04-29","04-30","05-01","05-02"]

hash52["week19"] = ["05-03","05-04","05-05","05-06","05-07","05-08","05-09"]
hash52["week20"] = ["05-10","05-11","05-12","05-13","05-14","05-15","05-16"]
hash52["week21"] = ["05-17","05-18","05-19","05-20","05-21","05-22","05-23"]
hash52["week22"] = ["05-24","05-25","05-26","05-27","05-28","05-29","05-30"]
hash52["week23"] = ["05-31","06-01","06-02","06-03","06-04","06-05","06-06"]

hash52["week24"] = ["06-07","06-08","06-09","06-10","06-11","06-12","06-13"]
hash52["week25"] = ["06-14","06-15","06-16","06-17","06-18","06-19","06-20"]
hash52["week26"] = ["06-21","06-22","06-23","06-24","06-25","06-26","06-27"]
hash52["week27"] = ["06-28","06-29","06-30","07-01","07-02","07-03","07-04"]



month = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30", "31"]
hours = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"]
%>
 <header>
 <h1>DDD Q2 2020</h1>
 <h2>April</h2>
 </header>
 <div id="calendar">
   <ul class="weekdays">
      <li>Sunday</li>
      <li>Monday</li>
      <li>Tuesday</li>
      <li>Wednesday</li>
      <li>Thursday</li>
      <li>Friday</li>
      <li>Saturday</li>
   </ul>

<% found = 0 %>
<% monthly_hours = 0 %>
<% monthly_punch = 0 %>
<table border="1">

<% hash52.each do |key, hash| %>
   <tr>
   <% day = 1 %>
   <% tot_hrs = 0 %>
   <% tot_punch = 0 %>
   <% weekly_punch = 0 %>
   <% hash.each do |v| %>

	   <% if (v == "05-03")  %>
	</table>
	<br>	<h2> May </h2></br>
	<table border="1">
 <% elsif (v == "06-07")  %>
        </table>
        <br>    <h2> June </h2></br>
        <table border="1">
     <% end %>




      <!-- Make the cells wide enough for clients names -->
      <td width="230" height="150" valign="top">
      <% day = day + 1 %>	
      <br><font size="6" color=#808080>
	      <!--  Put day of the month in top.  -->
        <% if  v == Time.now.to_s.first(10).last(5) %>
	  <font size="6" color="black"><b><%= v.last(2) %>
	  <% hrs = 0 %>

          <% Rails.cache.write( 'inter_@jc_number' ,@inter = @interventions.where(employeeID:  @jc_number).order(:dateOfIntervention).order(:startTime).to_a)  %>
	  <% Rails.cache.read('inter_@jc_number') %>  

	  <%# @inter = @interventions.where(employeeID:  @jc_number).order(:dateOfIntervention).order(:startTime).to_a %>
             <% @inter.each do |inter| %>
                <% if inter.dateOfIntervention.to_s.last(5).first(2).last(2) == v.first(2) && inter.dateOfIntervention.to_s.last(2) == v.last(2)  %>
                   <% if inter.dateOfIntervention.year.to_s == "2020" %>
                        <% @auth = @authorizations.where(id: inter.workAuthorizationID, serviceType: "4").to_a %>
                        <% @auth.each do |auth| %>
                           <% quarter = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
                           <% hrs = hrs + quarter %>
                      <% end %> <!-- Auth -->
                   <% end %> <!-- If start time -->
                 <% end %> <!-- Date of intervention  -->
              <% end %> <!-- Inter each -->
          </font>  <font size="2" color=#000000><%= hrs %> Hrs </font>
          <% tot_hrs =tot_hrs + hrs %>
 	 <% else %>
	  <!-- if its not today, calculate total hours today Billable and non-billable and percentage billable  -->
	  <font size="6" color=#808080><%= v.last(2) %>
          <% hrs = 0 %>
	  <% @inter = @interventions.where(employeeID:  @jc_number).order(:dateOfIntervention).order(:startTime).to_a %>
	     <% @inter.each do |inter| %>
                <% if inter.dateOfIntervention.to_s.last(5).first(2).last(2) == v.first(2) && inter.dateOfIntervention.to_s.last(2) == v.last(2)  %>
                   <% if inter.dateOfIntervention.year.to_s == "2020" %>
                        <% @auth = @authorizations.where(id: inter.workAuthorizationID).to_a %>
                        <% @auth.each do |auth| %>
                           <% quarter = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
                           <% hrs = hrs + quarter %>
                      <% end %> <!-- Auth -->
                   <% end %> <!-- If start time -->
                 <% end %> <!-- Date of intervention  -->
              <% end %> <!-- Inter each -->
	  </font>  <font size="2" color=#000000><%= hrs %> </font>
	  <% tot_hrs = tot_hrs + hrs %>
	  <!-- End Interventions, start punches  -->
	  <% b = 0 %>
          <% tot_punch = 0 %>

	  <% @punch = @punches.where(employee:  @jc_number) %>
              <% @punch.each do |punch| %>
                <% if punch.date.to_s.last(5).first(2).last(2) == v.first(2) && punch.date.to_s.last(2) == v.last(2) %>
		   <% b = (punch.outtime - punch.intime) / 3600 %>
		   <% tot_punch = (punch.outtime - punch.intime) / 3600 + b %>
                <% end %>
             <% end %> <!-- punches -->
            <font size="2" color=Yellow> <%= tot_punch %></font>
    <% end %>
    <% weekly_punch = tot_punch + weekly_punch %>

      <% if tot_hrs != 0 %>
	 <% if (tot_hrs / (tot_hrs + tot_punch) * 100).round(2) >= 70.0 %>
            <font size="2" color=Green><%= (tot_hrs / (tot_hrs + tot_punch) * 100).round(2) %>%</font>
         <% else %> 
            <font size="2" color=Red><%= (tot_hrs / (tot_hrs + tot_punch) * 100).round(2) %>%</font>
         <% end %>
      <% end %>
         <!--  End day of the month   -->
        <font size="2">
          <%#= link_to "+ Event", new_punch_path(day: "29", month: "4" ) %>

           <%# hours.each do |hour| %>
	      <%#= hour %>
	      <% @inter = @interventions.where(employeeID:  @jc_number).order(:dateOfIntervention).order(:startTime).to_a %>
              <% @inter.each do |inter| %>
           	<% if inter.dateOfIntervention.to_s.last(5).first(2).last(2) == v.first(2) && inter.dateOfIntervention.to_s.last(2) == v.last(2)  %>
                   <% if inter.dateOfIntervention.year.to_s == "2020" %>
			<% @auth = @authorizations.where(id: inter.workAuthorizationID, serviceType: "4").to_a %>
			<% @auth.each do |auth| %>
                           <%#= auth.voucherNumber %>
			   <% @client = @clients.where(id: auth.clientID ).to_a %>
			   <% @client.each do |client| %>
			      <div class="event">
                                <div class="event-desc">
			   	  <% fullname = client.clientLastName.to_s + ", " + client.clientFirstName.to_s %>
				  <%= link_to fullname, controller: "interventions", action: "show", id: inter.id %>
				  <%#= auth.serviceType %>
			        </div>
				<div class="event-time">
				   <a title="Start : <%= inter.startTime %> &#010; end : <%= inter.endTime %> &#010; <%= inter.clientProgress %>"><i class="fa">
                       		    <%= inter.startTime.to_s.last(13).first(6) %>
				    <%= quarter = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %> Hrs
				 </b></i> </a>
                       	        </div>
                  	      </div>

		    	   <% end %> <!-- Client -->
	    	      <% end %> <!-- Auth -->
	      	   <% end %> <!-- If start time -->
	  	 <% end %> <!-- Date of intervention  -->
              	<% end %> <!-- Inter each -->

	      <% @punch = @punches.where(employee:  @jc_number) %>
              <% @punch.each do |punch| %>
		<% if punch.date.to_s.last(5).first(2).last(2) == v.first(2) && punch.date.to_s.last(2) == v.last(2) %>
		   <div class="unbillable">
                      <div class="event-desc">
			 <%#= punch.employee %>
		     </div>
                     <div class="event-time">
                         <a title="Start : <%= punch.intime %> &#010; end : <%= punch.outtime  %>  &#010; Description  <%= punch.description %>"><i class="fa">
			<%= punch.service %>		 
			<%= punch.intime.to_s.last(12).first(5) %>
			 <%= (punch.outtime - punch.intime) / 3600 %>
 			 </b></i> </a>
                                </div>
                              </div>

                       <% end %>
               <% end %> <!-- punches -->
       <% end %>
       <br> <font size="2" color=#000000> Week : <%= tot_hrs %> <%= weekly_punch %></font>
	<% if tot_hrs != 0 %>
         <% if (tot_hrs / (tot_hrs + tot_punch) * 100).round(2) >= 70.0 %>
            <font size="2" color=Green><%= (tot_hrs / (tot_hrs + weekly_punch) * 100).round(2) %>%</font>
         <% else %> 
            <font size="2" color=Red><%= (tot_hrs / (tot_hrs + wwekly_punch) * 100).round(2) %>%</font>
         <% end %>
      <% end %>


       <% monthly_hours = monthly_hours + tot_hrs %>
       <% monthly_punch = monthly_punch + weekly_punch %>
    <% end %>
</table>
    <br>
    <br>
    <br>

    <h4>Total Monthly Hours : <%= monthly_hours %>   <%= monthly_punch %> </h4>
      <% if monthly_hours != 0 %>
         <% if (monthly_hours / (monthly_hours + monthly_punch) * 100).round(2) >= 70.0 %>
            <font size="2" color=Green><%= (monthly_hours / (monthly_hours + monthly_punch) * 100).round(2) %>%</font>
         <% else %> 
            <font size="2" color=Red><%= (monthly_hours / (monthly_hours + monthly_punch) * 100).round(2) %>%</font>
         <% end %>
      <% end %>




