<style>
mark {
  background-color: light-blue;
  color: black;
}
</style>



<h1>Calendar#index</h1>
<p>Find me in app/views/calendar/index.html.erb</p>

<%
hash52 = {}
hash52["week1"] = ["12-29","12-30","12-31","01-01","01-02","01-03","01-04"]
hash52["week2"] = ["01-05","01-06","01-07","01-08","01-09","01-10","01-11"]
hash52["week3"] = ["01-12","01-13","01-14","01-15","01-16","01-17","01-18"]
hash52["week4"] = ["01-19","01-20","01-21","01-22","01-23","01-24","01-25"]
hash52["week5"] = ["01-26","01-27","01-28","01-29","01-30","01-31","02-01"]
hash52["week6"] = ["02-02","02-03","02-04","02-05","02-06","02-07","02-08"]
hash52["week7"] = ["02-09","02-10","02-11","02-12","02-13","02-14","02-15"]
hash52["week8"] = ["02-16","02-17","02-18","02-19","02-20","02-21","02-22"]
hash52["week9"] = ["02-23","02-24","02-25","02-26","02-27","02-28","02-29"]
hash52["week10"] = ["03-01","03-02","03-03","03-04","03-05","03-06","03-07"]
hash52["week11"] = ["03-08","03-09","03-10","03-11","03-12","03-13","03-14"]
hash52["week12"] = ["03-15","03-16","03-17","03-18","03-19","03-20","03-21"]
hash52["week13"] = ["03-22","03-23","03-24","03-25","03-26","03-27","03-28"]
hash52["week14"] = ["03-29","03-30","03-31","04-01","04-02","04-03","04-04"]
hash52["week15"] = ["04-05","04-06","04-07","04-08","04-09","04-10","04-11"]
hash52["week16"] = ["04-12","04-13","04-14","04-15","04-16","04-17","04-18"]
hash52["week17"] = ["04-19","04-20","04-21","04-22","04-23","04-24","04-25"]
hash52["week18"] = ["04-26","04-27","04-28","04-29","04-30","05-01","05-02"]
hash52["week19"] = ["05-03","05-04","05-05","05-06","05-07","05-08","05-09"]
hash52["week20"] = ["05-10","05-11","05-12","05-13","05-14","05-15","05-16"]
hash52["week21"] = ["05-17","05-18","05-19","05-20","05-21","05-22","05-23"]
hash52["week22"] = ["05-24","05-25","05-26","05-27","05-28","05-29","05-30"]
hash52["week23"] = ["05-31","06-01","06-02","06-03","06-04","06-05","06-06"]
hash52["week24"] = ["06-07","06-08","06-09","06-10","06-11","06-12","06-13"]
hash52["week25"] = ["06-14","06-15","06-16","06-17","06-18","06-19","06-20"]
hash52["week26"] = ["06-21","06-22","06-23","06-24","06-25","06-26","06-27"]
hash52["week27"] = ["06-28","06-29","06-30","07-01","07-02","07-03","07-04"]
hash52["week28"] = ["07-05","07-06","07-07","07-08","07-09","07-10","07-11"]
hash52["week29"] = ["07-12","06-13","07-14","07-15","07-16","07-17","07-18"]
hash52["week30"] = ["07-19","07-20","07-21","07-22","07-23","07-24","07-25"]
hash52["week31"] = ["07-26","07-27","07-28","07-29","07-30","07-31","08-01"]
hash52["week32"] = ["08-02","08-03","08-04","08-05","08-06","08-07","08-08"]
hash52["week33"] = ["08-09","08-10","08-11","08-12","08-13","08-14","08-15"]
hash52["week34"] = ["08-16","08-17","08-18","08-19","08-20","08-21","08-22"]
hash52["week35"] = ["08-23","08-24","08-25","08-26","08-27","08-28","08-29"]
hash52["week36"] = ["08-30","08-31","09-01","09-02","09-03","09-04","09-05"]
hash52["week37"] = ["09-06","09-07","09-08","09-09","09-10","09-11","09-12"]
hash52["week38"] = ["09-13","09-14","09-15","09-16","09-17","09-18","09-19"]
hash52["week39"] = ["09-20","09-21","09-22","09-23","09-24","09-25","09-26"]
hash52["week40"] = ["09-27","09-28","09-29","09-30","10-01","10-02","10-03"]
hash52["week41"] = ["10-04","10-05","10-06","10-07","10-08","10-09","10-10"]
hash52["week42"] = ["10-11","10-12","10-13","10-14","10-15","10-16","10-17"]
hash52["week43"] = ["10-18","10-19","10-20","10-21","10-22","10-23","10-24"]
hash52["week44"] = ["10-25","10-26","10-27","10-28","10-29","10-30","10-31"]
hash52["week45"] = ["11-01","11-02","11-03","11-04","11-05","11-06","11-07"]
hash52["week46"] = ["11-08","11-09","11-10","11-11","11-12","11-13","11-14"]
hash52["week48"] = ["11-15","11-16","11-17","11-18","11-19","11-20","11-21"]
hash52["week49"] = ["11-22","11-22","11-23","11-24","11-25","11-26","11-27"]
hash52["week50"] = ["11-28","11-29","11-30","12-01","12-02","12-03","12-04"]
hash52["week51"] = ["12-05","12-06","12-07","12-08","12-09","12-10","12-11"]
hash52["week52"] = ["12-12","12-13","12-14","12-15","12-16","12-17","12-18"]
hash52["week53"] = ["12-19","12-20","12-21","12-22","12-23","12-24","12-25"]
hash52["week54"] = ["12-26","12-27","12-28","12-29","12-30","12-31","01-01"]


month = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30", "31"]

hours = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"]

%>


<br>
<%= today_week = Time.now.to_s.first(10).last(4) %>
<%  @punches.all.to_a %>
<% found = 0 %>
<br>

<table border="1">



<% hash52.each do |key, hash| %>
	<tr>
    		
    <% day = 1 %>
    <% if key == "week1" %>
	    <tr><td colspan="7" align="center">  <h3>Janurary</h3></td></tr>
    <% elsif key == "week6" %>
            <tr><td colspan="7" align="center"> <h3>Feburary</h3></td></tr>
    <% elsif key == "week10" %>
            <tr><td colspan="7" align="center"> <h3>March</h3></td></tr>
    <% elsif key == "week14" %>
            <tr><td colspan="7" align="center"> <h3>April</h3></td></tr>
    <% elsif key == "week18" %>
            <tr><td colspan="7" align="center"> <h3>May</h3></td></tr>
    <% elsif key == "week23" %>
            <tr><td colspan="7" align="center"> <h3>June</h3></td></tr>
    <% elsif key == "week27" %>
            <tr><td colspan="7" align="center"> <h3>July</h3></td></tr>
    <% elsif key == "week32" %>
	  <tr><td colspan="7" align="center"> <h3>August</h3></td></tr>
    <% elsif key == "week36" %>
          <tr><td colspan="7" align="center"> <h3>September</h3></td></tr>

    <% end %>
    <% hash.each do |v| %>

      <td width="150" height="150" valign="top">
	      <b>
	 <% if day == 1 %>
           Sunday
   <% elsif day == 2 %>
	   Monday
   <% elsif day  == 3 %>
	   Tuesday 
   <% elsif day  == 4 %>
	   Wednesday 
   <% elsif day  == 5 %>
	   Thursday
   <% elsif day  == 6 %>
	   Friday
         <% elsif day  == 7 %>
	   Saturday
         <% end %>
	      </b>
      <% day = day + 1 %>
	
      <br><font size="6" 	color=#808080>
        <% if  v == Time.now.to_s.first(10).last(5) %>
          <font size="6" color="black"><b><%= v.last(2) %>
        <% else %>
          <font size="6" 	color=#808080><%= v.last(2) %>
        <% end %>
        <font size="2">
          <%#= link_to "+ Event", new_punch_path(day: "29", month: "4" ) %>

           <% hours.each do |hour| %>
           <br>
           <% if hour.to_i.even? %>
                 <mark>
                   <%= hour %>
                      <% @punches.each do |punch| %>
                        <%#= punch.intime.to_s.last(12).first(5) %>
                        <% if punch.date.to_s.last(5).first(2).last(2) == v.first(2) && punch.date.to_s.last(2) == v.last(2) %>
                           <%#= punch.employee %>
                           <%#= punch.intime.to_s.last(11).first(5) %>
                                <% if punch.intime.to_s.last(12).first(5).first(2) == hour %>
                                  <%= punch.employee %>
                                  <%= punch.intime.to_s.last(12).first(5) %>
                                  <%= (punch.outtime - punch.intime) / 3600 %>
                                  <%#= punch.client %>
                                <% end %> <!-- -->
                                <% end %>
                        <% end %> <!-- punches -->
                       </mark>
          <% else%>

          <%= hour %>
             <% @punches.each do |punch| %>
               <%#= punch.intime.to_s.last(12).first(5) %>
               <% if punch.date.to_s.last(5).first(2).last(2) == v.first(2) && punch.date.to_s.last(2) == v.last(2) %>
                  <%#= punch.employee %>
                  <%#= punch.intime.to_s.last(11).first(5) %>
                       <% if punch.intime.to_s.last(12).first(5).first(2) == hour %>
                         <%= punch.employee %>
                         <%= punch.intime.to_s.last(12).first(5) %>
                         <%= (punch.outtime - punch.intime) / 3600 %>

                         <%#= punch.client %>
                       <% end %> <!-- -->
                       <% end %>
               <% end %> <!-- punches -->

               <% end %>



        <% end %> <!-- hour -->
    <% end %>
    <br>
<% end %>
