<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% today = Time.now.to_s.first(10) %>
<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>

<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a><br><br>
<table>
  <tr>
    <td>
    </td>
  <td>

<% @active_employees = @employees.where(end_date: [nil, ''], userType: ["JobCoach","Manager"]).to_a %>
<% @active_employees.each do |employee|  %>
  <tr><td colspan="1"><%#= employee.employee %>
      <button type="button" class="btn btn-warning btn=lg"><%= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>
          </td>
          <%# if qc_month == "01" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Jan", controller: "calendar", action: "jan", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "02" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Feb", controller: "calendar", action: "feb", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "03" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Mar", controller: "calendar", action: "mar", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "04" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Apr", controller: "calendar", action: "apr", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "05" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "May", controller: "calendar", action: "may", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "06" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Jun", controller: "calendar", action: "jun", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "07" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Jul", controller: "calendar", action: "jul", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "08" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Aug", controller: "calendar", action: "aug", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "09" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Sep", controller: "calendar", action: "sep", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "10" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Oct", controller: "calendar", action: "oct", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "11" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Nov", controller: "calendar", action: "nov", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# elsif qc_month == "12"  %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Dec", controller: "calendar", action: "dec", format: "pdf", employee: "#{employee.id}" %></button> </td>
          <%# end %>
          <td>
    </tr>
<% end %>

