<h1>Grant</h1>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<br> <br>
    <table>
    <h4> Grant </h4>
    Total Clients Currently Served : <%= @authorizations.where(serviceType: ["1","2", "3"]   , voucherInvoiceDate: [nil, '']).select(:clientID).distinct.count %>
    service 4 | service 16
    <br>
    <br>
    <br>

    <% @ddd_auth = @authorizations.where(serviceType: ["1", "2", "3"  ]).select(:clientID).distinct.to_a  %>
    <% @ddd_auth.each do |auth|  %>
       <% @ddd_clients =  @clients.where(id: auth.clientID).order(:clientLastName) %>
       <% @ddd_clients.each do |client| %>
               <td><%= client.id%></td>
	       <td><%= client.clientCounty %></td>
          <% fullname =  client.clientLastName + ", " +  client.clientFirstName %>
	  <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
          <%# @client_auth = @authorizations.where(serviceType: ["1","2","3"]) %>
	  <% @client_auth = @authorizations.where(clientID: client.id, serviceType: ["1","2","3"] ) %>
          <% @client_auth.each do |client_auth| %>
		  <td><button type="button" class="btn btn-light btn-sm"><%= link_to client_auth.voucherNumber, controller: "authorizations", action: "show", id: client_auth.id %></button></td>
                  <td><%= client_auth.VoucherReceivedDate.to_date %></td>

             <%# client_auth.hoursAuthorized %>
             <%# if client_auth.hoursRemaining.to_f <= 5 %>
	     <!--  <td>Remaining : <font color="red"><%#= client_auth.hoursRemaining %></font></td> -->
             <%# else %>
	     <!--  <td>Remaining : <font color="green"><%#= client_auth.hoursRemaining %></font></td> -->
             <%# end %>
	     <!-- <td>Supported : <%#= client_auth.totalHoursSupported %></td> -->
          <% end %>
      <% end %>
      </tr><tr>
    <%end%>
    <tr>

</table>
