<h1>Monthly#index</h1>
<p>Find me in app/views/monthly/index.html.erb</p>

	<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>



<div align="left">

January 2020
Show me clients without a stop date<br>
    vouchers without an Voucherinvoicedate<br>
    interventions from 1 month

    SHOW CLIENTS WITHOUT ANY interventions

<table>
<% @active_clients = @clients.where(ClientServiceStopDate: [nil, '']).order(:clientLastName).to_a %>
<% @active_clients.each do |active_client|%>
<table border="1">
  <tr><td colspan="150"><%= active_client.clientLastName %>, <%= active_client.clientFirstName %></td></tr>
  <% tot = 0 %>

  <% @client_auth = @authorizations.where(clientID: active_client.id, voucherInvoiceDate: [nil, '']).to_a%>
  <% @client_auth.each do |client_auth| %>

    <tr><td></td>
      <td><%= client_auth.voucherNumber %></td>

    <% @client_inter = @interventions.where(workAuthorizationID: client_auth.id).to_a %>
    <% @client_inter.each do |client_inter| %>

       <% if client_inter.dateOfIntervention.to_s.first(7).last(2) == "11" %>
          <td><%= client_inter.dateOfIntervention %></td>
          <td><%= hrs = (client_inter.endTime.to_time - client_inter.startTime.to_time) / 3600 %></td>
          <% tot = hrs + tot %>
       <% end %>
    <% end %><!-- interventions -->
  <% end %><!-- Authorizations -->
  <tr><td>Totals hours <%= tot %></td></tr>

<% end %><!-- clients -->
</table>
</div>
