<% today = Time.now.to_s.first(10) %>
<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>

<%# puts current_user.email + " loaded Job Coach dashboard " + Time.now.to_s %>
<% open('log.txt', 'a') do |f|; f << Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded Job Coach dashboard " + "\n"; end %>





<h3><b>Job Coaches Dashboard</b></h3>
<%= qc_year %>-<%= qc_month %>
<br>
<!--<a href="/csv/index"><button type="button" class="btn btn-danger">CSV upload</button></a>-->
<!--<a href="/clients"><button type="button" class="btn btn-primary">Clients</button></a>-->


<a href="/"><button type="button" class="btn btn-danger">Sign out</button></a>
<br>
<!--
<#% @employees.each do |employee| %>
    <button type="button" class="btn btn-light btn-sm"><%#= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>
<#% end %>
-->
<tbody><br>


<table>
<% @active_employees = @employees.where(end_date: [nil, '']).to_a %>
<% @active_employees.each do |employee|  %>
  <!-- This prints the employees names -->
  <tr><td colspan="2"><%#= employee.employee %>
	  <button type="button" class="btn btn-warning btn=lg"><%= link_to employee.employee, controller: "employees", action: "show", id: employee.id %></button>

	  </td>

  <!--
  Calculate hours per month
  ####################################################################################################################
  -->

  <% Rails.cache.write('inter_employee,id', @inter = @interventions.where(employeeID: employee.id).to_a) %>
  <% Rails.cache.read('inter_employee_id') %>

  <%# @inter = @interventions.where(employeeID: employee.id).to_a %>
  <%# total = 0 %>
  <% tot = 0 %>

  <% @inter.each do |inter| %>
      <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
      <% year = inter.dateOfIntervention.to_s.first(4) %>

      <% if ((month == qc_month) && (year == qc_year)) %>
      <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
      <% tot = hrs + tot %>
      <% end %>
  <% end %>

  <td><h5>Hours : <%= tot %></h5></td>

<!-- Total hours use today -->

<!--
########################################################################################################################
-->


  </tr><tr>
  <!-- This prints the Client Names for matching job coach employee -->
  <% @assigned = @assignments.where(Employee: employee.id, DateUnassigned: [nil, '']).to_a  %>
  <% @assigned.each do |assigned| %>
     <!-- This prints the client name-->
	   <% @cname = @clients.where(id: assigned.ClientID, ClientServiceStopDate: [nil, '']).order(:clientLastName).to_a  %>
	   <% @cname.each do |client| %>
	      <% fullname = client.clientLastName.to_s + " " + client.clientFirstName.to_s %>
	      <td> <button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button>
	             <button type="button" class="btn btn-danger btn-sm"> <%= client.DDDSerialNbr %></button> 
	      </td>
        <td><%= client.clientCity %></td>



	      <td><button type="button" class="btn btn-light btn-sm"><a href=mailto:<%= client.clientEmail %>><%= client.clientEmail %></a></button></td>
              <td><button type="button" class="btn btn-light btn-sm"><a href=tel:<%= client.clientMobilePhone %>><%= client.clientMobilePhone %></a></button></td>
	       <td><button type="button" class="btn btn-light btn-sm">
                   <%= link_to "Unassign", controller: "assignments", action: "edit", id: assigned.id %></button>

              </td>

     <% end %>
    </tr><tr>
<!-- Print only voucher numbers that might the client name and have an empty invoicedate -->
    <% @vouchers = @authorizations.where(clientID: assigned.ClientID, voucherInvoiceDate: [nil, '']).to_a  %>
    <% @vouchers.each do |voucher| %>
      <td></td>
      <td><button type="button" class="btn btn-light btn-sm"><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td>
      <td>Authorized : <%= voucher.hoursAuthorized %></td>

      <% tot = 0 %>
      <% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
      <% @inter.each do |inter| %>
        <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
        <% tot = hrs + tot %>
      <% end %>


      <% if voucher.hoursAuthorized.to_i - tot <= 5 %>
         <td>Remaining : <font color="red"><%= voucher.hoursAuthorized.to_i - tot %></font></td>
      <% else %>
        <td>Remaining : <font color="green"><%= voucher.hoursAuthorized.to_i - tot %></font></td>
      <% end %>


      <td>Supported : <%= tot %></td>
      </tr><tr>
    <% end %>

    <% end %>
    </tr>
  <% end %>
  </table>
</tbody>
<br>
</body>
</html>
