<% vendor = "Center for Educational Advancement" %>
<% phone = "908-782-1448" %> 

<% total = 0 %>
<% tot = 0 %>
<% progress = 0 %>
<% comments = 0 %>
<% serviceType = 0 %>
<% @authid %>
<% @inter = @interventions.where(workAuthorizationID: @authid).order(:dateOfIntervention).to_a %>

<% @inter_dates = [] %>
<% @inter.each do |inter| %>
  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
  <% tot = hrs + tot %>
  <% @inter_dates << inter.dateOfIntervention %>
<% end %>

<style>
white-space: nowrap;
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  class: text-center; 
}
</style>
<% office = 0 %>


<center> <font size="5"><b>Job Coaching Progress Report & Serve Log</b></font><br>
IJC
<p>


<table border=1 width=880px style="font-size:12px" class="center">
   <th colspan=3 style="background-color:#c1c1c1;color:#111111;" class="text-center" >
     <font size="4">Consumer Information</font></th>
  <tr>
        <div class="container-fluid bg-3 text-center">
           <div class="row">
                <div class="col-sm-3">
                  <% @name = @clients.where(id: @clientid).to_a %>
                  <% @name.each do |name|  %>
                     <td colspan=2>Name of Consumer: <b><%= fullname = name.clientLastName.to_s + ", " + name.clientFirstName.to_s %></b></td>
                      <% office = name.clientCounty %>
	      <% end %>
              <td>Provider: <b>Center for Educational Advancement</b>

              </td>

              </tr>
              <tr>
                <td colspan=2>Job Coach: <b><%= current_user.email %></b><br>
                  Phone : <b>908-782-1480</b> Email: <b><%= current_user.email %></b></td>

                <td> Reporting Period: <br>
                  Start Date: <b><%= @inter_dates.first %></b> End Date: <b><%= @inter_dates.last %></b>
                  <%#= Time.now.to_s.first(7) %>
              </td>


  </tr>
  <tr>
    <td colspan=2>IPE Vocational Goal: <%= @goal %> </td>
    <td>Voucher / Invoice #<b><%= @authid %> / <%= @invoice %></b></td>
  </tr>
  <tr>
    <td colspan=2>DVRS Office:  <b><%= office %></b>
      <br>
           DVRS Counselor (VRC):
       </td>
       <td>
         Phone:
         Email:
       </td>
  </tr>
  <tr>
    <td colspan=2>
      Medicaid Eligible <input type="checkbox">Yes <input type="checkbox"> No <input type="checkbox" checked> Unknown 
    </td>
    <td>DDD Enrolled <input type="checkbox">Yes <input type="checkbox"> No <input type="checkbox" checked> Unknown
       </td>

  </tr>
  <tr>
    <td colspan=2> Support Coordination Agency: <br><b><%= vendor %></b><br> Phone: <b><%= phone %></b></td>
     <td> Support Coordinator:
      <% @found = @employees.where(email: current_user.email) %>
                    <% @found.each do |found| %>
                       <b><%= found.employee %></b>
                    <% end %>
                    <br> Email: <b><%= current_user.email %><b></td>
  </tr>

<!-- <table border=1 style="font-size:12px"> -->
   <th colspan=3 style="background-color:#c1c1c1;color:#111111;" class="text-center" >
     <font size="4">Employment Information</font></th>

<% @history = @clientemployers.where(clientID: @clientid, endDate: [nil, ()]).to_a %>
      <% @history.each do |history| %>
         <% @jobs = @employers.where(id: history.clientEmployerID).to_a %>
         <% @jobs.each do |job| %>
        <tr>
        <td>Consumer's Job Title: <b><%= history.JobTitle %></b></td>
        <td>Hire Date: <b><%= history.startDate %></b></td>
           <td>Full Time | Part Time | Per Diem </td>
       </tr>
        <tr>
        <td>Employer: <b><%= job.employerName %></b></td>
        <td>Address: <b><%= job.employerAddress1 %></b></td>
        <td>City, State, Zip: <b><%= job.employerCity %>, <%= job.employerState %>, <%= job.employerZip %></b>
</td>
       </tr>
       <tr>
       <td>Hours per week: <b><%= history.hoursPerMonth %></b></td>
       <td>Days per week: <b><%= history.WorkSchedule %></b></td>
       <td>Hourly rate: $<b><%= history.Wage %></b></td>
      </tr>
      <th colspan=3 style="background-color:#c1c1c1;color:#111111;" class="text-center"  >
        <font size="4">Intervention Plan</font><br>
      <font size="1">The intervention plan is a monthly overview of the employer's standards, consumer's performance, and the job coach’s plan for progressively fading services.
        Each intervention should be addressed in the progress notes section of this document. This plan should change over time to reflect new information and/or interventions. Maximize the impact of your supports when you are not on the site.</font>
      </th>

      <% end %>
    <% end %>



<table border="1" width=880px style="font-size:12px">
<tr>
      <th style="background-color:#c1c1c1;color:#111111;" >
         <u>Unmet</u> Employer Standard
         <br><font size="1">BEST PRACTICE:
         <br>Employee is required to...
         <br>Employee is expected to...
         </th>
      <th style="background-color:#c1c1c1;color:#111111;" >
         Consumer's Performance for
         <br><u>Unmet</u> Standard
         <br><font size="1">What...
         <br>When is it occuring...
         <br>How do you know...
         <br>Why...
      </th>
      <th style="background-color:#c1c1c1;color:#111111;" >
         Job Coach's Plan to Address 
         <br><u>Unmet</u> Standard
         <br><font size="1">What steps have been taken in order to
         <br> assist this individual with achieving job
         <br>stablization?
      </th>
  </tr>
  <tr>
  <td>1.</td><td></td><td></td>
  </tr><tr>
  <td>2.</td><td></td><td></td>
  </tr><tr>
  <td>3.</td><td></td><td></td>
  </tr><tr>
  <td>4.</td><td></td><td></td>
  </tr><tr>
  <td>5.</td><td></td><td></td>
  </tr><tr>
  </tr>
  <tr>
   <td colspan="3">Comments: </td>
   </tr>
</table>

<table border="1" width=880px style="font-size:12px">


     <td align="center">
     <b>Date/Coach
     <br>Time (Start/End) </b>
     </td>
     <td align="center">
        <b><u> Purpose of Visit</u></b><br>
        (What were you thre to do?)

     </td>
     <td>
        <b><u>Observations</u></b><br>
        (What did you observe?)

    </td> 
    <td>
        <b><u> Interventions</u></b><br>
        (What did you contribute?)
    </td> 
    <td>
        <b><u>Next Steps</u></b><br>
        (What will you do next?)
    </td> 
    </tr>


  <% @inter.each do |inter| %>
    <tr>
      <td width="175">

              Date : <b><%= inter.dateOfIntervention %></b><br>
                    <% @emp = @employees.where(id: inter.employeeID)%>
                    <% @emp.each do |emp| %>
                       Coach: <b><%= emp.employee %></b>
                    <% end %>
                    <br>Start : <b><%= inter.startTime.to_s.first(16).last(5) %></b>
                    <br>End : <b><%= inter.endTime.to_time.to_s.first(16).last(5) %></b>
                    <br>Total: <b><%= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b>
      </td>
        <% if inter.clientProgress.present? %>
         <td valign="top"><%= inter.clientProgress %> </td>
      <% end  %>
      <td>
        <%= inter.jobRequirements %>
      </td>
      <td>
        <%= inter.skillsStatus %>
      </td>
      <td>
        <%= inter.interventionDescription %>
      </td>
           <% if inter.generalComments.present? %>
                   <td > <%= inter.generalComments %></td>
        <% end %>


       <% end %>
       </tr>
    <tr>
       <td colspan=4 align="right"><font size="3">Total Hours Used on Log &nbsp;  </td>
       <td colspan=1><font size="4"><b>&nbsp; <%= tot %></b></font></td>
    </tr>
    <tr>

       <th colspan=5 style="background-color:#c1c1c1;color:#111111;" >
       Signature</th>
     </tr>
     <tr>
     <td colspan=3 >Signature of Job Coach: </td><td colspan=2>Date: </td>
     </tr><tr>
     <td colspan=3 >Signature of Supervisor: </td><td colspan=2>Date: </td>

     </tr>    
</table>



