<% vendor = "Center for Educational Advancement" %>
<% phone = "908-782-1448" %> 

<% total = 0 %>
<% tot = 0 %>
<% progress = 0 %>
<% comments = 0 %>
<% serviceType = 0 %>
<% @authid %>
<% @inter = @interventions.where(workAuthorizationID: @authid).order(:dateOfIntervention).to_a %>

<% @inter_dates = [] %>
<% @inter.each do |inter| %>
  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
  <% tot = hrs + tot %>
  <% @inter_dates << inter.dateOfIntervention %>
<% end %>

<style>
white-space: nowrap;
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  class: text-center; 
  }
   table{
        width:100%;
     #   table-layout: fixed;
     #   overflow-wrap: break-word;
    }
</style>
<% office = 0 %>


<center> <font size="5"><b>Job Coaching Progress Report & Serve Log</b></font><br>
IJC
<p>


<table border=1 width=880px style="font-size:12px" class="center">
   <th colspan=3 style="background-color:#c1c1c1;color:#111111;" class="text-center" >
     <font size="4">Consumer Information</font></th>
  <tr>
        <div class="container-fluid bg-3 text-center">
           <div class="row">
                <div class="col-sm-3">
                  <% @name = @clients.where(id: @clientid).to_a %>
                  <% @name.each do |name|  %>
                     <td colspan=2 width=500px>Name of Consumer: <b><%= fullname = name.clientLastName.to_s + ", " + name.clientFirstName.to_s %></b></td>
                      <% office = name.clientCounty %>
	      <% end %>
              <td width=300px>Provider: <b>Center for Educational Advancement</b>

              </td>

              </tr>
              <tr>
                <td colspan=2>Job Coach: <b><%= current_user.email %></b><br>
                  Phone : <b>908-782-1480</b> Email: <b><%= current_user.email %></b></td>

                <td> Reporting Period: <br>
                  Start Date: <b><%= @inter_dates.first %></b> End Date: <b><%= @inter_dates.last %></b>
                  <%#= Time.now.to_s.first(7) %>
              </td>


  </tr>
  <tr>
    <td colspan=2>IPE Vocational Goal: <%= @goal %> </td>
    <td>Voucher / Invoice #<b><%= @authid %> / <%= @invoice %></b></td>
  </tr>
  <tr>
    <td colspan=2>DVRS Office:  <b><%= office %></b>
      <br>
           DVRS Counselor (VRC):
       </td>
       <td>
         Phone:
         Email:
       </td>
  </tr>
  <tr>
    <td colspan=2>
      Medicaid Eligible <input type="checkbox">Yes <input type="checkbox"> No <input type="checkbox" checked> Unknown 
    </td>
    <td>DDD Enrolled <input type="checkbox">Yes <input type="checkbox"> No <input type="checkbox" checked> Unknown
       </td>

  </tr>
  <tr>
    <td colspan=2> Support Coordination Agency: <br><b><%= vendor %></b><br> Phone: <b><%= phone %></b></td>
     <td> Support Coordinator:
      <% @found = @employees.where(email: current_user.email) %>
                    <% @found.each do |found| %>
                       <b><%= found.employee %></b>
                    <% end %>
                    <br> Email: <b><%= current_user.email %><b></td>
  </tr>

<!-- <table border=1 style="font-size:12px"> -->
<th colspan=3 style="background-color:#c1c1c1;color:#111111;" class="text-center" >
  <font size="4">Employment Plan Service Steps</font><br>
        <font size="1">
Considering information gathered through intakes, assessments, vocational profile, and the referral source, identify the top 3
perspective employers that would most likely result in a job match.
Note: Perspective employers listed must have positions that match vocational goal stated in the DVRS referral.
Rationale must explain why it is believed these employers will likely result in a good job match.</font>
      </th>

      </tr>
      <tr>
      <td width=200px>Employer 1: </td>
      <td width=200px>Employer 2: </td>
      <td width=200px>Employer 3: </td>
      </tr>
      <tr>
         <td>Rationale 1:</td>
         <td>Rationale 2:</td>
         <td>Rationale 3:</td>
         </tr>

         <tr>
         <th colspan=3 style="background-color:#c1c1c1;color:#111111;" class="text-center" >
         <font size="4"> Supports Information</font><br>
 <font size="1">
What steps have been taken in order to assist this individual in obtaining an appropriate job match? Check all that apply:

        </font>

         Supports Information</th>
         </tr>
      <tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
                 <input type="checkbox"> Benefits Counseling
            </div>
            <div style="float:right;width:50%;">
                <input type="checkbox"> Job Site/Task Analysis</td>
            </div>
          </td></tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox"> Situational Assessment 
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox"> Accommodations (assistive technology)
            </div>
            </td> </tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox"> Job Sampling
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox"> Travel Training
            </div>
            </td> </tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox"> Job Shadowing 
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox"> Job Tours
            </div>
            </td> </tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox">Resume Development/Revision 
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox"> Informational Interview
            </div>
            </td> </tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox">Job Application Assistance 
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox"> Job Restructuring/Carving
            </div>
            </td> </tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox">Interview Skill Development 
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox">Employability Training/Supports (attire, etc.)
            </div>
            </td> </tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox">Cover & Thank Letter Assistance  
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox">Requested Service Team Meeting
            </div>
            </td> </tr><tr>
         <td colspan=3>
            <div style="float:left;width:50%;">
            <input type="checkbox">Networking 
            </div>
            <div style="float:right;width:50%;">
            <input type="checkbox"> Other:
            </div>
            </td> </tr>

         <tr>
         <th colspan=3 style="background-color:#c1c1c1;color:#111111;" class="text-center" >
 <font size="4">Consumer Engagement</font><br>
 <font size="1">
Considering your interactions with the consumer during the reporting period, please answer the following items as it relates

        </font>
        </th>

        <tr>
        <td colspan=2>
            Maintains appointments vith jobcoach 
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Demonstrates punctuality for appointments 
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Returns phone and email communications in a tmely mamner 
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Exhibits appropriate interpersonal skills related o work search actvities 
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Respects professional boundaries wih jobcoach
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
 Follows up on activities assigned by jobcoach
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Demonstrates organization in viork search actvities
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Self-directs job search actvities 
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Advocates for wants and desires related to job search | |
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=2>
Accepts guidance and feedback from jobcoach
        </td><td>
            Yes / No 
        </td></tr><tr><td colspan=3>
        If you respond no to any of the items above, these concerns must be discussed with this consumer and the VRC and 
        considered for the SE intervention plan.
        </td></tr>
        <tr>
        <td>
        Comments : 
        </td>

          </tr>
</table>


<table border="1" width=880px style="font-size:12px">


     <td align="center">
     <b>Date/Coach
     <br>Time (Start/End) </b>
     </td>
     <td align="center">
        <b><u> Purpose of Visit</u></b><br>
        (What were you thre to do?)

     </td>
     <td>
        <b><u>Observations</u></b><br>
        (What did you observe?)

    </td> 
    <td>
        <b><u> Interventions</u></b><br>
        (What did you contribute?)
    </td> 
    <td>
        <b><u>Next Steps</u></b><br>
        (What will you do next?)
    </td> 
    </tr>


  <% @inter.each do |inter| %>
    <tr>
      <td width="175">

              Date : <b><%= inter.dateOfIntervention %></b><br>
                    <% @emp = @employees.where(id: inter.employeeID)%>
                    <% @emp.each do |emp| %>
                       Coach: <b><%= emp.employee %></b>
                    <% end %>
                    <br>Start : <b><%= inter.startTime.to_s.first(16).last(5) %></b>
                    <br>End : <b><%= inter.endTime.to_time.to_s.first(16).last(5) %></b>
                    <br>Total: <b><%= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b>
      </td>
        <% if inter.clientProgress.present? %>
         <td valign="top"><%= inter.clientProgress %> </td>
      <% end  %>
      <td>
        <%= inter.jobRequirements %>
      </td>
      <td>
        <%= inter.skillsStatus %>
      </td>
      <td>
        <%= inter.interventionDescription %>
      </td>
           <% if inter.generalComments.present? %>
                   <td > <%= inter.generalComments %></td>
        <% end %>


       <% end %>
       </tr>
    <tr>
       <td colspan=4 align="right"><font size="3">Total Hours Used on Log &nbsp;  </td>
       <td colspan=1><font size="4"><b>&nbsp; <%= tot %></b></font></td>
    </tr>
    <tr>

       <th colspan=5 style="background-color:#c1c1c1;color:#111111;" >
       Signature</th>
     </tr>
     <tr>
     <td colspan=3 >Signature of Job Coach: </td><td colspan=2>Date: </td>
     </tr><tr>
     <td colspan=3 >Signature of Supervisor: </td><td colspan=2>Date: </td>

     </tr>    
</table>



