<% vendor = "Center for Educational Advancement" %>
<% phone = "908-782-1448" %> 

<% total = 0 %>
<% tot = 0 %>
<% progress = 0 %>
<% comments = 0 %>
<% serviceType = 0 %>
<% @authid %>
<% @inter = @interventions.where(workAuthorizationID: @authid).order(:dateOfIntervention).to_a %>

<% @inter_dates = [] %>
<% @inter.each do |inter| %>
  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
  <% tot = hrs + tot %>
  <% @inter_dates << inter.dateOfIntervention %>
<% end %>

<style>
white-space: nowrap;
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  class: text-center; 
}
</style>
<% office = 0 %>


<center> <font size="5"><b>TWE Service Log</b></font><br>
<p>
 <button type="button" class="btn btn-warning">
      <%= link_to "PDF", :controller => :servicelog, :action => :twe,
               authid: "#{@authid}",
               invoice: "#{@invoice}",
               clientid: "#{@clientid}",
               inter_dates: "#{@inter_dates}",
               counselor: "#{@counselor}",
               goal: "#{@goal}",
               counselor: "#{@counselor}"
            %>
        </button> 

<table border=1 width=880px style="font-size:12px" class="center">
   <th colspan=2 style="background-color:#c1c1c1;color:#111111;" class="text-center" >
     <font size="4">Consumer Information</font></th>
  <tr>
        <div class="container-fluid bg-3 text-center">
           <div class="row">
                <div class="col-sm-3">
                  <% @name = @clients.where(id: @clientid).to_a %>
                  <% @name.each do |name|  %>
                     <td>Name of Consumer: <b><%= fullname = name.clientLastName.to_s + ", " + name.clientFirstName.to_s %></b></td>
                      <% office = name.clientCounty %>
	      <% end %>
              <td>Provider: <b><%= vendor %></b>

              </td>

              </tr>
              <tr>
                <td>Job Coach: <b>
                    <% @found = @employees.where(email: current_user.email) %>
                    <% @found.each do |found| %>
                       <b><%= found.employee %></b>
                    <% end %>
                  </b><br>

                  Phone : <b>908-782-1480</b> Email: <b><%= current_user.email %></b></td>

                <td> Reporting Period: <br>
                  Start Date: <b><%= @inter_dates.first %></b> End Date: <b><%= @inter_dates.last %></b>
                  <%#= Time.now.to_s.first(7) %>
              </td>


  </tr>
  <tr>
    <td colspan=2>Voucher / Invoice #<b><%= @authid %> / <%= @invoice %></b></td>
  </tr>
  <tr>
       <td>DVRS Office:  <b><%= office %></b>
         DVRS Counselor (VRC): <b><%= @counselor %></b>
       </td>
       <td>
         Phone: <b><%= phone %></b>
         Email: <b><%= current_user.email %></b>
       </td>
  </tr>
  <tr>
    <td>
         Medicaid Eligible Yes No Unknown 
    </td>
    <td>DDD Enrolled Yes No Unknown
       </td>

  </tr>
  <tr>
    <td> Support Coordination Agency: <br><b><%= vendor%></b>
      <br> Phone: <b><%= phone %></b></td>

    <td> Support Coordinator: 
      <% @found = @employees.where(email: current_user.email) %>
                    <% @found.each do |found| %>
                       <b><%= found.employee %></b>
                    <% end %>
                    <br> Email: <b><%= current_user.email %><b></td>
  </tr>
</table>



<table border="1" width=880px style="font-size:12px">


     <td align="center">
     <b>Date/Coach
     <br>Time (Start/End) </b>
     </td>
     <td align="center">
        <b><u> Purpose of Visit</u></b><br>
        <font size=1> (What were you thre to do?)</font>

     </td>
     <td>
        <b><u>Observations</u></b><br>
       <font size=1> (What did you observe?)</font>


    </td> 
    <td>
        <b><u> Interventions</u></b><br>
        <font size=1>(What did you contribute?)</font>

    </td> 
    <td>
        <b><u>Next Steps</u></b><br>
        <font size=1>(What will you do next?)</font>

    </td> 
    </tr>


  <% @inter.each do |inter| %>
    <tr>
      <td width="175">

              Date : <b><%= inter.dateOfIntervention %></b><br>
                    <% @emp = @employees.where(id: inter.employeeID)%>
                    <% @emp.each do |emp| %>
                       Coach: <b><%= emp.employee %></b>
                    <% end %>
                    <br>Start : <b><%= inter.startTime.to_s.first(16).last(5) %></b>
                    <br>End : <b><%= inter.endTime.to_time.to_s.first(16).last(5) %></b>
                    <br>Total: <b><%= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b>
      </td>
        <% if inter.clientProgress.present? %>
         <td valign="top"><%= inter.clientProgress %> </td>
      <% end  %>
      <td>
        <%= inter.jobRequirements %>
      </td>
      <td>
        <%= inter.skillsStatus %>
      </td>
      <td>
        <%= inter.interventionDescription %>
      </td>
           <% if inter.generalComments.present? %>
                   <td > <%= inter.generalComments %></td>
        <% end %>


       <% end %>
       </tr>
    <tr>
       <td colspan=4 align="right"><font size="3">Total Hours Used on Log &nbsp;  </td>
       <td colspan=1><font size="4"><b>&nbsp; <%= tot %></b></font></td>
    </tr>
  <!--  <tr>

       <th colspan=5 style="background-color:#c1c1c1;color:#111111;" >
       Signature</th>
     </tr>
     <tr>
     <td colspan=3 >Signature of Job Coach: </td><td colspan=2>Date: </td>
     </tr><tr>
     <td colspan=3 >Signature of Supervisor: </td><td colspan=2>Date: </td>

     </tr>    
     -->
</table>



