<%= form_with(model: eestatuscode, local: true) do |form| %>
  <% if eestatuscode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eestatuscode.errors.count, "error") %> prohibited this eestatuscode from being saved:</h2>

      <ul>
        <% eestatuscode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client %>
    <%#= form.text_field :client %>
    <%#= @clients %>
    <%# @ids = @authorizations.where(serviceType: "31", voucherInvoiceDate: [nil, '']).select(:clientID).distinct %>
    <%#= @ids.to_a %>
    <%# @ids.uniq.each do |ids| %>
       <%#= ids.id.to_s %>
       <%# if @clients.include? ids.clientID.to_s %>
       <%# else %>
         <%# @found = @clients.where(id: ids.id).to_a %>  
         <%# @found.each do |found| %>
            <%# count = count + 1 %>
            <%#= found.id %>
            <!-- <button type="button" class="btn btn-light btn-sm"><%#= link_to found.fullname, controller: "clients", action: "show", id: found.id %></button> -->
            <%#= found.id %>   <%#= found.fullname %>
         <%# end %>
       <% #end %>

       <%# end %>
      <%= form.select :client, options_from_collection_for_select(@clients.where(id: @clientid).order(:clientLastName), "id",:fullname_with_id, @clientid )%>
      <%#= form.select :client, options_from_collection_for_select(@clients.where.contains(id: @ids).order(:clientLastName), "id",:fullname_with_id, @clientid )%>

  </div>

  <div class="field">
    <%= form.label :statuscode %>
    <%= form.text_field :statuscode %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.date_select :startdate %>
  </div>

  <div class="field">
    <%= form.label :enddate %>
    <%= form.date_select :enddate, {:include_blank => true, :default => nil} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
