<p id="notice"><%= notice %></p>

<h1>Eestatuscodes</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Statuscode</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eestatuscodes.each do |eestatuscode| %>
      <tr>
        <td><%= eestatuscode.client %></td>
        <td><%= eestatuscode.statuscode %></td>
        <td><%= eestatuscode.startdate %></td>
        <td><%= eestatuscode.enddate %></td>
        <td><%= link_to 'Show', eestatuscode %></td>
        <td><%= link_to 'Edit', edit_eestatuscode_path(eestatuscode) %></td>
        <td><%= link_to 'Destroy', eestatuscode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eestatuscode', new_eestatuscode_path %>
