<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @eestatuscode.client %>
</p>

<p>
  <strong>Statuscode:</strong>
  <%= @eestatuscode.statuscode %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @eestatuscode.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @eestatuscode.enddate %>
</p>

<%= link_to 'Edit', edit_eestatuscode_path(@eestatuscode) %> |
<a href="/ee/index"><button type="button" class="btn btn-primary">Extended</button></a>

<%#= link_to 'Back', eestatuscodes_path %>
