<h1>User Accounts</h1>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>

<h3> Import</h3>
<%= form_tag import_users_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>
<br>

<a href="/admin/user">Add User</a>

<% @users.order(id: :asc).each do |user| %>
  <table>
    <tr>
      <td>
        <%= user.id %>
      </td><td>
        <%= user.email %>
      </td><td>
        <%= user.encrypted_password %>
      </td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
  </table>
<% end %>
