<%= form_with(model: clientemployer, local: true) do |form| %>
  <% if clientemployer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clientemployer.errors.count, "error") %> prohibited this clientemployer from being saved:</h2>

      <ul>
        <% clientemployer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


 <a href="/manager/index">
           <button type="button" class="btn btn-primary">
                   Manager Dashboard
           </button></a>



 <%#= select_tag "fullname", options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id)%>
 <table><tr><td><b>
  <div class="field">
     <%= form.label :client %>
     <%= form.collection_select :clientID, @clients.all.order(:clientLastName), :id, :fullname_with_id %>
    <%#= form.text_field :clientID %>
    <%#= @clientid %>
  </div>
 <%#= select_tag "fullname", options_from_collection_for_select(Employer.all.order(:employerName), "employerName",:with_id)%>

  <div class="field">
	  <%= form.label :employer %>
	   <%= form.collection_select :clientEmployerID, Employer.all.order(:employerName), :id, :employerName %>
    <%#= form.text_field :clientEmployerID %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_select :startDate %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.date_field :endDate %>
  </div>

  <div class="field">
    <%= form.label :"hours Per Month" %>
    <%= form.text_field :hoursPerMonth %>
  </div>

  <div class="field">
    <%= form.label :"Job Title" %>
    <%= form.text_field :JobTitle %>
  </div>

  <div class="field">
    <%= form.label :"Supervisor Name" %>
    <%= form.text_field :SupervisorName %>
  </div>

  <div class="field">
    <%= form.label :"Supervisor Phone" %>
    <%= form.text_field :SupervisorPhone %>
  </div>

  <div class="field">
    <%= form.label :"Work Schedule" %>
    <%= form.text_field :WorkSchedule %>
  </div>

  <div class="field">
    <%= form.label :"Work Transportation" %>
    <%= form.text_field :WorkTransportation %>
  </div>

  <div class="field">
    <%= form.label :Wage %>
    <%= form.text_field :Wage %>
  </div>
		 </td>
		 
			 <td><b>
  <div class="field">
    <%= form.label :"Wage Unit" %>
    <%= form.text_field :WageUnit %>
  </div>

  <div class="field">
    <%= form.label :"Medical received" %>
    <%= form.text_field :GetMedical %>
  </div>

  <div class="field">
    <%= form.label :"Medical Type" %>
    <%= form.text_field :MedicalType %>
  </div>

  <div class="field">
    <%= form.label :"Date Medical Start" %>
    <%= form.date_field :DateMedicalStart %>
  </div>

  <div class="field">
    <%= form.label :"Termination Type" %>
    <%= form.text_field :TerminationType %>
  </div>

  <div class="field">
    <%= form.label :"Termination Reason" %>
    <%= form.text_field :TerminationReason %>
  </div>

  <div class="field">
    <%= form.label :"EmployersNotes" %>
    <%= form.text_field :EmployersNotes %>
  </div>

  <div class="field">
    <%= form.label :"Occupation Code" %>
    <%= form.text_field :OccupationCode %>
  </div>

  <div class="field">
    <%= form.label :"SE Model" %>
    <%= form.text_field :SEModel %>
  </div>

  <div class="field">
    <%= form.label :"Type of Job" %>
    <%= form.text_field :TypeofJob %>
  </div>
			 </td>
		 </tr>
 </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>`
