<p id="notice"><%= notice %></p>

<h1>Deleted Clientemployers</h1>

<h3> Import</h3>
<%= form_tag import_clientemployers_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>
<br>


<table>
  <thead>
	  <tr>
		  <th>id</th>
      <th>Clientid</th>
      <th>Clientemployerid</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Hourspermonth</th>
      <th>Jobtitle</th>
      <th>Supervisorname</th>
      <th>Supervisorphone</th>
      <th>Workschedule</th>
      <th>Worktransportation</th>
      <th>Wage</th>
      <th>Wageunit</th>
      <th>Getmedical</th>
      <th>Medicaltype</th>
      <th>Datemedicalstart</th>
      <th>Terminationtype</th>
      <th>Terminationreason</th>
      <th>Employersnotes</th>
      <th>Occupationcode</th>
      <th>Semodel</th>
      <th>Typeofjob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientemployers.each do |clientemployer| %>
      <tr>
        <td><%= clientemployer.id %></td>
        <td><%= clientemployer.clientID %></td>
        <td><%= clientemployer.clientEmployerID %></td>
        <td><%= clientemployer.startDate %></td>
        <td><%= clientemployer.endDate %></td>
        <td><%= clientemployer.hoursPerMonth %></td>
        <td><%= clientemployer.JobTitle %></td>
        <td><%= clientemployer.SupervisorName %></td>
        <td><%= clientemployer.SupervisorPhone %></td>
        <td><%= clientemployer.WorkSchedule %></td>
        <td><%= clientemployer.WorkTransportation %></td>
        <td><%= clientemployer.Wage %></td>
        <td><%= clientemployer.WageUnit %></td>
        <td><%= clientemployer.GetMedical %></td>
        <td><%= clientemployer.MedicalType %></td>
        <td><%= clientemployer.DateMedicalStart %></td>
        <td><%= clientemployer.TerminationType %></td>
        <td><%= clientemployer.TerminationReason %></td>
        <td><%= clientemployer.EmployersNotes %></td>
        <td><%= clientemployer.OccupationCode %></td>
        <td><%= clientemployer.SEModel %></td>
        <td><%= clientemployer.TypeofJob %></td>
        <td><%= link_to 'Show', clientemployer %></td>
        <td><%= link_to 'Edit', edit_clientemployer_path(clientemployer) %></td>
        <td><%= link_to 'Destroy', clientemployer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clientemployer', new_clientemployer_path %>
