<p id="notice"><%= notice %></p>

<p>
  <strong>Clientid:</strong>
  <%= @clientemployer.clientID %>
</p>

<p>
  <strong>Clientemployerid:</strong>
  <%= @clientemployer.clientEmployerID %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @clientemployer.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @clientemployer.endDate %>
</p>

<p>
  <strong>Hourspermonth:</strong>
  <%= @clientemployer.hoursPerMonth %>
</p>

<p>
  <strong>Jobtitle:</strong>
  <%= @clientemployer.JobTitle %>
</p>

<p>
  <strong>Supervisorname:</strong>
  <%= @clientemployer.SupervisorName %>
</p>

<p>
  <strong>Supervisorphone:</strong>
  <%= @clientemployer.SupervisorPhone %>
</p>

<p>
  <strong>Workschedule:</strong>
  <%= @clientemployer.WorkSchedule %>
</p>

<p>
  <strong>Worktransportation:</strong>
  <%= @clientemployer.WorkTransportation %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @clientemployer.Wage %>
</p>

<p>
  <strong>Wageunit:</strong>
  <%= @clientemployer.WageUnit %>
</p>

<p>
  <strong>Getmedical:</strong>
  <%= @clientemployer.GetMedical %>
</p>

<p>
  <strong>Medicaltype:</strong>
  <%= @clientemployer.MedicalType %>
</p>

<p>
  <strong>Datemedicalstart:</strong>
  <%= @clientemployer.DateMedicalStart %>
</p>

<p>
  <strong>Terminationtype:</strong>
  <%= @clientemployer.TerminationType %>
</p>

<p>
  <strong>Terminationreason:</strong>
  <%= @clientemployer.TerminationReason %>
</p>

<p>
  <strong>Employersnotes:</strong>
  <%= @clientemployer.EmployersNotes %>
</p>

<p>
  <strong>Occupationcode:</strong>
  <%= @clientemployer.OccupationCode %>
</p>

<p>
  <strong>Semodel:</strong>
  <%= @clientemployer.SEModel %>
</p>

<p>
  <strong>Typeofjob:</strong>
  <%= @clientemployer.TypeofJob %>
</p>

<%= link_to 'Edit', edit_clientemployer_path(@clientemployer) %> |
<%= link_to 'Back', clientemployers_path %>
