<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<style>
body {
        font-family: Tahoma;
       padding:20px;

}
</style>
 <a href="/manager/index">
           <button type="button" class="btn btn-primary">
                   Manager Dashboard
           </button></a>
<table>
   <tr>
      <th style="text-align:center" colspan=6> Personal</th>
   </tr>
   <tr>
      <td width="20">
  <div class="field">
    <%# = form.label :"client First Name" %>
    <%= form.text_field :clientFirstName, class: "form-control", placeholder: "First Name" %>
  </div>
      </td>
      <td width="20">
  <div class="field">
    <%#= form.label :"client Last Name" %>
    <%= form.text_field :clientLastName , class: "form-control", placeholder: "Last Name"%>
  </div>
      </td>
      <td width="20">
  <div class="field">
    <%#= form.label :'client Middle Name' %>
    <%= form.text_field :clientMiddleName, class: "form-control", placeholder: "Middle Name"  %>
  </div>
      </td>
      <td width="20">
  <div class="field">
    <%#= form.label :"client Address1" %>
    <%= form.text_field :clientAddress1, class: "form-control", placeholder: "Address" %>
  </div>
      </td>
      <td width="20">
  <div class="field">
    <%#= form.label :"client Address2" %>
    <%= form.text_field :clientAddress2, class: "form-control", placeholder: "Address 2" %>
  </div>
      </td>
   </tr>
<tr>
<td>
  <div class="field">
    <%#= form.label :"client City" %>
    <%= form.text_field :clientCity, class: "form-control", placeholder: "City" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"client County" %>
    <%= form.text_field :clientCounty, class: "form-control", placeholder: "County" %>
  </div>
</td>

<td>
  <div class="field">
          <%#= form.label :"client State" %>
          <%# states = ["AK","AL","AR","AZ","CA","CO","CT","DC","DE","FL","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","PR","RI","SC","SD","TN","TX","UT","VA","VT","WA","WI","WV","WY"] %>
<% @states = {'AL' => 'Alabama','AK' => 'Alaska','AZ' => 'Arizona','AR' => 'Arkansas','CA' => 'California','CO' => 'Colorado','CT' => 'Connecticut','DE' => 'Delaware','FL' => 'Florida','GA' => 'Georgia','HI' => 'Hawaii','ID' => 'Idaho','IL' => 'Illinois','IN' => 'Indiana','IA' => 'Iowa','KS' => 'Kansas','KY' => 'Kentucky','LA' => 'Louisiana','ME' => 'Maine','MD' => 'Maryland','MA' => 'Massachusetts','MI' => 'Michigan','MN' => 'Minnesota','MS' => 'Mississippi','MO' => 'Missouri','MT' => 'Montana','NE' => 'Nebraska','NV' => 'Nevada','NH' => 'New Hampshire','NJ' => 'New Jersey','NM' => 'New Mexico','NY' => 'New York','NC' => 'North Carolina','ND' => 'North Dakota','OH' => 'Ohio','OK' => 'Oklahoma','OR' => 'Oregon','PA' => 'Pennsylvania','RI' => 'Rhode Island','SC' => 'South Carolina','SD' => 'South Dakota','TN' => 'Tennessee','TX' => 'Texas','UT' => 'Utah','VT' => 'Vermont','VA' => 'Virginia','WA' => 'Washington','WV' => 'West Virginia','WI' => 'Wisconsin','WY' => 'Wyoming' } %>
                  <%#= form.collection_select(:clientState, states, :id, ) %>
    <%= form.collection_select :clientState, @states, :first, :last %>

    <%#= form.text_field :clientState, class: "form-control", placeholder: "State" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"client Zip" %>
    <%= form.text_field :clientZip, class: "form-control", placeholder: "Zip Code" %>
  </div>
</td> 
<td>
<div class="field">
    <%#= form.label :"client Email" %>
    <%= form.text_field :clientEmail, class: "form-control", placeholder: "Email"  %>
  </div>
</td>
</tr><tr>
<td>
  <div class="field">
    <%#= form.label :"client Mobile Phone" %>
    <%#= form.text_field :clientMobilePhone, class: "form-control", placeholder: "Mobile #" %>
    <%= form.telephone_field :clientMobilePhone, class: "form-control",placeholder: "Mobile #" %>
  </div>
</td>
</tr>

<!------------------------------------------------------------->

<tr>
	<th style="text-align:center" colspan=6>Demographics</th>
</tr>
<tr>
<!--  Codes for causes/source of impairments -->
<% @codes = {
'00' => 'Cause Unknown',
'01' => 'Accident/Injury (other than TBI or SCI)',
'02' => 'Alchol Abuse or Dependence',
'03' => 'Amputations',
'04' => 'Anxiety Disorders',
'05' => 'Arthritis and Rheumatism',
'06' => 'Asthma and other Allergies',
'07' => 'Attention-Deficit Hyperactive Disorder (ADHD)',
'08' => 'Autism',
'09' => 'Blood Disorders',
'10' => 'Cancer',
'11' => 'cardiac and other conditions of the circulatory system',
'12' => 'cerebral Palsy',
'13' => 'Congenital condition or Birth Injury',
'14' => 'Cystic Fibrosis',
'15' => 'Depressive and other mood disorders',
'16' => 'Diabetes Mellitus',
'17' => 'digestive',
'18' => 'Drug Abuse or Dependence (other than alchol)',
'19' => 'Eating Disorders (e.g. anorexia, bulimia or compulsive overeating)',
'20' => 'End-Stage Renal Disease and other Genitourinary System Disorders',
'21' => 'Epilepsy',
'22' => 'HIV and AIDS',
'23' => 'Immune Defficiencies excluding HIV/AIDS',
'24' => 'Mental Illness (not listed elsewhere)',
'25' => 'Mental Retardation',
'26' => 'Multiple Sclerosis',
'27' => 'Muscular Dystrophy',
'28' => 'Parkinsons Disease and other Neurological Disorders',
'29' => 'Personality Disorders',
'30' => 'Physical Disorders/Conditions (not listed elsewhere)',
'31' => 'Polio',
'32' => 'Respiratory Disorders other than Cystic Fibrosis or Asthma',
'33' => 'Schizophrenia and other Psychotic Disorders',
'34' => 'specific Learning Disabilities',
'35' => 'Spinal Cord Injury (SCI)',
'36' => 'Stroke',
'37' => 'Traumatic Brain Injury (TBI)' } %>

  <!-- CODES FOR DISABILITY IMPAIRMENT -->
  <% @impairments = {
'00' => 'No impairment',
'01' => 'Blindness',
'02' => 'Other Visual Impairments',
'03' => 'Deafness, Primary Communication Visual',
'04' => 'Deafness, Primary Communication Auditory',
'05' => 'Hearing Loss, Primary Communication Visual',
'06' => 'Hearing Loss, Primary Communication Auditory',
'07' => 'Other Hearing Impairments (Tinnitus, Meniere’s)',
'08' => 'Deaf Blindness',
'09' => 'Communicative Impairments',
'10' => 'Mobility Orthopedic/Neurological Impairments',
'11' => 'Manipulation/Dexterity Orthopedic/Neurological',
'12' => 'Both mobility and Manipulation/Dexterity',
'13' => 'Other Orthopedic Impairments (e.g. limited range of motion)',
'14' => 'Respiratory Impairments',
'15' => 'General Physical Debilitation (fatigue, weakness, pain, etc.)',
'16' => 'Other physical Impairments (not listed above)',
'17' => 'Cognitive impairments REG VERIFICATION',
'18' => 'Psychosocial Impairments interpersonal and behavioral impairments, difficulty coping)',
#'18' => 'Psychosocial Impairments interpersonal ',
#'19' => '_____ and behavioral impairments, difficulty coping)',
'19' => 'Other Mental Impairments' } %>


<td colspan=6 align=center>
 <div class="field">
    <%= form.label :"Client Primary Impairment" %>
    <%= form.collection_select :ClientPrimaryImpairment, @impairments, :first, :last %>
    <%#= form.text_field :ClientPrimaryImpairment , class: "form-control", placeholder: "Primary Impairment"%>
  </div>
  <!--</td><td>-->
  <div class="field">
    <%= form.label :"Client Primary Source" %>
    <%= form.collection_select :ClientPrimarySource, @codes, :first, :last %>
    <%#= form.text_field :ClientPrimarySource  , class: "form-control", placeholder: "Primary Source"%>
  </div>
  <!--</td><td>-->
  <div class="field">
     <%= form.label :"Client Secondary Impairment" %>
     <%= form.collection_select :ClientSecondaryImpairment, @impairments, :first, :last %>
    <%#= form.text_field :ClientSecondaryImpairment , class: "form-control", placeholder: "Secondary Impairment" %>
  </div>
  <!--</td><td>-->
  <div class="field">
          <%= form.label :"Client Secondary Source" %>
              <%= form.collection_select :ClientSecondarySource, @codes, :first, :last %>
    <%#= form.text_field :ClientSecondarySource  , class: "form-control", placeholder: "Secondary Source"%>
  </div>


<% @ethnicity = {
        '01' => 'Hispanic or Latino',
        '02' => 'White',
        '03' => 'Black/African American',
        '04' => 'Native Hawaiian or Other Pacific Islander',
        '05' => 'Amercian Indian or Alaska Native',
        '06' => 'Two or More Races',
} %>

  <div class="field">
      <%= form.label :"Ethnicity" %>
      <%= form.collection_select :ClientRace, @ethnicity, :first, :last %>
    <%#= form.text_field :ClientRace , class: "form-control"%>
  </div>
</td>
</tr><tr>
<td>
   <div class="field">
     <%#= form.label :"Client Gender" %><br>
    <%= form.text_field :ClientGender, class: "form-control", placeholder: "Sex"  %>
  </div>
</td>


<td>
	<div class="field">
          <%#= form.label :"client SSN" %><br>
    <%= form.text_field :clientSSN, class: "form-control", placeholder: "SSN"  %>
  </div>
</td><td>
  <div class="field">
    <%= form.label :"client DOB" %>
    <%= form.date_field :clientDOB, class: "form-control", :start_year => 1900 , :include_blank => true %>
  </div>
</td>

<!-------------------------------------------------- ---->
</tr>
<tr>
      <th style="text-align:center" colspan=6>Services</th>
</tr><tr>	

<td>
 <div class="field">
	 <%= form.label :"Referral Date" %>
    <%= form.date_field :ClientReferralDate, :include_blank => true, class: "form-control" %>
  </div>
</td><td>
<div class="field">
  <%#= form.label :"Client Referred By" %>
  <br>
    <%= form.text_field :ClientReferredBy , class: "form-control", placeholder: "Referred By"%>
</div>
</td><td>

<div class="field">
    <%= form.label :"Start Date" %>
    <%= form.date_field :ClientStartDate, :include_blank => true, class: "form-control", placeholder: "Service Start Date"  %>
  </div>
</td>
<td>
  <div>
    <%= form.label :"Service Stop Date" %>
    <%= form.date_field :ClientServiceStopDate,class: "form-control", :include_blank => true %>
  </div>

</td>
</tr><tr>
<td>
	  <div class="field">
    <%= form.label :"Client Type Of Termination" %>
    <%= form.text_field :ClientTypeOfTermination , class: "form-control", placeholder: "Type Of Termination" %>
	  </div>
</td>
<td>
	  <div class="field">
    <%= form.label :"LTFA start date" %>
    <%= form.text_field :ClientFAStartDate, class: "form-control", placeholder: "LTFA Start Date" %>
	  </div>
</td>

     <!--   <td>
<div class="field">
    <%#= form.label :"DVRS Case ID Nbr" %>
    <%#= form.text_field :DVRSCaseIDNbr , class: "form-control", placeholder: "DVRS Case ID Number" %>
  </div>
     </td> -->
	<td>
  <div class="field">
          <b><%#= form.label :"Participant ID" %></b>
    <%= form.text_field :participantID , class: "form-control", placeholder: "Participant ID"%>
  </div>
	</td>
	</td><td>
  <div class="field">
    <%#= form.label :"DDD Serial Nbr" %>
    <%= form.text_field :DDDSerialNbr , class: "form-control", placeholder: "DDD Serial Number" %>
  </div>
</td>

  </tr>

	  <!--------------------------------------------------------->
<tr>
      <th style="text-align:center" colspan=6>Emergency Contacts</th>
</tr><tr>   	  
<td>
  <div class="field">
    <%#= form.label :"Primary Name" %>
    <%= form.text_field :EmergencyContact1Name , class: "form-control", placeholder: "Name"  %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"Primary Relationship" %>
    <%= form.text_field :EmergencyContact1Relationship, class: "form-control", placeholder: "Relationship" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"Primary Work" %>
    <%= form.text_field :EmergencyContact1Work, class: "form-control", placeholder: "Work" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"Primary Cell" %>
    <%= form.text_field :EmergencyContact1Cell, class: "form-control", placeholder: "Cell" %>
  </div>
</td>
</tr><tr>         
<td>
  <div class="field">
    <%#= form.label :"Secondary Name" %>
    <%= form.text_field :EmergencyContact2Name , class: "form-control", placeholder: "Secondary Name" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"Secondary Relationship" %>
    <%= form.text_field :EmergencyContact2Relationship, class: "form-control", placeholder: "Secondary Relationship" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"Secondary Work" %>
    <%= form.text_field :EmergencyContact2Work, class: "form-control", placeholder: "Secondary Work" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"Secondary Cell" %>
    <%= form.text_field :EmergencyContact2Cell, class: "form-control", placeholder: "Secondary Cell" %>
  </div>
</td>



</tr>


	<!---------------------------------------------->
<tr>
      <th style="text-align:center" colspan=6>Guardianship</th>
</tr><tr>     
	<td>
<div class="field">
    <%#= form.label :"Guardian Name" %>
    <%= form.text_field :GuardianName, class: "form-control", placeholder: "Name" %>
  </div>
</td><td>

  <div class="field">
    <%#= form.label :"Guardian Relationship" %>
    <%= form.text_field :GuardinaRelationship , class: "form-control", placeholder: "Relationship" %>
  </div>
</td><td>
  <div class="field">
    <%#= form.label :"Guardian Work" %>
    <%= form.text_field :GuardianWork, class: "form-control", placeholder: "Cell" %>
  </div>
</td><td>


</tr>
<!--------------------------------------------------------------->
	<tr>


<tr>
      <th style="text-align:center" colspan=6> Documents/Links</th>
</tr><tr> 		

  <div class="field">
    <%#= form.label :"Resume" %>
    <%#= form.text_field :Resume, class: "form-control" %>
  </div>
	</td><td>
  <div class="field">
    <%#= form.label :"Google drive" %>
    <%#= form.text_field :Googledrive, class: "form-control" %>
  </div>
	</td><td>
  <div class="field">
    <%= form.label :"Refferal Form" %>
    <%= form.file_field :referral, class: "form-control" %>
  </div>
	</td>
<td>
  <div class="field">
    <%= form.label :"Intake Form" %>
    <%= form.file_field :intake, class: "form-control" %>
  </div>
        </td>
<td>
  <div class="field">
        <%= form.label :Notes %>
        <%= form.text_field :ClientNotes, class: "form-control" %>
  </div>
        </td>


</tr>





  </table>
  <div class="actions">
    <%= form.submit %>
  </div>



<% end %>
