<style>
body {background-color: #C0C0C0;}
</style>

<h1>Clients</h1>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>

<h3> Import</h3>
<%= form_tag import_clients_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>

<a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<br>
<% open('log.txt', 'a') do |f|; f << Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded Clients index" + "\n"; end %>


Total Clients listed : <%= @clients.count %>

<h3> Import</h3>
<%= form_tag import_clients_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>

<br>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Clientfirstname</th>
      <th>Clientlastname</th>
      <th>Clientmiddlename</th>
      <th>Clientrace</th>
      <th>Clientgender</th>
      <th>Clientaddress1</th>
      <th>Clientaddress2</th>
      <th>Clientcity</th>
      <th>Clientcounty</th>
      <th>Clientstate</th>
      <th>Clientzip</th>
      <th>Clienthomephone</th>
      <th>Clientmobilephone</th>
      <th>Clientworkphone</th>
      <th>Clientworkphoneext</th>
      <th>Clientlivingarrangment</th>
      <th>Clientcommmethod</th>
      <th>Clientprogram</th>
      <th>Clientemail</th>
      <th>Clientssn</th>
      <th>Clientdob</th>
      <th>Clientstartdate</th>
      <th>Clientfahours</th>
      <th>Clientfastartdate</th>
      <th>Clientasl</th>
      <th>Clientservicestopdate</th>
      <th>Clienttypeoftermination</th>
      <th>Clientreferraldate</th>
      <th>Clientreferredby</th>
      <th>Referralsourcenumber</th>
      <th>Referralphoneext</th>
      <th>Clientprimaryimpairment</th>
      <th>Clientprimarysource</th>
      <th>Clientsecondaryimpairment</th>
      <th>Clientsecondarysource</th>
      <th>Clientprimarymhdisability</th>
      <th>Clientsecondarymhdisability</th>
      <th>Clientallergies</th>
      <th>Clientprimarynonmhdisability</th>
      <th>Clientsecondarynonmhdisability</th>
      <th>Clientmedicalinformation</th>
      <th>Clienteducationlevel</th>
      <th>Clientresume</th>
      <th>Criminalrecord</th>
      <th>Criminalrecorddetail</th>
      <th>Clientnotes</th>
      <th>Dvrscaseidnbr</th>
      <th>Dddserialnbr</th>
      <th>Emergencycontact1name</th>
      <th>Emergencycontact1relationship</th>
      <th>Emergencycontact1home</th>
      <th>Emergencycontact1work</th>
      <th>Emergencycontact1workext</th>
      <th>Emergencycontact1cell</th>
      <th>Emergencycontact2name</th>
      <th>Emergencycontact2relationship</th>
      <th>Emergencycontact2home</th>
      <th>Emergencycontact2work</th>
      <th>Emergencycontact2workext</th>
      <th>Emergencycontact2cell</th>
      <th>Guardianname</th>
      <th>Guardinarelationship</th>
      <th>Guardianhome</th>
      <th>Guardianwork</th>
      <th>Guardianworkext</th>
      <th>Guardiancell</th>
      <th>Guardianaddress1</th>
      <th>Guardianaddress2</th>
      <th>Guardiancity</th>
      <th>Guardianstate</th>
      <th>Guardianzip</th>
      <th>Resume</th>
      <th>Googledrive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
	<td><button type="button" class="btn btn-light btn-sm"><%= link_to client.id, controller: "clients", action: "show", id: client.id %></button></td>
 

  <% if current_user.email == "sdolbec@cea-nj.org" %>

	<td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
 <% end %>
        <td><%= client.clientFirstName %></td>
        <td><%= client.clientLastName %></td>
        <td><%= client.clientMiddleName %></td>
        <td><%= client.ClientRace %></td>
        <td><%= client.ClientGender %></td>
        <td><%= client.clientAddress1 %></td>
        <td><%= client.clientAddress2 %></td>
        <td><%= client.clientCity %></td>
        <td><%= client.clientCounty %></td>
        <td><%= client.clientState %></td>
        <td><%= client.clientZip %></td>
        <td><%= client.clientHomePhone %></td>
        <td><%= client.clientMobilePhone %></td>
        <td><%#= client.clientWorkPhone %></td>
        <td><%#= client.clientWorkPhoneExt %></td>
        <td><%#= client.ClientLivingArrangment %></td>
        <td><%#= client.ClientCommMethod %></td>
        <td><%= client.ClientProgram %></td>
        <td><%= client.clientEmail %></td>
        <td><%= client.clientSSN %></td>
        <td><%= client.clientDOB %></td>
        <td><%= client.ClientStartDate %></td>
        <td><%#= client.ClientFAHours %></td>
        <td><%= client.ClientFAStartDate %></td>
        <td><%#= client.ClientASL %></td>
        <td><%= client.ClientServiceStopDate %></td>
        <td><%= client.ClientTypeOfTermination %></td>
        <td><%= client.ClientReferralDate %></td>
        <td><%= client.ClientReferredBy %></td>
        <td><%= client.ReferralSourceNumber %></td>
        <td><%#= client.ReferralPhoneExt %></td>
        <td><%= client.ClientPrimaryImpairment %></td>
        <td><%= client.ClientPrimarySource %></td>
        <td><%= client.ClientSecondaryImpairment %></td>
        <td><%= client.ClientSecondarySource %></td>
        <td><%#= client.ClientPrimaryMHDisability %></td>
        <td><%#= client.ClientSecondaryMHDisability %></td>
        <td><%#= client.ClientAllergies %></td>
        <td><%#= client.ClientPrimaryNonMHDisability %></td>
        <td><%#= client.ClientSecondaryNonMHDisability %></td>
        <td><%#= client.ClientMedicalInformation %></td>
        <td><%#= client.ClientEducationLevel %></td>
        <td><%#= client.ClientResume %></td>
        <td><%#= client.CriminalRecord %></td>
        <td><%#= client.CriminalRecordDetail %></td>
        <td><%= client.ClientNotes %></td>
        <td><%#= client.DVRSCaseIDNbr %></td>
        <td><%= client.DDDSerialNbr %></td>
        <td><%= client.EmergencyContact1Name %></td>
        <td><%= client.EmergencyContact1Relationship %></td>
        <td><%= client.EmergencyContact1Home %></td>
        <td><%= client.EmergencyContact1Work %></td>
        <td><%= client.EmergencyContact1WorkExt %></td>
        <td><%= client.EmergencyContact1Cell %></td>
        <td><%= client.EmergencyContact2Name %></td>
        <td><%= client.EmergencyContact2Relationship %></td>
        <td><%= client.EmergencyContact2Home %></td>
        <td><%= client.EmergencyContact2Work %></td>
        <td><%= client.EmergencyContact2WorkExt %></td>
        <td><%= client.EmergencyContact2Cell %></td>
        <td><%= client.GuardianName %></td>
        <td><%= client.GuardinaRelationship %></td>
        <td><%= client.GuardianHome %></td>
        <td><%= client.GuardianWork %></td>
        <td><%= client.GuardianWorkExt %></td>
        <td><%= client.GuardianCell %></td>
        <td><%= client.GuardianAddress1 %></td>
        <td><%= client.GuardianAddress2 %></td>
        <td><%= client.GuardianCity %></td>
        <td><%= client.GuardianState %></td>
        <td><%= client.GuardianZip %></td>
        <td><%#= client.Resume %></td>
        <td><%#= client.Googledrive %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
