

  <% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" ||  active.userType == "DBadmin" %>
	     <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
             <!--    <a href="/authorizations/new"><button type="button" class="btn btn-light">Create Voucher</button></a> -->
             <button type="button" class="btn btn-light"><%= link_to 'Create Voucher', new_authorization_path(@authorization, clientid: "#{@client.id}" ) %> </button>
             <button type="button" class="btn btn-light"><%= link_to 'Create CBWE', new_authorization_path(@authorization, clientid: "#{@client.id}", type: "CBWE" ) %> </button>

	       <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_client_path(@client) %></button>
	       <br>
               <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
               <br>

        <% if @client.ClientServiceStopDate.present?   %>
             <a href="/manager/index"><button type="button" class="btn btn-warning">Create Discontinuation Report</button></a>
        <% end %>

      <% else %>

 <!-- <a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a><br><br> -->
 <% @activeUser = @employees.where(email: current_user.email) %>
 <% @activeUser.each do |active| %>
   <button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: "#{active.id}" %></button><br><br>

   <% if active.ee == "Yes" %>
      <a href="/ee/index"><button type="button" class="btn btn-primary">Extended</button></a>
   <% end %>
 <% end %>


<% end %>	     

  <% end %>

  <!-- <a href="/clientemployers/new"><button type="button" class="btn btn-primary">Employer</button></a> -->


  <% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>

    <% if active.userType == "DBadmin" %>
      <br>
        <%#= "#{@client.impressionist_count} views." %>
     <% end %>
<% end %>




<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded a Client page " + @client.id.to_s + "\n"; end %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
  </style>
</head>
<body>
	
	
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">Vouchers
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

<br>
-->
<font size=7><%= @client.clientFirstName %>
	  <%= @client.clientLastName %>
	  <%= @client.clientMiddleName %>
</font><br>
            ID: <%= @client.participantID %>


      <!--
      </a>
    </div>A
    -->

    <!-- This is where open vouchers are shown -->
<!--
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <table>
          <td>Open Vouchers : </td>
        <%# @vouchers = @authorizations.where(clientID: @client.id, voucherInvoiceDate: [nil, '']).to_a  %>
           <%# @vouchers.each do |voucher| %>
 	       <td><button type="button" class="btn btn-light btn-sm">
	           <%#= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %>
	       </button></td>
           <%# end %>
        <tr><td>Closed Vouchers</td>
        <%# @vouchers = @authorizations.where(clientID: @client.id).where.not(voucherInvoiceDate: [nil, '']).to_a  %>
           <%# @vouchers.each do |voucher| %>
              <td><button type="button" class="btn btn-light btn-sm">
	          <%#= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %>
	      </button></td>
              <%# end %>
        </table>
      </ul>
    </div>
  </div>
</nav>

-->


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
			<!--  <li><a href="#">Action</a></li> -->
        <% @vouchers = @authorizations.where(clientID: @client.id, voucherInvoiceDate: [nil, '']).where.not(serviceType: 3).to_a  %>
        <% @vouchers = @vouchers + @authorizations.where(clientID: @client.id, serviceType: 3, voucherInvoiceDate: [nil,'']).to_a  %><br>

        <% @vouchers = @vouchers + @authorizations.where.not(voucherNumber: '[^FA-*]').where(clientID: @client.id, serviceType: 3, invoiceDateNov: [nil,'']).to_a  %>
        <% @vouchers = @vouchers + @authorizations.where(voucherNumber: "FA").where(clientID: @client.id, serviceType: 3, invoiceDateOct: [nil,'']).to_a  %>
        <% @vouchers.uniq.each do |voucher| %>
           <% if voucher.serviceType == "3" && voucher.voucherNumber.first(2) != "FA" %>
               <td><button type="button" class="btn btn-light btn-sm">
                   <%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %>
                 </button>&nbsp;</td>
          <% elsif voucher.serviceType == "3" && voucher.voucherNumber.first(2) == "FA" %>
             <% if voucher.voucherInvoiceDate.nil? %>
                <td><button type="button" class="btn btn-light btn-sm">
                   <%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %>
                  </button>&nbsp;</td>   
             <% end %>
          <% elsif voucher.serviceType != "3" %>
             <td><button type="button" class="btn btn-light btn-sm">
                   <%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %>
                 </button>&nbsp;</td>

               <% end %>      
               <%#= voucher.voucherInvoiceDate %>
           <% end %>


            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">Closed Vouchers <span class="caret"></span></button>
		<ul class="dropdown-menu scrollable-menu  " role="menu">

<% @vouchers = @authorizations.where(clientID: @client.id).where.not(voucherInvoiceDate: [nil, '']).to_a  %>
        <% @vouchers = @vouchers + @authorizations.where(clientID: @client.id, serviceType: 3).to_a  %>
<%# @vouchers = @authorizations.where(clientID: @client.id).where.not(invoicedate: [nil, '']).to_a  %>
           <% @vouchers.each do |voucher| %>
              <td><button type="button" class="btn btn-light btn-sm">
                  <%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %>
                </button></td><td></td>
                <%#= voucher.invoicedate.present? %>
        <% @vouchers = @vouchers + @authorizations.where(clientID: @client.id, serviceType: "3").to_a  %>
              <% end %>

                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<%# @vouchers = @authorizations.where(clientID: @client.id).where.not(voucherInvoiceDate: [nil, '']).to_a  %>
<%# @vouchers = @authorizations.where(clientID: @client.id).where.not(invoicedate: [nil, '']).to_a  %>

<% @vouchers = @authorizations.where(clientID: @client.id).to_a  %>
<% @vouchers.each do |voucher| %>
<td><button type="button" class="btn btn-light btn-sm">
      <%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %>
      </button></td>
      <!-- <td> <%#= voucher.voucherInvoiceDate %><%#= voucher.voucherInvoiceDate.nil? %></td> -->
  <% end %>
<!-- New boot strap layout for 4 collumns -->
<br>

<div class="row">
	<div class="col" ><h4>  Personal</h4>

 <%= @client.clientAddress1 %>
    <%= @client.clientAddress2 %> 
    <br><%= @client.clientCity %>   <%= @client.clientState %>
 <br>  <%= @client.clientZip %>
 <br>  <%= @client.clientCounty %>
  <br> <%= @client.clientEmail %>
   <br> <%= @client.ClientGender %>
   <br> <%= @client.clientMobilePhone %>

	</div>
	<div class="col" >
		<a title="ImpairmentCode  ImpairmentText
00       No Impairment 
01       Blindness
02       Other Visual Impairments 
03       Deafness, Primary Communication Visual 
04       Deafness, Primary Communication Auditory 
05       Hearing Loss, Primary Communication Visual 
06       Hearing Loss, Primary Communication Auditory 
07       Other Hearing Impairments (Timmitus, Meniere's Disease Hyperacusis, etc.) 
08       Deaf Blindness 
09       Communicative Impairments (expressive/receptive) 
10      Mobility Othopedic/Neurological Impairnents 
11      Manipulation/Dexterity Orthopedic/Neurological Impairments 
12      Both mobility and manipulation/dexterity orthopedic/Neurological Impairments 
13      Other Orthopedic Impairments (e.g. limited range of motion) 
14      Respiratory Impairments 
15      General Physical debilitation (fatigue, weakness, pain, etc) 
16      Other Physical Impairments (not listed above) 
17      Cognitive Impairments REG VERIFICATION ONLY - NOT TO BE USED AS MH VERIFICATION (impairments involving learning, thinking, processing information and concentration) 
18      Psychosocial Impairments interpersonal and behavioral impairments, difficulty coping) 
19      Other Mental Impairments 

  Codes for causes/source of impairments  
00 Cause Unknown 
01 Accident/Injury (other than TBI or SCI) 
02 Alchol Abuse or Dependence 
03 Amputations 
04 Anxiety Disorders 
05 Arthritis and Rheumatism 
06 Asthma and other Allergies
07 Attention-Deficit Hyperactive Disorder (ADHD) 
08 Autism 
09 Blood Disorders 
10 Cancer 
11 cardiac and other conditions of the circulatory system 
12 cerebral Palsy 
13 Congenital condition or Birth Injury 
14 Cystic Fibrosis 
15 Depressive and other mood disorders 
16 Diabetes Mellitus 
17 digestive
18 Drug Abuse or Dependence (other than alchol)
19 Eating Disorders (e.g. anorexia, bulimia or compulsive overeating) 
20 End-Stage Renal Disease and other Genitourinary System Disorders
21 Epilepsy 
22 HIV and AIDS
23 Immune Defficiencies excluding HIV/AIDS 
24 Mental Illness (not listed elsewhere) 
25 Mental Retardation
26 Multiple Sclerosis
27 Muscular Dystrophy
28 Parkinsons Disease and other Neurological Disorders 
29 Personality Disorders
30 Physical Disorders/Conditions (not listed elsewhere) 
31 Polio 
32 Respiratory Disorders other than Cystic Fibrosis or Asthma
33 Schizophrenia and other Psychotic Disorders
34 specific Learning Disabilities 
35 Spinal Cord Injury (SCI)
36 Stroke 
37 Traumatic Brain Injury (TBI)

" >
<i style="font-size:18px" class="fa">&#xf059;<font size=5><b>Demographics</b></font></i></a>


   <br>  <%= @client.clientDOB %>

<!--  Codes for causes/source of impairments -->
<% @codes = { 
'0' => 'Cause Unknown',
'1' => 'Accident/Injury (other than TBI or SCI)',
'2' => 'Alchol Abuse or Dependence',
'3' => 'Amputations',
'4' => 'Anxiety Disorders',
'5' => 'Arthritis and Rheumatism',
'6' => 'Asthma and other Allergies',
'7' => 'Attention-Deficit Hyperactive Disorder (ADHD)',
'8' => 'Autism',
'9' => 'Blood Disorders',
'10' => 'Cancer',
'11' => 'cardiac and other conditions of the circulatory system',
'12' => 'cerebral Palsy',
'13' => 'Congenital condition or Birth Injury',
'14' => 'Cystic Fibrosis',
'15' => 'Depressive and other mood disorders',
'16' => 'Diabetes Mellitus',
'17' => 'digestive',
'18' => 'Drug Abuse or Dependence (other than alchol)',
'19' => 'Eating Disorders (e.g. anorexia, bulimia or compulsive overeating)',
'20' => 'End-Stage Renal Disease and other Genitourinary System Disorders',
'21' => 'Epilepsy',
'22' => 'HIV and AIDS',
'23' => 'Immune Defficiencies excluding HIV/AIDS',
'24' => 'Mental Illness (not listed elsewhere)',
'25' => 'Mental Retardation',
'26' => 'Multiple Sclerosis',
'27' => 'Muscular Dystrophy',
'28' => 'Parkinsons Disease and other Neurological Disorders',
'29' => 'Personality Disorders',
'30' => 'Physical Disorders/Conditions (not listed elsewhere)',
'31' => 'Polio',
'32' => 'Respiratory Disorders other than Cystic Fibrosis or Asthma',
'33' => 'Schizophrenia and other Psychotic Disorders',
'34' => 'specific Learning Disabilities',
'35' => 'Spinal Cord Injury (SCI)',
'36' => 'Stroke',
'37' => 'Traumatic Brain Injury (TBI)' } %>



  <!-- CODES FOR DISABILITY IMPAIRMENT -->
<% @impairments = { '0' => 'No impairment',
		    '1' => 'Blindness',
		    '2' => 'Other Visual Impairments',
		    '3' => 'Deafness, Primary Communication Visual',
		    '4' => 'Deafness, Primary Communication Auditory',
		    '5' => 'Hearing Loss, Primary Communication Visual',
		    '6' => 'Hearing Loss, Primary Communication Auditory',
		    '7' => 'Other Hearing Impairments (Tinnitus, Meniere’s)',
		    '8' => 'Deaf Blindness',
		    '9' => 'Communicative Impairments',
		    '10' => 'Mobility Orthopedic/Neurological Impairments',
		    '11' => 'Manipulation/Dexterity Orthopedic/Neurological',
		    '12' => 'Both mobility and Manipulation/Dexterity',
		    '13' => 'Other Orthopedic Impairments (e.g. limited range of motion)',
		    '14' => 'Respiratory Impairments',
		    '15' => 'General Physical Debilitation (fatigue, weakness, pain, etc.)',
		    '16' => 'Other physical Impairments (not listed above)',
		    '17' => 'Cognitive impairments REG VERIFICATION',
		    '18' => 'Psychosocial Impairments interpersonal and behavioral impairments, difficulty coping)',
		   '19' => 'Other Mental Impairments' } %>

	   <%# @impairments.where(first:  @client.ClientPrimaryImpairment %><br>
           Primary :  <%= @impairments[@client.ClientPrimaryImpairment] %><br>
  Primary Source : <%= @codes[@client.ClientPrimarySource] %><br>
  <%= @impairments[@client.ClientSecondaryImpairment] %><br>
  <%= @codes[@client.ClientSecondarySource] %><br>

	
	</div>
	<div class="col" > <h4>Services</h4>
		Start Service : <% if @client.ClientStartDate.present? %><%= @client.ClientStartDate %><% end %><%#= @client.ClientStartDate %>
	<br>   Stop Service Date : <br> <%= @client.ClientServiceStopDate %>
<br> FA Start : <% if defined?(@client.ClientFAStartDate) %>
<b> <%= @client.ClientFAStartDate %></b>
<% end %>
<br>
  Type of Terminiation : <%= @client.ClientTypeOfTermination %><br>
  Client Referral Date : <br><%= @client.ClientReferralDate %><br>
  Referred by : <br><%= @client.ClientReferredBy %><br>
	




	
	</div>
        <div class="col" >
                         <a title="Employers fields are pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table to recreated this.">
                 <i style="font-size:18px" class="fa">&#xf059;</i></a>
                         <font size=4><b>Employment Info</b></font>
                         <br>
        <% @history = @clientemployers.where(clientID: @client.id, endDate: [nil, ()]).to_a %>
        <% if @history.empty? %>
          <button type="button" class="btn btn-light"> <%= link_to "Create Employment Record", new_clientemployer_path( clientid: "#{@client.id}" ) %></button><br>
        <% else %>
        <% @history.each do |history| %>
           <% @jobs = @employers.where(id: history.clientEmployerID).to_a %>
           <% @jobs.each do |job| %>
               <button type="button" class="btn btn-light"><%= link_to 'Edit', edit_clientemployer_path(history) %></button><br>
<!--	       <a title="Employers Names is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table to recreated this.">
                 <i style="font-size:18px" class="fa">&#xf059;</i></a>Employer's Name : 
-->
              <%= job.employerName %><br>

<!--	      <a title="Job Title is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table recreated this.">
                <i style="font-size:18px" class="fa">&#xf059;</i></a> Job Title : 
-->
              <%= history.JobTitle %><br>

<!--	      <a title="Employer Address is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table recreated this.">
                <i style="font-size:18px" class="fa">&#xf059;</i></a> Employer's Address : 
-->
              <%= job.employerAddress1 %><br>

<!--	      <a title="Telephone is pulled by searching for ClientEmployer where ClientID matches and EndDate is nil. Please correct information in that table recreated this.">
                <i style="font-size:18px" class="fa">&#xf059;</i></a> Telephone : 
-->
                <%= job.employerWorkPhone %><br>

<!--		<a title="Job Title is pulled by searching for EmployerAssignment where ClientID matches and EndDate is nil. Please correct information in that table recreated this.">
			<i style="font-size:18px" class="fa">&#xf059;</i></a>
              Start Date :
-->
              <%= history.startDate %><br>

    <!--          <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
              <i style="font-size:18px" class="fa">&#xf059;</i>
              </a>Work Schedule :
-->
              <%= history.WorkSchedule   %><br>

<!--              <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
              <i style="font-size:18px" class="fa">&#xf059;</i>
              </a>Supervisor's Name :
-->
              <%= history.SupervisorName         %><br>

<!--              <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
  <i style="font-size:18px" class="fa">&#xf059;</i>
  -->

              </a>Total hours worked per week: <%= history.hoursPerMonth %><br>

<!--               <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
               <i style="font-size:18px" class="fa">&#xf059;</i>
</a> -->
               Hourly Rate
               <%= history.Wage %><br>
               
<!--           <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
               <i style="font-size:18px" class="fa">&#xf059;</i>
               </a>medical
               <%#= history.GetMedical %><br>

               <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
               <i style="font-size:18px" class="fa">&#xf059;</i>
               </a>date_medical_start
               <%#= history.DateMedicalStart %><br>
              
               <a title="Job Goal is pulled from the voucher. Please edit the voucher and recreate report.">
               <i style="font-size:18px" class="fa">&#xf059;</i>
               </a>med_provided
               <%#= job.med_provided %><br>
-->
           <% end %>
           <% end %>
        <% end %>



	
	</div>
    </div>

    <br>
<div class="container">
  <div class="row">
     <div class="col-sm">
       <h4>	Emergency Contacts</h4>

       <%= @client.EmergencyContact1Name %>
       <%= @client.EmergencyContact1Relationship %>
       <%= @client.EmergencyContact1Cell %><br>
       <%= @client.EmergencyContact2Name %>
       <%= @client.EmergencyContact2Relationship %>
       <%= @client.EmergencyContact2Cell %>

    </div>
    <div class="col-sm">
      <h4>   Guardianship</h4>
      <%= @client.GuardianName %>
      <%= @client.GuardinaRelationship %>
      <%= @client.GuardianCell %>


    </div>
    <div class="col-sm">
      <h4>Documents/Links</h4>

      <% if @client.referral.present? %>
            <%#= image_tag url_for(@client.referral) %>
            <%#= link_to @client.referral.filename, rails_blob_path(@client.referral, disposition: "attachment") %>
            <%#= link_to "Referral", rails_blob_path(@client.referral, disposition: "attachment") %>
            <%= link_to "Referral", rails_blob_path(@client.referral) %>

<% else %>
        <font color="red">Referral</font>
<% end %>

<% if @client.intake.present? %>
            <%#= image_tag url_for(@client.referral) %>
            <%#= link_to @client.referral.filename, rails_blob_path(@client.referral, disposition: "attachment") %>
            <%#= link_to "intake", rails_blob_path(@client.intake, disposition: "attachment") %>
            <%= link_to "intake", rails_blob_path(@client.intake) %>

<% else %>
        <font color="red">Intake</font>
<% end %>


    </div>
  </div>
</div>


<br><br>
Signature
<img src="<%= @client.ClientNotes %>" />




<!-- end bootstrap 4 collumns -->

<!-- ############################################################# -->


<%#= link_to 'Edit', edit_client_path(@client) %> 
<%#= link_to 'Back', clients_path %>
