<h1>Extended Employment</h1>

<% @activeUser = @employees.where(email: current_user.email) %>
<% @activeUser.each do |active| %>
   <% if active.userType == "Manager" || active.userType == "DBadmin" %>
       <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
   <% end %> 
 <% end %>
<% @activeUser = @employees.where(email: current_user.email) %>
 <% @activeUser.each do |active| %>
   <button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: "#{active.id}" %></button>
 <% end %>
 <a href="/ee/report"><button type="button" class="btn btn-primary">Report</button></a>
 <br>
<a href="https://www.youtube.com/watch?v=1x4kbFS2QaE&list=PLPjQuESqmmPsDO0PDQq9_de8z-wfQNfOT&index=4" target="_blank" ><img src="https://static.thenounproject.com/png/36460-200.png" width="30" height="30"></a></img> - Instructional

<br> <br>
    <table>
    Total Clients Currently Served : <%= @authorizations.where(serviceType: "31", voucherInvoiceDate: [nil, '']).select(:clientID).distinct.count %>
    <br>
    <br>
    <br>

    <% @ddd_auth = @authorizations.where(serviceType: "31", voucherInvoiceDate: [nil, '']).select(:clientID).distinct.to_a  %>
    <% @ddd_auth.each do |auth|  %>
       <% @ddd_clients =  @clients.where(id: auth.clientID, ClientServiceStopDate: [nil, '']).order(:clientLastName) %>
       <% @ddd_clients.each do |client| %>
	       <td><%= client.id %></td>
          <% fullname =  client.clientLastName + ", " +  client.clientFirstName %>
          <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
          <% @client_auth = @authorizations.where(serviceType: "31", voucherInvoiceDate: [nil, '']) %>
          <% @client_auth = @authorizations.where(clientID: client.id, serviceType: "31", voucherInvoiceDate: [nil, '']) %>
          <% @client_auth.each do |client_auth| %>
             <td><button type="button" class="btn btn-light btn-sm"><%= link_to client_auth.voucherNumber, controller: "authorizations", action: "show", id: client_auth.id %></button></td>
             <% client_auth.hoursAuthorized %>
             <%# if client_auth.hoursRemaining.to_f <= 5 %>
                <!-- <td>Remaining : <font color="red"><%#= client_auth.hoursRemaining %></font></td> -->
             <%# else %>
                <!-- <td>Remaining : <font color="green"><%#= client_auth.hoursRemaining %></font></td> -->
             <%# end %>
             <td>Supported : <%= client_auth.totalHoursSupported %></td>
          <% end %>
      <% end %>
      </tr><tr>
    <%end%>
    <tr>

</table>
