<%= render "menu" %>
<% today = Time.now.to_s.first(10) %>
<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>
<% current_Month_Hours = 0 %>
<% hrs = 0 %>
<% count = 0 %>


<a href="/ee/report.pdf"><button type="button" class="btn btn-danger">PDF</button></a>
<br>
<br>
<center>
  <table class="center">
    <tr>
      <td style="text-align:center" colspan=2>
        <h4>STATE OF NEW JERSEY - DEPARTMENT OF LABOR AND WORKFORCE DEVELOPMENT</h4>
      </td>
    </tr><tr>
      <td style="text-align:center" colspan=2>
          Division of Vocational Rehabilitation Services
      </td>
    </tr><tr>
      <td style="text-align:center" colspan=2>
          Monthly Extended Employment Report (MEER)
      </td>
    </tr><tr>
      <td style="text-align:center" colspan=2>
        REPORTING MONTH/YEAR: <%=qc_year%>-<%=qc_month%></td>
    </tr><tr>
      <td style="text-align:center">
      
        FACILITY: Center For Educational Advancement</td>
      <td style="text-align:center">

      COMPLETED & VERIFIED BY:
      <%= current_user.email %><br>
<%= Time.now.to_s.first(10) %>
      </td>

    </tr><tr>
      <td colspan=2>
        <h5>Section 1:  Monthly Extended Employment Population Status Update</h5>
      </td>
    </tr>
  </table>
  <table>
    <tr>
        <td>
           Last 4 SSN
        </td><td>
          Client’s Name<br>
(Last, First MI)
        </td><td>
Birth
Date
        </td><td>
Primary Disab	
        </td><td>
2ndary Disab	
        </td><td>
Current
Status
Code
        </td><td>

Current
Status
Date
        </td><td>
Previous
Status
Code
        </td><td>
Avg.
Hourly
Rate
        </td><td>
ACTUAL Weekly Hrs WORKED
in EE
        </td><td>
          # of Hours Worked per day in CIE Hybrid	 
        </td><td>
          # of Days Worked in CIE under Hybrid	 
        </td><td>
          # Date CERT "Signed"
        </td><td>
          # Comments
        </td>
    </tr>

 
    <br>
    <br>
    <br>

    <% @ddd_auth = @authorizations.where(serviceType: "31", voucherInvoiceDate: [nil, '']).select(:clientID).distinct.to_a  %>
    <% @ddd_auth.each do |auth|  %>
       <% @ddd_clients =  @clients.where(id: auth.clientID, ClientServiceStopDate: [nil, '']).order(:clientLastName) %>
       <% @ddd_clients.each do |client| %>
               <td><%= client.clientSSN.to_s.last(4) %></td>
               <%#= client.id %>
               <% fullname =  client.clientLastName + ", " +  client.clientFirstName %>
               <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
               <td>
                 <%= client.clientDOB %>
               </td>
               <td>
                 <%= client.ClientPrimaryImpairment %>
                 <%= client.ClientPrimarySource %>
               </td>
               <td>
               <%= client.ClientSecondaryImpairment %>
               <%= client.ClientSecondarySource  %>
               </td>
    <!-- Status Codes -->          
                 <% @codes = @eestatuscodes.where(client: client.id, enddate: nil)  %> 
                 <% @codes.each do |codes| %>
               <td>
                    <%= codes.statuscode %>
               </td>
               <td>
                    <%= codes.startdate %>
               </td>
              <% end %> 

               <td>
                 <% @codes = @eestatuscodes.where(client: client.id).order(startdate: :asc).last(2).first(1).to_a %> 
                 <% @codes.each do |codes| %>
                    <%= codes.statuscode %>
                 <% end %> 
               </td>
               <td>
                 <% @codes = @hourlyrates.where(client: client.id, enddate: nil)%> 
                 <% @codes.each do |codes| %>
                    <%= codes.hourlyrate %>
                 <% end %> 
               </td>
    <!-- Business stuff -->
               <td>
                 <%= %>
                 <% @target = @authorizations.where(serviceType: 31, voucherInvoiceDate: [nil, ''], clientID: client.id ).to_a %>
                 <% @target.each do |target| %>
                   <% current_Month_Hours = 0 %>

                 <% @inter = @interventions.where(workAuthorizationID: target).order(:dateOfIntervention).to_a %>
                 <% @inter.each do |inter| %>
                    <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
                    <%# tot = hrs + tot %>

                    <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
                       <% current_Month_Hours = hrs + current_Month_Hours %>
                    <% end %>
                  <% end %>
                  <% end %>
                  <%= current_Month_Hours %>
                  <% if current_Month_Hours > 0 %>
                     <% count = count + 1 %>
                  <% end %>
               </td>
               <td>
                 <%= %>
               </td>
               <td>
                 <%= %>
               </td>
               <td>
                 <%= %>
               </td>
               <td>
                 <%= %>
               </td>
          <% @client_auth = @authorizations.where(serviceType: "31", voucherInvoiceDate: [nil, '']) %>
          <% @client_auth = @authorizations.where(clientID: client.id, serviceType: "31", voucherInvoiceDate: [nil, '']) %>
          <% @client_auth.each do |client_auth| %>
             <td><button type="button" class="btn btn-light btn-sm"><%= link_to client_auth.voucherNumber, controller: "authorizations", action: "show", id: client_auth.id %></button></td>
             <% client_auth.hoursAuthorized %>
             <%# if client_auth.hoursRemaining.to_f <= 5 %>
                <!-- <td>Remaining : <font color="red"><%#= client_auth.hoursRemaining %></font></td> -->
             <%# else %>
                <!-- <td>Remaining : <font color="green"><%#= client_auth.hoursRemaining %></font></td> -->
             <%# end %>
             <td>Supported : <%= client_auth.totalHoursSupported %></td>
          <% end %>
      <% end %>
      </tr><tr>
    <%end%>
    <tr>

</table>

<table>

    <tr>
      <td>
        <h6>Level of Capacity </h6>
      </td>  
    </tr>
    <tr>
      <td>
        Total Number of DVRS/CBVI EE Clients (including 50 Day Trial Work Evaluations) served this month: <%= count %>
        <br>
      </td>
    </tr> 
    <tr>
      <td>
        Available service days this month:
        <br>
      </td>
      <td>
        Cumulative number of available service days:
        <br>
      </td>
    </tr><tr>
      <td>
        Contracted LOC for this month:
        <br>
      </td><td>
        Cumulative contracted LOC:
        <br>
      </td>
    </tr><tr>
      <td>
        Percentage of LOC this month:
        <br>
      </td><td>
        Cumulative Percentage of LOC:
        <br>
      </td>
    </tr>
       <td>
         Number  of consumers in Community Integrated Employment: 
         <%= @authorizations.where(serviceType: "31", voucherInvoiceDate: [nil, '']).select(:clientID).distinct.count %>
        <br>
      </td><td>
        Number of floor supervision staff in workshop: <%= @employees.where(end_date: nil, ee: "Yes").count %>
        <br>
      </td>
    </tr><tr>
      <td>              **	(Do not include any non-service days, only days of attendance) </td>
    </tr>
    <td> THIS REPORT IS DUE NO LATER THAN THE 10TH OF THE FOLLOWING MONTH                 rev: 11/24/20 </td>		
    </tr>
    <tr>
      <td>Email to: MeerRPT@dol.nj.gov and assigned PPDS.</td>
    </tr>
    </table>




         


       

