<br>
<!-- <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a><br><br> -->
<% if current_user %> 
   <%# puts current_user.email + " logged in at " + Time.now.to_s %>
   <% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded Home page " + "\n"; end %>

   <!--  <%#= current_user.email %> Logged in from	<%#= request.remote_ip %> -->

   <br>
     <% @activeUser = @employees.where(email: current_user.email) %>
     <% @activeUser.each do |active| %>
       <%#= current_user.email %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>
       <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a><br><br>
     <% end %>
     <% if active.ee == "Yes" %>
       <a href="/ee/index"><button type="button" class="btn btn-primary">Extended</button></a><br><br>
    <% end %>
 <% end %>


 <!-- <a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a><br><br> -->
 <% @activeUser = @employees.where(email: current_user.email) %>
 <% @activeUser.each do |active| %>
   <button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: "#{active.id}" %></button><br><br>
 <% end %> 
 <a href="/manager/index"><button type="button" class="btn btn-danger"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></button>
<% elsif current_user.email == "dbadmin@cea-nj.org"  %>
       <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a><br><br>
<% else %>
   <button type="button" class="btn btn-primary"><%= link_to "Sign In", new_user_session_path %></button>
   <% open('log.txt', 'a') do |f|; f << request.remote_ip + " Loaded sign up " + Time.now.to_s + "\n"; end %>
	
<%#= link_to  "Sign Up", new_user_registration_path %>
<% end %> 
<br><br>
<!--  <a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Coaches Dashboard</button></a> -->
