  <% if service == 1 %>
                      Intensive Job Training
                      <% elsif service == 2 %>
                      Pre-Placement
                      <% elsif service == 3 %>
                      LTFA
                      <% elsif service == 4 %>
                      DDD
                      <% elsif service == 9 %>
                      Time-Limited IJC (Intensive)
                      <% elsif service == 10 %>
                        Unused
                      <% elsif service == 11 %>
                        Group-LTFA
                      <% elsif service == 12 %>
                        Restablization Voucher
                      <% elsif service == 13 %>
                         Replacement Voucher

                      <% elsif service == 16 %>
                      DDD-PP
                      <% elsif service == 22 %>
                      CBWE
                      <% elsif service == 23 %>
                      TWE
                      <% elsif service == 24 %>
                         Pre-Ets Fees for Service
                      <% elsif service == 25 %>
                         School Evaluation
                      <% elsif service == 26 %>
                         Job Exploration  
                      <% elsif service == 27 %>
                         Pre-Ets - Post-Secondary Counseling
                      <% elsif service == 28 %>
                         Pre-Ets - Work-Based Learning
                      <% elsif service == 29 %>
                         Pre-Ets - Workplace Readiness
                      <% elsif service == 30 %>
                         Pre-Ets - Self-Advocacy
                      <% elsif service == 31 %>
                         Extended Employment
                    <% end %>
