<%= render "menu" %><% qc_month = "12" %>
<% qc_year = "2020" %>
<% billed = 0.0 %>
<% tot_billed = 0.0 %>
<% service_billed = 0.0 %>

  <%  servicetypes = [ 1, 2, 3, 4, 9, 10, 11, 12, 13, 16, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, nil, "" ] %>


<tbody><br>

<br><b></b><br>
Month<b> <%= qc_month %></b>
Year  <b><%= qc_year %></b><br>

      <table>
         <tr>
            <td colspan="2"><h5>Hours : <%#= tot %></h5></td>
         </tr>
<tr>
          <th>Voucher-#</th>
          <th>Full_Name</th>
          <th>Hours</th>
          <th align="center">Rate</th>
          <th>Billed-Total</th>
</tr><tr>
 <%# Rails.cache.write('service1,id', @authorizations.where(serviceType: 1).to_a) %>
 <%# Rails.cache.read('service1_id') %>
 <%# Rails.cache.write('service2,id', @authorizations.where(serviceType: 2).to_a) %>
 <%# Rails.cache.read('service2_id') %>
 <%# Rails.cache.write('service3,id', @authorizations.where(serviceType: 3).to_a) %>
 <%# Rails.cache.read('service3_id') %>
 <%# Rails.cache.write('service4,id', @authorizations.where(serviceType: 4).to_a) %>
 <%# Rails.cache.read('service4_id') %>
 <%# Rails.cache.write('service9,id', @authorizations.where(serviceType: 9).to_a) %>
 <%# Rails.cache.read('service9_id') %>
 <%# Rails.cache.write('service10,id', @authorizations.where(serviceType: 10).to_a) %>
 <%# Rails.cache.read('service10_id') %>
 <%# Rails.cache.write('service11,id', @authorizations.where(serviceType: 11).to_a) %>
 <%# Rails.cache.read('service11_id') %>
 <%# Rails.cache.write('service12,id', @authorizations.where(serviceType: 12).to_a) %>
 <%# Rails.cache.read('service12_id') %>
 <%# Rails.cache.write('service13,id', @authorizations.where(serviceType: 13).to_a) %>
 <%# Rails.cache.read('service13_id') %>
 <%# Rails.cache.write('service16,id', @authorizations.where(serviceType: 16).to_a) %>
 <%# Rails.cache.read('service16_id') %>
 <%# Rails.cache.write('service22,id', @authorizations.where(serviceType: 22).to_a) %>
 <%# Rails.cache.read('service22_id') %>
 <%# Rails.cache.write('service23,id', @authorizations.where(serviceType: 23).to_a) %>
 <%# Rails.cache.read('service23_id') %>
 <%# Rails.cache.write('service24,id', @authorizations.where(serviceType: 24).to_a) %>
 <%# Rails.cache.read('service24_id') %>
 <%# Rails.cache.write('service25,id', @authorizations.where(serviceType: 25).to_a) %>
 <%# Rails.cache.read('service25_id') %>
 <%# Rails.cache.write('service26,id', @authorizations.where(serviceType: 26).to_a) %>
 <%# Rails.cache.read('service26_id') %>
 <%# Rails.cache.write('service27,id', @authorizations.where(serviceType: 27).to_a) %>
 <%# Rails.cache.read('service27_id') %>
 <%# Rails.cache.write('service28,id', @authorizations.where(serviceType: 28).to_a) %>
 <%# Rails.cache.read('service28_id') %>
 <%# Rails.cache.write('service29,id', @authorizations.where(serviceType: 29).to_a) %>
 <%# Rails.cache.read('service29_id') %>
 <%# Rails.cache.write('service30,id', @authorizations.where(serviceType: 30).to_a) %>
 <%# Rails.cache.read('service30_id') %>
 <%# Rails.cache.write('service31,id', @authorizations.where(serviceType: 31).to_a) %>
 <%# Rails.cache.read('service31_id') %>


          <% servicetypes.each do |service| %>
          <%# @services.each do |service| %>
          <%#= service %>
          <% service_billed = 0.0 %>

          <% @authorizations.where(serviceType: :service).to_a %>
<td>    <b>                <% if service == 1 %>
                      Intensive Job Training
                      <% elsif service == 2 %>
                      Pre-Placement
                      <% elsif service == 3 %>
                      LTFA
                      <% elsif service == 4 %>
                      DDD
                      <% elsif service == 10 %>
                      Replacement Voucher
                      <% elsif service == 16 %>
                      DDD
                      <% elsif service == 22 %>
                      CBWE
                      <% elsif service == 23 %>
                      TWE
                    <% end %>
</b></td>
              <% @vouchers = @interventions.select(:workAuthorizationID).distinct %>
              <% @vouchers.each do |voucher| %>
                  <% voucher.workAuthorizationID  %>
                  <% @inter = @interventions.where(workAuthorizationID: voucher.workAuthorizationID).order(dateOfIntervention: :desc ).to_a %>
                  <% tot = 0 %>
                  <% whrs = 0 %>
                  <% wtot = 0 %>
                  <% voucher_num = "na" %>
                  <% full_name = "na" %>
                	<% voucher_id = 0 %>
                	<% voucher_rate = 0 %>
                  <tr>
                  <% @inter.each do |inter| %>
                      <% id = inter.id %>
                      <% authid = inter.workAuthorizationID %>
                      <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
                      <% year = inter.dateOfIntervention.to_s.first(4) %>
                      <% if ((month == qc_month) && (year == qc_year)) %>
                          <% inter.dateOfIntervention.to_date %>
                          <% inter.startTime.to_s.first(16).last(5) %>
                          <% inter.endTime.to_s.first(16).last(5) %>
                          <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600  %>
                          <% if  hrs >= 5  %>
                        		 <font color="red"><% hrs %> </font>
                        	 <% elsif hrs <= 0 %>
                        		 <font color="red"><% hrs %></font>
                        	 <% else %>
                              <% hrs %>
                           <% end %>
                           <% tot = hrs + tot %>
                           <% @voucher = @authorizations.where(id: inter.workAuthorizationID, serviceType: service).to_a %>
                           <% @voucher.each do |voucher| %>
                              <% voucher_id = voucher.id %>
                              <% @client = @clients.where(id: voucher.clientID).to_a %>
                              <% @client.each do |client| %>
                                <% full_name = client.clientLastName.to_s + " " + client.clientFirstName.to_s %>
                      		      <% voucher_num = voucher.voucherNumber %>
                      		      <% voucher_rate = voucher.VoucherRate %>
                              <% end %>
                           <% end %> <!--  Voucher  -->
                           <% inter.id %>
                           <% inter.workAuthorizationID %>
                        <% end %> <!--  If month  -->
                     </tr>
                     <% end %> <!--  Inter  -->

                <% unless voucher_num == "na" %>
                <% unless tot == 0 %>
                      <td><% service %><!--<button type="button" class="btn btn-light btn-sm">--><%= link_to voucher_num, controller: "authorizations", action: "show", id: voucher_id %><!--</button>--></td>
                      <% voucher_num %>
                      <td><%= full_name %></td>
          	          <td><%= tot %></td>
                      <% if voucher_rate.to_f == 0 %>
                	       <td><font color="red">$ <%= voucher_rate.to_f %></font></td>
                      <% else %>
                         <td>$ <%= voucher_rate.to_f %></td>
                      <% end %>

                      <% billed = voucher_rate.to_f * tot  %>
                	    <td>$ <%= billed.round(2) %></td>
                      <% service_billed = billed.round(2) + service_billed%>

                	    <% tot_billed = billed + tot_billed %>
              	      <% tot_billed.round(2) %>

                <% end %>
              <% end %>
                  <% tot = 0 %>
                  <% voucher_num = "na" %>
                  <% full_name = "na" %>
                  <% voucher_rate = 0 %>
          <% end %>
          <tr><td colspan="4">


  <% if service == 1 %>
                      Intensive Job Training
                      <% elsif service == 2 %>
                      Pre-Placement
                      <% elsif service == 3 %>
                      LTFA
                      <% elsif service == 4 %>
                      DDD
                      <% elsif service == 9 %>
                      Time-Limited IJC (Intensive)
                      <% elsif service == 10 %>
                        Unused
                      <% elsif service == 11 %>
                        Group-LTFA
                      <% elsif service == 12 %>
                        Restablization Voucher
                      <% elsif service == 13 %>
                         Replacement Voucher

                      <% elsif service == 16 %>
                      DDD-PP
                      <% elsif service == 22 %>
                      CBWE
                      <% elsif service == 23 %>
                      TWE
                      <% elsif service == 24 %>
                         Pre-Ets Fees for Service
                      <% elsif service == 25 %>
                         School Evaluation
                      <% elsif service == 26 %>
                         Job Exploration
                      <% elsif service == 27 %>
                         Pre-Ets - Post-Secondary Counseling
                      <% elsif service == 28 %>
                         Pre-Ets - Work-Based Learning
                      <% elsif service == 29 %>
                         Pre-Ets - Workplace Readiness
                      <% elsif service == 30 %>
                         Pre-Ets - Self-Advocacy
                      <% elsif service == 31 %>
                         Extended Employment
                    <% end %>




          <b>  $ <%= service_billed.round(2) %></b><br><br></td></tr>

      <% end %>
      Total Billed : $ <%= tot_billed.round(2) %>

        </table>
      </tbody>
<%# end %>
