<%= render "menu" %>



<!--


<h1>Monthlybilled#index</h1>
<p>Find me in app/views/monthlybilled/index.html.erb</p>


<a href="/manager/index"><button type="button" class="btn btn-primary">Managers Dashboard</button></a>
<br><br>
	<a href="/monthlybilled/jan"><button type="button" class="btn btn-primary">Janurary</button></a><br>
	<a href="/monthlybilled/feb"><button type="button" class="btn btn-primary">Feburary </button></a><br>
	<a href="/monthlybilled/mar"><button type="button" class="btn btn-primary">March </button></a><br>
	<a href="/monthlybilled/apr"><button type="button" class="btn btn-primary">April</button></a><br>
	<a href="/monthlybilled/may"><button type="button" class="btn btn-primary">May</button></a><br>
	<a href="/monthlybilled/jun"><button type="button" class="btn btn-primary">June</button></a><br>
	<a href="/monthlybilled/jul"><button type="button" class="btn btn-primary">July</button></a><br>
	<a href="/monthlybilled/aug"><button type="button" class="btn btn-primary">August</button></a><br>
	<a href="/monthlybilled/sep"><button type="button" class="btn btn-primary">September</button></a><br>
	<a href="/monthlybilled/oct"><button type="button" class="btn btn-primary">October</button></a><br>
	<a href="/monthlybilled/nov"><button type="button" class="btn btn-primary">November</button></a><br>
        <a href="/monthlybilled/dec"><button type="button" class="btn btn-primary">December</button></a>

-->
