<%= render "menu" %><% qc_month = "01" %>
<% qc_year = "2016" %>
<% billed = 0.0 %>
<% tot_billed = 0.0 %>
<% service_billed = 0.0 %>

<% servicetypes = [ 1, 2, 3, 4, 9, 10, 11, 12, 16, 22, 23 ] %>

<tbody>
<br><br><br>
Month<b> <%= qc_month %></b>
Year <b><%= qc_year %></b><br>

<table>
  <tr>
    <th>Voucher-#</th>
    <th>Full_Name</th>
    <th>Hours</th>
    <th align="center">Rate</th>
    <th>Billed-Total</th>
  </tr>
  <tr>
    <% servicetypes.each do |service| %>
       <% service_billed = 0.0 %>
     </td>
         <% @auth_distinct = @interventions.select(:workAuthorizationID).distinct %>
         <% @auth_distinct.each do |auth_distinct| %>
            <% @inter = @interventions.where(workAuthorizationID: auth_distinct.workAuthorizationID).order(dateOfIntervention: :desc ).to_a %>
            <% tot = 0 %>
            <% whrs = 0 %>
            <% wtot = 0 %>
            <% voucher_num = "na" %>
            <% full_name = "na" %>
            <% voucher_id = 0 %>
            <% voucher_rate = 0 %>
      <tr>
            <% @inter.each do |inter| %>
               <% id = inter.id %>
               <% authid = inter.workAuthorizationID %>
               <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
               <% year = inter.dateOfIntervention.to_s.first(4) %>
               <% if ((month == qc_month) && (year == qc_year)) %>
                  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600  %>
                  <% tot = hrs + tot %>
                  <% @voucher = @authorizations.where(id: inter.workAuthorizationID, serviceType: service).to_a %>
                  <% @voucher.each do |voucher| %>
                     <% @client = @clients.where(id: voucher.clientID).to_a %>
                     <% @client.each do |client| %>
                        <% full_name = client.clientLastName.to_s + " " + client.clientFirstName.to_s %>
                      	<% voucher_num = voucher.voucherNumber %>
                      	<% voucher_rate = voucher.VoucherRate %>
                     <% end %>
                   <% end %> <!--  Voucher  -->
                <% inter.id %>
                <% inter.workAuthorizationID %>
                <% end %> <!--  If month  -->
        </tr>
             <% end %> <!--  Inter  -->

             <% unless voucher_num == "na" %>
           	  <% unless tot == 0 %>
        <td>		<%= link_to voucher_num, controller: "authorizations", action: "show", id: voucher_id %></td>
                	<td><%= full_name %></td>
          		<td><%= tot %></td>
                	<% if voucher_rate.to_f == 0 %>
                   	   <td><font color="red">$ <%= voucher_rate.to_f %></font></td>
                	<% else %>
                   	   <td>$ <%= voucher_rate.to_f %></td>
                	<% end %>

                	<% billed = voucher_rate.to_f * tot  %>
                	<td>$ <%= billed.round(2) %></td>
                	<% service_billed = billed.round(2) + service_billed%>
                	<% tot_billed = billed + tot_billed %>
              		<% tot_billed.round(2) %>
                  <% end %>
              <% end %>
              <% tot = 0 %>
              <% voucher_num = "na" %>
              <% full_name = "na" %>
              <% voucher_rate = 0 %>
          <% end %>
          <tr><td colspan="4">
	   <% if service == 1 %>
               Intensive Job Training
            <% elsif service == 2 %>
               Pre-Placement
            <% elsif service == 3 %>
               LTFA
            <% elsif service == 4 %>
               DDD
            <% elsif service == 9 %>
               Time-Limited IJC (Intensive)
            <% elsif service == 10 %>
               Replacement Voucher
            <% elsif service == 11 %>
               Group-LTFA
            <% elsif service == 12 %>
               Replacement Voucher
            <% elsif service == 16 %>
               DDD
            <% elsif service == 22 %>
               CBWE
            <% elsif service == 23 %>
               TWE
            <% end %>
	<b>  $ <%= service_billed.round(2) %></b>
	<br><br>
	 </td>
	  </tr>
      <% end %>
      Total Billed : $ <%= tot_billed.round(2) %>

        </table>
      </tbody>
