<%= render "menu" %><% qc_month = "07" %>
<% qc_year = "2020" %>
<% billed = 0.0 %>
<% tot_billed = 0.0 %>
<% service_billed = 0.0 %>

<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded Billable Monthly " + "\n"; end %>
<% servicetypes = [ 1, 2,  4, 16, 22, 23 ] %>

<!--
          1 | Intensive Job Training
          2 | Pre-Placement
          3 | LTFA
          4 | DDD
          10 | Replacement Voucher
          16 | DDD
          22 | CBWE
          23 | TWE
-->
<h3><b>Billable Monthly</b></h3>

<a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a>
<a href="/manager/index"><button type="button" class="btn btn-primary">Managers Dashboard</button></a>
<a href="/monthlybilled/index"><button type="button" class="btn btn-primary">Monthly Billed Index</button></a>
<br>
<a href="/monthlybilled/jun"><button type="button" class="btn btn-primary"><-- Prev</button></a>
<a href="/monthlybilled/aug"><button type="button" class="btn btn-primary">Next --></button></a>


<tbody><br>

<br><b></b><br>
Month<b> <%= qc_month %></b>
Year  <b><%= qc_year %></b><br>

      <table>
        <!-- ################################################################################ -->
          <%# @inter = @interventions.each %>
          <%# tot = 0 %>
          <%# @inter.each do |inter| %>
              <%# month = inter.dateOfIntervention.to_s.first(7).last(2) %>
              <%# year = inter.dateOfIntervention.to_s.first(4) %>

              <%# if ((month == qc_month) && (year == qc_year)) %>
                    <%# hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
                    <%# tot = hrs + tot %>
              <%# end %>
          <%# end %>
      <!-- ################################################################################ -->
         <tr>
            <td colspan="2"><h5>Hours : <%#= tot %></h5></td>
         </tr>
<tr>
          <th>Voucher-#</th>
          <th>Full_Name</th>
          <th>Hours</th>
          <th align="center">Rate</th>
          <th>Billed-Total</th>
</tr><tr>
          <% servicetypes.each do |service| %>
          <%#= service %>
          <% service_billed = 0.0 %>

          <% @authorizations.where(serviceType: :service).to_a %>
<td>    <b>                <% if service == 1 %>
                      Intensive Job Training
                      <% elsif service == 2 %>
                      Pre-Placement
                      <% elsif service == 3 %>
                      LTFA
                      <% elsif service == 4 %>
                      DDD
                      <% elsif service == 10 %>
                      Replacement Voucher
                      <% elsif service == 16 %>
                      DDD
                      <% elsif service == 22 %>
                      CBWE
                      <% elsif service == 23 %>
                      TWE
                    <% end %>
</b></td>
          <% Rails.cache.write( 'distinct_voucher' ,@vouchers = @interventions.select(:workAuthorizationID).distinct)  %>
          <% Rails.cache.read('distinct_voucher') %>  

              <%# @vouchers = @interventions.select(:workAuthorizationID).distinct %>
              <% @vouchers.each do |voucher| %>
                  <% voucher.workAuthorizationID  %>
                  <% @inter = @interventions.where(workAuthorizationID: voucher.workAuthorizationID).order(dateOfIntervention: :desc ).to_a %>
                  <% tot = 0 %>
                  <% whrs = 0 %>
                  <% wtot = 0 %>
                  <% voucher_num = "na" %>
                  <% full_name = "na" %>
                	<% voucher_id = 0 %>
                	<% voucher_rate = 0 %>
                  <tr>
                  <% @inter.each do |inter| %>
                      <% id = inter.id %>
                      <% authid = inter.workAuthorizationID %>
                      <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
                      <% year = inter.dateOfIntervention.to_s.first(4) %>
                      <% if ((month == qc_month) && (year == qc_year)) %>
                          <% inter.dateOfIntervention.to_date %>
                          <% inter.startTime.to_s.first(16).last(5) %>
                          <% inter.endTime.to_s.first(16).last(5) %>
                          <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600  %>
                          <% if  hrs >= 5  %>
                        		 <font color="red"><% hrs %> </font>
                        	 <% elsif hrs <= 0 %>
                        		 <font color="red"><% hrs %></font>
                        	 <% else %>
                              <% hrs %>
                           <% end %>
                           <% tot = hrs + tot %>
                           <% @voucher = @authorizations.where(id: inter.workAuthorizationID, serviceType: service).to_a %>
                           <% @voucher.each do |voucher| %>
                              <% voucher_id = voucher.id %>
                              <% @client = @clients.where(id: voucher.clientID).to_a %>
                              <% @client.each do |client| %>
                                <% full_name = client.clientLastName.to_s + " " + client.clientFirstName.to_s %>
                      		      <% voucher_num = voucher.voucherNumber %>
                      		      <% voucher_rate = voucher.VoucherRate %>
                              <% end %>
                           <% end %> <!--  Voucher  -->
                           <% inter.id %>
                           <% inter.workAuthorizationID %>
                        <% end %> <!--  If month  -->
                     </tr>
                     <% end %> <!--  Inter  -->

                <% unless voucher_num == "na" %>
                <% unless tot == 0 %>
                      <td><% service %><!--<button type="button" class="btn btn-light btn-sm">--><%= link_to voucher_num, controller: "authorizations", action: "show", id: voucher_id %><!--</button>--></td>
                      <% voucher_num %>
                      <td><%= full_name %></td>
          	          <td><%= tot %></td>
                      <% if voucher_rate.to_f == 0 %>
                	       <td><font color="red">$ <%= voucher_rate.to_f %></font></td>
                      <% else %>
                         <td>$ <%= voucher_rate.to_f %></td>
                      <% end %>

                      <% billed = voucher_rate.to_f * tot  %>
                	    <td>$ <%= billed.round(2) %></td>
                      <% service_billed = billed.round(2) + service_billed%>

                	    <% tot_billed = billed + tot_billed %>
              	      <% tot_billed.round(2) %>

                <% end %>
              <% end %>
                  <% tot = 0 %>
                  <% voucher_num = "na" %>
                  <% full_name = "na" %>
                  <% voucher_rate = 0 %>
          <% end %>
          <tr><td colspan="4">
<% if service == 1 %>
            Intensive Job Training
            <% elsif service == 2 %>

                      Pre-Placement
                      <% elsif service == 3 %>

                      LTFA
                      <% elsif service == 4 %>

                      DDD
                      <% elsif service == 10 %>

                      Replacement Voucher
                      <% elsif service == 16 %>

                      DDD
                      <% elsif service == 22 %>

                      CBWE
                      <% elsif service == 23 %>

                      TWE

<% end %>

          <b>  $ <%= service_billed.round(2) %></b><br><br></td></tr>

      <% end %>
      Total Billed : $ <%= tot_billed.round(2) %>

        </table>
      </tbody>
<%# end %>
