<h1>Unassigned</h1>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>

<br>

  <% Rails.cache.write('active_clients,id', @active_clients = @clients.where(ClientServiceStopDate: [nil, '']).select(:id).to_a) %>
  <% Rails.cache.read('active_clients_id') %>
  <% @assigned = [] %>
  <% @remaining = [] %>
  <% @assigned_ids = [] %>
  <% @active_ids = [] %>
  <% count = 0 %>

  <h4> Clients: <%= @active_clients.count %></h4>
<% @active_clients.each do |client|  %>
   <% @assigned.push(@assignments.where(ClientID: client.id).where(DateUnassigned: [nil, '']).select(:ClientID).to_a) %>
<% end %>
<!--
  Assigned : <%= @assigned.uniq.count %>
-->
<% @unassigned = @active_clients.uniq - @assigned.uniq %>


<h4>Unassigned : <%#= @unassigned.uniq.count%></h4>

<br>

<% @assigned.each do |client|  %>
   <% if client.empty? %>
   <% else %>
     <%# client.to_s.last(7).first(4) %>
     <%# @assigned_ids.push(client.to_s.last(7).first(4)) %>
     <% @assigned_ids << client.to_a.to_s.last(7).first(4) %>
   <% end %>  
 <% end %>

 <%# @active_clients.each do |client| %>
   <%# if client %>
      <%# client.id %>
      <%# @active_ids.push(client.id)%>
   <%# end %>  
  <%# end %>
<!--
 All Clients list :  <%#= @active_ids %>
Assigned : <%#= @assigned_ids.to_s %>
 <%# @remaining = @active_ids - @assigned_ids %>
 <br>
Remaining : <%#= @remaining.count %>
-->
<% @unassigned.uniq.each do |unassigned| %>
    <%#= unassigned.id %>
    <% if @assigned_ids.include? unassigned.id.to_s %>
    <% else %>
       <% @found = @clients.where(id: unassigned.id).to_a %>
       <% @found.each do |found| %>
         <% count = count + 1 %>
          <%= found.id %>
         <button type="button" class="btn btn-light btn-sm"><%= link_to found.fullname, controller: "clients", action: "show", id: found.id %></button>
         <%#= found.id %>   <%#= found.fullname %>
         <br>
       <% end %>
    <% end %>  
  <% end %>

  <h5>Unassigned Count :  <%= count %><h5>
