<% tot = 0 %>
<% hrs = 0 %>
<% t_tot = 0 %>
<% non_bill = 0 %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<center>
	<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
	<a href="/ltfa/aug.pdf"><button type="button" class="btn btn-danger">Aug-PDF</button></a><br>
	<a href="/ltfa/index"><button type="button" class="btn btn-danger">LTFA Index</button></a>

 <br><br>
 <h3>August LTFA </h3>
 <a title=" Find clients with ClientFAStartDate NOT blank and where ClientServiceStopDate IS blank. Order by last name ascending.

Iterate through the clients and match all authorizations where clientid matches clientid. 
 
If voucher == “FA-Aug-20” put link
Total interventions with this matching voucher

If total == 0, non_bill = Non-bill+1

Jobcoaches == assignments where clientid = clientid
Each job coach where there is no EndDate for the job coach.

if client.ClientFAStartDate.to_s.match(/2020-08-*/) %>
 new_clients = new_clients + 1

@clientemployers.where(clientID: client.id, endDate: [nil,''])
If no employment history display searching


@employers.where(id: history.clientEmployerID).select(:employerName) "><i style="font-size:18px" class="fa">&#xf059;</i></a>
 <table align="center">

	 <tr><td> Name </td>
		 <td>Voucher Previous</td>
		 <td>Job Coach</td>
		 <td>New Client</td>
		 <td>Start Date</td>
		 <td>Primary Diagnosis</td>
		 <td>Secondary Diagnosis</td>
		 <td>Employer Location</td>
		 <td>Hourly Pay</td>
		 <td>Weekly Hours Worked</td>
		 <td>LTFA Hours</td>
	 </tr>

	 <% new_clients = 0 %>




    <% @active = @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).order(clientLastName: :asc).to_a  %>
    <% @active.each do |client| %>
      <tr>
      <!--<td><%#= client.id %></td>-->
      <% fullname =  client.clientLastName + ", " +  client.clientFirstName %>
      <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
      <% @vouchers = @authorizations.where(clientID: client.id) %>
      <% @vouchers.each do |voucher| %>
         <% if voucher.voucherNumber == "FA-Aug-20" %>
         <td><button type="button" class="btn btn-light btn-sm"><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td>


	<% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
	<% tot = 0 %>
	<% @inter_dates = [] %>
	<% @inter.each do |inter| %>
	  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
	  <% tot = hrs.to_f + tot%>
	<% end %>
	<% t_tot = t_tot + tot %>
	<% if tot == 0 %>
	  <% non_bill = non_bill +1 %>
	<% end %>

       <% end %>
      <% end %>
      <td width="150px">
      <% @jc = @assignments.where(ClientID: client.id).to_a%>
      <% @jc.each do |jc| %>
         <% @my_jc = @employees.where(id: jc.Employee).where(end_date: [nil, '']).to_a %>
         <% @my_jc.each do |my_jc| %>
<!-- ################################################
Dont show job coaches who have a stop date -->
	    <% if my_jc.end_date.nil? %>
		    <%= my_jc.employee %><br>
	    <% end %>

	 <% end %>
      <% end %>
      </td>
      <% if client.ClientFAStartDate.to_s.match(/2020-08-*/) %>
         <% new_clients = new_clients + 1 %>
         <td>X</td>
      <% else %>
	 <td></td>
      <% end %>
      <td><button type="button" class="btn btn-info btn-sm"><%= client.ClientFAStartDate  %></button></td>
      <td><button type="button" class="btn btn-info btn-sm"><%= client.ClientPrimaryImpairment %> <% client.ClientPrimarySource %></button></td>
      <td><button type="button" class="btn btn-info btn-sm"><%= client.ClientSecondaryImpairment %> <% client.ClientSecondarySource %></button></td>

      <% @history = @clientemployers.where(clientID: client.id, endDate: [nil,'']).select([:clientEmployerID, :hoursPerMonth, :Wage]).to_a %>
      <% if @history.empty? %>
	      <td> <h5>Searching for employment</h5>     </td>
              <td></td>
	      <td></td>
      <% end %>
      <% @history.each do |history| %>
         <% @jobs = @employers.where(id: history.clientEmployerID).select(:employerName).to_a %>
	 <% @jobs.each do |job| %>
	    <td><button type="button" class="btn btn-primary btn-sm"><%= job.employerName %> </button</td>
	 <% end %>
         <td><button type="button" class="btn btn-primary btn-sm">$<%= history.Wage.to_f %> </button</td>
	 <td><button type="button" class="btn btn-primary btn-sm"><%= history.hoursPerMonth%> </button</td>
<!-- Calculate hours works for LTFA -->
      <% end %>
         <td><%= tot %></td>

  <% end %>
 </table>

	 <h3> August 2020 </h3>
   <table border="1"><tr><td>
     <p>  New Client(s) Added : </td><td align="right"><%= new_clients %></td>
     </tr><tr><td>
     <p>Clients Served this Billing Cycle : </td><td align="right"> <%= @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).to_a.count - non_bill %>
     </td></tr>
     <tr><td>
		     <p>  Clients not Served this Billing Cycle : </td><td align="right"><%= non_bill %>
     </td></tr>
     <tr><td>
		     <p>  Total Billing Roster Client Count : </td><td align="right"> <%= @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).to_a.count %>
       </td></tr>
		 <tr><td>
       <p>  Total Hours Billed :</td><td align="right"> <%= t_tot %></td></tr>
        <tr><td>
        <p> Amount Billed :</td><td align="right"> $ <%= t_tot * 53 %> </td></tr>
          </tr>
     </table>
