
<center>
	<h3> LTFA 2020</h3><br>
	<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<br>
<br>
	<a href="/ltfa/jan"><button type="button" class="btn btn-primary">Janurary</button></a>
	<a href="/ltfa/jan.pdf"><button type="button" class="btn btn-danger">Jan-PDF</button></a><br>
	<a href="/ltfa/feb"><button type="button" class="btn btn-primary">Feburary</button></a>
	<a href="/ltfa/feb.pdf"><button type="button" class="btn btn-danger">Feb-PDF</button></a><br>
	<a href="/ltfa/mar"><button type="button" class="btn btn-primary">March</button></a>
	<a href="/ltfa/mar.pdf"><button type="button" class="btn btn-danger">Mar-PDF</button></a><br>
	<a href="/ltfa/apr"><button type="button" class="btn btn-primary">April</button></a>
	<a href="/ltfa/apr.pdf"><button type="button" class="btn btn-danger">Apr-PDF</button></a><br>
	<a href="/ltfa/may"><button type="button" class="btn btn-primary">May</button></a>
	<a href="/ltfa/may.pdf"><button type="button" class="btn btn-danger">May-PDF</button></a><br>
	<a href="/ltfa/jun"><button type="button" class="btn btn-primary">June</button></a>
	<a href="/ltfa/jun.pdf"><button type="button" class="btn btn-danger">Jun-PDF</button></a><br>
	<a href="/ltfa/jul"><button type="button" class="btn btn-primary">July</button></a>
	<a href="/ltfa/jul.pdf"><button type="button" class="btn btn-danger">Jul-PDF</button></a><br>
	<a href="/ltfa/aug"><button type="button" class="btn btn-primary">August</button></a>
	<a href="/ltfa/aug.pdf"><button type="button" class="btn btn-danger">Aug-PDF</button></a><br>
	<a href="/ltfa/sep"><button type="button" class="btn btn-primary">September</button></a>
	<a href="/ltfa/sep.pdf"><button type="button" class="btn btn-danger">Sep-PDF</button></a><br>
	<a href="/ltfa/oct"><button type="button" class="btn btn-primary">October</button></a>
	<a href="/ltfa/oct.pdf"><button type="button" class="btn btn-danger">Oct-PDF</button></a><br>
	<a href="/ltfa/nov"><button type="button" class="btn btn-primary">November</button></a>
	<a href="/ltfa/nov.pdf"><button type="button" class="btn btn-danger">Nov-PDF</button></a><br>
	<a href="/ltfa/dec"><button type="button" class="btn btn-primary">December</button></a>
	<a href="/ltfa/dec.pdf"><button type="button" class="btn btn-danger">Dec-PDF</button></a><br>
	<br><br>
 <a href="/ltfa/ltfatwentytwenty"><button type="button" class="btn btn-primary">2020</button></a>
 <a href="/ltfa/namessn"><button type="button" class="btn btn-primary">Name-SSN</button></a>


 <br><br>
 <a href="/ltfa/julynineteen"><button type="button" class="btn btn-primary">2019 July </button></a>
 <a href="/ltfa/augnineteen"><button type="button" class="btn btn-primary">2019 Aug </button></a>
 <a href="/ltfa/sepnineteen"><button type="button" class="btn btn-primary">2019 Sep </button></a>
 <a href="/ltfa/octnineteen"><button type="button" class="btn btn-primary">2019 Oct </button></a>
 <a href="/ltfa/novnineteen"><button type="button" class="btn btn-primary">2019 Nov</button></a>
 <a href="/ltfa/decnineteen"><button type="button" class="btn btn-primary">2019 Dec </button></a>



 <br><br>
