<% tot = 0 %>
<% hrs = 0 %>
<% t_tot = 0 %>
<% non_bill = 0 %>
<center>
	<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
	<a href="/ltfa/mar.pdf"><button type="button" class="btn btn-danger">March PDF</button></a>
	<a href="/ltfa/index"><button type="button" class="btn btn-danger">LTFA Index</button></a>





 <br><br>
 <h3> March LTFA </h3>

 <table align="center">

	 <tr><td> Name </td>
		 <td>Voucher Previous</td>
		 <td>Voucher Current</td>
		 <td>Job Coach</td>
		 <td>New Client</td>
		 <td >Start Date</td>
		 <td>Primary Diagnosis</td>
		 <td>Secondary Diagnosis</td>
		 <td>Employer Location</td>
		 <td>Hourly Pay</td>
		 <td>Weekly Hours Worked</td>
		 <td>LTFA Hours</td>
	 </tr>

	 <% new_clients = 0 %>

    <% @active = @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).order(clientLastName: :asc).to_a  %>
    <% @active.each do |client| %>
      <tr>
				<!--<td><%#= client.id %></td>-->
      <% fullname =  client.clientLastName + ", " +  client.clientFirstName %>
      <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
      <% @vouchers = @authorizations.where(clientID: client.id) %>
      <% @vouchers.each do |voucher| %>
				 <% if voucher.voucherNumber == "FA-Mar-20" %>
			      <td><button type="button" class="btn btn-light btn-sm"><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button>

						<% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
						<% tot = 0 %>
						<% @inter_dates = [] %>
						<% @inter.each do |inter| %>

						  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
						  <% tot = hrs. + tot%>
						<% end %>
						<% t_tot = t_tot + tot %>
						<% if tot == 0 %>
							<% non_bill = non_bill +1 %>
						<% end %>

				 <% end %>
				 <%# if voucher.voucherNumber == "FA-Mar-20" %>
				 <!--		   	<td><button type="button" class="btn btn-light btn-sm"><%#= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td> -->

				<%# end %>
      <% end %>

<%#= link_to "Create LTFA", new_authorization_path(clientid: "#{client.id }", voucher: "FA-Apr-20", service: "3", hours: "3", rate: "53.0" )%>
</td>

      <td width="150px">
      <% @jc = @assignments.where(ClientID: client.id).to_a%>
      <% @jc.each do |jc| %>
         <% @my_jc = @employees.where(id: jc.Employee).where(end_date: [nil, '']).to_a %>
         <% @my_jc.each do |my_jc| %>
<!-- ################################################
Dont show job coaches who have a stop date -->
	    <% if my_jc.end_date.nil? %>
		    <%= my_jc.employee %><br>
	    <% end %>

	 <% end %>
      <% end %>
      </td>
      <% if client.ClientFAStartDate.to_s.match(/2020-03-*/) %>
         <% new_clients = new_clients + 1 %>
         <td>X</td>
      <% else %>
	 <td></td>
      <% end %>
      <td><button type="button" class="btn btn-info btn-sm"><%= client.ClientFAStartDate  %></button></td>
      <td><button type="button" class="btn btn-info btn-sm"><%= client.ClientPrimaryImpairment %> <% client.ClientPrimarySource %></button></td>
      <td><button type="button" class="btn btn-info btn-sm"><%= client.ClientSecondaryImpairment %> <% client.ClientSecondarySource %></button></td>

      <% @history = @clientemployers.where(clientID: client.id).select([:clientEmployerID, :hoursPerMonth, :Wage]).to_a %>
      <% @history.each do |history| %>
         <% @jobs = @employers.where(id: history.clientEmployerID).select(:employerName).to_a %>
	 <% @jobs.each do |job| %>
	    <td><button type="button" class="btn btn-primary btn-sm"><%= job.employerName %> </button</td>
	 <% end %>
         <td><button type="button" class="btn btn-primary btn-sm">$<%= history.Wage.to_f %> </button</td>
	 <td><button type="button" class="btn btn-primary btn-sm"><%= history.hoursPerMonth%> </button</td>
<!-- Calculate hours works for LTFA -->
	 <td><%= tot %></td>
      <% end %>

  <% end %>
 </table>

	 <h3> March 2020 </h3>
   <table border="1"><tr><td>
     <p>  New Client(s) Added : </td><td align="right"><%= new_clients %></td>
     </tr><tr><td>
     <p>Clients Served this Billing Cycle : </td><td align="right"> <%= @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).to_a.count - non_bill %>
     </td></tr>
     <tr><td>
		     <p>  Clients not Served this Billing Cycle : </td><td align="right"><%= non_bill %>
     </td></tr>
     <tr><td>
		     <p>  Total Billing Roster Client Count : </td><td align="right"> <%= @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).to_a.count %>
       </td></tr>
		 <tr><td>
       <p>  Total Hours Billed :</td><td align="right"> <%= t_tot %></td></tr>
        <tr><td>
        <p> Amount Billed :</td><td align="right"> $ <%= t_tot * 53 %> </td></tr>
          </tr>
     </table>
