
<center>
	<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<br>
<br>
<% @clients = Client.all %>
<% @authorizations = Authorization.all%>
<table >
	<tr>
	<th>Program Participant</th>
	<th>DOB</th>
	<th>SSN</th>
	</tr>
 <% @active = @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).order(clientLastName: :asc).to_a  %>
    <% @active.each do |client| %>
      <tr>
      <% fullname =  client.clientLastName + ", " +  client.clientFirstName %>
      <td><%= link_to fullname, controller: "clients", action: "show", id: client.id %></td>
      <% @vouchers = @authorizations.where(clientID: client.id) %>
      <td><%= client.clientDOB %>
      <td> <%= client.clientSSN.to_s.last(4) %>
  <% end %>
 </table>

 <br><br>
