<% tot = 0 %>
<% hrs = 0 %>
<% t_tot = 0 %>
<% non_bill = 0 %>
<center>

 <br><br>
 <h1> LTFA </h1>
 <h3> Center for Educational Advancement</h3>
November 2020
 <!-- PDF -->

 <table align="center" border="1" style="font-size:14px">
	 <tr>
     <th width="150" >Name</th>
		 <th width="100">Voucher</th>
		 <th width="100">Job Coach</th>
		 <th>New Client</th>
		 <th width="100">Start Date</th>
		 <th>Diagnosis</th>
		<!-- <th>Secondary Diagnosis</th> -->
		 <th>Employer Location</th>
		 <th>Hourly Pay</th>
		 <th>Weekly Hours Worked</th>
		 <th>LTFA Hours</th>
		 <th width="200">Comment</td>
	 </tr>

   <% new_clients = 0 %>

    <% @active = @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).order(clientLastName: :asc).to_a  %>
    <% @active.each do |client| %>
      <tr>
				<!--<td><%#= client.id %></td>-->
      <td><%= fullname =  client.clientLastName + ", " +  client.clientFirstName %></td>
      <% @vouchers = @authorizations.where(clientID: client.id) %>
      <% @vouchers.each do |voucher| %>
				 <% if voucher.voucherNumber == "FA-Nov-20" %>
			      <td><%= voucher.voucherNumber %></button></td>


						<% @inter = @interventions.where(workAuthorizationID: voucher.id).to_a %>
						<% tot = 0 %>
						<% @inter_dates = [] %>
						<% @inter.each do |inter| %>

						  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
						  <% tot = hrs. + tot%>
						<% end %>
						<% t_tot = t_tot + tot %>
						<% if tot == 0 %>
							<% non_bill = non_bill +1 %>
						<% end %>

				 <% end %>
				 <%# if voucher.voucherNumber == "FA-Mar-20" %>
				 <!--		   	<td><button type="button" class="btn btn-light btn-sm"><%#= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %></button></td> -->

				<%# end %>
      <% end %>
      <td width="150px">
      <% @jc = @assignments.where(ClientID: client.id, DateUnassigned: [nil, '']).to_a%>
      <% @jc.each do |jc| %>
         <% @my_jc = @employees.where(id: jc.Employee).where(end_date: [nil, '']).to_a %>
         <% @my_jc.each do |my_jc| %>
<!-- ################################################
Dont show job coaches who have a stop date -->
	    <% if my_jc.end_date.nil? %>
		    <%= my_jc.employee %><br>
	    <% end %>

	 <% end %>
      <% end %>
      </td>
      <% if client.ClientFAStartDate.to_s.match(/2020-02-*/) %>
         <% new_clients = new_clients + 1 %>
         <td></td>
      <% else %>
	 <td></td>
      <% end %>
      <td><%= client.ClientFAStartDate  %></button></td>
      <!--<td align="center"><%= client.ClientPrimaryImpairment %> <% client.ClientPrimarySource %></td>
      <td align="center"><%= client.ClientSecondaryImpairment %> <% client.ClientSecondarySource %></td>
-->
<td> <%= client.ClientSecondaryImpairment %><%= client.ClientSecondarySource %><%= client.ClientPrimaryImpairment %><%= client.ClientPrimarySource %> </td>
      <% @history = @clientemployers.where(clientID: client.id, endDate: [nil]).to_a %>
      <% @history.each do |history| %>
         <% @jobs = @employers.where(id: history.clientEmployerID).select(:employerName).to_a %>
	 <% @jobs.each do |job| %>
      <% if job.employerName.nil? == nil %>
         <td><td>
      <% else %>
         <td width="300"><%= job.employerName %></td>
      <% end %>
	 <% end %>
         <td>$<%= history.Wage.to_f %></td>
	 <td><%= history.hoursPerMonth%></td>
	 <!-- Calculate hours works for LTFA -->

	 <td><%= tot %></td>

     <% if history.clientID == "1197" ||history.clientID == "1464" || history.clientID == "1222" ||history.clientID ==  "1234" ||history.clientID ==  "1399" || history.clientID == "1280" ||history.clientID ==  "1328" %>
        <td> Restabilization for UI granted </td>
    <% elsif history.clientID == "1395" %>
	    <td>Re-placement </td>
    <% elsif history.clientID == "1231" %>
	    <td>Lives in NJ, works in PA.</td>
    <% elsif history.clientID == "1412" %>
	    <td>100 Dollars per day</td>
    <% else %>
       <td></td>
    <% end %>




   <% end %>
  <% end %>
 </table>

 <h3>November 2020 </h3>
 <table border="1"><tr><td>
   <p>  New Client(s) Added : </td><td align="right"><%#= new_clients %></td>
   </tr><tr><td>
   <p>Clients Served this Billing Cycle : </td><td align="right"> <%= @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).to_a.count - non_bill  %>
   </td></tr>
   <tr><td>
       <p>  Clients not Served this Billing Cycle : </td><td align="right"><%= non_bill %>
   </td></tr>
   <tr><td>
       <p>  Total Billing Roster Client Count : </td><td align="right"> <%= @clients.where.not(ClientFAStartDate: [nil]).where(ClientServiceStopDate: [nil, '']).to_a.count%>
     </td></tr>
   <tr><td>
     <p>  Total Hours Billed :</td><td align="right"> <%= t_tot %></td></tr>
      <tr><td>
      <p> Amount Billed :</td><td align="right"> $ <%= t_tot * 53 %> </td></tr>
        </tr>
   </table>
