<h1>Timesheets</h1>
<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>


<a href="/manager/index"><button type="button" class="btn btn-primary">Managers Dashboard</button></a>
<a href="/timesheets/index"><button type="button" class="btn btn-primary">Timesheets Index</button></a>

<br>
<br>

<table>
  <tr>
    <td>
      <div class="dropdown">
        <button class="dropbtn">2015</button>
        <div class="dropdown-content">
          <a href="jan2015.html"><button type="button" class="btn btn-primary">Jan</button></a>
          <a href="feb2015.html"><button type="button" class="btn btn-primary">Feb</button></a>
          <a href="mar2015.html"><button type="button" class="btn btn-primary">Mar</button></a>
          <a href="apr2015.html"><button type="button" class="btn btn-primary">Apr</button></a>
          <a href="may2015.html"><button type="button" class="btn btn-primary">May</button></a>
          <a href="jun2015.html"><button type="button" class="btn btn-primary">Jun</button></a>
          <a href="jul2015.html"><button type="button" class="btn btn-primary">Jul</button></a>
          <a href="aug2015.html"><button type="button" class="btn btn-primary">Aug</button></a>
          <a href="sep2015.html"><button type="button" class="btn btn-primary">Sep</button></a>
          <a href="oct2015.html"><button type="button" class="btn btn-primary">Oct</button></a>
          <a href="nov2015.html"><button type="button" class="btn btn-primary">Nov</button></a>
          <a href="dec2015.html"><button type="button" class="btn btn-primary">Dec</button></a>
          <a href="year2015.html"><button type="button" class="btn btn-primary">Year</button></a>
        </div>
      </div>
    </td>
    <td>
      <div class="dropdown">
        <button class="dropbtn">2016</button>
        <div class="dropdown-content">
          <a href="jan2016.html"><button type="button" class="btn btn-primary">Jan</button></a>
          <a href="feb2016.html"><button type="button" class="btn btn-primary">Feb</button></a>
          <a href="mar2016.html"><button type="button" class="btn btn-primary">Mar</button></a>
          <a href="apr2016.html"><button type="button" class="btn btn-primary">Apr</button></a>
          <a href="may2016.html"><button type="button" class="btn btn-primary">May</button></a>
          <a href="jun2016.html"><button type="button" class="btn btn-primary">Jun</button></a>
          <a href="jul2016.html"><button type="button" class="btn btn-primary">Jul</button></a>
          <a href="aug2016.html"><button type="button" class="btn btn-primary">Aug</button></a>
          <a href="sep2016.html"><button type="button" class="btn btn-primary">Sep</button></a>
          <a href="oct2016.html"><button type="button" class="btn btn-primary">Oct</button></a>
          <a href="nov2016.html"><button type="button" class="btn btn-primary">Nov</button></a>
          <a href="dec2016.html"><button type="button" class="btn btn-primary">Dec</button></a>
          <a href="year2016.html"><button type="button" class="btn btn-primary">Year</button></a>
        </div>
      </div>
    </td>
    <td>
      <div class="dropdown">
        <button class="dropbtn">2017</button>
        <div class="dropdown-content">
          <a href="jan2017.html"><button type="button" class="btn btn-primary">Jan</button></a>
          <a href="feb2017.html"><button type="button" class="btn btn-primary">Feb</button></a>
          <a href="mar2017.html"><button type="button" class="btn btn-primary">Mar</button></a>
          <a href="apr2017.html"><button type="button" class="btn btn-primary">Apr</button></a>
          <a href="may2017.html"><button type="button" class="btn btn-primary">May</button></a>
          <a href="jun2017.html"><button type="button" class="btn btn-primary">Jun</button></a>
          <a href="jul2017.html"><button type="button" class="btn btn-primary">Jul</button></a>
          <a href="aug2017.html"><button type="button" class="btn btn-primary">Aug</button></a>
          <a href="sep2017.html"><button type="button" class="btn btn-primary">Sep</button></a>
          <a href="oct2017.html"><button type="button" class="btn btn-primary">Oct</button></a>
          <a href="nov2017.html"><button type="button" class="btn btn-primary">Nov</button></a>
          <a href="dec2017.html"><button type="button" class="btn btn-primary">Dec</button></a>
          <a href="year2017.html"><button type="button" class="btn btn-primary">Year</button></a>
        </div>
      </div>
    </td>
    <td>
      <div class="dropdown">
        <button class="dropbtn">2018</button>
        <div class="dropdown-content">
          <a href="jan2018.html"><button type="button" class="btn btn-primary">Jan</button></a>
          <a href="feb2018.html"><button type="button" class="btn btn-primary">Feb</button></a>
          <a href="mar2018.html"><button type="button" class="btn btn-primary">Mar</button></a>
          <a href="apr2018.html"><button type="button" class="btn btn-primary">Apr</button></a>
          <a href="may2018.html"><button type="button" class="btn btn-primary">May</button></a>
          <a href="jun2018.html"><button type="button" class="btn btn-primary">Jun</button></a>
          <a href="jul2018.html"><button type="button" class="btn btn-primary">Jul</button></a>
          <a href="aug2018.html"><button type="button" class="btn btn-primary">Aug</button></a>
          <a href="sep2018.html"><button type="button" class="btn btn-primary">Sep</button></a>
          <a href="oct2018.html"><button type="button" class="btn btn-primary">Oct</button></a>
          <a href="nov2018.html"><button type="button" class="btn btn-primary">Nov</button></a>
          <a href="dec2018.html"><button type="button" class="btn btn-primary">Dec</button></a>
          <a href="year2018.html"><button type="button" class="btn btn-primary">Year</button></a>
        </div>
      </div>
    </td>
    <td>
      <div class="dropdown">
        <button class="dropbtn">2019</button>
        <div class="dropdown-content">
          <a href="jan2019.html"><button type="button" class="btn btn-primary">Jan</button></a>
          <a href="feb2019.html"><button type="button" class="btn btn-primary">Feb</button></a>
          <a href="mar2019.html"><button type="button" class="btn btn-primary">Mar</button></a>
          <a href="apr2019.html"><button type="button" class="btn btn-primary">Apr</button></a>
          <a href="may2019.html"><button type="button" class="btn btn-primary">May</button></a>
          <a href="jun2019.html"><button type="button" class="btn btn-primary">Jun</button></a>
          <a href="jul2019.html"><button type="button" class="btn btn-primary">Jul</button></a>
          <a href="aug2019.html"><button type="button" class="btn btn-primary">Aug</button></a>
          <a href="sep2019.html"><button type="button" class="btn btn-primary">Sep</button></a>
          <a href="oct2019.html"><button type="button" class="btn btn-primary">Oct</button></a>
          <a href="nov2019.html"><button type="button" class="btn btn-primary">Nov</button></a>
          <a href="dec2019.html"><button type="button" class="btn btn-primary">Dec</button></a>
          <a href="year2019.html"><button type="button" class="btn btn-primary">Year</button></a>
        </div>
      </div>
    </td>
    <td>
      <div class="dropdown">
        <button class="dropbtn">2020</button>
        <div class="dropdown-content">
          <a href="jan2020.html"><button type="button" class="btn btn-primary">Jan</button></a>
          <a href="feb2020.html"><button type="button" class="btn btn-primary">Feb</button></a>
          <a href="mar2020.html"><button type="button" class="btn btn-primary">Mar</button></a>
          <a href="apr2020.html"><button type="button" class="btn btn-primary">Apr</button></a>
          <a href="may2020.html"><button type="button" class="btn btn-primary">May</button></a>
          <a href="jun2020.html"><button type="button" class="btn btn-primary">Jun</button></a>
          <a href="jul2020.html"><button type="button" class="btn btn-primary">Jul</button></a>
          <a href="aug2020.html"><button type="button" class="btn btn-primary">Aug</button></a>
          <a href="sep2020.html"><button type="button" class="btn btn-primary">Sep</button></a>
          <a href="oct2020.html"><button type="button" class="btn btn-primary">Oct</button></a>
          <a href="nov2020.html"><button type="button" class="btn btn-primary">Nov</button></a>
          <a href="dec2020.html"><button type="button" class="btn btn-primary">Dec</button></a>
          <a href="year2020.html"><button type="button" class="btn btn-primary">Year</button></a>
        </div>
      </div>
    </td>
    <td>
      <div class="dropdown">
        <button class="dropbtn">2021</button>
        <div class="dropdown-content">
          <a href="jan2021.html"><button type="button" class="btn btn-primary">Jan</button></a>
          <a href="feb2021.html"><button type="button" class="btn btn-primary">Feb</button></a>
          <a href="mar2021.html"><button type="button" class="btn btn-primary">Mar</button></a>
          <a href="apr2021.html"><button type="button" class="btn btn-primary">Apr</button></a>
          <a href="may2021.html"><button type="button" class="btn btn-primary">May</button></a>
          <a href="jun2021.html"><button type="button" class="btn btn-primary">Jun</button></a>
          <a href="jul2021.html"><button type="button" class="btn btn-primary">Jul</button></a>
          <a href="aug2021.html"><button type="button" class="btn btn-primary">Aug</button></a>
          <a href="sep2021.html"><button type="button" class="btn btn-primary">Sep</button></a>
          <a href="oct2021.html"><button type="button" class="btn btn-primary">Oct</button></a>
          <a href="nov2021.html"><button type="button" class="btn btn-primary">Nov</button></a>
          <a href="dec2021.html"><button type="button" class="btn btn-primary">Dec</button></a>
          <a href="year2021.html"><button type="button" class="btn btn-primary">Year</button></a>
        </div>
      </div>
    </td>
  </tr>
</table>

