<%= render "menu" %>
<% qc_month = "12" %>
<% qc_year = "2020" %>


<tbody><br>
Month <%= qc_month %><br>
Year <%= qc_year %>



<table>
<% @active_employees = @employees.where(end_date: [nil, '']).to_a %>
<% @active_employees.each do |employee|  %>
	<!-- This prints the employees names -->
	 <% ijc = 0.0 %>
   <% pp = 0.0 %>
    <% ltfa = 0.0 %>
   <% ddd = 0.0 %>
  <% replacement = 0.0 %>
<% ddd = 0.0  %>
<% cbwe = 0.0 %>
<% twe = 0.0 %>
<% blank = 0.0 %>
  <tr><td colspan="4"><h2><%= employee.employee %></h2></td>
    <% @inter = @interventions.where(employeeID: employee.id).to_a %>
    <% tot = 0.0 %>

    <% @inter.each do |inter| %>
    <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
    <% year = inter.dateOfIntervention.to_s.first(4) %>

    <% if ((month == qc_month) && (year == qc_year)) %>
          <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
          <% tot = hrs + tot %>
        <% end %>
    <% end %>

    <td colspan="2"><h5>Hours : <%= tot %></h5></td>
  </tr>
  <th>NoteID</th>
  <th>Date</th>
  <th>Start</th>
  <th>End</th>
  <th>Hrs</th>
  <th>Client</th>
  <th>ServiceType</th>
  <th>Voucher</th>


  <!--
  Calculate hours per month
  ####################################################################################
  -->
  <% @inter = @interventions.where(employeeID: employee.id).order(dateOfIntervention: :asc,startTime: :asc ).to_a %>
  <% tot = 0.0 %>
  <% whrs = 0.0 %>
  <% wtot = 0.0 %>


  <tr>
  <% @inter.each do |inter| %>
  <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
  <% year = inter.dateOfIntervention.to_s.first(4) %>

  <% if ((month == qc_month) && (year == qc_year)) %>
      <td><%= link_to inter.id, inter %>
          <%# inter.id %></td>
      <td><%= inter.dateOfIntervention.to_date %> </td>
      <td><%= inter.startTime.to_s.first(16).last(5) %></td>
      <td><%= inter.endTime.to_s.first(16).last(5) %></td>
      <td><% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600  %>
          <% if  hrs >= 5  %>
		 <font color="red"><%= hrs %> </font>
	 <% elsif hrs <= 0 %>
		 <font color="red"><%= hrs %></font>
	 <% else %>
                 <%= hrs %>

           <% end %>

      </td>
      <% tot = hrs + tot %>

      <% @voucher = @authorizations.where(id: inter.workAuthorizationID).to_a %>
      <% @voucher.each do |voucher| %>
        <% @client = @clients.where(id: voucher.clientID).to_a %>
        <% @client.each do |client| %>
          <td> <%= client.clientLastName %>, <%= client.clientFirstName %></td>
         <% end %>

         <!-- Amount by service type -->
	 <td><%= voucher.serviceType%>
	 <% service = [1, 2, 4, 16, 10, 22, 23, 3, nil, ""] %>
	 <% if voucher.serviceType.to_i == 1  %>
		 Intensive Job Training
		 <% ijc = ijc + hrs %>
         <% elsif voucher.serviceType.to_i == 2 %>
		 Pre-Placement
		 <% pp = pp + hrs%>
         <% elsif voucher.serviceType.to_i == 3 %>
		 LTFA
		 <% ltfa = ltfa + hrs %>
         <% elsif voucher.serviceType.to_i == 4 %>
		 DDD-4
		 <% ddd = ddd + hrs %>
         <% elsif voucher.serviceType.to_i  == 10 %>
		 Replacement Voucher
		 <% replacement = replacement + hrs%>
         <% elsif voucher.serviceType.to_i == 16 %>
		 DDD-16
		 <% ddd = ddd + hrs %>
         <% elsif voucher.serviceType.to_i == 22 %>
		 CBWE
		 <% cbwe = cbwe + hrs %>
         <% elsif voucher.serviceType.to_i == 23 %>
		 TWE
		 <% twe = twe + hrs %>
	 <% else %>
	        blank	
		<% blank = blank + hrs %>
        <% end %>
	<!--<td><%#= voucher.voucherNumber%></td>-->
	<td><!--<button type="button" class="btn btn-light btn-sm">--><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %><!--</button>--></td>
      <% end %>

      <% inter.id %>
      <% inter.workAuthorizationID %>
    <% end %>
</tr>

<% end %>


<td colspan="2">Nov Hours : <%= tot %>  <h5> monthly total <%#= total.round(2) %></h5></td>
<td colspan="6">
	IJC Hrs : <b><%= ijc %></b>
| PP Hrs : <b><%= pp  %></b>
| LTFA Hrs : <b><%= ltfa %></b>
| DDD Hrs : <b><%= ddd %></b>
| Replacement Hrs : <b><%= replacement %></b>
| DDD Hrs : <b><%= ddd %></b>
| CBWE : <b><%= cbwe %></b>
| TWE : <b><%= twe %></b>
| Blank : <b><%= blank %></b>

</td>

</tr>

  <% end %>
  </table>
</tbody>

</body>
</html>
