<%= render "menu" %><% qc_year = "2020" %>


<% months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"] %>


<a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a>

<tbody><br>


	<b> <%= qc_year %></b>
<% months.each do |qc_month | %>	

<table>
<% @active_employees = @employees.all.to_a %>
<% @active_employees.each do |employee|  %>
	<!-- This prints the employees names -->
	 <% ijc = 0.0 %>
   <% pp = 0.0 %>
    <% ltfa = 0.0 %>
   <% ddd_4 = 0.0 %>
  <% replacement = 0.0 %>
<% ddd_16 = 0.0  %>
<% cbwe = 0.0 %>
<% twe = 0.0 %>
<% repl = 0.0 %>
<% rest = 0.0 %>
<% blank = 0.0 %>
<% group_ltfa = 0.0 %>
    <% tot = 0.0 %>

  <% Rails.cache.write('inter_employee,id', @inter = @interventions.where(employeeID: employee.id).to_a) %>
  <% Rails.cache.read('inter_employee_id') %>
    <%# @inter = @interventions.where(employeeID: employee.id).to_a %>
    <% tot = 0.0 %>

    <% @inter.each do |inter| %>
    <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
    <% year = inter.dateOfIntervention.to_s.first(4) %>

    <% if ((month == qc_month) && (year == qc_year)) %>
	    <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
              <% if hrs < 0  %>
               <% hrs = ((inter.endTime.to_time + (24 * 60 * 60 ) )- inter.startTime.to_time) / 3600  %>
           <% else %>
                   <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600  %>
           <% end %>

          <% tot = hrs + tot %>
        <% end %>
    <% end %>

    <% if tot != 0 %>
    <tr><td colspan="4"><h2><%= employee.employee %></h2></td>
    <td colspan="2"><h5>Hours : <%= tot %></h5></td>
  </tr>
  <th>NoteID</th>
  <th>Date</th>
  <th>Start</th>
  <th>End</th>
  <th>Hrs</th>
  <th>Client</th>
  <th>ServiceType</th>
  <th>Voucher</th>


  <!--
  Calculate hours per month
  ####################################################################################
  -->
  <% @inter = @interventions.where(employeeID: employee.id).order(dateOfIntervention: :asc,startTime: :asc ).to_a %>
  <% tot = 0.0 %>
  <% whrs = 0.0 %>
  <% wtot = 0.0 %>


  <tr>
  <% @inter.each do |inter| %>
  <% month = inter.dateOfIntervention.to_s.first(7).last(2) %>
  <% year = inter.dateOfIntervention.to_s.first(4) %>

  <% if ((month == qc_month) && (year == qc_year)) %>
      <td><%= link_to inter.id, inter %>
          <%# inter.id %></td>
      <td><%= inter.dateOfIntervention.to_date %> </td>
      <td><%= inter.startTime.to_s.first(16).last(5) %>
      	  <%#= inter.startTime.to_s %>
      </td>
      <td><%= inter.endTime.to_s.first(16).last(5) %>
            <%#= inter.endTime.to_s %>

      </td>
      <td><% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %> 
	      <% if hrs < 0  %>
	       <% hrs = ((inter.endTime.to_time + (24 * 60 * 60 ) )- inter.startTime.to_time) / 3600  %>
	   <% else %>   
		   <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600  %>
	   <% end %>
          <% if  hrs >= 10  %>
		 <font color="red"><%= hrs %> </font>
 <% elsif hrs <= 0 %>
	 <font color="red"><%= hrs %></font>
 <% else %>
	 <%= hrs %>

   <% end %>

</td>
<% tot = hrs + tot %>

<% @voucher = @authorizations.where(id: inter.workAuthorizationID).to_a %>
<% @voucher.each do |voucher| %>
<% @client = @clients.where(id: voucher.clientID).to_a %>
<% @client.each do |client| %>
  <td> <%= client.clientLastName %>, <%= client.clientFirstName %></td>
 <% end %>

 <!-- Amount by service type -->
 <td><% voucher.serviceType%>
 <% service = [1, 2, 4, 16, 10, 22, 23, 3, nil, ""] %>
 <% if voucher.serviceType.to_i == 1  %>
	 Intensive Job Training
	 <% ijc = ijc + hrs %>
 <% elsif voucher.serviceType.to_i == 2 %>
	 Pre-Placement
	 <% pp = pp + hrs%>
 <% elsif voucher.serviceType.to_i == 3 %>
	 LTFA
	 <% ltfa = ltfa + hrs %>
 <% elsif voucher.serviceType.to_i == 4 %>
	 DDD-Employment
	 <% ddd_4 = ddd_4 + hrs %>
 <% elsif voucher.serviceType.to_i == 16 %>
	 DDD-PP
	 <% ddd_16 = ddd_16 + hrs %>
 <% elsif voucher.serviceType.to_i == 22 %>
	 CBWE
	 <% cbwe = cbwe + hrs %>
 <% elsif voucher.serviceType.to_i == 23 %>
	 TWE
	 <% twe = twe + hrs %>
 <% elsif voucher.serviceType.to_i == 13 %>
         REPL
         <% repl = repl + hrs %>
 <% elsif voucher.serviceType.to_i == 12 %>
         REST
	 <% rest = rest + hrs %>
 <% elsif voucher.serviceType.to_i == 11 %>
         Group-LTFA
	 <% group_ltfa = group_ltfa + hrs %>
	 <!-- 9 -->
 <% else %>
	 <font color="red">BLANK</font>	
	<% blank = blank + hrs %>
<% end %>
<!--<td><%#= voucher.voucherNumber%></td>-->
<td><!--<button type="button" class="btn btn-light btn-sm">--><%= link_to voucher.voucherNumber, controller: "authorizations", action: "show", id: voucher.id %><!--</button>--></td>
<% end %>

<% inter.id %>
<% inter.workAuthorizationID %>
<% end %>
</tr>

<% end %>


<td colspan="2">Nov Hours : <%= tot %> </td>
<td colspan="6">
<% if ijc != 0 %>
	IJC Hrs : <b><%= ijc %></b>
	<% end %>
<% if pp != 0 %> 
	| PP Hrs : <b><%= pp  %></b>
<% end %>
<% if ltfa  != 0 %>
	| LTFA Hrs : <b><%= ltfa %></b>
	<% end %>
<% if ddd_4 != 0 %>
  | DDD-Employment Hrs : <b><%= ddd_4 %></b>
	<% end %>
  <% if replacement  != 0 %>
	  | Rep Hrs : <b><%= replacement %></b><br>
  <% end %>
	  <% if  ddd_16 != 0 %>
		  DDD-PP Hrs : <b><%= ddd_16 %></b>
	  <% end %>
		  <% if  cbwe != 0 %>
			  | CBWE : <b><%= cbwe %></b>
		  <% end %>
			  <% if twe  != 0 %>
				  | TWE : <b><%= twe %></b>
			  <% end %>
			  <% if rest  != 0 %>
                                  | REST : <b><%= rest %></b>

			  <% end %>
<% if blank != 0%>
| Blank : <b><%= blank %></b>
<% end %> 
</td>

</tr>

  <% end %>
  <% end %>


<% end %>

  </table>
</tbody>

</body>
</html>
