<h2>Log in</h2>
<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + " " + request.remote_ip + " Sign in screen loaded " + "\n"; end %>

<br>
   Please login as: 
<br>
    "dbadmin@cea-nj.org" "dbadmin"
    <br>
    "jc@cea-nj.org" "jobcoach"
    <br>
    "dataentry@cea-nj.org" "dataentry"
    <br>
    "manager@cea-nj.org" "manager"
    <br>
    "finance@cea-nj.org" "finance"
<br>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
