<%= form_with(model: employer, local: true) do |form| %>
  <% if employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
        <% employer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<a href="/manager/index">
    <button type="button" class="btn btn-primary">
       Manager Dashboard
    </button></a>
  <div class="field">
    <%#= form.label :employerID %>
    <%#= form.text_field :employerID %>
  </div>

  <table>
    <tr><td>
  <div class="field">
    Name
    </td><td>
    <%= form.text_field :employerName %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    Company Main Contact
    </td><td>
    <%= form.text_field :employerCompanyMainContact %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    Address
    </td><td>
    <%= form.text_field :employerAddress1 %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    Address2
    </td><td>
    <%= form.text_field :employerAddress2 %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    City
    </td><td>
    <%= form.text_field :employerCity %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    County
    </td><td>
    <%= form.text_field :employerCounty %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    State
    </td><td>
    <%= form.text_field :employerState %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    Zip
    </td><td>
    <%= form.text_field :employerZip %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    Phone
    </td><td>
    <%= form.text_field :employerWorkPhone %>
  </div>
    </td></tr><tr><td>

  <div class="field">
    Fax Number
    </td><td>
    <%= form.text_field :employerFaxNumber %>
  </div>
    </tr><tr><td>

  <div class="field">
    Email
    </td><td>
    <%= form.text_field :employerEmail %>
  </div>
    </tr><tr><td>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
