<p id="notice"><%= notice %></p>

<h1>Deleted Employers</h1>
<h3> Import</h3>
<%= form_tag import_employers_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>
<br>

<table>
  <thead>
    <tr>
	    <!-- <th>Employerid</th>-->
	    <th>id</th>
      <th>Employername</th>
      <th>Employercompanymaincontact</th>
      <th>Employeraddress1</th>
      <th>Employeraddress2</th>
      <th>Employercity</th>
      <th>Employercounty</th>
      <th>Employerstate</th>
      <th>Employerzip</th>
      <th>Employerworkphone</th>
      <th>Employerfaxnumber</th>
      <th>Employeremail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
	      <!-- <td><%#= employer.employerID %></td> -->
	      <td><%= employer.id %></td>
        <td><%= employer.employerName %></td>
        <td><%= employer.employerCompanyMainContact %></td>
        <td><%= employer.employerAddress1 %></td>
        <td><%= employer.employerAddress2 %></td>
        <td><%= employer.employerCity %></td>
        <td><%= employer.employerCounty %></td>
        <td><%= employer.employerState %></td>
        <td><%= employer.employerZip %></td>
        <td><%= employer.employerWorkPhone %></td>
        <td><%= employer.employerFaxNumber %></td>
        <td><%= employer.employerEmail %></td>
        <td><%= link_to 'Show', employer %></td>
        <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
        <td><%= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employer', new_employer_path %>
