<p id="notice"><%= notice %></p>

<p>
  <strong>Employerid:</strong>
  <%= @employer.employerID %>
</p>

<p>
  <strong>Employername:</strong>
  <%= @employer.employerName %>
</p>

<p>
  <strong>Employercompanymaincontact:</strong>
  <%= @employer.employerCompanyMainContact %>
</p>

<p>
  <strong>Employeraddress1:</strong>
  <%= @employer.employerAddress1 %>
</p>

<p>
  <strong>Employeraddress2:</strong>
  <%= @employer.employerAddress2 %>
</p>

<p>
  <strong>Employercity:</strong>
  <%= @employer.employerCity %>
</p>

<p>
  <strong>Employercounty:</strong>
  <%= @employer.employerCounty %>
</p>

<p>
  <strong>Employerstate:</strong>
  <%= @employer.employerState %>
</p>

<p>
  <strong>Employerzip:</strong>
  <%= @employer.employerZip %>
</p>

<p>
  <strong>Employerworkphone:</strong>
  <%= @employer.employerWorkPhone %>
</p>

<p>
  <strong>Employerfaxnumber:</strong>
  <%= @employer.employerFaxNumber %>
</p>

<p>
  <strong>Employeremail:</strong>
  <%= @employer.employerEmail %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
