<%= form_with(model: user, local: true) do |form| %>
    <div class="field">
	<%= form.label :id %>
	<%= form.text_field :id %>
    </div>
    <div>
	<%= form.label :email %>
	<%= form.text_field :email %>
    </div>
  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

