<h1>User#index</h1>
<p>Find me in app/views/user/index.html.erb</p>


<%= @users.each do |user|  %>
	<%= user.id %> <%= user.email %>
	<%= link_to 'Show', user_show_url %>
        <%= link_to 'Edit', user_edit_url(user) %>
        <%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
<% end %> 

