<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
        <% intervention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<style>
body {
        font-family: Tahoma;
       padding:20px;

}
</style>

<% today = Time.now.to_s.first(10) %>

<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>
<% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>
       <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>

         <button type="button" class="btn btn-warning"><%#= link_to 'Edit Voucher', edit_authorization_path(@authorization, @authorization.id) %> </button>

     <% else %>

         <% if qc_month == "01" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jan", employee: "#{active.id}" %></button> </td>
             <% elsif qc_month == "02" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "feb", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "03" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "mar", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "04" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "apr", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "05" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "may", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "06" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jun", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "07" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jul", employee: "#{active.id}" %></button> </td>
 <% elsif qc_month == "08" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "aug", employee: "#{active.id}" %></button> </td>

          <% elsif qc_month == "09" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "sep", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "10" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "oct", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "11" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "nov", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "12"  %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "dec", employee: "#{active.id}" %></button> </td>
          <% end %>

          <!--  <a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a> -->
<button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: active.id %></button>

     <% end %>
  <% end %>





  <!-- SHOW DDD NOTES!!! -->
     
     <% if @authid != nil %>
     <%# if @interventions.where(workAuthorizationID: @authid).to_a.any? %>
     <% @inter = @interventions.where(workAuthorizationID: @authid).to_a %>

  <% @inter_jobreq = [] %>
  <% @inter_skill = [] %>
  <% @inter_inter = [] %>
    <% @inter.each do |skill| %>
        <% @inter_jobreq << skill.jobRequirements %>
        <% @inter_skill << skill.skillsStatus %>
        <% @inter_inter << skill.interventionDescription %>
  <% end %>
  <table>
  <% if @inter_jobreq.first.present?  %>
    <br>
  This is showing the first entry for vouchers in the first 3 boxes for DDD notes.
    <tr>
      <th width="200">1. What is the standard required</th>
      <th>2. How does the employee currently perform the tasks actions area related to these standard</th>
      <th width="400">3. What is being done to address the identified issues</th>
      </tr>
    <tr>
      <td>Job Requirements:
          <%= @inter_jobreq.first %>
      </td>
      <td>Skills Status:
          <%= @inter_skill.first %>
      </td>
      <td>Intervention Description:
            <%= @inter_inter.first %>
      </td>
    </tr>
  <% end %>

  </table>
  <!-- SHOW DDD NOTES!!! -->
<% end %>


  <%#= current_user.email %>
<% @employees.each do |emp|%>
   <%#= emp %>
   <% end %>



<table width="400" align="center">
  <tr>
    <td colspan=2 align="center">
      <div class="field">
	
<% @activeUser = @employees.where(email: current_user.email) %>
<% @activeUser.each do |active| %>
	<% if active.userType == "Manager" || active.userType == "DBadmin" %>
	          Please select your employee name    <%= form.collection_select(:employeeID, Employee.where(end_date: [nil]).order(:employee), :id, :employee, include_blank: '') %>
	<% else %>
          Employee     <%= form.text_field :employeeID, :value => active.id, :readonly => true  %>
                  <%= active.employee %>

<% end %>
          <%# :employeeID %>
  <% end %>

      </div>
    </td>
  </tr>

<!--	  
   <tr>
    <td colspan=2>
      <div class="field">
        <%#= form.label :id %>
        <%#= form.text_field :id %>
      </div>
      <!--Please select your employee name -->
      <div class="field">
          <%#= form.label :employeeID %>
        <%#= form.collection_select(:employeeID, Employee.where(end_date: [nil]).order(:employee), :id, :employee, include_blank: '') %>
        <%# @jc_current = Employee.where(email: current_user.email).to_a %>
	<%# @jc_current.each do |jc_current| %>
		<%#= form.text_field :employeeID, :value => jc_current.id  %>
	        <%#= employeeID %>
	<%# end %>	
		
		<%#= employeeID = Employee.where(email: current_user.email).select(:id) %>
	<%#= form.text_field :employeeID %>
      </div>
    </td>
  </tr>
  <!--
  <tr>
    <td colspan=2>
      <div class="field">
        <%#= form.label :EmploymentHistoryID %>
        <%#= form.text_field :EmploymentHistoryID %>
      </div>
    </td>
  </tr>
  -->
  <% if @serviceType.to_s != "31" %>
  <tr>
    <td colspan=2 align="center">
      <div class="field">
	      <%= form.label :employer %>
        <%= form.collection_select(:employerID, Employer.all.order(:employerName), :id, :employerName, include_blank: '' ) %>
        <%#= form.text_field :employerID %>
      </div>
    </td>
  </tr>
  <% end %>

  <tr>
    <td colspan=2 align="center" >
      <div class="field">
        <%= form.label :voucher %>
      <%= form.text_field :workAuthorizationID, :value => @authid, :readonly => true  %>
      <% if @authid != nil %>
      <% else %>
        <td><font size=4 color=red>If Voucher is blank please use the back button to reload your content.</font></td>
      <% end %>
      <% if @authid != nil %>
       <% @auth = @authorizations.where(id: @authid) %>
        <% @auth.each do |auth| %>
           <%= auth.voucherNumber %>

      </div>
    </td>
  </tr>
  <%= @serviceType %>
  <% if @serviceType == "31" %>
  <tr>
    <td colspan=2 align="center" >
      <% @service = {
        'L' => 'Work Readiness Lesson',
        'W' => 'Welness Contact',
        'F' => 'Family / Residential Support',
        'S' => 'Service Planning',
        'R' => 'Reminder',
} %>

  <div class="field">
      <%= form.label :"Service Type" %>
      <%= form.collection_select :service, @service, :first, :last %>
    <%#= form.text_field :ClientRace , class: "form-control"%>
  </div>
    </td>
  </tr>
<% elsif @serviceType.to_s == "22" %>
    <tr>
    <td colspan=2 align="center" >
      <% @service = {
        'Eval' => 'Eval',
        'Intake' => 'Intake'
} %>

  <div class="field">
    <%= form.label :"Service Type" %>
      <%= form.collection_select :service, @service, :first, :last %>
    <%#= form.text_field :ClientRace , class: "form-control"%>
  </div>
    </td>
    </tr>


  <% end %>


<% end %>
      <% end %>


<tr>
	<td colspan=2 align="center">
		<!--		<font color="red"><b>Date field is required</b></font> -->
    <div class="field">
      <%= form.label :"Intervention Date" %>
      <%#= form.date_select :dateOfIntervention, :include_blank => true %>
      <%= form.date_field :dateOfIntervention, {:include_blank => true, :default => nil} %>

      <! --  DO NOT SET DATE TO TODAY, this will over write dates during edit. -->
      <%#= form.date_field :dateOfIntervention, max: Time.now.strftime('%Y-%m-%d'), :value => Time.now.strftime('%Y-%m-%d') %>
    </div>
  </td>
</tr>

<tr>
  <td colspan=2 align="center">
    <div class="field">
      <%= form.label :start %>
      <%#= form.time_select :startTime %>
      <%#= form.time_select :startTime,{minute_step: 15} , value: "%H:%M"  %>
      <%= form.time_select :startTime,{minute_step: 15, :ampm => true}, include_blank: true %>

      <%# if @intervention.new_record? %>
    	 <%#= form.time_field :startTime, value: "%H:%M"%>
      <%# else %>
	 <%#= form.time_field :startTime , :value => @intervention.startTime.to_s %>
      <%# end %>
    </div>
  </td>
</tr>

<tr>
  <td colspan=2 align="center">
      <div class="field">
        <%= form.label :end %>
	<%#= form.time_select :endTime,{minute_step: 15} , value: "%H:%M" %>
	<%= form.time_select :endTime,{minute_step: 15, :ampm => true}, include_blank: true %>
      </div>
    </td>
  </tr>


<% if @serviceType.to_s != "31" %>
    <!-- 2 rows --> 
    <tr>
      	<td colspan="200" bgcolor=#ffd700>
		<div class="field">
			Last note is now displayed.

      			Previous Note - Not editable
			<%#= form.label :jobRequirements %><br>
			<%#= @jobRequirements_old %>
			<%= form.text_area :jobRequirements_old, :value => @jobRequirements_old,:cols => 75, :rows => 5, :readonly => true %>
      	  </div>
      	</td>
             <td colspan="200">
               <div class="field">
                 <%= form.label :"Job Requirements" %> <br>
                 <b><u> Purpose of Visit</u></b><br>
                 (What were you there to do?)<br>
                 <%= form.text_area :jobRequirements, :cols => 75, :rows => 5  , class: "form-control"%>

                 <%#= form.text_area :jobRequirements, :cols => 150, :rows => 5 %>
      	 </div>
      	</td>
    </tr>

    <!-- 2 rows -->

    <tr>
        <td colspan="200"  bgcolor=#ffd700>

          Previous Skill - Not editable
          <%= form.text_area :skillsStatus_old, :value => @skillsStatus_old, :cols => 75, :rows => 5, :readonly => true %>
        </td>
        <td colspan="200">
          <div class="field">
            <%= form.label :"Skills Status" %><br>
            <b><u>Observations</u></b><br>
            (What did you observe?)<br>
            <%= form.text_area :skillsStatus, :cols => 75, :rows => 5  , class: "form-control"%>
          </div>
        </td>
    </tr>
    <!-- 2 rows -->

    <tr>
        <td colspan="200"  bgcolor=#ffd700>

          Previous Skill - Not editable
          <%= form.text_area :interventionDescription_old, :value => @interventionDescription_old, :cols => 75, :rows => 5, :readonly => true %>
        </td>
        <td colspan="200">
            <div class="field">
              <%= form.label :" Description of Intervention " %><br>
              <b><u> Interventions</u></b><br>
              (What did you contribute?)<br>
              <%= form.text_area :interventionDescription, :cols => 75, :rows => 5  , class: "form-control"%>
            </div>
          </td>
      </tr>
      <!-- 2 rows -->

      <tr>
	 <td colspan="200"  bgcolor=#ffd700>
	       ----------------------------------------------------------------------------------
	       <br><br>
		 Previous Skill - Not editable
          <%= form.text_area :clientProgress_old, :value => @clientProgress_old, :cols => 75, :rows => 30, :readonly => true %>
        </td>
        <td colspan="200">
    -------------------------------------------------------------------------------------------------

		<div class="field">
              <%= form.label :Progress %> - Problem / Your action<br>
              <%= form.text_area :clientProgress, :cols => 75, :rows => 30 %>
            </div>
          </td>
      </tr>
      <!-- 2 rows -->

      <tr>
        <td colspan="200"  bgcolor=#ffd700>
          Previous Skill - Not editable
          <%= form.text_area :generalComments_old, :value => @generalComments_old,:cols => 75, :rows => 5, :readonly => true  , class: "form-control"%>
        </td>
	<td colspan="200">

            <div class="field">
              <%= form.label :Comments %> - Coaching result / Any future plans<br>
              <b><u>Next Steps</u></b><br>
              (What will you do next?)<br>
              <%= form.text_area :generalComments, :cols => 75, :rows => 5 , class: "form-control" %>
            </div>
          </td>
      </tr>
      <tr>
          <td colspan=2>
              <div class="field">
                <%#= form.label :prePlacementActivityID %>
                <%#= form.text_field :prePlacementActivityID %>
              </div>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <div class="field">
                  <%#= form.label :ActivityConductedID %>
                  <%#= form.text_field :ActivityConductedID %>
                </div>
            </td>
        </tr>

<% else %>
  <tr>
        <td colspan="200" colspan=2 >

            <div class="field">
              <center><b><u>Notes</u></b><br>
              <%= form.text_area :generalComments, :cols => 75, :rows => 5 , class: "form-control" %>
            </div>
          </td>
      </tr>
<% end %>  


        <tr>
            <td colspan=2>
              <div class="actions">
                <center><%= form.submit "Save" %>
              </div>
            </td>
          </tr>

<% end %>
</table>
