<p id="notice"><%= notice %></p>
<style>
body {background-color: #C0C0C0;}
</style>

<h1>Interventions</h1>
<!-- <h3> Import</h3> -->
<%#= form_tag import_interventions_path, multipart: true do %>
   <%#= file_field_tag :file %>
   <%#= submit_tag "Upload" %>
<%# end %>
<br>
<%= @interventions.count %>
<table>
  <thead>
    <tr>
      <th>Interventionid</th>
      <th>Employeeid</th>
      <th>Employmenthistoryid</th>
      <th>Employerid</th>
      <th>Workauthorizationid</th>
      <th>Dateofintervention</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Jobrequirements</th>
      <th>Skillsstatus</th>
      <th>Interventiondescription</th>
      <th>Clientprogress</th>
      <th>Generalcomments</th>
      <th>Preplacementactivityid</th>
      <th>Activityconductedid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @interventions.each do |intervention| %>
      <tr>
        <td><%= intervention.interventionID %></td>
        <td><%= intervention.employeeID %></td>
        <td><%= intervention.EmploymentHistoryID %></td>
        <td><%= intervention.employerID %></td>
        <td><%= intervention.workAuthorizationID %></td>
        <td><%= intervention.dateOfIntervention %></td>
        <td><%= intervention.startTime %></td>
        <td><%= intervention.endTime %></td>
        <td><%= intervention.jobRequirements %></td>
        <td><%= intervention.skillsStatus %></td>
        <td><%= intervention.interventionDescription %></td>
        <td><%= intervention.clientProgress %></td>
        <td><%= intervention.generalComments %></td>
        <td><%= intervention.prePlacementActivityID %></td>
        <td><%= intervention.ActivityConductedID %></td>
        <td><%= link_to 'Show', intervention %></td>
        <td><%= link_to 'Edit', edit_intervention_path(intervention,authid: "#{ intervention.workAuthorizationID}") %></td>
        <td><%= link_to 'Destroy', intervention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intervention', new_intervention_path %>
