<h1>Editing Intervention</h1>
<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " is EDITING an intervention " + @intervention.id.to_s + "\n"; end %>

<%= render 'form', intervention: @intervention %>

<%#= link_to 'Show', @intervention %>
<%#= link_to "Voucher", controller: "authorizations", action: "show", id: @intervention.workAuthorizationID %>
<button type="button" class="btn btn-light"><%= link_to "Back to Voucher", controller: "authorizations", action: "show", id: @authid %></button>

<%#= link_to 'Back', interventions_path %>
