<h1>New Intervention</h1>
<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " creating intervention " + @intervention.to_s + "\n"; end %>

<%= render 'form', intervention: @intervention %>
<% if @authid != nil %>
<%= link_to "Back to Voucher", controller: "authorizations", action: "show", id: @authid %>
<% end %>
<%#= link_to 'Back', interventions_path %>
