<% open('log.txt', 'a') do |f|; f << Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded interventions SHOW " + @intervention.id.to_s + "\n"; end %>

<style>
body {background-color: #C0C0C0;}

</style>
<!--
<p>
  <strong>id:</strong>
  <%= @intervention.interventionID %>
</p>
-->
<p>
  <strong>Job Coach : </strong>
  <% @jobcoach = @employees.where(id: @intervention.employeeID) %>
  <% @jobcoach.each do |jobcoach| %>
	  <b><%= jobcoach.employee %></b>
  <% end %>	  
  <%#= @intervention.employeeID %>
</p>
<!--
<p>
  <strong>Employmenthistoryid:</strong>
  <%= @intervention.EmploymentHistoryID %>
</p>
-->
<p>
  <strong>Employer id:</strong>
  <%= @intervention.employerID %>
</p>

<p>
  <strong>Voucher id:</strong>
  <button type="button" class="btn btn-light"><%= link_to @intervention.workAuthorizationID, controller: "authorizations", action: "show", id: @intervention.workAuthorizationID %></button><br>

  <% @intervention.workAuthorizationID %>
</p>

<p>
  <strong>Date of Intervention:</strong>
  <%= @intervention.dateOfIntervention %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @intervention.startTime %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @intervention.endTime %>
</p>

<p>
  <strong>Job Requirements:</strong>
  <%= @intervention.jobRequirements %>
</p>

<p>
  <strong>Skill Status:</strong>
  <%= @intervention.skillsStatus %>
</p>

<p>
  <strong>Intervention Description:</strong>
  <%= @intervention.interventionDescription %>
</p>

<p>
  <strong>Client Progress:</strong>
  <%= @intervention.clientProgress %>
</p>

<p>
  <strong>General Comments:</strong>
  <%= @intervention.generalComments %>
</p>

<p>
  <strong>Preplacementactivityid:</strong>
  <%= @intervention.prePlacementActivityID %>
</p>
<!--
<p>
  <strong>Activityconductedid:</strong>
    <%= @intervention.ActivityConductedID %>
  </p>
  -->
<%#= link_to 'Edit', edit_intervention_path(@intervention) %> 
<%#= link_to 'Back', interventions_path %>
<button type="button" class="btn btn-light"><%= link_to "Back_to_voucher", controller: "authorizations", action: "show", id: @intervention.workAuthorizationID %></button>
<%#= link_to @intervention.workAuthorizationID, controller: "authorizations", action: "show", id: @intervention.workAuthorizationID %>

<%= link_to 'Edit', edit_intervention_path(@intervention) %>
<%#= link_to 'Back', interventions_path %>
