<%= form_with(model: otfcompletion, local: true) do |form| %>
  <% if otfcompletion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(otfcompletion.errors.count, "error") %> prohibited this otfcompletion from being saved:</h2>

      <ul>
        <% otfcompletion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    CBWE CE
    <%#= form.text_field :formtype %>
  </div>

  <%= form.text_field :authid, :value => @authid, :readonly => true %>
  <div class="field">
    <%= form.label :client %>
    <%#= form.text_field :client, :value => @clientid, :readonly => true %>
    <%= form.select :client, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id, @clientid )%>

  </div>

  <div class="field">
    <%= form.label :agency %>
    <%= form.text_field :agency, :value => "Center for Educational Advancement", :readonly => true %>
  </div>

  <div class="field">
    <%= form.label :"Referring VRC" %>
    <%= form.text_field :vrc %>
  </div>

  <table>
    <tr>
      <td>

    <%#= form.label :siteName1 %>
    <%#= form.text_field :siteName1 %>

    <%#= form.label :Address1 %>
    <%#= form.text_field :Address1 %>
    <%= form.collection_select :clientEmployerID, Employer.all.order(:employerName), :id, :employerName %>

    <%= form.label :Dates %>
    <%= form.text_field :Dates1 %>

    <%= form.label :specialist %>
    <%= form.text_field :specialist1 %>

    <%= form.label :"Total Site Time" %>
    <%= form.text_field :totalSiteTime1 %>
    </tr>
      </td>
      <tr>
        <td>
    <%= form.label :"Number Of Days" %>
    <%= form.text_field :numberOfDays1 %>

    <%= form.label :"Average Hours Per Day" %>
    <%= form.text_field :aveHoursPerDay1 %>

    <%= form.label :"Jobs Performed" %>
    <%= form.text_field :JobsPerformed1 %>

      </td>
    </tr>
    <tr>
      <td>

    <%#= form.label :siteName2 %>
    <%#= form.text_field :siteName2 %>

    <%#= form.label :Address2 %>
    <%#= form.text_field :Address2 %>
    <%= form.collection_select :clientEmployerID, Employer.all.order(:employerName), :id, :employerName %>

    <%= form.label :Dates %>
    <%= form.text_field :Dates2 %>

    <%= form.label :specialist %>
    <%= form.text_field :specialist2 %>

    <%= form.label :"Total Site Time" %>
    <%= form.text_field :totalSiteTime2 %>

    </tr>
      </td>
      <tr>
        <td>
    <%= form.label :"Number Of Days" %>
    <%= form.text_field :numberOfDays2 %>

    <%= form.label :"Average Hours Per Day" %>
    <%= form.text_field :aveHoursPerDay2 %>

    <%= form.label :"Jobs Performed" %>
    <%= form.text_field :JobsPerformed2 %>

      </td>
    </tr>
    <tr>
      <td>

    <%#= form.label :siteName3 %>
    <%#= form.text_field :siteName3 %>

    <%#= form.label :Address3 %>
    <%#= form.text_field :Address3 %>
    <%= form.collection_select :clientEmployerID, Employer.all.order(:employerName), :id, :employerName %>

    <%= form.label :Dates3 %>
    <%= form.text_field :Dates3 %>

    <%= form.label :specialist3 %>
    <%= form.text_field :specialist3 %>

    <%= form.label :"Total Site Time" %>
    <%= form.text_field :totalSiteTime3 %>

    </tr>
      </td>
      <tr>
        <td>
    <%= form.label :"Number Of Days" %>
    <%= form.text_field :numberOfDays3 %>

    <%= form.label :"Average Hours Per Day" %>
    <%= form.text_field :aveHoursPerDay3 %>

    <%= form.label :"Jobs Performed" %>
    <%= form.text_field :JobsPerformed3 %>

      </td>
    </tr>
    <tr>
      <td>

    Summary of Attendance : Describe consumer's performance with reliability, dependability, punctuality as it relates to arrival and departure to work, lunch, and breaks" 
        <br>
    <%= form.text_area :summary, size: "130x10"%>

      </td>
    </tr>
    <tr>
      <td>
        Comments
        <br>
    <%= form.text_area :comments, size: "130x10" %>
      </td>
    </tr>
    <tr>
      <td>

    1. Does the consumer have the skills and bilities required to perform the work assessed? (Explain)
        <br>
    <%= form.text_area :q1 , size: "130x10"%>
      </td>
    </tr>
    <tr>
      <td>

    2. What was most important.reinforcing.motivating for this participant? (ie pay, hours, break, recognition, etc.) 
        <br>
    <%= form.text_area :q2 , size: "130x10"%>
      </td>
    </tr>
    <tr>
      <td>

    3. Relevant comments made to job coach during this assessment regarding consumer/s performance and/or capacities from co-workers, supervisors, or the consumer:
        <br>
    <%= form.text_area :q3 , size: "130x10"%>
      </td>
    </tr>
    <tr>
      <td>

    4. Consumer's observed strengths and skills:
        <br>
    <%= form.text_area :q4 , size: "130x10"%>
      </td>
    </tr>
    <tr>
      <td>

    5. Consumer's observed barriers or weaknesses and potential resolutions:
        <br>
    <%= form.text_area :q5 , size: "130x10"%>
      </td>
    </tr>
    <tr>
      <td>

    Agency feedback and recomendations: Identify concerns and recommendations
        <br>
    <%= form.text_area :q6 , size: "130x10"%>
      </td>
    </tr>
    <tr>
      <td style="text-align:bottom">
<% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
   <% if active.userType == "DBadmin" %>
        <%= form.label :"Signature" %>
        <img src="<%= active.signature %>" width=40% height=40% />
        <%= form.text_area :signature, :value => active.signature, :readonly => true %>
    <% end %>
<% end %>

        <%#= form.label :"Signature" %>
        <%#= form.text_area :signature %>
  <%= Date.today %>
      </td>
    </tr>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
