<p id="notice"><%= notice %></p>

<h1>Otfcompletions</h1>

<table>
  <thead>
    <tr>
      <th>Formtype</th>
      <th>Authid</th>
      <th>Agency</th>
      <th>Vrc</th>
      <th>Sitename1</th>
      <th>Address1</th>
      <th>Dates1</th>
      <th>Specialist1</th>
      <th>Totalsitetime1</th>
      <th>Numberofdays1</th>
      <th>Avehoursperday1</th>
      <th>Jobsperformed1</th>
      <th>Sitename2</th>
      <th>Address2</th>
      <th>Dates2</th>
      <th>Specialist2</th>
      <th>Totalsitetime2</th>
      <th>Numberofdays2</th>
      <th>Avehoursperday2</th>
      <th>Jobsperformed2</th>
      <th>Sitename3</th>
      <th>Address3</th>
      <th>Dates3</th>
      <th>Specialist3</th>
      <th>Totalsitetime3</th>
      <th>Numberofdays3</th>
      <th>Avehoursperday3</th>
      <th>Jobsperformed3</th>
      <th>Summary</th>
      <th>Comments</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Q5</th>
      <th>Q6</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @otfcompletions.each do |otfcompletion| %>
      <tr>
        <td><%= otfcompletion.formtype %></td>
        <td><%= otfcompletion.authid %></td>
        <td><%= otfcompletion.agency %></td>
        <td><%= otfcompletion.vrc %></td>
        <td><%= otfcompletion.siteName1 %></td>
        <td><%= otfcompletion.Address1 %></td>
        <td><%= otfcompletion.Dates1 %></td>
        <td><%= otfcompletion.specialist1 %></td>
        <td><%= otfcompletion.totalSiteTime1 %></td>
        <td><%= otfcompletion.numberOfDays1 %></td>
        <td><%= otfcompletion.aveHoursPerDay1 %></td>
        <td><%= otfcompletion.JobsPerformed1 %></td>
        <td><%= otfcompletion.siteName2 %></td>
        <td><%= otfcompletion.Address2 %></td>
        <td><%= otfcompletion.Dates2 %></td>
        <td><%= otfcompletion.specialist2 %></td>
        <td><%= otfcompletion.totalSiteTime2 %></td>
        <td><%= otfcompletion.numberOfDays2 %></td>
        <td><%= otfcompletion.aveHoursPerDay2 %></td>
        <td><%= otfcompletion.JobsPerformed2 %></td>
        <td><%= otfcompletion.siteName3 %></td>
        <td><%= otfcompletion.Address3 %></td>
        <td><%= otfcompletion.Dates3 %></td>
        <td><%= otfcompletion.specialist3 %></td>
        <td><%= otfcompletion.totalSiteTime3 %></td>
        <td><%= otfcompletion.numberOfDays3 %></td>
        <td><%= otfcompletion.aveHoursPerDay3 %></td>
        <td><%= otfcompletion.JobsPerformed3 %></td>
        <td><%= otfcompletion.summary %></td>
        <td><%= otfcompletion.comments %></td>
        <td><%= otfcompletion.q1 %></td>
        <td><%= otfcompletion.q2 %></td>
        <td><%= otfcompletion.q3 %></td>
        <td><%= otfcompletion.q4 %></td>
        <td><%= otfcompletion.q5 %></td>
        <td><%= otfcompletion.q6 %></td>
        <td><%= otfcompletion.signature %></td>
        <td><%= link_to 'Show', otfcompletion %></td>
        <td><%= link_to 'Edit', edit_otfcompletion_path(otfcompletion) %></td>
        <td><%= link_to 'Destroy', otfcompletion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Otfcompletion', new_otfcompletion_path %>
