<table border="1" style="font-size:12px" >
<tr>
<td colspan=9>
<center><font size=4><b>Observational Tracking Form CBWE</b></font><br>
<b><%= @otfcompletion.agency %></b>
</td>
</tr>
  <%#= @otfcompletion.formtype %>
  <%#= @otfcompletion.client %>
    <tr>
      <td colspan=3>
      Consumer:
       <%# @otfcompletion.authid %>
       <% @auth = @authorizations.where(id: @otfcompletion.authid) %>
       <% @auth.each do |auth| %>
         <%# auth.clientID %>
         <% @name = @clients.where(id: auth.clientID) %>

         <% @name.each do |name| %>
           <b><%= name.fullname %></b>
       <% end %>
       <% end %>
       </td>
       <td colspan=6>
  Referring VRC:
  <b><%= @otfcompletion.vrc %></b>
       </td>
    </tr>
       <tr>
          <td colspan=3>
  <strong>Site Name :</strong>
  <%= @otfcompletion.siteName1 %>
  <br>
  <strong>Address:</strong>
  <%= @otfcompletion.Address1 %>
  </td>
  <td colspan=3>
  <strong>Dates:</strong>
  <%= @otfcompletion.Dates1 %>
  </td>
  <td colspan=3>

  <strong>Specialist:</strong>
  <% @emp = @employees.where(id: @otfcompletion.specialist1 ) %>
  <% @emp.each do |emp| %>
     <%= emp.employee %>
  <% end %>
  <%#= @otfcompletion.specialist1 %>

  <br>
  <strong>Totalsitetime:</strong>
  <%= @otfcompletion.totalSiteTime1 %>

  <br>
  <strong>Number Of Days:</strong>
  <%= @otfcompletion.numberOfDays1 %>

  <br>
  <strong>Ave Hours Per Day:</strong>
  <%= @otfcompletion.aveHoursPerDay1 %>
</td>
</tr>
<tr>
<td colspan=9>
  <strong>Jobs Performed:</strong>
  <%= @otfcompletion.JobsPerformed1 %>
</td>
</tr>
<tr>
  <td colspan=3>
  <strong>Site Name :</strong>
  <%= @otfcompletion.siteName2 %>
  <br>
  <strong>Address :</strong>
  <%= @otfcompletion.Address2 %>

  </td>
  <td colspan=3>
  <strong>Dates :</strong>
  <%= @otfcompletion.Dates2 %>

  </td>
  <td colspan=3>
  <strong>Specialist :</strong>
  <% @emp = @employees.where(id: @otfcompletion.specialist1 ) %>
  <% @emp.each do |emp| %>
     <%= emp.employee %>
  <% end %>
  <%#= @otfcompletion.specialist2 %>
  <br>

  <strong>Total site time:</strong>
  <%= @otfcompletion.totalSiteTime2 %>
  <br>

  <strong>Number of days:</strong>
  <%= @otfcompletion.numberOfDays2 %>
  <br>

  <strong>Ave hours per day:</strong>
  <%= @otfcompletion.aveHoursPerDay2 %>

</td>
</tr>
<tr>
<td colspan=9>
  <strong>Jobs Performed:</strong>
  <%= @otfcompletion.JobsPerformed2 %>

</td>
</tr>
<tr>
  <td colspan=3>
  <strong>Site Name :</strong>
  <%= @otfcompletion.siteName3 %>

  <br>
  <strong>Address :</strong>
  <%= @otfcompletion.Address3 %>

  </td>
  <td colspan=3>
  <strong>Dates :</strong>
  <%= @otfcompletion.Dates3 %>

  </td>
  <td colspan=3>
  <strong>Specialist :</strong>
  <% @emp = @employees.where(id: @otfcompletion.specialist1 ) %>
  <% @emp.each do |emp| %>
     <%= emp.employee %>
  <% end %>
  <%#= @otfcompletion.specialist3 %>

  <br>
  <strong>Total site time:</strong>
  <%= @otfcompletion.totalSiteTime3 %>

  <br>
  <strong>Number of days:</strong>
  <%= @otfcompletion.numberOfDays3 %>

  <br>
  <strong>Ave hours per Day :</strong>
  <%= @otfcompletion.aveHoursPerDay3 %>
  </td>
  </tr>
  <tr>
<td colspan=9>
  <strong>Jobs Performed :</strong>
  <%= @otfcompletion.JobsPerformed3 %>
  </td>
  <tr>
<td colspan=9>
  <center><h3>Observational Tracking Form</h3>
  </td>
  </tr>
  <tr>
<td colspan=9>
<font size="2">Summary of Attendance<br>
<font size="2">Describe consumer's performance with reliability, dependability, punctuality as it relates to arrival and departure to work, lunch, and breaks. : </font>
<b><%= @otfcompletion.summary %></b>

</td>
  <tr>
<td colspan=9>
<!-- <center><h3>Observational Tracking Form</h3> -->
<center><b>
Employability skills:
1=Substandard
2=Adequate/but inconsistent
3= Satisfactory
4= Excellent        NA= not applicable</b>


  </td>
  </tr>
<%# Rails.cache.write('otf', @otfs = @otf.where(authid: @authorization.id) %>
<%# Rails.cache.read('otf') %>

  <%# @otf.where(authid: @otfcompletion.authid) %>
  <% @otfs = @otfs.where(authid: @otfcompletion.authid) %>
  <% skill_total = 0 %>

<% catagories = ['Appropriate dress/hygiene for work environment',
'Follows assigned schedule; start/end/break times',
'Completes task with accuracy ',
'Speed/work pace appropriate to job',
'Ability to focus on task ',
'Demonstrates ability to follow a routine/directions',
'Retains directions over time ',
'Responds appropriately to redirection',
'Changes from one activity to another without difficulty ',
'Accepts changes to established routines ',
'Willing to redo tasks/accepts constructive criticism ',
'Ability to multitask ',
'Respects authority/supervision ',
'Demonstrates initiatives in the absence of directions',
'Is independent (can work without supervision) ',
'Checks quality of work ',
'Demonstrates appropriate use of work materials',
'Communicates effectively with peers/ community ',
'Maingtains appropriate soft skills ',
'Ability to read/ understand job related material ',
'Uses basic math/money as required ',
'Maintains stamina/endurance for job ',
'Demonstrates motivation to work ',
'Walking ',
'Standing/stooping ',
'Sitting ',
'Climbing ',
'Reaching ',
'Carrying/lifting/ pushing',
'Balance ',
'Fine motor skills ',
'Gross motor skills ',
'Communication ability',
'Heat / cold ',
'Chemicals / toxins / fumes ',
'Indoor / outdoor ',
'Noise ',
'Other ']
%>

    <tr>
      <td>
      <b>Employability skills</b>
      </td>
      <% @otfs.each do |match| %>
        <td width=80px><b><%= match.date %></b></td>
      <% end %>
      <td><b>Total</b></td>
      <td><b>Avg</b></td>
    </tr>


 <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[0] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp1 %> </td>
        <% skill_total = skill_total + match.emp1.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp1comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[1] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp2 %> </td>
        <% skill_total = skill_total + match.emp2.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp2comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[2] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp3 %> </td>
        <% skill_total = skill_total + match.emp3.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp3comment %>
      <% end %>
    </td>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[3] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp4 %> </td>
        <% skill_total = skill_total + match.emp4.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp4comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[4] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp5 %> </td>
        <% skill_total = skill_total + match.emp5.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp5comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[5] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp6 %> </td>
        <% skill_total = skill_total + match.emp6.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp6comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[6] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp7 %> </td>
        <% skill_total = skill_total + match.emp7.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp7comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[7] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp8 %> </td>
        <% skill_total = skill_total + match.emp8.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp8comment %>
      <% end %>
    </td>
  </tr>
 <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[9] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp10 %> </td>
        <% skill_total = skill_total + match.emp10.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp10comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[10] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp11 %> </td>
        <% skill_total = skill_total + match.emp11.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp11comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[11] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp12 %> </td>
        <% skill_total = skill_total + match.emp12.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp12comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[12] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp13 %> </td>
        <% skill_total = skill_total + match.emp13.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp13comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[13] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp14 %> </td>
        <% skill_total = skill_total + match.emp14.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp14comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[14] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp15 %> </td>
        <% skill_total = skill_total + match.emp15.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp15comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[15] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp16 %> </td>
        <% skill_total = skill_total + match.emp16.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp16comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[17] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp17 %> </td>
        <% skill_total = skill_total + match.emp17.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp17comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[18] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp18 %> </td>
        <% skill_total = skill_total + match.emp18.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp18comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[19] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp19 %> </td>
        <% skill_total = skill_total + match.emp19.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp19comment %>
      <% end %>
    </td>
  </tr>
 <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[20] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp20 %> </td>
        <% skill_total = skill_total + match.emp20.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp20comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[21] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp21 %> </td>
        <% skill_total = skill_total + match.emp21.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp21comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[22] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp22 %> </td>
        <% skill_total = skill_total + match.emp22.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp22comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[23] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp23 %> </td>
        <% skill_total = skill_total + match.emp23.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.emp23comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[24] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy1 %> </td>
        <% skill_total = skill_total + match.phy1.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy1comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[25] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy2 %> </td>
        <% skill_total = skill_total + match.phy2.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy2comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[26] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy3 %> </td>
        <% skill_total = skill_total + match.phy3.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy3comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[27] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy4 %> </td>
        <% skill_total = skill_total + match.phy4.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy4comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[28] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy5 %> </td>
        <% skill_total = skill_total + match.phy5.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy5comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[29] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy6 %> </td>
        <% skill_total = skill_total + match.phy7.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy7comment %>
      <% end %>
    </td>
  </tr>
<tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[30] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy8 %> </td>
        <% skill_total = skill_total + match.phy8.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy8comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[31] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy9 %> </td>
        <% skill_total = skill_total + match.phy9.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy9comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[32] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy10 %> </td>
        <% skill_total = skill_total + match.phy10.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>

<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.phy10comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[33] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env1 %> </td>
        <% skill_total = skill_total + match.env1.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.env1comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[34] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env2 %> </td>
        <% skill_total = skill_total + match.env2.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.env2comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[35] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env3 %> </td>
        <% skill_total = skill_total + match.env3.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.env3comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[36] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env4 %> </td>
        <% skill_total = skill_total + match.env4.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.env4comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[37] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env5 %> </td>
        <% skill_total = skill_total + match.env5.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    </tr><tr>
<td colspan=9>
     <% @otfs.each do |match| %>
        <%= match.env5comment %>
      <% end %>
    </td>
  </tr>





  <tr>

<td colspan=9>
  <strong>Comments:</strong>
  <%= @otfcompletion.comments %>

  </td>
  </tr>
  <tr>

<td colspan=9>
  
<b>1. Does the consumer have the skills and bilities required to perform the work assessed? (Explain)</b>
  <%= @otfcompletion.q1 %>

  </td>
  </tr>
  <tr>
  
<td colspan=9>
<b>2. What was most important.reinforcing.motivating for this participant? (ie pay, hours, break, recognition, etc.)</b>
  <%= @otfcompletion.q2 %>
  </td>
  </tr>
  <tr>

<td colspan=9>
  <b> 3. Relevant comments made to job coach during this assessment regarding consumer/s performance and/or capacities from co-workers, supervisors, or the consumer:</b>
  <%= @otfcompletion.q3 %>
  </td>
  </tr>
  <tr>

<td colspan=9>
    <b>4. Consumer's observed strengths and skills:</b>
  <%= @otfcompletion.q4 %>

  </td>
  </tr>
  <tr>

<td colspan=9>
    <b>5. Consumer's observed barriers or weaknesses and potential resolutions:</b>
  <%= @otfcompletion.q5 %>
  </td>
  </tr>
  <tr>

<td colspan=9>
    <b>Agency feedback and recomendations: Identify concerns and recommendations</b>
  <%= @otfcompletion.q6 %>
  </td>
  </tr>
  <tr>
<td colspan=9 style="vertical-align:bottom">

<b>Signature: </b><img src="<%= @otfcompletion.signature %>" width=60% height=60% /><b>Date : </b><%= Date.today %>
  </td>
  </tr>
  </table>

