<p id="notice"><%= notice %></p>

<p>
  <strong>Formtype:</strong>
  <%= @otfcompletion.formtype %>
</p>

<p>
  <strong>Authid:</strong>
  <%= @otfcompletion.authid %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @otfcompletion.agency %>
</p>

<p>
  <strong>Vrc:</strong>
  <%= @otfcompletion.vrc %>
</p>

<p>
  <strong>Sitename1:</strong>
  <%= @otfcompletion.siteName1 %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @otfcompletion.Address1 %>
</p>

<p>
  <strong>Dates1:</strong>
  <%= @otfcompletion.Dates1 %>
</p>

<p>
  <strong>Specialist1:</strong>
  <%= @otfcompletion.specialist1 %>
</p>

<p>
  <strong>Totalsitetime1:</strong>
  <%= @otfcompletion.totalSiteTime1 %>
</p>

<p>
  <strong>Numberofdays1:</strong>
  <%= @otfcompletion.numberOfDays1 %>
</p>

<p>
  <strong>Avehoursperday1:</strong>
  <%= @otfcompletion.aveHoursPerDay1 %>
</p>

<p>
  <strong>Jobsperformed1:</strong>
  <%= @otfcompletion.JobsPerformed1 %>
</p>

<p>
  <strong>Sitename2:</strong>
  <%= @otfcompletion.siteName2 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @otfcompletion.Address2 %>
</p>

<p>
  <strong>Dates2:</strong>
  <%= @otfcompletion.Dates2 %>
</p>

<p>
  <strong>Specialist2:</strong>
  <%= @otfcompletion.specialist2 %>
</p>

<p>
  <strong>Totalsitetime2:</strong>
  <%= @otfcompletion.totalSiteTime2 %>
</p>

<p>
  <strong>Numberofdays2:</strong>
  <%= @otfcompletion.numberOfDays2 %>
</p>

<p>
  <strong>Avehoursperday2:</strong>
  <%= @otfcompletion.aveHoursPerDay2 %>
</p>

<p>
  <strong>Jobsperformed2:</strong>
  <%= @otfcompletion.JobsPerformed2 %>
</p>

<p>
  <strong>Sitename3:</strong>
  <%= @otfcompletion.siteName3 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @otfcompletion.Address3 %>
</p>

<p>
  <strong>Dates3:</strong>
  <%= @otfcompletion.Dates3 %>
</p>

<p>
  <strong>Specialist3:</strong>
  <%= @otfcompletion.specialist3 %>
</p>

<p>
  <strong>Totalsitetime3:</strong>
  <%= @otfcompletion.totalSiteTime3 %>
</p>

<p>
  <strong>Numberofdays3:</strong>
  <%= @otfcompletion.numberOfDays3 %>
</p>

<p>
  <strong>Avehoursperday3:</strong>
  <%= @otfcompletion.aveHoursPerDay3 %>
</p>

<p>
  <strong>Jobsperformed3:</strong>
  <%= @otfcompletion.JobsPerformed3 %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @otfcompletion.summary %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @otfcompletion.comments %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @otfcompletion.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @otfcompletion.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @otfcompletion.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @otfcompletion.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @otfcompletion.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @otfcompletion.q6 %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @otfcompletion.signature %>
</p>

<%= link_to 'Edit', edit_otfcompletion_path(@otfcompletion) %> |
<%= link_to 'Back', otfcompletions_path %>
