<%= form_with(model: twer, local: true) do |form| %>
  <% if twer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twer.errors.count, "error") %> prohibited this twer from being saved:</h2>

      <ul>
        <% twer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client %>
  <%= form.select :ClientID, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id, @clientid )%>
    <%#= form.text_field :client %>
  </div>

  <div class="field">
    <%= form.label :employer %>
    <%#= form.select :employer, options_from_collection_for_select(@employers.all.order(:employerName), "id",:second, :first )%>
    <%= form.collection_select :clientEmployerID, Employer.all.order(:employerName), :id, :employerName %>

    <%#= form.text_field :employer %>
  </div>

  <div class="field">
    Assessment Dates:
    <%= form.text_field :days %>
  </div>

  <div class="field">
    Total number of hours consumer worked during this assessment:
    <%= form.text_field :hours %>
  </div>

  <div class="field">
    Total hours week 1:
    <%= form.text_field :week1 %>
  </div>

  <div class="field">
    Total hours final week:
    <%= form.text_field :final %>
  </div>

  <div class="field">
    Job Duties
    <%= form.text_field :duties %>
  </div>

  <div class="field">
    1. Transportation availability
    <% @options={
             '1' => 'Transportation from outsider',
             '2' => 'Available from others within limits. (Please specify limits in comments)',
             '3' => 'Provides own transportation',
             '4' => 'Transportation unavailable'
          } %>
     <%= form.collection_select :q1, @options, :first, :last, class: "form-control" %>
    <br>
    <%#= form.text_field :q1 %>
    Comments<br>
    <%= form.text_area :q1c,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
    2. Independence regarding arranging transportation
    <% @options={
             '1' => 'Requirements Assistance',
             '2' => 'Must be picked up and left off',
             '3' => 'Independent with reminders',
             '4' => 'Independent'
          } %>
     <%= form.collection_select :q2, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :q2c,:cols => 75, :rows => 5 %>
    <%#= form.text_field :q2 %>
  </div>

  <div class="field">
    3. Flexibility in working hours
        <% @options={
             '1' => 'No flexibility',
             '2' => 'Some, but requires approval from other ( i.e. guardian, residential staff, adherence to court order)',
             '3' => 'Health related considerations',
             '4' => 'Adaptable to most hours'
          } %>
     <%= form.collection_select :q3, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :q3c,:cols => 75, :rows => 5 %>
    <%#= form.label :q3 %>
    <%#= form.text_field :q3 %>
  </div>

  <div class="field">
        <% @options={
             '1' => '',
             '2' => '',
             '3' => '',
             '4' => ''
          } %>
     <%#= form.collection_select :q4, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%#= form.text_area :q4c,:cols => 75, :rows => 5 %>
    <%#= form.label :q4 %>
    <%#= form.text_field :q4 %>
  </div>

  <h3>Work Performance</h3>

  <div class="field">
    1. Work Motivation
        <% @options={
             '1' => 'States or demonstrates desire not to work',
             '2' => 'Demonstrates ambivalence about work',
             '3' => 'Desire to work at some point in the future is indicated',
             '4' => 'Demonstrates desire to work Now'
          } %>
     <%= form.collection_select :wp1, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :wp1c,:cols => 75, :rows => 5 %>
    <%#= form.label :wp1 %>
    <%#= form.text_field :wp1 %>
  </div>

  <div class="field">
      2. Work initiative
        <% @options={
             '1' => 'Avoids work even after assigned',
             '2' => 'Accepts work when assigend',
             '3' => 'Initiates preferred work',
             '4' => 'Seeks meaningful work activity when assigned tasks are completed'
          } %>
     <%= form.collection_select :wp2, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :wp2c,:cols => 75, :rows => 5 %>
    <%#= form.label :wp2 %>
    <%#= form.text_field :wp2 %>
  </div>

  <div class="field">
    3. Appearance
        <% @options={
             '1' => 'Unkempt; poor hygiene',
             '2' => 'Unkempt; clean',
             '3' => 'Neat and clean. Clothing unmatched or inappropriate clothing',
             '4' => 'Neat and clean. clothing matches or appropriate to the environment'
          } %>
     <%= form.collection_select :wp3, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :wp3c,:cols => 75, :rows => 5 %>
    <%#= form.label :wp3 %>
    <%#= form.text_field :wp3 %>
  </div>

  <div class="field">
    4. Interaction wtih co-workers, employer, & public
        <% @options={
             '1' => 'Does not repond appropriately to working with or in proximity to other people',
             '2' => 'Adapts to working with one other person',
             '3' => 'Adapts to working with several other people',
             '4' => 'Works effectively in groups',
             '5' => 'Works better alone',
             '6' => 'Works well with public'
          } %>
     <%= form.collection_select :wp4, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :wp4c,:cols => 75, :rows => 5 %>
    <%#= form.label :wp4 %>
    <%#= form.text_field :wp4 %>
  </div>

  <div class="field">
    5. Interaction with supervisor(s)
        <% @options={
             '1' => 'Does not appear to understand supervisory role',
             '2' => 'Resistance to supervisor requests',
             '3' => 'Seeks to please but demands excessive time',
             '4' => 'Demonstrates respect of supervisory role'
          } %>
     <%= form.collection_select :wp5, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :wp5c,:cols => 75, :rows => 5 %>
    <%#= form.label :wp5 %>
    <%#= form.text_field :wp5 %>
  </div>

  <div class="field">
    6. Communication - Speaking / Guesting / Signing
    <% @options={
             '1' => 'Gestures or sounds are only understandable to persona throroughly familiar with person',
             '2' => 'Information provide by simple gestures or signs is understandable to coach and co-workers',
             '3' => 'Information provided by simple sign or word is understandable to coach and co-workers',
             '4' => 'Can speak / sign using simple phrases',
             '5' => 'Demonstrates fluent communication'
          } %>
     <%= form.collection_select :wp6, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :wp6c,:cols => 75, :rows => 5 %>
    <%#= form.label :wp6 %>
    <%#= form.text_field :wp6 %>
  </div>

  <div class="field">
    7. Providing assistance 
        <% @options={
             '1' => 'Responds to gestures and demonstration of help needed by people',
             '2' => 'Responds in courteous manner to cerbal requests to assist',
             '3' => 'Initates providing assistance to others',
          } %>
     <%= form.collection_select :wp7c, @options, :first, :last, class: "form-control" %>
    <br>
    Comments<br>
    <%= form.text_area :wp7c,:cols => 75, :rows => 5 %>
    <%#= form.label :wp7 %>
    <%#= form.text_field :wp7 %>
  </div>

  <div class="field">
    Safety Management:

Describe the extent to which this consumer is able to self-manage their safety and/or daily living
needs at the work-site without direct support from the coach. Did they recognize safety as a
component of the job and demonstrates alertness to potential hazards?
    <#%= form.text_field :ss1 %>
    <%= form.text_area :ss1,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
    Support Strategies:

Were there specific, proven support strategies that proved effective in helping the consumer?
What accommodations did you implement?

    <br>
    <%#= form.text_field :ss2 %>
    <%= form.text_area :ss2,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
    Physical environment:

Are there specific concerns about any potential physical environment? Are there specific physical
environments that should be avoided because of potential health or performance problems?

    <br>
    <%#= form.label :ss3 %>
    <%#= form.text_field :ss3 %>
    <%= form.text_area :ss3,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
    Cultural environment:

Describe any consumer preferences for the density of co-workers (crowded, sparse). Describe
the overall pace of the environment in which the consumer is most likely to be comfortable or
function best. Are there any specific cultural environments that should be avoided?

    <br>

    <%#= form.label :ss4 %>
    <%#= form.text_field :ss4 %>
    <%= form.text_area :ss4,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
Pace of work:
  
Describe the pace and consistency of work that would best suit this consumer. Would he or she
perform better with consistent predictable activities, varied duties, or a combination of both?
    <br>
    <%#= form.label :ss5 %>
    <%#= form.text_field :ss5 %>
    <%= form.text_area :ss5,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
    How the person learns new tasks:

Describe the most effective way to teach this consumer a new task. (for example, demonstrate
first, have this consumer try, natural supports). When given feedback, does the consumer
demonstrate resistance, withdraw, or make requested changes?

    <%#= form.label :ss6 %>
    <%#= form.text_field :ss6 %>
    <br>
    <%= form.text_area :ss6,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
    Relevant commentaries:
List relevant comments made to the job coach during the assessment from co-workers,
supervisors, and/or the consumer themselves.


    <%#= form.label :ss7 %>
    <%#= form.text_field :ss7 %>
    <br>
    <%= form.text_area :ss7,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
    End Summary:

Describe the types of work in which this consumer would like to engage. Explain steps taken to
help this consumer make an informed decision about work. Does this consumer understand the
tasks that may have to be performed for the type of job interest he or she expresses? Does this
consumer's family have a strong interest in his or her working in a particular job? What
transferable job skills or tasks can this consumer demonstrate? If this consumer is interested in a
job for which he or she may not be qualified, what tasks within that job or related tasks can the
consumer perform?
    <%#= form.label :ss8 %>
    <%#= form.text_field :ss8 %>
    <br>
    <%= form.text_area :ss8,:cols => 75, :rows => 5 %>
  </div>

  <h3>    Conclusions
    To be completed at the conclusion of the TWE and summarize information gathered at all sites</h3>
  <div class="field">
Enter the VRC’s questions from the TWE plan:
    <br>
    <%#= form.label :c1 %>
    <%#= form.text_field :c1 %>
    <%= form.text_area :c1,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
How does the information gathered at this site answer the counselor's questions on the Trial
Work Plan?    <%#= form.label :c2 %>
    <br>
    <%#= form.text_field :c2 %>
    <%= form.text_area :c2,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
Now that the TWE has concluded, your thoughts and conclusions are vital for the counselor's
final recommendation. With that mind, in what ways has the person's support needs and/or skills
changed over the course of the TWE?
    <br>
    <%#= form.label :c3 %>
    <%#= form.text_field :c3 %>
    <%= form.text_area :c3,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
If you believe there has been no change, what strategies do you believe would be more
beneficial?
    <br>
    <%#= form.label :c4 %>
    <%#= form.text_field :c4 %>
    <%= form.text_area :c4,:cols => 75, :rows => 5 %>
  </div>

  <div class="field">
I, the Job Coach, certify that:
    <br>
I personally completed the Trial Work Experience (TWE); and
    <br>
I documented the services and information described above in the Trial Work Experience
    <br>
Report (TWER)
    <br>
    <%= form.label :coachsig %>
    <%= form.text_field :coachsig %>
  </div>

  <div class="field">
    <%= form.label :sidgdate %>
    <%= form.date_select :sidgdate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
