<p id="notice"><%= notice %></p>

<h1>Twers</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Employer</th>
      <th>Days</th>
      <th>Hours</th>
      <th>Week1</th>
      <th>Final</th>
      <th>Duties</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Wp1</th>
      <th>Wp2</th>
      <th>Wp3</th>
      <th>Wp4</th>
      <th>Wp5</th>
      <th>Wp6</th>
      <th>Wp7</th>
      <th>Ss1</th>
      <th>Ss2</th>
      <th>Ss3</th>
      <th>Ss4</th>
      <th>Ss5</th>
      <th>Ss6</th>
      <th>Ss7</th>
      <th>Ss8</th>
      <th>C1</th>
      <th>C2</th>
      <th>C3</th>
      <th>C4</th>
      <th>Coachsig</th>
      <th>Sidgdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twers.each do |twer| %>
      <tr>
        <td><%= twer.client %></td>
        <td><%= twer.employer %></td>
        <td><%= twer.days %></td>
        <td><%= twer.hours %></td>
        <td><%= twer.week1 %></td>
        <td><%= twer.final %></td>
        <td><%= twer.duties %></td>
        <td><%= twer.q1 %></td>
        <td><%= twer.q2 %></td>
        <td><%= twer.q3 %></td>
        <td><%= twer.q4 %></td>
        <td><%= twer.wp1 %></td>
        <td><%= twer.wp2 %></td>
        <td><%= twer.wp3 %></td>
        <td><%= twer.wp4 %></td>
        <td><%= twer.wp5 %></td>
        <td><%= twer.wp6 %></td>
        <td><%= twer.wp7 %></td>
        <td><%= twer.ss1 %></td>
        <td><%= twer.ss2 %></td>
        <td><%= twer.ss3 %></td>
        <td><%= twer.ss4 %></td>
        <td><%= twer.ss5 %></td>
        <td><%= twer.ss6 %></td>
        <td><%= twer.ss7 %></td>
        <td><%= twer.ss8 %></td>
        <td><%= twer.c1 %></td>
        <td><%= twer.c2 %></td>
        <td><%= twer.c3 %></td>
        <td><%= twer.c4 %></td>
        <td><%= twer.coachsig %></td>
        <td><%= twer.sidgdate %></td>
        <td><%= link_to 'Show', twer %></td>
        <td><%= link_to 'Edit', edit_twer_path(twer) %></td>
        <td><%= link_to 'Destroy', twer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twer', new_twer_path %>
