<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @twer.client %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @twer.employer %>
</p>

<p>
  <strong>Days:</strong>
  <%= @twer.days %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @twer.hours %>
</p>

<p>
  <strong>Week1:</strong>
  <%= @twer.week1 %>
</p>

<p>
  <strong>Final:</strong>
  <%= @twer.final %>
</p>

<p>
  <strong>Duties:</strong>
  <%= @twer.duties %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @twer.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @twer.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @twer.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @twer.q4 %>
</p>

<p>
  <strong>Wp1:</strong>
  <%= @twer.wp1 %>
</p>

<p>
  <strong>Wp2:</strong>
  <%= @twer.wp2 %>
</p>

<p>
  <strong>Wp3:</strong>
  <%= @twer.wp3 %>
</p>

<p>
  <strong>Wp4:</strong>
  <%= @twer.wp4 %>
</p>

<p>
  <strong>Wp5:</strong>
  <%= @twer.wp5 %>
</p>

<p>
  <strong>Wp6:</strong>
  <%= @twer.wp6 %>
</p>

<p>
  <strong>Wp7:</strong>
  <%= @twer.wp7 %>
</p>

<p>
  <strong>Ss1:</strong>
  <%= @twer.ss1 %>
</p>

<p>
  <strong>Ss2:</strong>
  <%= @twer.ss2 %>
</p>

<p>
  <strong>Ss3:</strong>
  <%= @twer.ss3 %>
</p>

<p>
  <strong>Ss4:</strong>
  <%= @twer.ss4 %>
</p>

<p>
  <strong>Ss5:</strong>
  <%= @twer.ss5 %>
</p>

<p>
  <strong>Ss6:</strong>
  <%= @twer.ss6 %>
</p>

<p>
  <strong>Ss7:</strong>
  <%= @twer.ss7 %>
</p>

<p>
  <strong>Ss8:</strong>
  <%= @twer.ss8 %>
</p>

<p>
  <strong>C1:</strong>
  <%= @twer.c1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @twer.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @twer.c3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @twer.c4 %>
</p>

<p>
  <strong>Coachsig:</strong>
  <%= @twer.coachsig %>
</p>

<p>
  <strong>Sidgdate:</strong>
  <%= @twer.sidgdate %>
</p>

<%= link_to 'Edit', edit_twer_path(@twer) %> |
<%= link_to 'Back', twers_path %>
