<%= form_with(model: otf, local: true) do |form| %>
  <% if otf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(otf.errors.count, "error") %> prohibited this otf from being saved:</h2>

      <ul>
        <% otf.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <table>
    <tr>
      <td>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>
      </td><td>
   <div class="field">
      <%= form.label :start %>
      <%= form.time_select :startTime,{minute_step: 15, :ampm => true}, include_blank: true %>
    </div>

      </td><td>
      <div class="field">
        <%= form.label :end %>
        <%= form.time_select :endTime,{minute_step: 15, :ampm => true}, include_blank: true %>
      </div>

      </td></tr>
      <tr>
        <td>
            <div class="field">
               <%= form.label :employer %>
               <%= form.collection_select(:employer, Employer.all.order(:employerName), :id, :employerName, include_blank: '' ) %>
               <%#= form.text_field :employerID %>
            </div>
        </td>
        <td>
          <div class="field">
              <%# test = @employees.where(end_date: [nil,'']) %>
              <%#= test %>
               <% @activeUser = @employees.where(email: current_user.email) %>
               <% @activeUser.each do |active| %>
                  <% if active.userType == "Manager" || active.userType == "DBadmin" %>
                     Employee name   <%= form.collection_select(:employee, @employees.where(end_date: [nil,'']).order(:employee), :id, :employee, include_blank: '') %>
                  <% else %>
                     Employee <%= form.text_field :employee, :value => active.id, :readonly => true  %>
                     <%#= active.employee %>
                  <% end %>
               <% end %>
             </div>
      </td>
      <td>

  <div class="field">
    <%= form.label :authid %>
    <%= form.text_field :authid, :value => @authid, :readonly => true %>
  </div>
      </td>
      </tr>
  </table>
  <h6>
Employability skills:
1=Substandard
2=Adequate/but inconsistent
3= Satisfactory
4= Excellent        NA= not applicable
  </h6>
  <br>
  <table>
    <tr>
      <td>
  <div class="field">
    <%= form.label :"Appropriate dress/hygiene for work environment  " %>
    <%= form.text_field :emp1 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp1comment %>
  </div>

      </td>
    </tr>
    <tr>
      <td>
  <div class="field">
    <%= form.label :"Follows assigned schedule; start/end/break times  " %>
    <%= form.text_field :emp2 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp2comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>
  <div class="field">
    <%= form.label :"Completes task with accuracy " %>
    <%= form.text_field :emp3 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp3comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Speed/work pace appropriate to job  " %>
    <%= form.text_field :emp4 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp4comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>
  <div class="field">
    <%= form.label :"Ability to focus on task  " %>
    <%= form.text_field :emp5 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp5comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Demonstrates ability to follow a routine/directions " %>
    <%= form.text_field :emp6 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp6comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Retains directions over time " %>
    <%= form.text_field :emp7 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp7comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Responds appropriately to redirection " %>
    <%= form.text_field :emp8 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp8comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Changes from one activity to another without difficulty " %>
    <%= form.text_field :emp9 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp9comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Accepts changes to established routines " %>
    <%= form.text_field :emp10 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp10comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Willing to redo tasks/accepts constructive criticism " %>
    <%= form.text_field :emp11 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp11comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Ability to multitask " %>
    <%= form.text_field :emp12 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp12comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Respects authority/supervision " %>
    <%= form.text_field :emp13 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp13comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Demonstrates initiatives in the absence of directions  " %>
    <%= form.text_field :emp14 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp14comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Is independent (can work without supervision) " %>
    <%= form.text_field :emp15 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp15comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Checks quality of work " %>
    <%= form.text_field :emp16 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp16comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Demonstrates appropriate use of work materials " %>
    <%= form.text_field :emp17 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp17comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Communicates effectively with peers/ community " %>
    <%= form.text_field :emp18 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp18comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Maingtains appropriate soft skills  " %>
    <%= form.text_field :emp19 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp19comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Ability to read/ understand job related material " %>
    <%= form.text_field :emp20 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp20comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Uses basic math/money as required" %>
    <%= form.text_field :emp21 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp21comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Maintains stamina/endurance for job " %>
    <%= form.text_field :emp22 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp22comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Demonstrates motivation to work " %>
    <%= form.text_field :emp23 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :emp23comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <h4> Physical </h4>
      </td>
    </tr>
    <tr>
      <td>
  <div class="field">
    <%= form.label :Walking %>
    <%= form.text_field :phy1 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy1comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Standing/stooping" %>
    <%= form.text_field :phy2 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy2comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :Sitting %>
    <%= form.text_field :phy3 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy3comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :Climbing %>
    <%= form.text_field :phy4 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy4comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :Reaching %>
    <%= form.text_field :phy5 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy5comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Carrying/lifting/ pushing" %>
    <%= form.text_field :phy6 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy6comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :Balance %>
    <%= form.text_field :phy7 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy7comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Fine motor skills " %>
    <%= form.text_field :phy8 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy8comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Gross motor skills " %>
    <%= form.text_field :phy9 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy9comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Communication ability" %>
    <%= form.text_field :phy10 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :phy10comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td colspan=2>

  <h4>Environment</h4>
  <h6>Environmental factors of Site: "X" = Affected Performance N/A Non-Applicable Explain</h6>
  <td>
    </tr>
    <tr>
      <td>
  <div class="field">
    <%= form.label :"Heat / Cold" %>
    <%= form.text_field :env1 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :env1comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Chemicals / Toxins / Fumes" %>
    <%= form.text_field :env2 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :env2comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :"Indoor / Outdoor" %>
    <%= form.text_field :env3 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :env3comment %>
  </div>

      </td>
    </tr>
    <tr>
      <td>
  <div class="field">
    <%= form.label :Noise %>
    <%= form.text_field :env4 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :env4comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>

  <div class="field">
    <%= form.label :Other %>
    <%= form.text_field :env5 %>
      </td><td>
    <%= form.label :Comment %>
    <%= form.text_field :env5comment %>
  </div>
      </td>
    </tr>
    <tr>
      <td>
  </table>















  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
