<p id="notice"><%= notice %></p>

<h1>Otfs</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Authid</th>
      <th>Employee</th>
      <th>Employer</th>
      <th>Emp1</th>
      <th>Emp2</th>
      <th>Emp3</th>
      <th>Emp4</th>
      <th>Emp5</th>
      <th>Emp6</th>
      <th>Emp7</th>
      <th>Emp8</th>
      <th>Emp9</th>
      <th>Emp10</th>
      <th>Emp11</th>
      <th>Emp12</th>
      <th>Emp13</th>
      <th>Emp14</th>
      <th>Emp15</th>
      <th>Emp16</th>
      <th>Emp17</th>
      <th>Emp18</th>
      <th>Emp19</th>
      <th>Emp20</th>
      <th>Emp21</th>
      <th>Emp22</th>
      <th>Emp23</th>
      <th>Phy1</th>
      <th>Phy2</th>
      <th>Phy3</th>
      <th>Phy4</th>
      <th>Phy5</th>
      <th>Phy6</th>
      <th>Phy7</th>
      <th>Phy8</th>
      <th>Phy9</th>
      <th>Phy10</th>
      <th>Env1</th>
      <th>Env2</th>
      <th>Env3</th>
      <th>Env4</th>
      <th>Env5</th>
      <th>Emp1comment</th>
      <th>Emp2comment</th>
      <th>Emp3comment</th>
      <th>Emp4comment</th>
      <th>Emp5comment</th>
      <th>Emp6comment</th>
      <th>Emp7comment</th>
      <th>Emp8comment</th>
      <th>Emp9comment</th>
      <th>Emp10comment</th>
      <th>Emp11comment</th>
      <th>Emp12comment</th>
      <th>Emp13comment</th>
      <th>Emp14comment</th>
      <th>Emp15comment</th>
      <th>Emp16comment</th>
      <th>Emp17comment</th>
      <th>Emp18comment</th>
      <th>Emp19comment</th>
      <th>Emp20comment</th>
      <th>Emp21comment</th>
      <th>Emp22comment</th>
      <th>Emp23comment</th>
      <th>Phy1comment</th>
      <th>Phy2comment</th>
      <th>Phy3comment</th>
      <th>Phy4comment</th>
      <th>Phy5comment</th>
      <th>Phy6comment</th>
      <th>Phy7comment</th>
      <th>Phy8comment</th>
      <th>Phy9comment</th>
      <th>Phy10comment</th>
      <th>Env1comment</th>
      <th>Env2comment</th>
      <th>Env3comment</th>
      <th>Env4comment</th>
      <th>Env5comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @otfs.each do |otf| %>
      <tr>
        <td><%= otf.date %></td>
        <td><%= otf.startTime %></td>
        <td><%= otf.endTime %></td>
        <td><%= otf.authid %></td>
        <td><%= otf.employee %></td>
        <td><%= otf.employer %></td>
        <td><%= otf.emp1 %></td>
        <td><%= otf.emp2 %></td>
        <td><%= otf.emp3 %></td>
        <td><%= otf.emp4 %></td>
        <td><%= otf.emp5 %></td>
        <td><%= otf.emp6 %></td>
        <td><%= otf.emp7 %></td>
        <td><%= otf.emp8 %></td>
        <td><%= otf.emp9 %></td>
        <td><%= otf.emp10 %></td>
        <td><%= otf.emp11 %></td>
        <td><%= otf.emp12 %></td>
        <td><%= otf.emp13 %></td>
        <td><%= otf.emp14 %></td>
        <td><%= otf.emp15 %></td>
        <td><%= otf.emp16 %></td>
        <td><%= otf.emp17 %></td>
        <td><%= otf.emp18 %></td>
        <td><%= otf.emp19 %></td>
        <td><%= otf.emp20 %></td>
        <td><%= otf.emp21 %></td>
        <td><%= otf.emp22 %></td>
        <td><%= otf.emp23 %></td>
        <td><%= otf.phy1 %></td>
        <td><%= otf.phy2 %></td>
        <td><%= otf.phy3 %></td>
        <td><%= otf.phy4 %></td>
        <td><%= otf.phy5 %></td>
        <td><%= otf.phy6 %></td>
        <td><%= otf.phy7 %></td>
        <td><%= otf.phy8 %></td>
        <td><%= otf.phy9 %></td>
        <td><%= otf.phy10 %></td>
        <td><%= otf.env1 %></td>
        <td><%= otf.env2 %></td>
        <td><%= otf.env3 %></td>
        <td><%= otf.env4 %></td>
        <td><%= otf.env5 %></td>
        <td><%= otf.emp1comment %></td>
        <td><%= otf.emp2comment %></td>
        <td><%= otf.emp3comment %></td>
        <td><%= otf.emp4comment %></td>
        <td><%= otf.emp5comment %></td>
        <td><%= otf.emp6comment %></td>
        <td><%= otf.emp7comment %></td>
        <td><%= otf.emp8comment %></td>
        <td><%= otf.emp9comment %></td>
        <td><%= otf.emp10comment %></td>
        <td><%= otf.emp11comment %></td>
        <td><%= otf.emp12comment %></td>
        <td><%= otf.emp13comment %></td>
        <td><%= otf.emp14comment %></td>
        <td><%= otf.emp15comment %></td>
        <td><%= otf.emp16comment %></td>
        <td><%= otf.emp17comment %></td>
        <td><%= otf.emp18comment %></td>
        <td><%= otf.emp19comment %></td>
        <td><%= otf.emp20comment %></td>
        <td><%= otf.emp21comment %></td>
        <td><%= otf.emp22comment %></td>
        <td><%= otf.emp23comment %></td>
        <td><%= otf.phy1comment %></td>
        <td><%= otf.phy2comment %></td>
        <td><%= otf.phy3comment %></td>
        <td><%= otf.phy4comment %></td>
        <td><%= otf.phy5comment %></td>
        <td><%= otf.phy6comment %></td>
        <td><%= otf.phy7comment %></td>
        <td><%= otf.phy8comment %></td>
        <td><%= otf.phy9comment %></td>
        <td><%= otf.phy10comment %></td>
        <td><%= otf.env1comment %></td>
        <td><%= otf.env2comment %></td>
        <td><%= otf.env3comment %></td>
        <td><%= otf.env4comment %></td>
        <td><%= otf.env5comment %></td>
        <td><%= link_to 'Show', otf %></td>
        <td><%= link_to 'Edit', edit_otf_path(otf) %></td>
        <td><%= link_to 'Destroy', otf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Otf', new_otf_path %>
