<p id="notice"><%= notice %></p>

<button type="button" class="btn btn-light"><%= link_to "Back_to_voucher", controller: "authorizations", action: "show", id: @otf.authid %></button>
<br>
<br>

<p>
  <strong>Date:</strong>
  <%= @otf.date %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @otf.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @otf.endTime %>
</p>

<p>
  <strong>Authid:</strong>
  <%= @otf.authid %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @otf.employee %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @otf.employer %>
</p>

<p>
Appropriate dress/hygiene for work environment  
  <%= @otf.emp1 %>
</p>

<p>
Follows assigned schedule; start/end/break times  
  <%= @otf.emp2 %>
</p>

<p>
Completes task with accuracy
  <%= @otf.emp3 %>
</p>

<p>
Speed/work pace appropriate to job
  <%= @otf.emp4 %>
</p>

<p>
Ability to focus on task
  <%= @otf.emp5 %>
</p>

<p>
Demonstrates ability to follow a routine/directions
  <%= @otf.emp6 %>
</p>

<p>
Retains directions over time
  <%= @otf.emp7 %>
</p>

<p>
  Responds appropriately to redirection 
  <%= @otf.emp8 %>
</p>

<p>
 Changes from one activity to another without difficulty 
 <%= @otf.emp9 %>
</p>

<p>
 Accepts changes to established routines 
 <%= @otf.emp10 %>
</p>

<p>
Willing to redo tasks/accepts constructive criticism 
  <%= @otf.emp11 %>
</p>

<p>
Ability to multitask 
  <%= @otf.emp12 %>
</p>

<p>
Respects authority/supervision 
  <%= @otf.emp13 %>
</p>

<p>
Demonstrates initiatives in the absence of directions 
  <%= @otf.emp14 %>
</p>

<p>
Is independent (can work without supervision) 
  <%= @otf.emp15 %>
</p>

<p>
Checks quality of work 
  <%= @otf.emp16 %>
</p>

<p>
Demonstrates appropriate use of work materials 
  <%= @otf.emp17 %>
</p>

<p>
Communicates effectively with peers/ community 
  <%= @otf.emp18 %>
</p>

<p>
Maingtains appropriate soft skills 
  <%= @otf.emp19 %>
</p>

<p>
Ability to read/ understand job related material 
  <%= @otf.emp20 %>
</p>

<p>
Uses basic math/money as required 
  <%= @otf.emp21 %>
</p>

<p>
Maintains stamina/endurance for job 
  <%= @otf.emp22 %>
</p>

<p>
Demonstrates motivation to work 
  <%= @otf.emp23 %>
</p>

<p>
  Walking  
  <%= @otf.phy1 %>
</p>

<p>
  Standing/stooping 
<%= @otf.phy2 %>
</p>

<p>
  Sitting 
  <%= @otf.phy3 %>
</p>

<p>
  Climbing 
<%= @otf.phy4 %>
</p>

<p>
Reaching 
  <%= @otf.phy5 %>
</p>

<p>
Carrying/lifting/ pushing 
  <%= @otf.phy6 %>
</p>

<p>
Balance 
  <%= @otf.phy7 %>
</p>

<p>
Fine motor skills 
  <%= @otf.phy8 %>
</p>

<p>
Gross motor skills 
  <%= @otf.phy9 %>
</p>

<p>
Communication ability 
  <%= @otf.phy10 %>
</p>

<p>
Heat / cold 
  <%= @otf.env1 %>
</p>

<p>
Chemicals / toxins / fumes 
  <%= @otf.env2 %>
</p>

<p>
Indoor / outdoor 
  <%= @otf.env3 %>
</p>

<p>
Noise 
  <%= @otf.env4 %>
</p>

<p>
Other 
  <%= @otf.env5 %>
</p>

<p>
  <strong>Emp1comment:</strong>
  <%= @otf.emp1comment %>
</p>

<p>
  <strong>Emp2comment:</strong>
  <%= @otf.emp2comment %>
</p>

<p>
  <strong>Emp3comment:</strong>
  <%= @otf.emp3comment %>
</p>

<p>
  <strong>Emp4comment:</strong>
  <%= @otf.emp4comment %>
</p>

<p>
  <strong>Emp5comment:</strong>
  <%= @otf.emp5comment %>
</p>

<p>
  <strong>Emp6comment:</strong>
  <%= @otf.emp6comment %>
</p>

<p>
  <strong>Emp7comment:</strong>
  <%= @otf.emp7comment %>
</p>

<p>
  <strong>Emp8comment:</strong>
  <%= @otf.emp8comment %>
</p>

<p>
  <strong>Emp9comment:</strong>
  <%= @otf.emp9comment %>
</p>

<p>
  <strong>Emp10comment:</strong>
  <%= @otf.emp10comment %>
</p>

<p>
  <strong>Emp11comment:</strong>
  <%= @otf.emp11comment %>
</p>

<p>
  <strong>Emp12comment:</strong>
  <%= @otf.emp12comment %>
</p>

<p>
  <strong>Emp13comment:</strong>
  <%= @otf.emp13comment %>
</p>

<p>
  <strong>Emp14comment:</strong>
  <%= @otf.emp14comment %>
</p>

<p>
  <strong>Emp15comment:</strong>
  <%= @otf.emp15comment %>
</p>

<p>
  <strong>Emp16comment:</strong>
  <%= @otf.emp16comment %>
</p>

<p>
  <strong>Emp17comment:</strong>
  <%= @otf.emp17comment %>
</p>

<p>
  <strong>Emp18comment:</strong>
  <%= @otf.emp18comment %>
</p>

<p>
  <strong>Emp19comment:</strong>
  <%= @otf.emp19comment %>
</p>

<p>
  <strong>Emp20comment:</strong>
  <%= @otf.emp20comment %>
</p>

<p>
  <strong>Emp21comment:</strong>
  <%= @otf.emp21comment %>
</p>

<p>
  <strong>Emp22comment:</strong>
  <%= @otf.emp22comment %>
</p>

<p>
  <strong>Emp23comment:</strong>
  <%= @otf.emp23comment %>
</p>

<p>
  <strong>Phy1comment:</strong>
  <%= @otf.phy1comment %>
</p>

<p>
  <strong>Phy2comment:</strong>
  <%= @otf.phy2comment %>
</p>

<p>
  <strong>Phy3comment:</strong>
  <%= @otf.phy3comment %>
</p>

<p>
  <strong>Phy4comment:</strong>
  <%= @otf.phy4comment %>
</p>

<p>
  <strong>Phy5comment:</strong>
  <%= @otf.phy5comment %>
</p>

<p>
  <strong>Phy6comment:</strong>
  <%= @otf.phy6comment %>
</p>

<p>
  <strong>Phy7comment:</strong>
  <%= @otf.phy7comment %>
</p>

<p>
  <strong>Phy8comment:</strong>
  <%= @otf.phy8comment %>
</p>

<p>
  <strong>Phy9comment:</strong>
  <%= @otf.phy9comment %>
</p>

<p>
  <strong>Phy10comment:</strong>
  <%= @otf.phy10comment %>
</p>

<p>
  <strong>Env1comment:</strong>
  <%= @otf.env1comment %>
</p>

<p>
  <strong>Env2comment:</strong>
  <%= @otf.env2comment %>
</p>

<p>
  <strong>Env3comment:</strong>
  <%= @otf.env3comment %>
</p>

<p>
  <strong>Env4comment:</strong>
  <%= @otf.env4comment %>
</p>

<p>
  <strong>Env5comment:</strong>
  <%= @otf.env5comment %>
</p>

<%#= link_to 'Edit', edit_otf_path(@otf) %> |
<%= link_to 'Back', otfs_path %>
