<h1>Counselor#index</h1>
<p>Find me in app/views/counselor/index.html.erb</p>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>

<br>
<!--

<a href="/manager/index"><button type="button" class="btn btn-primary">	Aaliyah Robinson-Peter 242</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Alexandra Jara-Almonte</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Allison Imbriale 091</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Andrea Apner 095</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Barbara Stockton</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Christopher Kempski 181</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Danielle Kwan 096</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Diane Bertrand</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Elizabeth Conte 093</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Jacqueline Boyden</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Jason Ruscil</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Jennifer Grant 120</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary"> Kristi Collins 095</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary"> Leila Molaie 082</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary"> Michaela McCauley 074</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary"> Samantha Alexander 093</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Stephen Barnes</button></a>
<br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Tanya Inotaev 070</button></a>
-->
<br>
Removed Middlesex
01 2020

<% tot_tot_clients = 0 %>
<% client_list = [] %>
<!-- Locate all counselors based on existing vouchers that are open -->
<!-- RESTRICTED -->
<%# @counselors = @authorizations.where(voucherInvoiceDate: [nil]).where.not(counselorName: ['DDD','IJC','LTFA', '264', '70','75', 'Aaliyah Robinson-Peter', 'Alexandra Jara-Almonte','Jacqueline Boyden','Jason Ruscil','Barbara Stockton','Diane Bertrand','Leila Molaie','Michaela McCauley','Stephen Barnes','Tanya Inotaev'] ).order(counselorName: :asc).distinct.pluck(:counselorName).to_a %>

<!-- unrestricted -->
<% @counselors = @authorizations.where(voucherInvoiceDate: [nil]).where.not(counselorName: ['LTFA', '264', '70','75', 'IJC'] ).order(counselorName: :asc).distinct.pluck(:counselorName).to_a %>i


<% @counselors.each do |counselor| %>
   <% clients = [] %>
   <% date_inter = [] %>
   <% clients_tot = 0%>
   <% vouchers = 0%>
   <% hrs_auth = 0 %>
   <% hrs_sup = 0 %>
   <% hrs_rem = 0 %>
<table border="1">
   <tr><th width="200px"><%= counselor %></th>
   <th width="140px">Service Type</th>
   <th width="140px">Voucher #</th>
   <th width="120">Auth Date</th>
   <th width="80">Hours<br>Authorized</th>
   <th width="80">Hours<br>Supported</th>
   <th width="80">Hours<br>Remaining</th>
   <th width="150">Last intervention<br>Date</th>
   <th width="150">Days since last intervention</th>
   </tr>
   <tr>
   <% @counselor_sort = @authorizations.where(voucherInvoiceDate: [nil], counselorName: counselor).where.not(serviceType: ['3','22', '23']).order(counselorName: :asc).to_a  %>
   <% @counselor_sort.each do |counselor_sort| %>

      <% @clients_sort = @clients.where(id: counselor_sort.clientID).order(clientLastName: :asc) %>
      <% @clients_sort.each do |clients_sort| %>
	<%#= clients_sort.clientLastName %> <%#= clients_sort.clientFirstName %>
	<!-- <table border="1"> -->

	<% if clients_sort.clientCounty != "Middlesex" %>	
  	   <% if (clients.include? counselor_sort.clientID) %>
	      <td></td>	
	   <% else %>	
	      <% clients.push(counselor_sort.clientID) %>        
	      <% fullname = clients_sort.clientLastName.to_s + ", " + clients_sort.clientFirstName.to_s %>
	      <% client_list.push(fullname) %>
	      <td><%= clients_sort.clientLastName %>, <%= clients_sort.clientFirstName %>
	      <!-- <td><%#= clients_sort.clientCounty%></td>  -->
	      <% clients_tot = clients_tot + 1 %>
            <% end %>  
	    

           <% if counselor_sort.serviceType== "22" %>
              <td> TWE</td>
           <% elsif counselor_sort.serviceType== "1" %>
              <td>IJC</td>
           <% elsif counselor_sort.serviceType == "2" %>
              <td> PP</td>
          <%else%>
                  <td> <%= counselor_sort.serviceType %></td>
          <% end %>



	  <% vouchers = vouchers + 1%>
	<td><%#= counselor_sort.voucherNumber%> <%= link_to counselor_sort.voucherNumber, controller: "authorizations", action: "show", id: counselor_sort.id %></td>
	<td><%= counselor_sort.voucherOrAuthorizationDate %></td>
	<td><%= counselor_sort.hoursAuthorized %></td>
	<td><%= counselor_sort.totalHoursSupported %></td>
	<td><%= counselor_sort.hoursRemaining %></td>
        <% hrs_auth = counselor_sort.hoursAuthorized.to_i + hrs_auth %>
        <% hrs_sup = counselor_sort.totalHoursSupported.to_i + hrs_sup %>
        <% hrs_rem = counselor_sort.hoursRemaining.to_i + hrs_rem %>
	<td>
	   <% @inter = @interventions.where(workAuthorizationID: counselor_sort.id).to_a %>
	   <% @inter.each do |inter| %>
             <% date_inter.push(inter.dateOfIntervention) %>  
	   <% end %>
	   <%= date_inter.last %>
	   <% date_inter.count %>
	</td>		
	<% if date_inter.blank? %>
	   <td></td>	 
	<% else %>	
	   <td><% last = date_inter.last %>   <% Time.now.to_date %><%= (last.to_date - Time.now.to_date).to_i %></td>
        <% end %>
   </tr>
	<% @inter = @interventions.where(workAuthorizationID: counselor_sort.id).to_a %>
	<% @inter.each do |inter| %>
		<%#= inter.dateOfIntervention.to_s.first(7).last(2) %> <%#= inter.dateOfIntervention.to_s.first(4) %>


	   <% if inter.dateOfIntervention.to_s.first(7).last(2) == "01" && inter.dateOfIntervention.to_s.first(4) == "2020" %>
	      <tr>
	      </tr>
	      <tr>
		      <!--		  <td></td> -->
	      <td class="font-weight-normal">
		      <!-- Voucher: <%#= counselor_sort.voucherNumber%> -->
		   Date : <%= inter.dateOfIntervention.to_date %>
		   <% @emp = @employees.where(id: inter.employeeID)%>
		   <% @emp.each do |emp| %>
		      <br>Employee : <br> &nbsp;&nbsp;&nbsp;<%= emp.employee %>
		   <% end %>
		  <%#= inter.startTime.to_s.first(16).last(5) %>
		  <%#= inter.endTime.to_time.to_s.first(16).last(5) %>
	          <%#= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
		</td>
		<td colspan="8" valign="top" width="400" class="font-weight-normal"><%= inter.clientProgress %> </td>
									  <%#= inter.jobRequirements %>
									  <%#= inter.skillsStatus %>
									  <%#= inter.interventionDescription %>
									  <%#= inter.generalComments %>
									  <%#= inter.prePlacementActivityID %>
									  <%#= inter.ActivityConductedID %>
	      </tr>
	<% end %> <%# if  end%>
<% end %>  <%# inter  end%>
<% end %> <!--  excude morristown  -->
       <% end %> <%# clients  end%>
      <!-- </table> -->
     <% end %><%# counselors end%>
      <p style="page-break-before: always"></p>
     <tr>
         <td colspan="4">Counselor Total:    Clients : <%= clients_tot %> <% tot_tot_clients = tot_tot_clients + clients_tot  %>|  Vouchers : <%= vouchers %></td>
     <td><%= hrs_auth.to_d  %></td>
     <td><%= hrs_sup.to_d %></td>
     <td><%= hrs_rem.to_d %></td>
     <td>Hours</td>
     </tr>
   </table>
   <br><br><br>
<% end %>

Total Clients Reported : <%= tot_tot_clients %>
<br>
<%#= client_list %>
<br><br><br>
