<%= form_with(model: authorization, local: true) do |form| %>
  <% if authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
        <% authorization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<style>
body {
        font-family: Tahoma;
       padding:20px;
}
</style>
 <a href="/manager/index">
    <button type="button" class="btn btn-primary">
       Manager Dashboard
    </button></a>

  <div class="field">
    <%#= form.label :funderID %>
    <%#= form.text_field :funderID %>
  </div>
  <table>
      <center>

  <tr>
      <td width="20">
 <%#= select_tag "fullname", options_from_collection_for_select(@Clients.all.order(:clientLastName), "id" ,:fullname_with_id)%>
 <%#= select_tag :clientID, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id)%>
 <div class="field">
     <center>

        <%= form.label :"Program Participant" %>
	<%#= select_tag :clientID, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id)%>
        <%#= form.collection_select :clientID, @clients.all.order(:clientLastName), :id, :fullname_with_id, class: "form-control" %>
 
        <%#= form.select :clientID, options_from_collection_for_select(@clients.all.order(:clientLastName), "id",:fullname_with_id, @clientid )%>
        <% if @clientid.present? %>
          <br>
          <%= form.text_field :clientID, class: "form-control", :value => @clientid %>
        <% else %>  
          <%= form.collection_select :clientID, @clients.all.order(:clientLastName), :id, :fullname_with_id %>
       <% end %>

      <%#= form.text_field :clientID %>
      <%#= @clientid %>
    <%#= form.collection_select(:employeeID, @Clients.where(clientEndServiceDate: [nil]).order(:clientLastName), :id, :id, include_blank: '' ) %>
  </div>

  <div class="field">
    <%#= form.label :"Voucher Number" %>
    <%= form.text_field :voucherNumber, class: "form-control" , placeholder: "Voucher Number" %>
    <%#= @voucher %>
  </div>

  <div class="field">
      <center>

    <%= form.label :"Voucher Authorization Date" %>
    <%= form.date_field :voucherOrAuthorizationDate, class: "form-control" %>
    <%#= form.date_select :voucherOrAuthorizationDate.to_s, :include_blank => true %>
    <%#= form.date_select :voucherOrAuthorizationDate %>
  </div>

  <div class="field">
    <%#= form.label :"Counselor Name" %>
    <%= form.text_field :counselorName, class: "form-control", placeholder: "Counselor Name" %>
  </div>


<% if @type == "CBWE" %>
    <%= form.text_field :serviceType, class: "form-control", :value => "22" %>
    <%= form.label :"Intake Days" %>
    <%= form.text_field :intake, class: "form-control", :value => "2"%>
    <%= form.label :"Evaluation Days" %>
    <%= form.text_field :hoursAuthorized, class: "form-control", :value => "6"%>
     <%= form.label :"Voucher Received Date" %>
     <%= form.date_field :VoucherReceivedDate, class: "form-control", placeholder: "Date Received" %>


    <%= @hours %>
  </div>
        <% else %>
  <div class="field">
      <center>

    <%= form.label :"Service Type" %>
 <% render "services" %>
<%= form.collection_select :serviceType, @services, :first, :last %>
       </div>


  <div class="field">
    <%= form.label :"Hours Authorized" %>
    <%= form.text_field :hoursAuthorized, class: "form-control", placeholder: "Hours Authorized" %>
    <%= @hours %>
  </div>

<div class="field">
    <%= form.label :VoucherRate %>

          <% @rates={
             '53.0' => '$53.0',
             '55.6' => '$55.6',
             '60.0' => '$60.0',
             '150.0' => '$150.0',
             '300.0' => '$300.0'
          } %>
     <%= form.collection_select :VoucherRate, @rates, :first, :last, class: "form-control" %>
<!--
    <%#= form.text_field :VoucherRate %> ex: 53.0 , 53, 56.50
    <%#= @rate %>
    -->
  </div>


  <div class="field">
    <%#= form.label :"Voucher Goal" %>
    <%= form.text_field :VoucherGoal, class: "form-control", placeholder: "Goal" %>
  </div>

  <div class="field">
    <%= form.label :"Voucher Received Date" %>
    <%= form.date_field :VoucherReceivedDate, class: "form-control", placeholder: "Date Received" %>
  </div>
<% end %>
  <br><br>
  <br><br>



  <% if @serviceType == "3" && @voucher.first(2) != "FA" %>
     <table style="white-space:nowrap;" valign="top" align="center" >
       <tr>
         <th>
            Year|
         </th>
          <th>
            Invoice Date|
          </th>
          <th>
            Invoiced $|
          </th>
          <th>
            Invoice Number|
          </th>
          <th>
            Payment Date|
          </th>
          <th>
            Adjustment|
          </th>
          <th>
            Comment
          </th>
       </tr>
 <!--      <tr>
         <td>
            <% if  @authorization.voucherInvoiceDate.present? %>
              <%# if  @authorization.invoicedate.present? %>
                <%= @authorization.voucherInvoiceDate.to_date %>
                <%#= @authorization.invoicedate.to_date %>
              <% end %>
         </td>
         <td>
           Amount Invoiced : <b>$<%= @authorization.voucherAmountInvoiced %></b>
         </td>
         <td>
           Invoice #: <b><%= @authorization.VoucherInvoiceNumber %></b>
         </td>
       </tr>
 -->   
 <tr>
   
     <td>
       <%= form.label :"Jan" %>
     <br>
     <br>
     <br>
       <%= form.label :"Feb" %>
     <br>
     <br>
     <br>
       <%= form.label :"Mar" %>
     <br>
     <br>
     <br>
       <%= form.label :"Apr" %>
     <br>
     <br>
     <br>
       <%= form.label :"May" %>
     <br>
     <br>
       <%= form.label :"Jun" %>
     <br>
     <br>
     <br>
       <%= form.label :"Jul" %>
     <br>
     <br>
       <%= form.label :"Aug" %>
     <br>
     <br>
     <br>
       <%= form.label :"Sep" %>
     <br>
     <br>
     <br>
       <%= form.label :"Oct" %>
     <br>
     <br>
     <br>
       <%= form.label :"Nov" %>
     <br>
     <br>
     <br>
       <%= form.label :"Dec" %>
   </td>
         <td valign=top>
             <%# if @authorization.invoiceDateJan.present? %>
                <%= form.date_field :invoiceDateJan, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateFeb.present? %>
                <%= form.date_field :invoiceDateFeb, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateMar.present? %>
                <%= form.date_field :invoiceDateMar, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateApr.present? %>
                <%= form.date_field :invoiceDateApr, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateMay.present? %>
                <%= form.date_field :invoiceDateMay, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateJun.present? %>
                <%= form.date_field :invoiceDateJun, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateJul.present? %>
                <%= form.date_field :invoiceDateJul, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateAug.present? %>
                <%= form.date_field :invoiceDateAug, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateSep.present? %>
                <%= form.date_field :invoiceDateSep, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateOct.present? %>
                <%= form.date_field :invoiceDateOct, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateNov.present? %>
                <%= form.date_field :invoiceDateNov, class: "form-control" %>
                <br>
             <%# end %>
             <%# if @authorization.invoiceDateDec.present? %>
                <%= form.date_field :invoiceDateDec, class: "form-control" %>
             <%# end %>
         </td>
  <td valign=top>
             <% if @authorization.invoiceAmountJan.present? %>
                <%= form.text_field :invoiceAmountJan, class: "form-control", placeholder: "Invoiced Amount January" , :readonly => true  %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountFeb.present? %>
                <%= form.text_field :invoiceAmountFeb, class: "form-control", placeholder: "Invoiced Amount Feburary" , :readonly => true  %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountMar.present? %>
                <%= form.text_field :invoiceAmountMar, class: "form-control", placeholder: "Invoiced Amount March", :readonly => true   %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountApr.present? %>
                <%= form.text_field :invoiceAmountApr, class: "form-control", placeholder: "Invoiced Amount April" , :readonly => true  %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountMay.present? %>
                <%= form.text_field :invoiceAmountMay, class: "form-control", placeholder: "Invoiced Amount May", :readonly => true   %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountJun.present? %>
                <%= form.text_field :invoiceAmountJun, class: "form-control", placeholder: "Invoiced Amount June" , :readonly => true  %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountJul.present? %>
                <%= form.text_field :invoiceAmountJul, class: "form-control", placeholder: "Invoiced Amount July", :readonly => true   %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountAug.present? %>
                <%= form.text_field :invoiceAmountAug, class: "form-control", placeholder: "Invoiced Amount August", :readonly => true   %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountSep.present? %>
                <%= form.text_field :invoiceAmountSep, class: "form-control", placeholder: "Invoiced Amount Septembery", :readonly => true   %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountOct.present? %>
                <%= form.text_field :invoiceAmountOct, class: "form-control", placeholder: "Invoiced Amount October", :readonly => true   %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountNov.present? %>
                <%= form.text_field :invoiceAmountNov, class: "form-control", placeholder: "Invoiced Amount November" , :readonly => true  %>
                <br>
             <% end %>
             <% if @authorization.invoiceAmountDec.present? %>
                <%= form.text_field :invoiceAmountDec, class: "form-control", placeholder: "Invoiced Amount December", :readonly => true %>
                <br>
             <% end %>

         </td>
         <td valign=top >
           <% if @authorization.invoiceNumberJan.present? %>
                <%= form.text_field :invoiceNumberJan, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberFeb.present? %>
                <%= form.text_field :invoiceNumberFeb, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberMar.present? %>
                <%= form.text_field :invoiceNumberMar, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberApr.present? %>
                <%= form.text_field :invoiceNumberApr, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberMay.present? %>
                <%= form.text_field :invoiceNumberMay, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberJun.present? %>
                <%= form.text_field :invoiceNumberJun, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberJul.present? %>
                <%= form.text_field :invoiceNumberJul, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberAug.present? %>
                <%= form.text_field :invoiceNumberAug, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberSep.present? %>
                <%= form.text_field :invoiceNumberSep, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberOct.present? %>
                <%= form.text_field :invoiceNumberOct, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberNov.present? %>
                <%= form.text_field :invoiceNumberNov, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.invoiceNumberDec.present? %>
                <%= form.text_field :invoiceNumberDec, class: "form-control" %>
                <br>
             <% end %>
         </td>
 <td  valign=top >
            <% if @authorization.paymentReceivedDateJan.present? %>
                <%= form.date_field :paymentReceivedDateJan, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateFeb.present? %>
                <%= form.date_field :paymentReceivedDateFeb, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateMar.present? %>
                <%= form.date_field :paymentReceivedDateMar, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateApr.present? %>
                <%= form.date_field :paymentReceivedDateApr, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateMay.present? %>
                <%= form.date_field :paymentReceivedDateMay, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateJun.present? %>
                <%= form.date_field :paymentReceivedDateJun, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateJul.present? %>
                <%= form.date_field :paymentReceivedDateJul, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateAug.present? %>
                <%= form.date_field :paymentReceivedDateAug, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateSep.present? %>
                <%= form.date_field :paymentReceivedDateSep, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateOct.present? %>
                <%= form.date_field :paymentReceivedDateOct, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateNov.present? %>
                <%= form.date_field :paymentReceivedDateNov, class: "form-control" %>
                <br>
             <% end %>
             <% if @authorization.paymentReceivedDateDec.present? %>
                <%= form.date_field :paymentReceivedDateDec, class: "form-control" %>
                <br>
             <% end %>
         </td>
        <td>
             <% if @authorization.invoiceAdjustmentJan.present? %>
                <%= @authorization.invoiceAdjustmentJan %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentFeb.present? %>
                <%= @authorization.invoiceAdjustmentFeb %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentMar.present? %>
                <%= @authorization.invoiceAdjustmentMar %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentApr.present? %>
                <%= @authorization.invoiceAdjustmentApr %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentMay.present? %>
                <%= @authorization.invoiceAdjustmentMay %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentJun.present? %>
                <%= @authorization.invoiceAdjustmentJun %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentJul.present? %>
                <%= @authorization.invoiceAdjustmentJul %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentAug.present? %>
                <%= @authorization.invoiceAdjustmentAug %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentSep.present? %>
                <%= @authorization.invoiceAdjustmentSep %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentOct.present? %>
                <%= @authorization.invoiceAdjustmentOct %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentNov.present? %>
                <%= @authorization.invoiceAdjustmentNov %>
                <br>
             <% end %>
             <% if @authorization.invoiceAdjustmentDec.present? %>
               <%= @authorization.invoiceAdjustmentDec %>
                <br>
             <% end %>
         </td>
   <td>
             <% if @authorization.paymentCommentJan.present? %>
                <%= @authorization.paymentCommentJan %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentFeb.present? %>
                <%= @authorization.paymentCommentFeb %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentMar.present? %>
                <%= @authorization.paymentCommentMar %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentApr.present? %>
                <%= @authorization.paymentCommentApr %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentMay.present? %>
                <%= @authorization.paymentCommentMay %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentJun.present? %>
                <%= @authorization.paymentCommentJun %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentJul.present? %>
                <%= @authorization.paymentCommentJul %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentAug.present? %>
                <%= @authorization.paymentCommentAug %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentSep.present? %>
                <%= @authorization.paymentCommentSep %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentOct.present? %>
                <%= @authorization.paymentCommentOct %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentNov.present? %>
                <%= @authorization.paymentCommentNov %>
                <br>
             <% end %>
             <% if @authorization.paymentCommentDec.present? %>
               <%= @authorization.paymentCommentDec %>
                <br>
             <% end %>
         </td>

       </tr>
      </table>
    <% else %>
  <center>
  <h3> Payment Info </h3>

  <div class="field">
    <%#= form.label :hoursRemaining %>
    <%#= form.text_field :hoursRemaining %>
  </div>

  <div class="field">
    <%#= form.label :totalHoursSupported %>
    <%#= form.text_field :totalHoursSupported %>
  </div>

  <%#= form.date_field :test, @voucherInvoiceDate_exist %>
  <div class="field">
    <%= form.label :"Invoice Date" %>
    <%= form.date_field :voucherInvoiceDate, class: "form-control", placeholder: "Invoice Date"  %>

  </div>

  <div class="field">
    <%#= form.label :"Voucher Invoice Number" %>
    <%= form.text_field :VoucherInvoiceNumber, class: "form-control", placeholder: "Invoice Number" %>
  </div>

  <div class="field">
    <%= form.label :"Payment Date" %>
    <%= form.date_field :voucherPaymentReceivedDate, class: "form-control", placeholder: "Payment Date" %>
  </div>

  <div class="field">
    <%#= form.label :"Voucher Payment Amount Received" %>
    <%= form.text_field :voucherPaymentReceived, class: "form-control", placeholder: "Payment Amount" %>
  </div>

  <div class="field">
    <%#= form.label :"Voucher Invoice Adjustment" %>
    <%= form.text_field :voucherInvoiceAdjustment, class: "form-control", placeholder: "Invoice Adjustment" %>
  </div>

  <div class="field">
    <%#= form.label :"voucher Payment Comment" %>
    <%= form.text_field :voucherPaymentComment, class: "form-control", placeholder: "Payment Comment" %>
  </div>

  <div class="field">
    <%#= form.label :"Voucher Amount Invoiced" %>
    <%= form.text_field :voucherAmountInvoiced, class: "form-control", placeholder: "Amount Invoiced" %>
  </div>

  <div class="field">
    <%#= form.label :VoucherCompleted %>
    <%#= form.text_field :VoucherCompleted %>
  </div>


  <div class="field">
    <%#= form.label :VoucherFACounty %>
    <%#= form.text_field :VoucherFACounty %>
  </div>

  <div class="field">
    <%#= form.label :VoucherStatus %>
    <%#= form.text_field :VoucherStatus %>
  </div>

  <div class="field">
    <%#= form.label :FlatRateVoucher %>
    <%#= form.text_field :FlatRateVoucher %>
  </div>

<% end %>


  <center>

  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
