<% @services={
             '1' => 'Intensive Job Training',
             '2' => 'Pre-Placement',
        '3' => 'LTFA',
          '4' => 'DDD',
          '9' => 'Time-Limited IJC (Intensive)',
          '10' => 'Unused',
          '11' => 'Group-LTFA',
          '12' => 'Restablization Voucher',
  '13' =>'Replacement Voucher',
          '16' => 'DDD-PP',
  '22' => 'CBWE',
  '23' => 'TWE',
  '24' => 'Pre-Ets Fees for Service',
  '25' => 'School Evaluation',
  '26' => 'Pre-Ets - Job Exploration',
  '27' => 'Pre-Ets - Post-Secondary Counseling',
  '28' => 'Pre-Ets - Work-Based Learning',
  '29' => 'Pre-Ets - Workplace Readiness',
  '30' => 'Pre-Ets - Self-Advocacy',
  '31' => 'Extended Employment'
     } %>

