<p id="notice"><%= notice %></p>

<h1>Authorizations</h1>
<h3> Import</h3>
<%= form_tag import_authorizations_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Upload" %>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th>Funderid</th>
      <th>Clientid</th>
      <th>Vouchernumber</th>
      <th>Voucherorauthorizationdate</th>
      <th>Counselorname</th>
      <th>Servicetype</th>
      <th>Hoursauthorized</th>
      <th>Hoursremaining</th>
      <th>Totalhourssupported</th>
      <th>Voucherinvoicedate</th>
      <th>Voucherinvoicenumber</th>
      <th>Voucherpaymentreceiveddate</th>
      <th>Voucherpaymentreceived</th>
      <th>Voucherinvoiceadjustment</th>
      <th>Voucherpaymentcomment</th>
      <th>Voucheramountinvoiced</th>
      <th>Vouchercompleted</th>
      <th>Voucherrate</th>
      <th>Vouchergoal</th>
      <th>Voucherreceiveddate</th>
      <th>Voucherfacounty</th>
      <th>Voucherstatus</th>
      <th>Flatratevoucher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorizations.each do |authorization| %>
      <tr>
        <td><%= authorization.funderID %></td>
        <td><%= authorization.clientID %></td>
        <td><%= authorization.voucherNumber %></td>
        <td><%= authorization.voucherOrAuthorizationDate %></td>
        <td><%= authorization.counselorName %></td>
        <td><%= authorization.serviceType %></td>
        <td><%= authorization.hoursAuthorized %></td>
        <td><%= authorization.hoursRemaining %></td>
        <td><%= authorization.totalHoursSupported %></td>
        <td><%= authorization.voucherInvoiceDate %></td>
        <td><%= authorization.VoucherInvoiceNumber %></td>
        <td><%= authorization.voucherPaymentReceivedDate %></td>
        <td><%= authorization.voucherPaymentReceived %></td>
        <td><%= authorization.voucherInvoiceAdjustment %></td>
        <td><%= authorization.voucherPaymentComment %></td>
        <td><%= authorization.voucherAmountInvoiced %></td>
        <td><%= authorization.VoucherCompleted %></td>
        <td><%= authorization.VoucherRate %></td>
        <td><%= authorization.VoucherGoal %></td>
        <td><%= authorization.VoucherReceivedDate %></td>
        <td><%= authorization.VoucherFACounty %></td>
        <td><%= authorization.VoucherStatus %></td>
        <td><%= authorization.FlatRateVoucher %></td>
        <td><%= link_to 'Show', authorization %></td>
        <td><%= link_to 'Edit', edit_authorization_path(authorization) %></td>
        <td><%= link_to 'Destroy', authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorization', new_authorization_path %>
