<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>
<%= @month %>




<% @inter = @interventions.where(workAuthorizationID: @authorization.id).order(:dateOfIntervention).to_a %>
<% total = 0 %>
<% tot = 0 %>
<% progress = 0 %>
<% comments = 0 %>
<% @inter_dates = [] %>
<% @inter.each do |inter| %>

  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
  <% tot = hrs + tot %>
 
  <!-- There is for monthly billed out vouchers -->
  <% if @authorization.serviceType == "3" %>
     <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
        <% current_Month_Hours = hrs + current_Month_Hours %>
        <% @inter_dates << inter.dateOfInterventionyy %>
     <% end %>
  <% else %>   
      <% @inter_dates << inter.dateOfInterventionyy %>
   <% end %>

<% end %>
<% @inter.each do |inter| %>

  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
  <% tot = hrs + tot %>
  <!-- There is for monthly billed out vouchers -->
  <% if @authorization.serviceType == "3" %>
     <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
       <% current_Month_Hours = hrs + current_Month_Hours %>
     <% end %>
  <% end %>

<% office = 0 %>
<center> <font size="5"><b>DVRS SE/TLJC Log for Placement Activities</b></font><br>
<font size="3"><b>(Include with Activity Report for all billable pre-placement and re-placement hours)</b></font>
<%= @month %>
<p>



<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded the authorization PDF " + @authorization.id.to_s + "\n"; end %>

<table width=800px style="font-size:12px">
  <tr>
        <div class="container-fluid bg-3 text-center">
           <div class="row">
                <div class="col-sm-3">
                  <% @name = @clients.where(id: @authorization.clientID).to_a %>
                  <% @name.each do |name|  %>
                     <td>Consumer Name : <b><%= fullname = name.clientLastName.to_s + ", " + name.clientFirstName.to_s %></b></td>
                      <% office = name.clientCounty %>
	      <% end %>
	        <td>Employment Goal : <b><%= @authorization.VoucherGoal %></b></td>

		<!--  <td>Report Completed : <b><%#= Time.now.strftime("%Y-%m-%d %H:%m") %></b></td> -->
		</tr>
		<tr>
  <td>DVRS Counselor : <b><%= @authorization.counselorName %></b> / DVRS Office : <b><%= office %></b></td>
  <td>DVRS Invoice #: <b><%= @authorization.voucherNumber %></b></td>

</tr>
             <tr>
                 <td>Reporting Period : <b><%= @inter_dates.first %> - <%= @inter_dates.last %></b></td>
             </tr>
             <tr>


          <% w_auth = @authorization.id.to_i %>
        <!--  <td>Voucher # : <b><%#= @authorization.voucherNumber %></b></td> -->
        <!--   <td>FunderID : <b><%= @authorization.funderID %></b></td> -->
          </tr>
<tr>
  <td>Provider Agency : <b>Center for Educational Advancement</b></td>
  <td>Contact Phone : <b>908-782-1480</b></td>
</tr>
<tr>
  <td>Report Completed By : <b>Candace Klymec</b></td>
</tr>
</table>


<br>

<!--
      </div>
      <div class="col-sm-3">
          Authorization Date :  <b><%#= @authorization.voucherOrAuthorizationDate.to_d %></b><br>
          CounselorName : <br><b><%#= @authorization.counselorName %></b><br>
          ServiceType : <b><%#= @authorization.serviceType %></b><br>
      </div>
      <div class="col-sm-3">
          Hours Authorized : <b><%#= @authorization.hoursAuthorized %></b><br>
          hoursRemaining : <b><%#= @authorization.hoursRemaining %></b><br>
          totalHoursSupported : <b><%#= @authorization.totalHoursSupported %></b><br>
      </div>
      <div class="col-sm-3">
          voucherInvoiceDate : <b><%#= @authorization.voucherInvoiceDate %></b><br>
          VoucherInvoiceNumber: <b><%#= @authorization.VoucherInvoiceNumber %></b><br>
          voucherPaymentReceivedate : <b><%#= @authorization.voucherPaymentReceivedDate %></b><br>
      </div>
   </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
          <div class="col-sm-3">
        voucherInvoiceAdjustment : <b><%#= @authorization.voucherInvoiceAdjustment %></b><br>
        voucherPaymentComment : <b><%#= @authorization.voucherPaymentComment %></b><br>
        voucherAmountInvoiced : <b><%#= @authorization.voucherAmountInvoiced %></b><br>
    </div>
    <div class="col-sm-3">
        VoucherCompleted : <b><%#= @authorization.VoucherCompleted %></b>
        VoucherGoal : <b><%#= @authorization.VoucherGoal %></b>
        VoucherReceiveDate : <b><%#= @authorization.VoucherReceivedDate %></b>
    </div>

<div class="col-sm-3">
         VoucherFACounty : <b><%#= @authorization.VoucherFACounty %></b>
         VoucherStatus : <b><%#= @authorization.VoucherStatus %></b>
         VoucherStatus : <b><%#= @authorization.FlatRateVoucher %></b>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
<br><br>

    <!-- Top part of Counselor Activity -->
  <!--                 <h2>Counselor Activity Log Report</h2>
                Reporting Period
                <%#= @inter_dates.first %> - <%#= @inter_dates.last %>
                <br>
                Office <br>
        CounselorName : <b><%#= @authorization.counselorName %></b><br>



    <%# name = @clients.where(id: @authorization.clientID).to_a %>
    <%# @name.each do |name|  %>
       Name : <b><%#= name.clientFirstName %> <%#= name.clientLastName %></b></b><br>
    <%# end %>
                Voucher # : <b><%#= @authorization.voucherNumber %></b><br>
          Authorization Date :  <b><%#= @authorization.voucherOrAuthorizationDate.to_date  %></b><br>
                <%# @inter = @interventions.where(workAuthorizationID: @authorization.id).to_a %>
    <% total = 0 %>
    <% tot = 0 %>

    <% @inter.each do |inter| %>

      <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
      <% tot = hrs + tot %>
    <% end %>
      Hours : <b><%#= tot %></b>
<br><br>
    </td>
  </tr>
</table>
-->
<!-- End counselor Activity -->


<table border="1" style="font-size:12px">
<tr>
   <th>
      Date/Coach
      <br>Time (Start/End) 
   </th>

 <% @inter.each do |inter| %>
         <% if inter.clientProgress.present? %>
            <% progress = 1 %>
         <% end  %>
         <% if inter.generalComments.present? %>
            <% comments = 1 %>
        <% end %>

     <% end %>

      <% if comments == 1 && progress == 1 %>
        <td colspan="2" align="center">
        <b>Activity - Describe Billable Activity</b><br>
        <font size=1.75px>(When documenting employer contacts include the employer name and contact person.)</font>
         <br>
	 <font size=1.9px><b>Refer to Procedural Guidelines for Job Coaching Services & Billable Hours</b></font>
        </td>

      <% else %>
             <td align="center">
                <b>Activity - Describe Billable Activity</b><br>
                <font size=1.75px>(When documenting employer contacts include the employer name and contact person.)</font>
             <br>
	     <font size=1.9px><b>Refer to Procedural Guidelines for Job Coaching Services & Billable Hours</b></font>
           </td>
      <% end  %>


<!--   <th>
   <b>Activity - Describe Billable Activity</b><br>
   <font size=2px>(When documenting employer contacts include the employer name and contact person.)</font>
   <br>
Refer to Procedural Guidelines for Job Coaching Services & Billable Hours
</th>
-->


   <th>
      <table border="1" >
         <tr><th colspan="4">
         <font size="2">Time Spent in each Activity</font>
         </th></tr>
         <tr>
	 <td><b>I/A</b></td>
<td><b>CJD</b></td>
<td><b>JSA</b></td>
<td><b>JS</b></td></b>
</tr>
</table>
   </th>
</tr>
  <% @inter.each do |inter| %>
    <tr>
      <td width="150">
           <!-- All the way on the left where it shows date,employee,start,end, hours -->
               <table style="font-size:12px">
                       <tr>
               <td>Date : <b><%= inter.dateOfIntervention %></b></td>
             </tr>
             <tr>
                <td>
                    <% @emp = @employees.where(id: inter.employeeID)%>
                    <% @emp.each do |emp| %>
                                   Emp : <b><%= emp.employee %></b>
                    <% end %>
                </td>
            </tr>
                <tr>
              <td>
                    Start : <b><%= inter.startTime.to_s.first(16).last(5) %></b>
                  <br>End : <b><%= inter.endTime.to_time.to_s.first(16).last(5) %></b>
              </td>
            </tr>
<!--
            <tr>
              <td>
                  Hours : <b><%= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b>
                  <br>
                  Type : <b>JD</b>
                  </td>
            </tr>
            -->
            </table>
      </td>
      <!--  End left segment -->
      
      <% if inter.clientProgress.present? %>
      <td valign="top">
        <%= inter.clientProgress %>
        </td>
      <% end %>   
        <%#= inter.jobRequirements %>
        <%#= inter.skillsStatus %>
	<%#= inter.interventionDescription %>
	      <% if inter.generalComments.present? %>
		    <td><%= inter.generalComments %></td>
	      <% end %>
        <%#= inter.prePlacementActivityID %>
        <%#= inter.ActivityConductedID %>
        <td>
        <table border="1">
	<tr>
	  <td style="height:100px" ><!--Hours : -->0<b> <%#= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b></td>
         <td>0</td>
         <td>0</td>
         <td >          <!--Hours : --><b><%= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b></td>
	 </tr>
            </table>
                  </td>


        <%#= link_to 'Show', inter %>
      <%#= link_to 'Edit', edit_intervention_path(inter) %>
      <%#= link_to 'Destroy', inter, method: :delete, data: { confirm: 'Are you sure?' } %>
     </tr>
   <% end %>
   <tr>
   <% if comments == 1 && progress == 1 %>
      <td colspan=3 align="right"><font size="3"> Total Hours Used (By Activity)&nbsp; </td>
   <% else %>
      <td colspan=2 align="right"><font size="3"> Total Hours Used (By Activity)&nbsp; </td>
   <% end %>
    <td>
    <table border=1>
    <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td><b>
    
<!-- There is for monthly billed out vouchers -->
  <% if @authorization.serviceType == "3" %>
     <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
       <%= current_Month_Hours %>
     <% end %>
  <% else %>
       <%= tot %>
   <% end %>    

    </b></td>
    </tr>
    </table>
    </td>
    </tr>
    <tr>
    <% if comments == 1 && progress == 1 %>
       <td colspan=3 align="right"><font size="3">Total Hours Used on Log &nbsp;  </td>

	<% else %>
       <td colspan=2 align="right"><font size="3">Total Hours Used on Log &nbsp;  </td>
       <% end %>
              <td colspan=2><font size="4"><b>&nbsp; <%= tot %></b></font></td>

    </tr>
   
</table>
</table>

<br><br>

<font size=3><b>Key: I/A </b>= Intake/Assessment <b>CJD</b> = Customized Job Development <b>JSA</b> = Job Site Analysis <b>JS</b>= Job Sampling
<br>
