<% @inter = @interventions.where(workAuthorizationID: @authorization.id).order(:dateOfIntervention).to_a %>
<% total = 0 %>
<% tot = 0 %>
<% progress = 0 %>
<% comments = 0 %>
<% @inter_dates = [] %>
<% @inter.each do |inter| %>

  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
  <% tot = hrs + tot %>
  <% @inter_dates << inter.dateOfIntervention %>
<% end %>
<style>
white-space: nowrap;
</style>
<% office = 0 %>

<% if @authorization.serviceType == "3" %>

  <center> <font size="5"><b>LTFA INTERVENTION PLAN & SERVICE LOG</b></font><br>
<% else %>
  <%# Job Coaching Progress Report & Service Log %>


<center> <font size="5"><b>DVRS SE/TLJC Log for Placement Activities</b></font><br>
<font size="3"><b>(Include with Activity Report for all billable pre-placement and re-placement hours)</b></font>
<% end %>
<p>



<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded the authorization PDF " + @authorization.id.to_s + "\n"; end %>



<%# if @authorization.serviceType == "3" %>

<table border=1 width=880px style="font-size:12px">
   <th colspan=2 style="background-color:#c1c1c1;color:#111111;" >
   Consumer Information</th>
   <tr>
       <div class="container-fluid bg-3 text-center">
       <div class="row">
       <div class="col-sm-3">
          <% @name = @clients.where(id: @authorization.clientID).to_a %>
          <% @name.each do |name|  %>
             <td>Name of Consumer: <b><%= fullname = name.clientLastName.to_s + ", " + name.clientFirstName.to_s %></b></td>
             <% office = name.clientCounty %>
	  <% end %>
<%#-- Provider --%>
          <td>Vender: <b>Center for Educational Advancement</b>
          </td>
    </tr>
    <tr>
        <td>Job Coach: <b>Candace Klymec</b><br>
        Phone : <b>908-782-1480</b> Email: <b>CKlymec@cea-nj.org</b></td>
<%#-- Reporting Period  --%>
<!--    <td>Reporting Period:<br> Start Date: <b><%#= @inter_dates.first %></b> End Date: <b><%#= @inter_dates.last %></b></td>-->

        <td> Month & Year: <b><%= Time.now.to_s.first(7) %>
        </td>
  </tr>
  <tr>
      <td>IPE Vocational Goal: <b><%= @authorization.VoucherGoal %></b></td>
      <%# Voucher/Invoice #%>
      <!--   <td>DVRS Invoice #: <b><%#= @authorization.voucherNumber %></b></td> -->

      <td>LTFA Start Date: </td> 

  </tr>
  <tr>
      <td>
      DVRS Central Office: <b><%= office %></b><br>
      <%# DVRS Counselor VRC: #>
          DVRS LTFA Program Manager: <b><%= @authorization.counselorName %></b>
      </td>
<td>Phone: <b></b> Email: <b></b></td>
</tr>
</table>

<table border=1 style="font-size:12px">
   <th colspan=3 style="background-color:#c1c1c1;color:#111111;" >
   Employment Information</th>

<% @history = @clientemployers.where(clientID: @authorization.clientID, endDate: [nil, ()]).to_a %>
      <% @history.each do |history| %>
         <% @jobs = @employers.where(id: history.clientEmployerID).to_a %>
         <% @jobs.each do |job| %>
        <tr>
        <td>Consumer's Job Title: <b><%= history.JobTitle %></b></td>
        <td>Hire Date: <b><%= history.startDate %></b></td>
           <td>Full Time | Part Time | Per Diem </td>
       </tr>
        <tr>
        <td>Employer: <b><%= job.employerName %></b></td>
        <td>Address: <b><%= job.employerAddress1 %></b></td>
        <td>City, State, Zip: <b><%= job.employerCity %>, <%= job.employerState %>, <%= job.employerZip %></b>
</td>
       </tr>
       <tr>
       <td>Hours per week: <b><%= history.hoursPerMonth %></b></td>
       <td>Days per week: <b><%= history.WorkSchedule %></b></td>
       <td>Hourly rate: $<b><%= history.Wage %></b></td>
      </tr>
      <th colspan=3 style="background-color:#c1c1c1;color:#111111;" >
      Intervention Plan<br>
      <font size="1">The intervention plan is a monthly overview of the employer's standards, consumer's performance, and the job coach's plan for the services. Each intervention should be addressed in the progress notes section of the document. This plan should change over time to reflect the new information and/or interventions.</font>
      </th>

      <% end %>
    <% end %>



<table border="1" width=880px style="font-size:12px">
<tr>
      <th style="background-color:#c1c1c1;color:#111111;" >
         <u>Unmet</u> Employer Standard
         <br><font size="1">BEST PRACTICE:
         <br>Employee is required to...
         <br>Employee is expected to...
         </th>
      <th style="background-color:#c1c1c1;color:#111111;" >
         Consumer's Performance for
         <br><u>Unmet</u> Standard
         <br><font size="1">What...
         <br>When is it occuring...
         <br>How do you know...
         <br>Why...
      </th>
      <th style="background-color:#c1c1c1;color:#111111;" >
         Job Coach's Plan to Address 
         <br><u>Unmet</u> Standard
         <br><font size="1">What steps have been taken in order to
         <br> assist this individual with achieving job
         <br>stablization?
      </th>
  </tr>
  <tr>
  <td>1.</td><td></td><td></td>
  </tr><tr>
  <td>2.</td><td></td><td></td>
  </tr><tr>
  <td>3.</td><td></td><td></td>
  </tr><tr>
  <td>4.</td><td></td><td></td>
  </tr><tr>
  <td>5.</td><td></td><td></td>
  </tr><tr>
  </tr>
  <tr>
   <td colspan="3">Comments: </td>
   </tr>
</table>

<table border="1" width=880px style="font-size:12px">


     <td align="center">
     <b>Date/Coach
     <br>Time (Start/End) </b>
     </td>
     <td align="center">
        <b><u> Purpose of Visit</u></b><br>
        (What were you thre to do?)

     </td>
     <td>
        <b><u>Observations</u></b><br>
        (What did you observe?)

    </td> 
    <td>
        <b><u> Interventions</u></b><br>
        (What did you contribute?)
    </td> 
    <td>
        <b><u>Next Steps</u></b><br>
        (What will you do next?)
    </td> 
    </tr>


  <% @inter.each do |inter| %>
    <tr>
      <td width="150">

              Date : <b><%= inter.dateOfIntervention %></b><br>
                    <% @emp = @employees.where(id: inter.employeeID)%>
                    <% @emp.each do |emp| %>
                       Coach: <b><%= emp.employee %></b>
                    <% end %>
                    <br>Start : <b><%= inter.startTime.to_s.first(16).last(5) %></b>
                    <br>End : <b><%= inter.endTime.to_time.to_s.first(16).last(5) %></b>
                    <br>Total: <b><%= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
       <% end %>
       </tr>
    <tr>
       <td colspan=2 align="right"><font size="3">Total Hours Used on Log &nbsp;  </td>
       <td colspan=3><font size="4"><b>&nbsp; <%= tot %></b></font></td>
    </tr>
    <tr>

       <th colspan=5 style="background-color:#c1c1c1;color:#111111;" >
       Signature</th>
     </tr>
     <tr>
     <td style="height:100px" colspan=3 valign=bottom >Signature of Job Coach: </td><td valign=bottom colspan=2>Date: </td>
     </tr><tr>
     <td style="height:100px" colspan=3 valign=bottom>Signature of Supervisor: </td><td valign=bottom colspan=2>Date: </td>

     </tr>    
</table>



