<% today = Time.now.to_s.first(10) %>
<% qc_month = today.last(5).first(2) %>
<% qc_year = today.first(4) %>

<style>
body {
    margin: 40px;
}
</style>

<% @inter = @interventions.where(workAuthorizationID: @authorization.id).order(:dateOfIntervention).to_a %>
<% total = 0 %>
<% tot = 0 %>
<% current_Month_Hours = 0 %>
<% @inter_dates = [] %>
<% @jobRequirements_old = [] %>
<% @skillsStatus_old = [] %>
<% @interventionDescription_old = [] %>
<% @clientProgress_old = [] %>
<% @generalComments_old = [] %>

<% @inter.each do |inter| %>

  <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
  <% tot = hrs + tot %>
  <!-- There is for monthly billed out vouchers -->
  <% if @authorization.serviceType == "3" %>
     <% if inter.dateOfIntervention.to_s.first(7) == Date.today.to_s.first(7) %>
       <% current_Month_Hours = hrs + current_Month_Hours %>
     <% end %>
  <% end %>

  <% @inter_dates.push(inter.dateOfIntervention.to_time.strftime("%Y-%m-%d")) %>
  <% @jobRequirements_old.push(inter.jobRequirements) %>
  <% @skillsStatus_old.push(inter.skillsStatus) %>
  <% @interventionDescription_old.push(inter.interventionDescription) %>
  <% @clientProgress_old.push(inter.clientProgress) %>
  <% @generalComments_old.push(inter.generalComments) %>
<% end %>

<table>
  <tr>
  <% @activeUser = @employees.where(email: current_user.email) %>
  <% @activeUser.each do |active| %>
     <% if active.userType == "Manager" || active.userType == "DBadmin" %>
       <a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
        <% if @authorization.invoiceDateNov.nil? && @authorization.paymentReceivedDateNov.nil? %>
            <!-- <button type="button" class="btn btn-warning"><%#= link_to 'Edit Voucher', edit_authorization_path(@authorization, voucherInvoiceDate_exist: "#{@authorization.voucherInvoiceDate}" ) %> </button> -->
    <td colspan="6" align=center>
            <button type="button" class="btn btn-warning">
              <%#= link_to 'Edit Voucher', edit_authorization_path(@authorization, serviceNumber: 3, voucherNumber: @authorization.voucherNumber) %> 
              <%= link_to 'Edit Voucher', edit_authorization_path(@authorization, voucherInvoiceDate_exist: "#{@authorization.voucherInvoiceDate}", voucherNumber: @authorization.voucherNumber, serviceType: @authorization.serviceType) %>

            </button>
            <button type="button" class="btn btn-danger" > <%= link_to 'Destroy', authorization_path(@authorization), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></button>
          <% end %> 
          </td>
     <% else %>

         <% if qc_month == "01" %>
            <td colspan=2>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jan2021", employee: "#{active.id}" %></button> </td>
         <% elsif qc_month == "02" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "feb", employee: "#{active.id}" %></button> </td>
         <% elsif qc_month == "03" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "mar", employee: "#{active.id}" %></button> </td>
         <% elsif qc_month == "04" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "apr", employee: "#{active.id}" %></button> </td>
         <% elsif qc_month == "05" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "may", employee: "#{active.id}" %></button> </td>
         <% elsif qc_month == "06" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jun", employee: "#{active.id}" %></button> </td>
         <% elsif qc_month == "07" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "jul", employee: "#{active.id}" %></button> </td>
         <% elsif qc_month == "08" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "aug", employee: "#{active.id}" %></button> </td>`
          <% elsif qc_month == "09" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "sep", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "10" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "oct", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "11" %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "nov", employee: "#{active.id}" %></button> </td>
          <% elsif qc_month == "12"  %>
            <td>  <button type="button" class="btn btn-light"><%= link_to "Calendar", controller: "calendar", action: "dec", employee: "#{active.id}" %></button> </td>
          <% end %>
            
          <td><button type="button" class="btn btn-warning btn=lg"><%= link_to "Home", controller: "employees", action: "show", id: active.id %></button></td>
     <% end %>
  <% end %>
  </tr>
  <tr>
    <td colspan="3" align=center>
          <button type="button" class="btn btn-light">
            <%= link_to "Create Note", new_intervention_path(
                authid: "#{@authorization.id}",
                jobRequirements_old: "#{@jobRequirements_old.last}",
                skillsStatus_old: "#{@skillsStatus_old.last}",
                interventionDescription: "#{@interventionDescription_old.last}",
                clientProgress: "#{@clientProgress_old.last}",
                generalComments: "#{@generalComments_old.last}",
                serviceType: "#{@authorization.serviceType}" )
              %>
          </button>
    <% if @authorization.invoiceDateNov.nil? && @authorization.paymentReceivedDateNov.nil? %>
      <td colspan="3" align=center>
          <button type="button" class="btn btn-light">
            <%= link_to "Create Note", new_intervention_path(
                authid: "#{@authorization.id}",
                jobRequirements_old: "#{@jobRequirements_old.last}", 
                skillsStatus_old: "#{@skillsStatus_old.last}", 
                interventionDescription: "#{@interventionDescription_old.last}", 
                clientProgress: "#{@clientProgress_old.last}", 
                generalComments: "#{@generalComments_old.last}",
                serviceType: "#{@authorization.serviceType}" )
              %>
          </button>
      </td>
   <% end %> 

    <td colspan="3" align=center>
<% if @activityreports.where(authid: @authorization.id).empty? %>
    <button type="button" class="btn btn-light">
         <%= link_to "Create Activity Report", new_activityreport_path(
             clientid: "#{@authorization.clientID}", 
             job_goal: "#{@authorization.VoucherGoal}", 
             authid: "#{@authorization.id}", 
             voucherid: "#{@authorization.voucherNumber}", 
             inter_dates: "#{@inter_dates}" ) %>
    </button>
<% else %>
   <% @areport = @activityreports.where(authid: @authorization.id).to_a %>
   <% @areport.each do |areport| %>
      <!-- To see a PDF report please add ".pdf" to the end of the screen to display the PDF. -->
      <button type="button" class="btn btn-warning"><%= link_to "ActRep", activityreport_url("#{areport.id}") %></button>
      <button type="button" class="btn btn-info"><%= link_to "ActRep-PDF", activityreport_url("#{areport.id}",:format => 'pdf') %></button>
      <%= link_to 'Destroy ActRep', activityreport_path(@areport), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
   <% end %>
 <% end %>
  </td>
  <td colspan="3" align=center>
    <!--<button type="button" class="btn btn-light"><%= link_to 'Activity Log-PDF ', authorization_url(@authorization.id,:format => 'pdf') %> </button> -->
  <!-- <button type="button" class="btn btn-light"><%#= link_to '2021 Log PDF ', authorization_url(@authorization.id,:format => 'report_LTFA_TwentyTwenty') %> </button> 
  <button type="button" class="btn btn-light"><%= link_to '2021-Log', authorization_url(@authorization.id, :format => 'pdf' ) %> </button>
  <a href="/authorizations/report_LTFA_TwentyTwenty.pdf"><button type="button" class="btn btn-danger">LTFA-2021-PDF</button></a><br> -->
  </td>
</tr>
<tr>
    <% if @authorization.serviceType == "3"  %>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Jan Log', authorization_url(@authorization.id,:format => 'pdf', month: "jan") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Feb Log', authorization_url(@authorization.id,:format => 'pdf', month: "feb") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Mar Log', authorization_url(@authorization.id,:format => 'pdf', month: "mar") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Apr Log', authorization_url(@authorization.id,:format => 'pdf', month: "apr") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'May Log', authorization_url(@authorization.id,:format => 'pdf', month: "may") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Jun Log', authorization_url(@authorization.id,:format => 'pdf', month: "jun") %></button>
    </td>
</tr>
<tr>
  <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Jul Log', authorization_url(@authorization.id,:format => 'pdf', month: "jul") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Aug Log', authorization_url(@authorization.id,:format => 'pdf', month: "aug") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Sep Log', authorization_url(@authorization.id,:format => 'pdf', month: "sep") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Oct Log', authorization_url(@authorization.id,:format => 'pdf', month: "aug") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Nov Log', authorization_url(@authorization.id,:format => 'pdf', month: "nov") %></button>
    </td>
    <td>
        <button type="button" class="btn btn-danger"><%= link_to 'Dec Log', authorization_url(@authorization.id,:format => 'pdf', month: "dec") %></button>
      <% end %>
    </td>
</tr>
<% if @authorization.serviceType == "22" %>
<tr>
      <td colspan="3" align=center>
          <button type="button" class="btn btn-light">
            <%= link_to "Create OTF Note", new_otf_path(
                authid: "#{@authorization.id}",
                serviceType: "#{@authorization.serviceType}" )
              %>
          </button>
      </td>
      <td colspan="3" align=center>
      <% if @otfcompletion.where(authid: @authorization.id).empty? %>

          <button type="button" class="btn btn-light">
            <%= link_to "OTF-Completion", new_otfcompletion_path(
                authid: "#{@authorization.id}",
                clientid: "#{@authorization.clientID}",
                serviceType: "#{@authorization.serviceType}" )
              %>
          </button>
      <% else %>
      <% @areport = @otfcompletion.where(authid: @authorization.id).to_a %>
          <% @areport.each do |areport| %>
             <button type="button" class="btn btn-warning"><%= link_to "OTF", otfcompletion_url("#{areport.id}") %></button>
             <button type="button" class="btn btn-info"><%= link_to "OTF-PDF", otfcompletion_url("#{areport.id}",:format => 'pdf') %></button>
             <%= link_to 'Destroy OTF', otfcompletion_path(@areport), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
          <% end %>
      </td>


     <% end %>
</tr>
<% end %>
</table>


<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded the authorization " + @authorization.id.to_s + "\n"; end %>
<br>

<br><br>
<div class="container-fluid bg-3 text-center">
<div class="row">
<div class="col-sm-3">
    <%#= @authorization.clientID %>
    <% @name = @clients.where(id: @authorization.clientID).to_a %>
    <% @name.each do |name|  %>
       <% fullname = name.clientLastName.to_s + ", " + name.clientFirstName.to_s %>
       <button type="button" class="btn btn-light"><%= link_to fullname, controller: "clients", action: "show", id: name.id %></button><br>
    <% end %>

    <!-- Service Type -->
   <b>

    <% if @authorization.serviceType == "1" %>
      Intensive Job Training
          <br>
      <button type="button" class="btn btn-light">
      <%= link_to "Service Log", :controller => :servicelog, :action => :ijc, format: :pdf,
               authid: "#{@authorization.id}",
               invoice: "#{@authorization.voucherInvoiceDate}",
               clientid: "#{@authorization.clientID}",
               inter_dates: "#{@inter_dates}",
               counselor: "#{@authorization.counselorName}",
               goal: "#{@authorization.VoucherGoal}"
            %>
      </button>

    <% elsif @authorization.serviceType == "2" %>
      Pre-Placement
      <br>
      <button type="button" class="btn btn-light">
      <%= link_to "Service Log", :controller => :servicelog, :action => :pp, format: :pdf,
               authid: "#{@authorization.id}",
               invoice: "#{@authorization.voucherInvoiceDate}",
               clientid: "#{@authorization.clientID}",
               inter_dates: "#{@inter_dates}",
               counselor: "#{@authorization.counselorName}",
               goal: "#{@authorization.VoucherGoal}"
            %>
      </button>
    <% elsif @authorization.serviceType == "3" %>
      LTFA
      <br>
      <button type="button" class="btn btn-light">
      <%= link_to "Service Log", :controller => :servicelog, :action => :ltfa, format: :pdf,
               authid: "#{@authorization.id}",
               invoice: "#{@authorization.voucherInvoiceDate}",
               clientid: "#{@authorization.clientID}",
               inter_dates: "#{@inter_dates}",
               counselor: "#{@authorization.counselorName}",
               goal: "#{@authorization.VoucherGoal}"
            %>
      </button>
      <br>

      <button type="button" class="btn btn-light">
            <%= link_to "Create Termination ", new_votltfa_path(
                authid: "#{@authorization.id}",
              clientid: "#{@authorization.clientID}"
            )

              %>
       </button>

    <% elsif @authorization.serviceType == "4" %>
       DDD-Employment
    <% elsif @authorization.serviceType == "9" %>
      Time-Limited IJC (Intensive)

    <% elsif @authorization.serviceType == "13" %>
       Replacement Voucher
    <% elsif @authorization.serviceType == "11" %>
       Group-LTFA	
    <% elsif @authorization.serviceType == "12" %>
       REST
    <% elsif @authorization.serviceType == "16" %>
       DDD-PP
    <% elsif @authorization.serviceType == "22" %>
       CBWE
    <% elsif @authorization.serviceType == "23" %>
      TWE
      <br>

      <button type="button" class="btn btn-light">
      <%= link_to "Service Log", :controller => :servicelog, :action => :twe, format: :pdf,
               authid: "#{@authorization.id}",
               invoice: "#{@authorization.voucherInvoiceDate}",
               clientid: "#{@authorization.clientID}",
               inter_dates: "#{@inter_dates}",
               counselor: "#{@authorization.counselorName}",
               goal: "#{@authorization.VoucherGoal}"
            %>
        </button> 
      <br>
       <button type="button" class="btn btn-light">
            <%= link_to "Create TWER ", new_twer_path(
                authid: "#{@authorization.id}",
              clientid: "#{@authorization.clientID}"
            )

              %>
       </button>

    <% elsif @authorization.serviceType == "31" %>
      Extended Employement<br>
      Status Code
      <!--( Set end dates on existing items to set new values )-->
       <% if  @eestatuscodes.where(client: @authorization.clientID, enddate: nil).nil?  %>
       <button type="button" class="btn btn-light">
            <%= link_to "Set Status Code", new_eestatuscode_path(
                clientid: "#{@authorization.clientID}")
              %>
       </button>
      <% else %>
       <% @codes = @eestatuscodes.where(client: @authorization.clientID, enddate: nil)  %>
       <% @codes.each do |codes| %>
         <br> <%= codes.statuscode %>
              <%= codes.startdate %>
              <button type="button" class="btn btn-warning">
                <%= link_to 'Edit', edit_eestatuscode_path(id: "#{codes.id}", clientid: @authorization.clientID) %>
              </button>  
            <% end %>
          <% end %>  

        <% if @hourlyrate.where(client: @authorization.clientID, enddate: nil).nil? %>
            <br>
          <button type="button" class="btn btn-light">
            <%= link_to "Set Hourly Rate", new_hourlyrate_path(
                clientid: "#{@authorization.clientID}")
              %>
          </button>
       <% else %>
       <% @codes = @hourlyrate.where(client: @authorization.clientID, enddate: nil)  %>
       <% @codes.each do |codes| %>
         <br> <%= codes.hourlyrate %>
              <%= codes.startdate %>
              <button type="button" class="btn btn-warning">
                <%= link_to 'Edit', edit_eestatuscode_path(id: "#{codes.id}", clientid: @authorization.clientID) %>
              </button>  
            <% end %>
            <br>
        <% end %>

         <% end %>

    </b><br>
    Counselor : <b><%= @authorization.counselorName %></b><br>

  </div>
  <div class="col-sm-3">
        <b><font size="5"><%= @authorization.voucherNumber %></font></b><br>
        Voucher Goal : <b><%= @authorization.VoucherGoal %></b><br>
        <% if @authorization.serviceType == "22" %>
            $150/day Intake - $300/day Eval
        <% else %>
          Rate : $<b><%= @authorization.VoucherRate %></b>
        <% end %>  
  </div>

      <div class="col-sm-3">
        <% if @authorization.serviceType == "22" %>
            Intake Days : <b><font size="5"><%= @authorization.intake %> </font></b><br>
            Eval Days : <b><font size="5"><%= @authorization.hoursAuthorized %> </font></b><br>
        <% else %> 
        Hours Authorized : <b><font size="5"><%= @authorization.hoursAuthorized %></font></b><br>
        <% end %>
        Auth Date :  <b><%= @authorization.voucherOrAuthorizationDate %></b><br>
      </div>
      <div class="col-sm-3">

     <% if @authorization.serviceType == "3" %>
        <% if qc_month == "11" %>
           <% if @authorization.invoiceDateNov.present? && @authorization.paymentReceivedDateNov.nil? %>
             <h5><font color="yellow">"Invoiced!</font></h5> 
           <% elsif @authorization.invoiceDateNov.present? && @authorization.paymentReceivedDateNov.present? %>
             <h5><font color="black">Paid!</font></h5>
           <% else %>
             <h5><font color="green">Open!</font></h5>  
           <% end %>  
        <% end %> 
     <% else %>
        <% if @authorization.voucherInvoiceDate.nil? %>
          <h4><font color="green">Open!</font></h4>
        <% elsif @authorization.voucherInvoiceDate.present? && @authorization.voucherPaymentReceivedDate.nil? %>
          <h5>Invoiced!<br>
	  Awaiting Payment</h5>
        <% elsif @authorization.voucherPaymentReceived.present? %> 
	  <h4> PAID</h4>  
        <% end %>
     <% end %>

      </div>
   </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">


    <% if @authorization.serviceType == "3" && @authorization.voucherNumber.first(2) != "FA" %>
              <div class="col">

      <table style="white-space:nowrap;" valign="top" >
        <tr>
          <th>
            Year|
          </th>
          <th>
            Invoice Date|
          </th>
          <th>
            Invoiced Amount|
          </th>
          <th>
            Invoice #|
          </th>
          <th>
            Payment Date|
          </th>
          <th>
            Adjustment|
          </th>
          <th>
            Comment
          </th>
       </tr>
 <!--      <tr>
         <td>
            <% if  @authorization.voucherInvoiceDate.present? %>
              <%# if  @authorization.invoicedate.present? %>
                <%= @authorization.voucherInvoiceDate.to_date %>
                <%#= @authorization.invoicedate.to_date %>
              <% end %>
         </td>
         <td>
           Amount Invoiced : <b>$<%= @authorization.voucherAmountInvoiced %></b>
         </td>
         <td>
           Invoice #: <b><%= @authorization.VoucherInvoiceNumber %></b>
         </td>
       </tr>
 -->     
 <tr>
   <td>
     Jan
     <br>
   Feb
     <br>
   Mar
     <br>
   Apr
     <br>
   May
     <br>
   Jun
     <br>
   Jul
     <br>
   Aug
     <br>
   Sep
     <br>
   Oct
     <br>
   Nov
     <br>
   Dec
   </td>
  
         <td valign=top>
                <%= @authorization.invoiceDateJan%>
                <br>
               <%= @authorization.invoiceDateFeb%>
                <br>
                <%= @authorization.invoiceDateMar%>
                <br>
                <%= @authorization.invoiceDateApr%>
                <br>
                <%= @authorization.invoiceDateMay%>
                <br>
                <%= @authorization.invoiceDateJun%>
                <br>
                <%= @authorization.invoiceDateJul%>
                <br>
                <%= @authorization.invoiceDateAug%>
                <br>
                <%= @authorization.invoiceDateSep%>
                <br>
                <%= @authorization.invoiceDateOct%>
                <br>
                <%= @authorization.invoiceDateNov%>
                <br>
               <%= @authorization.invoiceDateDec%>
                <br>
         </td>
         <td valign=top>
                <%= @authorization.invoiceAmountJan%>
                <br>
                <%= @authorization.invoiceAmountFeb%>
                <br>
                <%= @authorization.invoiceAmountMar%>
                <br>
                <%= @authorization.invoiceAmountApr%>
                <br>
                <%= @authorization.invoiceAmountMay%>
                <br>
                <%= @authorization.invoiceAmountJun%>
                <br>
                <%= @authorization.invoiceAmountJul%>
                <br>
                <%= @authorization.invoiceAmountAug%>
                <br>
                <%= @authorization.invoiceAmountSep%>
                <br>
                <%= @authorization.invoiceAmountOct%>
                <br>
                <%= @authorization.invoiceAmountNov%>
                <br>
               <%= @authorization.invoiceAmountDec%>
                <br>

         </td>
         <td valign=top>
                <%= @authorization.invoiceNumberJan%>
                <br>
                <%= @authorization.invoiceNumberFeb%>
                <br>
                <%= @authorization.invoiceNumberMar%>
                <br>
                <%= @authorization.invoiceNumberApr%>
                <br>
                <%= @authorization.invoiceNumberMay%>
                <br>
                <%= @authorization.invoiceNumberJun%>
                <br>
                <%= @authorization.invoiceNumberJul%>
                <br>
                <%= @authorization.invoiceNumberAug%>
                <br>
                <%= @authorization.invoiceNumberSep%>
                <br>
                <%= @authorization.invoiceNumberOct%>
                <br>
                <%= @authorization.invoiceNumberNov%>
                <br>
               <%= @authorization.invoiceNumberDec%>
                <br>
         </td>
         <td valign=top > 
                <%= @authorization.paymentReceivedDateJan %>
                <br>
                <%= @authorization.paymentReceivedDateFeb %>
                <br>
                <%= @authorization.paymentReceivedDateMar %>
                <br>
                <%= @authorization.paymentReceivedDateApr %>
                <br>
                <%= @authorization.paymentReceivedDateMay %>
                <br>
                <%= @authorization.paymentReceivedDateJun %>
                <br>
                <%= @authorization.paymentReceivedDateJul %>
                <br>
                <%= @authorization.paymentReceivedDateAug %>
                <br>
                <%= @authorization.paymentReceivedDateSep %>
                <br>
                <%= @authorization.paymentReceivedDateOct %>
                <br>
                <%= @authorization.paymentReceivedDateNov %>
                <br>
               <%= @authorization.paymentReceivedDateDec %>
                <br>
         </td>
        <td valign=top >
                <%= @authorization.invoiceAdjustmentJan %>
                <br>
                <%= @authorization.invoiceAdjustmentFeb %>
                <br>
                <%= @authorization.invoiceAdjustmentMar %>
                <br>
                <%= @authorization.invoiceAdjustmentApr %>
                <br>
                <%= @authorization.invoiceAdjustmentMay %>
                <br>
                <%= @authorization.invoiceAdjustmentJun %>
                <br>
                <%= @authorization.invoiceAdjustmentJul %>
                <br>
                <%= @authorization.invoiceAdjustmentAug %>
                <br>
                <%= @authorization.invoiceAdjustmentSep %>
                <br>
                <%= @authorization.invoiceAdjustmentOct %>
                <br>
                <%= @authorization.invoiceAdjustmentNov %>
                <br>
               <%= @authorization.invoiceAdjustmentDec %>
                <br>
         </td>
         <td valign=top >
                <%= @authorization.paymentCommentJan %>
                <br>
                <%= @authorization.paymentCommentFeb %>
                <br>
                <%= @authorization.paymentCommentMar %>
                <br>
                <%= @authorization.paymentCommentApr %>
                <br>
                <%= @authorization.paymentCommentMay %>
                <br>
                <%= @authorization.paymentCommentJun %>
                <br>
                <%= @authorization.paymentCommentJul %>
                <br>
                <%= @authorization.paymentCommentAug %>
                <br>
                <%= @authorization.paymentCommentSep %>
                <br>
                <%= @authorization.paymentCommentOct %>
                <br>
                <%= @authorization.paymentCommentNov %>
                <br>
               <%= @authorization.paymentCommentDec %>
                <br>
         </td>

       </tr>
      </table>
      </div>
    <% else %>
        <div class="col-sm-3">
            <!-- SOMETHING THIS ONE DOESN"T WORK WITH to_date -->
            Invoice Date : <b>
              <% if  @authorization.voucherInvoiceDate.present? %>
              <%# if  @authorization.invoicedate.present? %>
                <%= @authorization.voucherInvoiceDate.to_date %>
                <%#= @authorization.invoicedate.to_date %>
              <% end %>
              </b><br>
            Amount Invoiced : <b>$<%= @authorization.voucherAmountInvoiced %></b><br>
            Invoice #: <b><%= @authorization.VoucherInvoiceNumber %></b><br>
        </div>

    <div class="col-sm-3">
        <!--VoucherCompleted : <b><%#= @authorization.VoucherCompleted %></b>-->
        Payment Received Date : <b><%= @authorization.voucherPaymentReceivedDate %></b><br>
        InvoiceAdjustment : <b><%= @authorization.voucherInvoiceAdjustment %></b><br>
        PaymentComment : <b><%= @authorization.voucherPaymentComment %></b><br>
    </div>
  <% end %>
<!--
<div class="col-sm-3">
         VoucherFACounty : <b><%#= @authorization.VoucherFACounty %></b><br>
         VoucherStatus : <b><%#= @authorization.VoucherStatus %></b>
         Flate Rate  : <b><%#= @authorization.FlatRateVoucher %></b><br>
         Funder Source : <b><%#= @authorization.funderID %></b><br>
         <b>
         <%# if @authorization.funderID == "13" %>
         DVR-Somerset/Hunterdon (Somerville)
         <%# elsif @authorization.funderID == "9" %>
           DDD-Federal
         <%# elsif @authorization.funderID == "10" %>
           LTFA-Funding-NJ State
         <%# elsif @authorization.funderID == "14" %>
           DVR-Middlesex (New Brunswick)

         <%# elsif @authorization.funderID == "16" %>
           DVR-LTFA (State)

               <%# end %>
               </b>
          DDD-Federal
          Grants - Pre-Ets
          DVR-Morris Randolph
          DDD-Medicard
          Pre-ETS
          DDD-PPL

</div>
-->
    <div class="col-sm-3">
      <h5><b>Current Employment</b></h5>
      <% @history = @clientemployers.where(clientID: @authorization.clientID, endDate: [nil, ()]).to_a %>
      <% @history.each do |history| %>
         <% @jobs = @employers.where(id: history.clientEmployerID).select(:employerName).to_a %>
         <% @jobs.each do |job| %>
            <%= job.employerName %>
            <% if history.SupervisorName.present? %>
                  <br><%= history.SupervisorName %>
                <% end %>
            <% if history.SupervisorPhone.present? %>
              <br><%= history.SupervisorPhone %>
            <% end %>
            <% if history.WorkSchedule.present? %>
              <br><%= history.WorkSchedule %>
            <% end %>
         <% end %>
         <br>$<%= history.Wage.to_f %> / hr
         <br><%= history.hoursPerMonth  %> hrs per week
         <%#= history.startDate %>
      <% end %>
    </div>
  </div>
</div>
    <!-- Top part of Counselor Activity -->
    <h2>Activity Log</h2>
       <table>
         <tr>
           <td>

      <% if @authorization.serviceType == "3" %>
             <% if @authorization.paymentReceivedDateDec.present? %>
                <font size=3> Hours Used : </font> <b><%= tot %></b>   
             <% end %>  
             <!-- <font size=3>Hours Used : </font><b><%= current_Month_Hours %></b> -->

      <% elsif @authorization.serviceType == "22" %>
        <font size=3>Days used : <%= @inter.count %> </font> 
      <% else %>
        <font size=3> Hours Used : </font> <b><%= tot %></b>
      <% end %>
           </td><td>
      <% if @authorization.serviceType == "3" %>
          <% if @authorization.hoursAuthorized.to_i - current_Month_Hours <= 2.5 %>      
              <font size=3>Hours Remaining : <font color="red"><b><%= @authorization.hoursAuthorized.to_i - current_Month_Hours %></b></font>
          <% else %>
            <% if @authorization.paymentReceivedDateDec.present? %>
              <font size=3>Hours Remaining : <b>0</b></font>
                <%#= @authorization.hoursAuthorized.to_i - current_Month_Hours %></b> 
            <% end %>
         <% end %>

      <% elsif @authorization.serviceType == "22" %>
      <% else %>                   
          <% if @authorization.hoursAuthorized.to_i - tot <= 2.5 %>
                <b><font color="red"><%= @authorization.hoursAuthorized.to_i - tot %></b> 
          <% else %>
                <b><%= @authorization.hoursAuthorized.to_i - tot %></b> 
          <% end %>


      <% end %>
      <!--		   <font size=3>Hours Remaining : </font>-->
                <%# if @authorization.hoursAuthorized.to_i - tot <= 2.5 %>
                <!--       <b><font color="red"><%#= @authorization.hoursAuthorized.to_i - tot %></b> -->
                <%# else %>
             <!--  <b><%#= @authorization.hoursAuthorized.to_i - tot %></b> -->
                <%# end %>

                </td><td>
		   <font size=3>Reporting Period : </font>
            <b><%= @inter_dates.first %> - <%= @inter_dates.last %></b>


              </td>
         </tr>
         <% if @authorization.serviceType == "22" %>
         <% bill = 0 %>
         <tr>
           <td colspan=2>
             <% @inter.each do |inter| %>
               <% if inter.service == "Intake" %>
                 <% bill = bill + 150 %>
               <% elsif inter.service == "Eval" %>
                 <% bill = bill + 300 %>
               <% end %>
             <% end %>  
             CBWE Billable = $<%= bill %>
           </td>
         </tr>  
       <% end %>
        </table>

    
<!-- End counselor Activity -->

<!-- SHOW DDD NOTES!!! -->
<% @inter_jobreq = [] %>
<% @inter_skill = [] %>
<% @inter_inter = [] %>
  <% @inter.each do |skill| %>
      <% @inter_jobreq << skill.jobRequirements %>
      <% @inter_skill << skill.skillsStatus %>
      <% @inter_inter << skill.interventionDescription %>
<% end %>

<!-- SHOW DDD NOTES!!! -->
<div class="row">
	<% if @inter_jobreq.first.present? %>
	<div class="col" >
		1. What is the standard required
		<%= @inter_jobreq.first %>
	</div>
        <% end %>
        <% if @inter_skill.first.present? %>
        <div class="col" >
		2. How does the employee currently perform the tasks actions area related to these standard
		<%= @inter_skill.first %>
        </div>
      <% end %>
      <% if @inter_inter.first.present? %>
       <div class="col" >
	       3. What is being done to address the identified issues
	                 <%= @inter_inter.first %>
       </div>		
     <% end %>
	<br>
</div>

<table border="1">
  <% @inter.each do |inter| %>

  <tr>

    <tr>
      <td width="150">
           <!-- All the way on the left where it shows date,employee,start,end, hours -->
               <table>
                       <tr>
               <td>Date : <%= inter.dateOfIntervention %></td>
             </tr>

             <tr>
                <td>
                    <% @emp = @employees.where(id: inter.employeeID)%>
                    <% @emp.each do |emp| %>
                                   Employee : <br> <b><%= emp.employee %></b>
                    <% end %>
                </td>
            </tr>

                <tr>
                  <td>
                    <%= inter.service %><br>
                    Start : <b><%= inter.startTime.to_s.first(16).last(5) %></b>
                  <br>End : <b><%= inter.endTime.to_time.to_s.first(16).last(5) %> </b>
              </td>
            </tr>

            <tr>
              <td>
                Hours : <b><%= (inter.endTime.to_time - inter.startTime.to_time) / 3600 %></b>
                  </td>
            </tr>
               </table>
      </td>
      <!--  End left segment -->
      <% if inter.clientProgress.present? %>
        <!-- <td valign="top"><%= inter.clientProgress %> </td>-->
         <td ><%= inter.clientProgress %> </td>
      <% end  %>
      <td>
        <%= inter.jobRequirements %>
      </td>
      <td>
        <%= inter.skillsStatus %>
      </td>
      <td>
	<%= inter.interventionDescription %>
      </td>
           <% if inter.generalComments.present? %>
		   <td > <%= inter.generalComments %></td>
        <% end %>


        <%#= inter.prePlacementActivityID %>
        <%#= inter.ActivityConductedID %>
     <%#= link_to 'Show', inter %>

     <% if @authorization.invoiceDateNov.nil? && @authorization.paymentReceivedDateNov.nil? %>
      <% @activeUser = @employees.where(email: current_user.email) %>
      <% @activeUser.each do |active| %>
          <% if active.userType == "DBadmin" || active.userType == "Manager"%>
		  <td> <%= link_to 'Edit', edit_intervention_path(inter, authid: "#{@authorization.id}") %> </td>
		  <td><%= link_to 'Destroy', inter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <% else  %>	 
		    <% @emp = @employees.where(id: inter.employeeID)%>
                    <% @emp.each do |emp| %>
                       <% if emp.email == current_user.email %>
                            <td> <%= link_to 'Edit', edit_intervention_path(inter, authid: "#{@authorization.id}") %> </td>
                       <% end %>
                    <% end %>
	  <% end %>
       <% end %> 
  <% end %>

      <%#= link_to 'Edit', edit_intervention_path(inter, authid: "#{@authorization.id}") %> </td>
    </td>

     </tr>
   <% end %>
</table>
</table>

<br><br>

<!--

<%#= link_to 'Edit', edit_authorization_path(@authorization) %> |
<%#= link_to 'Back', authorizations_path %>
<%#= link_to 'Destroy', @authorizations, method: :delete, data: { confirm: 'Are you sure?' } %>

<%#= link_to 'Destroy', authorization_path(@authorization), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
-->
<% if @authorization.serviceType == "22" %>

  <%# Rails.cache.write('otf', @otfs = @otf.where(authid: @authorization.id) %>
  <%# Rails.cache.read('otf') %>
  <% @otfs = @otf.where(authid: @authorization.id) %>
  <% emplist = [] %>
  <% empcommentlist = [] %>
  <% skill_total = 0 %>



  <%# if @otfs.not.nil? %>
  <%# end %>

  <table>
    <tr>
      <td>
         Employability skills: 
      </td>
      <% @otfs.each do |match| %>
        <td>                  <button type="button" class="btn btn-light btn-sm"><%= link_to match.date.to_s, controller: "otfs", action: "show", id: match.id %></button><%= link_to image_tag("/assets/red-x.png", width: 18, height: 18), match, method: :delete, data: { confirm: 'Are you sure?' } %>  &nbsp;  <%=link_to image_tag("/assets/create-doc.png", width: 22, height: 24), new_intervention_path(authid: match.authid, date: match.date, clientProgress: match.emp1comment + match.emp2comment + match.emp3comment + match.emp4comment + match.emp5comment + match.emp6comment + match.emp7comment + match.emp8comment + match.emp9comment + match.emp10comment + match.emp11comment + match.emp12comment + match.emp13comment + match.emp14comment + match.emp15comment + match.emp16comment + match.emp17comment + match.emp18comment + match.emp19comment + match.emp20comment + match.emp21comment + match.emp22comment + match.emp23comment + match.phy1comment + match.phy2comment + match.phy3comment + match.phy4comment + match.phy5comment + match.phy6comment + match.phy7comment + match.phy8comment + match.phy9comment + match.phy10comment + match.env1comment.to_s + match.env2comment.to_s + match.env3comment.to_s + match.env4comment.to_s + match.env5comment.to_s, serviceType: "#{@authorization.serviceType}" ) %>

        <!-- Missing Start time, End Time, Employer -->

          <%#= link_to image_tag("/assets/create-doc.png", width: 22, height: 24), @interventions, method: :new, data: { workAuthorizationID: match.authid, date: match.date, generalComments: match.emp1comment + match.emp2comment  } %>
        </td>
      <% end %>
      <td>Total</td>
      <td>Avg</td>
      <td>Comments</td>
    </tr>

    <% catagories = ['Appropriate dress/hygiene for work environment',
'Follows assigned schedule; start/end/break times',
'Completes task with accuracy ',
'Speed/work pace appropriate to job', 
'Ability to focus on task ',
'Demonstrates ability to follow a routine/directions', 
'Retains directions over time ',
'Responds appropriately to redirection', 
'Changes from one activity to another without difficulty ',
'Accepts changes to established routines ',
'Willing to redo tasks/accepts constructive criticism ',
'Ability to multitask ',
'Respects authority/supervision ',
'Demonstrates initiatives in the absence of directions', 
'Is independent (can work without supervision) ',
'Checks quality of work ',
'Demonstrates appropriate use of work materials', 
'Communicates effectively with peers/ community ',
'Maingtains appropriate soft skills ',
'Ability to read/ understand job related material ',
'Uses basic math/money as required ',
'Maintains stamina/endurance for job ',
'Demonstrates motivation to work ',
'Walking ',
'Standing/stooping ',
'Sitting ',
'Climbing ',
'Reaching ',
'Carrying/lifting/ pushing', 
'Balance ',
'Fine motor skills ',
'Gross motor skills ',
'Communication ability', 
'Heat / cold ',
'Chemicals / toxins / fumes ',
'Indoor / outdoor ',
'Noise ',
'Other ']
%>

<% emplist = ['match.emp1','emp2','emp3','emp4','emp5'] %>
<% commentlist = ['emp1comment'] %>

<%# for title in catagories %> 

  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[0] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp1 %> </td>
        <% skill_total = skill_total + match.emp1.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp1comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[1] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp2 %> </td>
        <% skill_total = skill_total + match.emp2.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>

    <td>
     <% @otfs.each do |match| %>
        <%= match.emp2comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[2] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp3 %> </td>
        <% skill_total = skill_total + match.emp3.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp3comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[3] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp4 %> </td>
        <% skill_total = skill_total + match.emp4.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp4comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[4] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp5 %> </td>
        <% skill_total = skill_total + match.emp5.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp5comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[5] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp6 %> </td>
        <% skill_total = skill_total + match.emp6.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp6comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[6] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp7 %> </td>
        <% skill_total = skill_total + match.emp7.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp7comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[7] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp8 %> </td>
        <% skill_total = skill_total + match.emp8.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp8comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[8] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp9 %> </td>
        <% skill_total = skill_total + match.emp9.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp9comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[9] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp10 %> </td>
        <% skill_total = skill_total + match.emp10.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp10comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[10] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp11 %> </td>
        <% skill_total = skill_total + match.emp11.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp11comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[11] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp12 %> </td>
        <% skill_total = skill_total + match.emp12.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp12comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[12] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp13 %> </td>
        <% skill_total = skill_total + match.emp13.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp13comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[13] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp14 %> </td>
        <% skill_total = skill_total + match.emp14.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp14comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[14] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp15 %> </td>
        <% skill_total = skill_total + match.emp15.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp15comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[15] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp16 %> </td>
        <% skill_total = skill_total + match.emp16.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp16comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[17] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp17 %> </td>
        <% skill_total = skill_total + match.emp17.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp17comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[18] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp18 %> </td>
        <% skill_total = skill_total + match.emp18.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp18comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[19] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp19 %> </td>
        <% skill_total = skill_total + match.emp19.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp19comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[20] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp20 %> </td>
        <% skill_total = skill_total + match.emp20.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp20comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[21] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp21 %> </td>
        <% skill_total = skill_total + match.emp21.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp21comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[22] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp22 %> </td>
        <% skill_total = skill_total + match.emp22.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp22comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[23] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.emp23 %> </td>
        <% skill_total = skill_total + match.emp23.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.emp23comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[24] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy1 %> </td>
        <% skill_total = skill_total + match.phy1.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy1comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[25] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy2 %> </td>
        <% skill_total = skill_total + match.phy2.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy2comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[26] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy3 %> </td>
        <% skill_total = skill_total + match.phy3.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy3comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[27] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy4 %> </td>
        <% skill_total = skill_total + match.phy4.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy4comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[28] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy5 %> </td>
        <% skill_total = skill_total + match.phy5.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy5comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[29] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy6 %> </td>
        <% skill_total = skill_total + match.phy7.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy7comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[30] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy8 %> </td>
        <% skill_total = skill_total + match.phy8.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy8comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[31] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy9 %> </td>
        <% skill_total = skill_total + match.phy9.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy9comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[32] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.phy10 %> </td>
        <% skill_total = skill_total + match.phy10.to_i %>
      <% end %>
    <td><%= skill_total %></td>
    <td><%= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.phy10comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[33] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env1 %> </td>
        <% skill_total = skill_total + match.env1.to_i %>
      <% end %>
    <td><%#= skill_total %></td>
    <td><%#= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.env1comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[34] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env2 %> </td>
        <% skill_total = skill_total + match.env2.to_i %>
      <% end %>
    <td><%#= skill_total %></td>
    <td><%#= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.env2comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[35] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env3 %> </td>
        <% skill_total = skill_total + match.env3.to_i %>
      <% end %>
    <td><%#= skill_total %></td>
    <td><%#= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.env3comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[36] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env4 %> </td>
        <% skill_total = skill_total + match.env4.to_i %>
      <% end %>
    <td><%#= skill_total %></td>
    <td><%#= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.env4comment %>
      <% end %>
    </td>
  </tr>
  <tr>
  <% skill_total = 0 %>
      <td>
         <%= catagories[37] %>
      </td>
      <% @otfs.each do |match| %>
        <td> <%= match.env5 %> </td>
        <% skill_total = skill_total + match.env5.to_i %>
      <% end %>
    <td><%#= skill_total %></td>
    <td><%#= (skill_total.to_f / @otfs.count.to_f).round(1) %></td>
    <td>
     <% @otfs.each do |match| %>
        <%= match.env5comment %>
      <% end %>
    </td>
  </tr>



<% end %>





