<%= form_with(model: feature, local: true) do |form| %>
  <% if feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
        <% feature.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :votes %>
    <%= form.text_field :votes %>
  </div>

  <div class="field">
    <%= form.label :internal %>
    <%= form.text_field :internal %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.text_field :public %>
  </div>

  <div class="field">
<%= form.label :"Priority" %>
 <% @services={
  'LOW' => 'Low',
  'MEDIUM' => 'Medium',
  'HIGH' => 'High',
  'CRITICAL' => 'Critical'
     } %>
<%= form.collection_select :priority, @services, :first, :last %>



  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
