<p id="notice"><%= notice %></p>

<h1>Features</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Votes</th>
      <th>Internal</th>
      <th>Public</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @features.sort_by { |f| @features.index f[/(CRITICAL|HIGH|MEDIUM|LOW)/] } %>
    <% @features.order(priority: :asc).each do |feature| %>
      <tr>
        <td><%= feature.name %></td>
        <td><%= feature.description %></td>
        <td><%= feature.status %></td>
        <td><%= feature.votes %></td>
        <td><%= feature.internal %></td>
        <td><%= feature.public %></td>
        <td><%= feature.priority %></td>
        <td><%= link_to 'Show', feature %></td>
        <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
        <td><%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feature', new_feature_path %>
