<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @feature.status %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @feature.votes %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @feature.internal %>
</p>

<p>
  <strong>Public:</strong>
  <%= @feature.public %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @feature.priority %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
