<h1>Report 2019</h1>

<%# Intervention.all.where('extract(month from dateOfIntervention) = ?', "11").to_a %>
<%#= @interventions.find :all ('extract(month from dateOfIntervention) = ?', 11).to_a %>

<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<% year = "2019"%>
<% @month = ["01","02","03","04","05","06","07","08","09","10","11","12"] %>
<% @graphs_mon = []%>

<% @month.each do |month| %>
   <% tot = 0 %>
   <% clients = [] %>
   <% middlesex = 0 %>
   <% somerset = 0 %>
   <% hunterdon = 0 %>
   <% monmouth = 0 %>
   <% morris = 0 %>
   <% union = 0 %>
   <% @inter = @interventions.all.to_a %>
   <% total = 0 %>
   <% @inter.each do |inter| %>
      <% if inter.dateOfIntervention.to_s.first(4) == year %>	   
         <% if inter.dateOfIntervention.to_s.first(7).last(2) == month %>
            <% hrs = (inter.endTime.to_time - inter.startTime.to_time) / 3600 %>
	    <% tot = hrs + tot %>
	    <% inter.dateOfIntervention %>
	    <% @authw = @authorizations.where(id: inter.workAuthorizationID ).to_a %>
	    <% @authw.each do |auth| %>	
	       <% auth.serviceType %>	    
	       <% @client = @clients.where(id: auth.clientID).to_a %>
	       <% @client.each do |client|%>
		  <% if (clients.include? auth.clientID) %>
                   <% else %>
                      <% clients.push(auth.clientID)  %>
	        	  <% if client.clientCounty == 'Middlesex' %>
			     <%  middlesex = middlesex + 1 %>
	         	 <% elsif client.clientCounty == 'Somerset' %>
		    		 <% somerset =  somerset + 1%>
	       	  	 <% elsif client.clientCounty == 'Hunterdon' %>
   			    	 <% hunterdon =  hunterdon + 1%>
	       		   <% elsif client.clientCounty == 'Monmouth' %>
   		   		  <% monmouth = monmouth + 1%>
	        	  <% elsif client.clientCounty == 'morris' %>
   		   		  <% morris= morris + 1%>
	         	 <% elsif client.clientCounty == 'Union' %>
		     		<% union= union + 1%>
		 	 <% else %>
		    		 <%= client.clientCounty%>
			 <% end %>
		 <% end %>		 
	      <% end %>	<!-- clients included -->	  
      	    <% end %> <!-- auth -->
    	<% end %> <!-- if month -->
      <% end %><!-- if year -->
   <% end %> <!-- intter eah -->
      <% @graphs_mon.push(tot) %>
      <br><%= month %> : <%= tot %>hours
      <br><% month %><%= clients.count %> unique clients per month
      <br>  middlesex : <%= middlesex %>
     <br>somerset : <%= somerset %>
   <br>hunterdo : <%= hunterdon %>
   <br>monmout : <%= monmouth %>
   <br>morris : <%= morris %>
   <br>union : <%= union %>
     <br><br> 
<% end %><!-- month --> 
<%#= line_chart @graphs_mon  %>



<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>


      <h1>Report 2019</h1>

<!--  <div id="myfirstchart" style="height: 250px;"></div> -->
EVMS Data
<!-- <div id="bar-example" style="height: 500px;"></div> -->
Hours billed per month ( not worked )
<div id="hours-2019" style="height: 250px;"></div>
Dollars billed per month
<div id="amount-2019" style="height: 250px;"></div>

<table>
   <tr>
           <td ><div id="2019-sep-services" style="width: 100%; height: 500px;"></div></td>
           <td ><div id="2019-sep-amount" style="width: 100%; height: 500px;"></div></td>
   </tr>

   <tr>
           <td ><div id="2019-oct-services" style="width: 100%; height: 500px;"></div></td>
           <td ><div id="2019-oct-amount" style="width: 100%; height: 500px;"></div></td>
   </tr>
   <tr>
	   <td ><div id="2019-nov-services" style="width: 100%; height: 500px;"></div></td>
	   <td ><div id="2019-nov-amount" style="width: 100%; height: 500px;"></div></td>
   </tr>
   <tr>
           <td ><div id="2019-dec-services" style="width: 100%; height: 500px;"></div></td>
           <td ><div id="2019-dec-amount" style="width: 100%; height: 500px;"></div></td>
   </tr>

</table>


<!-- September -->
<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 156.75 },
      {x: "Pre-Placement", value: 146.50 },
      {x: "REG-SE-LTFA", value: 200.00 },
      {x: "DDD Employment", value: 123.50 },
      {x: "Restabilization Hours", value: 7.75 },
      {x: "DDD Pre-Placement", value: 6.00 },
      {x: "CBWE", value: 29.00 },
      {x: "TWE", value: 86.75 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Sep 2019");
  chart.data(data);
  chart.container('2019-sep-services');
  chart.draw();
  });
</script>
<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 8307.75 },
      {x: "Pre-Placement", value: 7764.50 },
      {x: "REG-SE-LTFA", value: 10427.75 },
      {x: "DDD Employment", value: 6866.60 },
      {x: "Restabilization Hours", value: 410.75 },
      {x: "DDD Pre-Placement", value: 333.60 },
      {x: "CBWE", value: 8250.00 },
      {x: "TWE", value: 5205.00 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Sep 2019");
  chart.data(data);
  chart.container('2019-sep-amount');
  chart.draw();
  });
</script>


<!-- October -->
<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 218.75 },
      {x: "Pre-Placement", value: 135.25 },
      {x: "REG-SE-LTFA", value: 215.50 },
      {x: "DDD Employment", value: 142.25 },
      {x: "Restabilization Hours", value: 1.25},
      {x: "Replacement Hours", value: 1.25},
      {x: "DDD Pre-Placement", value: 10.50 },
      {x: "CBWE", value: 23.00 },
      {x: "TWE", value: 110.75 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Oct 2019");
  chart.data(data);
  chart.container('2019-oct-services');
  chart.draw();
  });
</script>
<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 11593.75 },
      {x: "Pre-Placement", value: 7168.25 },
      {x: "REG-SE-LTFA", value: 11421.50 },
      {x: "DDD Employment", value: 7492.10 },
      {x: "Restabilization Hours", value: 132.50 },
      {x: "Replacement Hours", value: 66.25 },
      {x: "DDD Pre-Placement", value: 583.80 },
      {x: "CBWE", value: 6300.00 },
      {x: "TWE", value: 6645.00 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Oct 2019");
  chart.data(data);
  chart.container('2019-oct-amount');
  chart.draw();
  });
</script>


<!-- November  -->
<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 151.50 },
      {x: "Pre-Placement", value: 124.25 },
      {x: "REG-SE-LTFA", value: 211.75 },
      {x: "DDD Employment", value: 134.50 },
      {x: "DDD Pre-Placement", value: 10.25 },
      {x: "CBWE", value: 27.00 },
      {x: "TWE", value: 92.25 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Nov 2019");
  chart.data(data);
  chart.container('2019-nov-services');
  chart.draw();
  });
</script>
<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 8029.50 },
      {x: "Pre-Placement", value: 6585.25 },
      {x: "REG-SE-LTFA", value: 11222.75 },
      {x: "DDD Employment", value: 7478.20 },
      {x: "DDD Pre-Placement", value: 569.90 },
      {x: "CBWE", value: 7050.00 },
      {x: "TWE", value: 5535.00 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Nov 2019");
  chart.data(data);
  chart.container('2019-nov-amount');
  chart.draw();
  });
</script>




<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 156.25 },
      {x: "Pre-Placement", value: 115.25 },
      {x: "REG-SE-LTFA", value: 208.25 },
      {x: "DDD Employment", value: 133.25 },
      {x: "DDD Pre-Placement", value: 14.00 },
      {x: "CBWE", value: 18.00 },
      {x: "TWE", value: 71.83 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Dec 2019");
  chart.data(data);
  chart.container('2019-dec-services');
  chart.draw();
  });
</script>
<script>
  anychart.onDocumentReady(function() {
  var data = [
      {x: "SE Intensive Job Coach EV", value: 8281.25 },
      {x: "Pre-Placement", value: 6108.25 },
      {x: "REG-SE-LTFA", value: 11037.25 },
      {x: "DDD Employment", value: 7408.70 },
      {x: "DDD Pre-Placement", value: 778.40 },
      {x: "CBWE", value: 4500.00 },
      {x: "TWE", value: 4310.00 }
  ];
  var chart = anychart.pie();
  chart.title("Summary of Billable Hours By Service Type From Dec 2019");
  chart.data(data);
  chart.container('2019-dec-amount');
  chart.draw();
  });
</script>




<script>

Morris.Donut({
  element: 'donut-example',
  data: [
    {label: "SE Intensive Job Coach EV", value: 84.50},
    {label: "Pre-Placement", value: 235.50},
    {label: "REG-SE-LTFA", value: 180.25}
  ]
});

</script>

	<script>

		new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2019-01', value: 431.75 },
    { year: '2019-02', value: 365.75 },
    { year: '2019-03', value: 435.0 },
    { year: '2019-04', value: 502.0 },
    { year: '2019-05', value: 468.5 },
    { year: '2019-06', value: 464.25 },
    { year: '2019-07', value: 373.25 },
    { year: '2019-08', value: 421.75 },
    { year: '2019-09', value: 252.25 },
    { year: '2019-10', value: 271.5 },
    { year: '2019-11', value: 295.0 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
		});

	</script>

	<script>
  new Morris.Line({
  element: 'hours-2019',
  data: [
    { year: '2019-01', value: 791.75 },
    { year: '2019-02', value: 773.75 },
    { year: '2019-03', value: 891.00 },
    { year: '2019-04', value: 790.00 },
    { year: '2019-05', value: 852.50 },
    { year: '2019-06', value: 848.25 },
    { year: '2019-07', value: 853.25 },
    { year: '2019-08', value: 901.75 },
    { year: '2019-09', value: 756.25 },
    { year: '2019-10', value: 859.75 },
    { year: '2019-11', value: 751.50 },
    { year: '2019-12', value: 716.83 }
  ],
  xkey: 'year',
  ykeys: ['value'],
  labels: ['Value']
                });


	</script>

<script>
  new Morris.Line({
  element: 'amount-2019',
  data: [
    { year: '2019-01', value: 51303.69 },
    { year: '2019-02', value: 46460.46 },
    { year: '2019-03', value: 51913.36 },
    { year: '2019-04', value: 48026.43 },
    { year: '2019-05', value: 52904.55 },
    { year: '2019-06', value: 48627.58 },
    { year: '2019-07', value: 52173.90 },
    { year: '2019-08', value: 54993.90 },
    { year: '2019-09', value: 47618.95 },
    { year: '2019-10', value: 51458.75 },
    { year: '2019-11', value: 46470.60 },
    { year: '2019-12', value: 42423.85 }
  ],
  xkey: 'year',
  ykeys: ['value'],
  labels: ['Value']
                });


        </script>



	<script>
Morris.Bar({
  element: 'bar-example',
  data: [
    { y: '2006', a: 791.75, b: 51303.69 },
    { y: '2007', a: 773.75,  b: 46460.46 },
    { y: '2008', a: 891.00,  b: 51913.36 },
    { y: '2009', a: 790.00,  b: 48026.43 },
    { y: '2010', a: 852.50,  b: 52904.55 },
    { y: '2011', a: 848.25,  b: 48627.58 },
    { y: '2012', a: 853.25, b: 52173.90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Hours Served', 'Hours Billed']
});
</script>

