<h1>Unpaid#</h1>

<%# @unpaid = @authorizations.where.not(voucherInvoiceDate: [nil,'']).where(voucherPaymentReceivedDate: [nil,'']) %>
<% @unpaid = @authorizations.where.not(voucherInvoiceDate: [nil]).where(voucherPaymentReceivedDate: [nil])  %>
<h4>Count :<%= @unpaid.count %></h4>
<br>
<% @unpaid.each do |unpaid| %>
  <%#= unpaid.id %>
  <% @cname = @clients.where(id: unpaid.clientID).to_a  %>
  <% @cname.each do |client| %>
     <%= client.fullname %>
   <% end %>   
     <button type="button" class="btn btn-light btn-sm"><%= link_to unpaid.voucherNumber, controller: "authorizations", action: "show", id: unpaid.id %></button></td>
     <%#= unpaid.clientID %>
     <% unpaid.voucherNumber %>
     <%= unpaid.voucherInvoiceDate %>
     <%= unpaid.voucherAmountInvoiced %>


  <br>
<% end %>
