<!DOCTYPE html>
<html>
  <head>
	  <!--    <title>Quantum Communities</title>-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
<style>
body {
        font-family: Tahoma;
       padding:20px;

}
</style>

    <html lang="en">
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    .btn-group-xs > .btn, .btn-xs {
      padding: .25rem .4rem;
      font-size: .875rem;
      line-height: .5;
      border-radius: .2rem;
    }
    td {
	    class: "font-weight-normal";
    }


    p.normal {
       font-style: normal;
    }

    body {background-color: #C0C0C0;}
 

    </style>
    <center>
      <br>
      <table>
	<tr>
	   <td><img src="https://cea-nj.org/wp-content/uploads/2017/03/cropped-logo-e1491334044379.jpg"></td>
           <td><h1><b> Quantum Communities</b></h1></td>
	</tr>
	<tr>
	   <td><!-- <h2><b>DEV<b> --></h2></td>
           <td><% if current_user %>	      
                 <div> <%= current_user.email %> logged in from <%= request.remote_ip %></div>
               <% end %>
	   </td>
        </tr>
      </table>
	  <br>
  </head>
<!--  <font color="red"><b>System is under maitenance : </b></font> You may continue to access information and enter data at this time.<br>
  If you receive an error inputting data please use the back button, which should return you to a page <br>with all the entered information and submit again. Interruptions if any at this time will be minimal.<br>

  <font color="red">DO NOT USE Activity Reports</font> at this time, this data may be destroyed. -->
  <body>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<p class = "notice" ><%= notice %> </p>
<p class = "alert" ><%= alert %></p>
    <%= yield %>
  </body>
</html>

