<% open('log.txt', 'a') do |f|; f <<  Time.now.to_s + " " + current_user.email + " " + request.remote_ip + " loaded CBWE and TWE Dashboard " + "\n"; end %>


<h1>CBWE and TWE Dashboard</h1>
At this time we do not support CBWE notes, please continue to enter them in Google.
<br><br>
<a href="/manager/index"><button type="button" class="btn btn-primary">Manager Dashboard</button></a>
<a href="/jobcoaches/index"><button type="button" class="btn btn-primary">Job Coach Dashboard</button></a>

    <br>
   <table>
	   <tr>
		   <td><table>
				   <h4> CBWE </h4>
           Clients with open vouchers : <%= @authorizations.where(serviceType: "22", voucherInvoiceDate: [nil, '']).select(:clientID).distinct.count %>
           <br>  <br>


<% @cbwe_auth = @authorizations.where(serviceType: "22", voucherInvoiceDate: [nil, '']).to_a  %>
<% @cbwe_auth.each do |auth|  %>
   <td><% @cbwe_clients =  @clients.where(id: auth.clientID).order(clientLastName: :asc).uniq.to_a %><td>
   <% @cbwe_clients.each do |client| %>
      <% fullname = client.clientLastName + ", " + client.clientFirstName %>
      <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
      <td><button type="button" class="btn btn-light btn-sm"><%= link_to auth.voucherNumber, controller: "authorizations", action: "show", id: auth.id %></button></td>
      <td><%= auth.voucherOrAuthorizationDate %></td>
      <td>Remaining : <%= auth.hoursRemaining %></td>
   <% end %>

</tr><tr>
<%end%>
<tr>
			   </table>
	   </td><td valign="top">
			   <table>
				   <tr> <h4>TWE</h4>
             Clients with open vouchers : <%= @authorizations.where(serviceType: "23", voucherInvoiceDate: [nil, '']).select(:clientID).distinct.count %>
             <br>  <br>
<% @twe_auth = @authorizations.where(serviceType: "23", voucherInvoiceDate: [nil, '']).to_a  %>
<% @twe_auth.each do |auth|  %>
   <td valign="top"><% @twe_clients =  @clients.where(id: auth.clientID).to_a %><td>
   <% @twe_clients.each.uniq do |client| %>
     <% fullname = client.clientLastName + ", " + client.clientFirstName %>
     <td><button type="button" class="btn btn-light btn-sm"><%= link_to fullname, controller: "clients", action: "show", id: client.id %></button></td>
     <td><button type="button" class="btn btn-light btn-sm"><%= link_to auth.voucherNumber, controller: "authorizations", action: "show", id: auth.id %></button></td>
     <td><%= auth.voucherOrAuthorizationDate %></td>
       <td>Remaining : <font color="green"><%= auth.hoursRemaining %></font></td>
   <% end %>

				   </tr><tr>

<%end%>
				   </tr></table>
	   </td>
   </table>
